---
layout: post
title:  "Lettuce Turnip The Beet"
date:   2025-08-23 00:00:00 -05000
categories: 
- Misc.
- Nutrition
- Draft
showPercentage: no
permalink: /misc/veggies
image: /assets/Misc/Nutrition/Veggies/Veggies.png
tags: 
- veggies
- vegetables
- greens
- Arugula
- Asparagus
- Beet
- Bell Pepper
- Broccoli
- Brussel Sprout
- Butternut Squash
- Cabbage
- Carrot
- Cauliflower
- Celery
- Collard Green
- Cucumber
- Eggplant
- Fennel
- Green Bean
- Kale
- Kohlrabi
- Lettuce
- Onion
- Pea
- Potato
- Radish
- Spaghetti Squash
- Spinach
- Sweet Potato
- Swiss Chard
- Tomato
- Yellow Squash
- Zucchini
---
<u><font size="+2">Introduction</font></u><br>
&emsp;TODO<br><br>
<center><img src="/assets/Misc/Nutrition/Veggies/veggies-1.png" alt="" class="smaller-image"><img src="/assets/Misc/Nutrition/Veggies/healthy-1.png" alt="" class="smaller-image"></center><br>

<br><u><font size="+2">Other Posts in this Series</font></u><br>
<ol>
    <li><a href="/misc/meat">Let's Meet The Meats</a></li>
    <li><a href="/misc/nuts">I'm Nuts For Nuts</a></li>
    <li><a href="/misc/seeds">I See Seeds In Your Future</a></li>
    <li><a href="/misc/beans">Beans Beans The Musical Fruit</a></li>
    <li><a href="/misc/fruit">Going Bananas For Bananas</a></li>
    <li><a href="/misc/veggies">Lettuce Turnip The Beet</a></li>
    <li><a href="/misc/fish">I'm Hooked On Fish</a></li>
    <li><a href="/misc/grains">A Grain Of Truth</a></li>
    <li><a href="/misc/dairy">I'm Dying For Dairy</a></li>
</ol>
<center><img src="/assets/Misc/Nutrition/Veggies/list.png" alt="" class="smaller-image"><img src="/assets/Misc/Nutrition/Veggies/diet.png" alt="" class="smaller-image"></center><br>

<div id="contents" class="table-of-contents"></div>
<br><u><font size="+2">Contents</font></u><br>
<ol>
    <li><a rel="" target="" href="#acorn-squash">Acorn Squash</a></li>
    <li><a rel="" target="" href="#artichoke">Artichoke</a></li>
    <li><a rel="" target="" href="#arugula">Arugula</a></li>
    <li><a rel="" target="" href="#asparagus">Asparagus</a></li>
    <li><a rel="" target="" href="#beet">Beet</a></li>
    <li><a rel="" target="" href="#bell-pepper">Bell Pepper</a></li>
    <li><a rel="" target="" href="#broccoli">Broccoli</a></li>
    <li><a rel="" target="" href="#brussel-sprout">Brussel Sprout</a></li>
    <li><a rel="" target="" href="#butternut-squash">Butternut Squash</a></li>
    <li><a rel="" target="" href="#cabbage">Cabbage</a></li>
    <li><a rel="" target="" href="#carrot">Carrot</a></li>
    <li><a rel="" target="" href="#cauliflower">Cauliflower</a></li>
    <li><a rel="" target="" href="#celery">Celery</a></li>
    <li><a rel="" target="" href="#collard-green">Collard Green</a></li>
    <li><a rel="" target="" href="#cucumber">Cucumber</a></li>
    <li><a rel="" target="" href="#eggplant">Eggplant</a></li>
    <li><a rel="" target="" href="#fennel">Fennel</a></li>
    <li><a rel="" target="" href="#green-bean">Green Bean</a></li>
    <li><a rel="" target="" href="#kale">Kale</a></li>
    <li><a rel="" target="" href="#kohlrabi">Kohlrabi</a></li>
    <li><a rel="" target="" href="#lettuce">Lettuce</a></li>
    <li><a rel="" target="" href="#onion">Onion</a></li>
    <li><a rel="" target="" href="#pea">Pea</a></li>
    <li><a rel="" target="" href="#potato">Potato</a></li>
    <li><a rel="" target="" href="#radish">Radish</a></li>
    <li><a rel="" target="" href="#spaghetti-squash">Spaghetti Squash</a></li>
    <li><a rel="" target="" href="#spinach">Spinach</a></li>
    <li><a rel="" target="" href="#sweet-potato">Sweet Potato</a></li>
    <li><a rel="" target="" href="#swiss-chard">Swiss Chard</a></li>
    <li><a rel="" target="" href="#tomato">Tomato</a></li>
    <li><a rel="" target="" href="#yellow-squash">Yellow Squash</a></li>
    <li><a rel="" target="" href="#zucchini">Zucchini</a></li>
    <li><a rel="" target="" href="#compare">Nutritional Comparison</a></li>
</ol>
<center><img src="/assets/Misc/Nutrition/Veggies/veggies-2.png" alt="" class="smaller-image"><img src="/assets/Misc/Nutrition/Veggies/healthy-2.png" alt="" class="smaller-image"></center><br>

<div id="acorn-squash" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Squash%2C_raw%2C_acorn%2C_winter_nutritional_value.html?size=1+cup%2C+cubes+%3D+140+g">Acorn Squash</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["acorn-squash-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="140"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/acorn-squash.png" alt="" class="smaller-image"></center><br>

<div id="artichoke" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nritionvalue.org/Artichoke%2C_raw_75100750_nutritional_value.html?size=1+cup+%3D+150+g">Artichoke</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center><br><br>
{% assign nF = site.data.servingSizes["artichoke-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="150"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/artichoke.png" alt="" class="smaller-image"></center><br>

<div id="arugula" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Arugula%2C_raw_nutritional_value.html?size=20+g">Arugula</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["arugula-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="20"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/arugula.png" alt="" class="smaller-image"></center><br>

<div id="asparagus" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Asparagus%2C_raw_nutritional_value.html?size=1+cup+%3D+134+g">Asparagus</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["asparagus-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="134"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/asparagus.png" alt="" class="smaller-image"></center><br>

<div id="beet" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Beets%2C_raw_nutritional_value.html?size=1+cup+%3D+136+g">Beet</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["beets-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="136"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/beet.png" alt="" class="smaller-image"></center><br>

<div id="bell-pepper" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Peppers%2C_raw%2C_red%2C_sweet_nutritional_value.html?size=1+medium+%28approx+2-3%2F4%22+long%2C+2-1%2F2+dia.%29+%3D+119+g">Bell Pepper</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["pepper-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 medium" 
    gram1="119"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/bell-pepper.png" alt="" class="smaller-image"></center><br>

<div id="broccoli" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Broccoli%2C_raw_nutritional_value.html?size=1+cup+chopped+%3D+91+g">Broccoli</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["broccoli-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="91"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/broccoli.png" alt="" class="smaller-image"></center><br>

<div id="brussel-sprout" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Brussels_sprouts%2C_raw_nutritional_value.html?size=1+cup+%3D+88+g">Brussel Sprout</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["brussel-sprout-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="88"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/brussel-sprout.png" alt="" class="smaller-image"></center><br>

<div id="butternut-squash" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Squash%2C_raw%2C_butternut%2C_winter_nutritional_value.html?size=1+cup%2C+cubes+%3D+140+g">Butternut Squash</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["butternut-squash-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="140"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/butternut-squash.png" alt="" class="smaller-image"></center><br>

<div id="cabbage" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Cabbage%2C_raw_nutritional_value.html?size=1+cup%2C+chopped+%3D+89+g">Cabbage</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["cabbage-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="89"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/cabbage.png" alt="" class="smaller-image"></center><br>

<div id="carrot" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nritionvalue.org/Carrots%2C_raw_nutritional_value.html?size=1+cup+chopped+%3D+128+g">Carrot</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["carrots-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="128"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/carrot.png" alt="" class="smaller-image"></center><br>

<div id="cauliflower" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Cauliflower%2C_raw_nutritional_value.html?size=1+cup+chopped+%281%2F2%22+pieces%29+%3D+107+g">Cauliflower</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["cauliflower-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="107"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/cauliflower.png" alt="" class="smaller-image"></center><br>

<div id="celery" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Celery%2C_raw_nutritional_value.html?size=1%20cup%20chopped%20%3D%20101%20g">Celery</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["celery-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="101"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/celery.png" alt="" class="smaller-image"></center><br>

<div id="collard-green" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nritionvalue.org/Collards%2C_raw_nutritional_value.html?size=1+cup%2C+chopped+%3D+36+g">Collard Green</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["collard-green-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="36"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/collard-green.png" alt="" class="smaller-image"></center><br>

<div id="cucumber" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Cucumber%2C_raw%2C_with_peel_nutritional_value.html?size=104+g">Cucumber</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["cucumber-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="104"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/cucumber.png" alt="" class="smaller-image"></center><br>

<div id="eggplant" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Eggplant%2C_raw_nutritional_value.html?size=1+cup%2C+cubes+%3D+82+g">Eggplant</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["eggplant-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="82"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/eggplant.png" alt="" class="smaller-image"></center><br>

<div id="fennel" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Fennel%2C_raw%2C_bulb_nutritional_value.html">Fennel</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["fennel-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="87"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/fennel.png" alt="" class="smaller-image"></center><br>

<div id="green-bean" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Beans%2C_raw%2C_green%2C_snap_nutritional_value.html">Green Bean</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["green-bean-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="100"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/green-bean.png" alt="" class="smaller-image"></center><br>

<div id="kale" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Kale%2C_raw_nutritional_value.html?size=1+cup+%3D+21+g">Kale</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["kale-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="21"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/kale.png" alt="" class="smaller-image"></center><br>

<div id="kohlrabi" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Kohlrabi%2C_raw_nutritional_value.html">Kohlrabi</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["kohlrabi-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="135"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/kohlrabi.png" alt="" class="smaller-image"></center><br>

<div id="lettuce" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Lettuce%2C_raw%2C_cos_or_romaine_nutritional_value.html?size=1%20cup%20shredded%20%3D%2047%20g">Lettuce</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["lettuce-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="47"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/lettuce.png" alt="" class="smaller-image"></center><br>

<div id="onion" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Onions%2C_raw_nutritional_value.html?size=1+cup%2C+chopped+%3D+160+g">Onion</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["onion-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="160"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/onion.png" alt="" class="smaller-image"></center><br>

<div id="pea" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nritionvalue.org/Peas%2C_raw%2C_green_nutritional_value.html?size=1+cup+%3D+145+g">Pea</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["pea-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="145"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/pea.png" alt="" class="smaller-image"></center><br>

<div id="potato" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Potatoes%2C_raw%2C_flesh_and_skin_nutritional_value.html?size=1+Potato+small+%281-3%2F4%22+to+2-1%2F2%22+dia%29+%3D+170+g">Potato</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="instruction-image"></center>
{% assign nF = site.data.servingSizes["potato-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 small" 
    gram1="170"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/potato.png" alt="" class="smaller-image"></center><br>

<div id="radish" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Radishes%2C_raw_nutritional_value.html">Radish</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["radish-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="116"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/radish.png" alt="" class="smaller-image"></center><br>

<div id="spaghetti-squash" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Squash%2C_raw%2C_spaghetti%2C_winter_nutritional_value.html?size=1+cup%2C+cubes+%3D+101+g">Spaghetti Squash</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["spaghetti-squash-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="101"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/spaghetti-squash.png" alt="" class="smaller-image"></center><br>

<div id="spinach" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Spinach%2C_raw_nutritional_value.html?size=1+cup+%3D+30+g">Spinach</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["spinach-fresh-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="30"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/spinach.png" alt="" class="smaller-image"></center><br>

<div id="sweet-potato" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Sweet_potato%2C_unprepared%2C_raw_nutritional_value.html?size=1+sweetpotato%2C+5%22+long+%3D+130+g">Sweet Potato</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["sweet-potato-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 small" 
    gram1="130"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/sweet-potato.png" alt="" class="smaller-image"></center><br>

<div id="swiss-chard" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Chard%2C_raw%2C_swiss_nutritional_value.html?size=1+cup+%3D+36+g">Swiss Chard</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["swiss-chard-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="36"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/swiss-chard.png" alt="" class="smaller-image"></center><br>

<div id="tomato" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Tomatoes%2C_raw%2C_grape_321360_nutritional_value.html?size=1+cup+%3D+152+g">Tomato</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["tomato-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="152"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/tomato.png" alt="" class="smaller-image"></center><br>

<div id="yellow-squash" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Summer_squash%2C_raw%2C_yellow_75128000_nutritional_value.html?size=1+cup+%3D+115+g">Yellow Squash</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["yellow-squash-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="115"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/yellow-squash.png" alt="" class="smaller-image"></center><br>

<div id="zucchini" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Squash%2C_raw%2C_includes_skin%2C_zucchini%2C_summer_nutritional_value.html?size=1+cup%2C+sliced+%3D+113+g">Zucchini</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;TODO<br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/neat.png" alt="" class="smaller-image"></center>
{% assign nF = site.data.servingSizes["zucchini-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="113"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Veggies/zucchini.png" alt="" class="smaller-image"></center><br>

<div id="compare" class="table-of-contents"></div><br>
<u><font size="+2">Nutritional Comparison</font></u><br><br>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        table-layout: auto;
        text-align: center;
        font-size: 14px;
    }
  
    th, td {
        text-align: center;
        white-space: nowrap;
        word-wrap: break-word;
    }
  
    td:first-child, th:first-child {
        position: sticky;
        left: 0;
        background-color: var(--minima-table-header-bg-color);
        z-index: 5;
        font-weight: bold;
    }

    .table-container {
        overflow-x: auto; /* Adds horizontal scrolling if needed */
        max-width: 100%;
    }
</style>
  
<div class="table-container"><table>
    <thead>
        <tr>
            <th>Nutrient</th>
            <th><a href="#acorn-squash">Acorn<br>Squash</a></th>
            <th><a href="#artichoke">Artichoke</a></th>
            <th><a href="#arugula">Arugula</a></th>
            <th><a href="#asparagus">Asparagus</a></th>
            <th><a href="#beet">Beet</a></th>
            <th><a href="#bell-pepper">Bell<br>Pepper</a></th>
            <th><a href="#broccoli">Broccoli</a></th>
            <th><a href="#brussel-sprout">Brussel<br>Sprout</a></th>
            <th><a href="#butternut-squash">Butternut<br>Squash</a></th>
            <th><a href="#cabbage">Cabbage</a></th>
            <th><a href="#carrot">Carrot</a></th>
            <th><a href="#cauliflower">Cauliflower</a></th>
            <th><a href="#celery">Celery</a></th>
            <th><a href="#collard-green">Collard<br>Green</a></th>
            <th><a href="#cucumber">Cucumber</a></th>
            <th><a href="#eggplant">Eggplant</a></th>
            <th><a href="#fennel">Fennel</a></th>
            <th><a href="#green-bean">Green<br>Bean</a></th>
            <th><a href="#kale">Kale</a></th>
            <th><a href="#kohlrabi">Kohlrabi</a></th>
            <th><a href="#lettuce">Lettuce</a></th>
            <th><a href="#onion">Onion</a></th>
            <th><a href="#pea">Pea</a></th>
            <th><a href="#potato">Potato</a></th>
            <th><a href="#radish">Radish</a></th>
            <th><a href="#spaghetti-squash">Spaghetti<br>Squash</a></th>
            <th><a href="#spinach">Spinach</a></th>
            <th><a href="#sweet-potato">Sweet<br>Potato</a></th>
            <th><a href="#swiss-chard">Swiss<br>Chard</a></th>
            <th><a href="#tomato">Tomato</a></th>
            <th><a href="#yellow-squash">Yellow<br>Squash</a></th>
            <th><a href="#zucchini">Zucchini</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Serving Size</td>
            <td>140 g</td>
            <td>150 g</td>
            <td>20 g</td>
            <td>134 g</td>
            <td>136 g</td>
            <td>119 g</td>
            <td>91 g</td>
            <td>88 g</td>
            <td>140 g</td>
            <td>89 g</td>
            <td>128 g</td>
            <td>107 g</td>
            <td>101 g</td>
            <td>36 g</td>
            <td>104 g</td>
            <td>82 g</td>
            <td>87 g</td>
            <td>100 g</td>
            <td>21 g</td>
            <td>135 g</td>
            <td>47 g</td>
            <td>160 g</td>
            <td>145 g</td>
            <td>170 g</td>
            <td>116 g</td>
            <td>101 g</td>
            <td>30 g</td>
            <td>130 g</td>
            <td>36 g</td>
            <td>152 g</td>
            <td>115 g</td>
            <td>113 g</td>
        </tr>
        <tr>
            {% assign nutrient = "Calories" %}
            {% assign rnd = "0" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html facts="acorn-squash-facts" servingSize="140" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="artichoke-facts" servingSize="150" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="arugula-facts" servingSize="20" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="asparagus-facts" servingSize="134" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="beets-facts" servingSize="136" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="pepper-facts" servingSize="119" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="broccoli-facts" servingSize="91" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="brussel-sprout-facts" servingSize="88" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="butternut-squash-facts" servingSize="140" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cabbage-facts" servingSize="89" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="carrots-facts" servingSize="128" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cauliflower-facts" servingSize="107" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="celery-facts" servingSize="101" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="collard-green-facts" servingSize="36" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cucumber-facts" servingSize="104" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="eggplant-facts" servingSize="82" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="fennel-facts" servingSize="87" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="green-bean-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="kale-facts" servingSize="21" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="kohlrabi-facts" servingSize="135" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="lettuce-facts" servingSize="47" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="onion-facts" servingSize="160" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="pea-facts" servingSize="145" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="potato-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="radish-facts" servingSize="116" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="spaghetti-squash-facts" servingSize="101" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="spinach-fresh-facts" servingSize="30" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="sweet-potato-facts" servingSize="130" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="swiss-chard-facts" servingSize="36" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="tomato-facts" servingSize="152" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="yellow-squash-facts" servingSize="115" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="zucchini-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Protein" %}
            {% assign rnd = "1" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html facts="acorn-squash-facts" servingSize="140" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="artichoke-facts" servingSize="150" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="arugula-facts" servingSize="20" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="asparagus-facts" servingSize="134" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="beets-facts" servingSize="136" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="pepper-facts" servingSize="119" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="broccoli-facts" servingSize="91" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="brussel-sprout-facts" servingSize="88" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="butternut-squash-facts" servingSize="140" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cabbage-facts" servingSize="89" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="carrots-facts" servingSize="128" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cauliflower-facts" servingSize="107" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="celery-facts" servingSize="101" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="collard-green-facts" servingSize="36" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cucumber-facts" servingSize="104" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="eggplant-facts" servingSize="82" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="fennel-facts" servingSize="87" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="green-bean-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="kale-facts" servingSize="21" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="kohlrabi-facts" servingSize="135" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="lettuce-facts" servingSize="47" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="onion-facts" servingSize="160" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="pea-facts" servingSize="145" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="potato-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="radish-facts" servingSize="116" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="spaghetti-squash-facts" servingSize="101" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="spinach-fresh-facts" servingSize="30" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="sweet-potato-facts" servingSize="130" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="swiss-chard-facts" servingSize="36" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="tomato-facts" servingSize="152" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="yellow-squash-facts" servingSize="115" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="zucchini-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Net Carbs" %}
            {% assign rnd = "1" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html facts="acorn-squash-facts" servingSize="140" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="artichoke-facts" servingSize="150" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="arugula-facts" servingSize="20" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="asparagus-facts" servingSize="134" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="beets-facts" servingSize="136" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="pepper-facts" servingSize="119" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="broccoli-facts" servingSize="91" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="brussel-sprout-facts" servingSize="88" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="butternut-squash-facts" servingSize="140" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cabbage-facts" servingSize="89" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="carrots-facts" servingSize="128" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cauliflower-facts" servingSize="107" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="celery-facts" servingSize="101" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="collard-green-facts" servingSize="36" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cucumber-facts" servingSize="104" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="eggplant-facts" servingSize="82" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="fennel-facts" servingSize="87" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="green-bean-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="kale-facts" servingSize="21" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="kohlrabi-facts" servingSize="135" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="lettuce-facts" servingSize="47" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="onion-facts" servingSize="160" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="pea-facts" servingSize="145" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="potato-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="radish-facts" servingSize="116" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="spaghetti-squash-facts" servingSize="101" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="spinach-fresh-facts" servingSize="30" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="sweet-potato-facts" servingSize="130" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="swiss-chard-facts" servingSize="36" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="tomato-facts" servingSize="152" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="yellow-squash-facts" servingSize="115" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="zucchini-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Fiber" %}
            {% assign rnd = "1" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html facts="acorn-squash-facts" servingSize="140" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="artichoke-facts" servingSize="150" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="arugula-facts" servingSize="20" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="asparagus-facts" servingSize="134" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="beets-facts" servingSize="136" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="pepper-facts" servingSize="119" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="broccoli-facts" servingSize="91" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="brussel-sprout-facts" servingSize="88" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="butternut-squash-facts" servingSize="140" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cabbage-facts" servingSize="89" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="carrots-facts" servingSize="128" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cauliflower-facts" servingSize="107" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="celery-facts" servingSize="101" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="collard-green-facts" servingSize="36" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cucumber-facts" servingSize="104" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="eggplant-facts" servingSize="82" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="fennel-facts" servingSize="87" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="green-bean-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="kale-facts" servingSize="21" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="kohlrabi-facts" servingSize="135" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="lettuce-facts" servingSize="47" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="onion-facts" servingSize="160" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="pea-facts" servingSize="145" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="potato-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="radish-facts" servingSize="116" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="spaghetti-squash-facts" servingSize="101" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="spinach-fresh-facts" servingSize="30" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="sweet-potato-facts" servingSize="130" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="swiss-chard-facts" servingSize="36" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="tomato-facts" servingSize="152" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="yellow-squash-facts" servingSize="115" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="zucchini-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
        </tr>
    </tbody>
</table></div>
<i>Scroll to the right to read information about every vegetable</i><br><br>

<center><img src="/assets/Misc/Nutrition/Veggies/nutrition-facts-label.png" alt="" class="smaller-image"></center><br>

<u><font size="+2">References</font></u><br>
<ol>
    <li><a href="https://www.flaticon.com/">Flaticon</a></li>
    <li><a href="https://www.nutritionvalue.org/">Nutrition Value</a></li>
    <li><a href="https://www.youtube.com/watch?v=fD07raxrJVo">Nutrition Tier Lists: Vegetables</a></li>
    <li><a href="https://www.youtube.com/watch?v=uvGgynv5TUU">Nutrition Tier Lists: Vegetables Part 2</a></li>
</ol>
