---
layout: post
title:  "A Grain Of Truth"
date:   2025-08-05 00:00:00 -05000
categories: 
- Misc.
- Nutrition
- Draft
showPercentage: no
permalink: /misc/grains
image: /assets/Misc/Nutrition/Grains/Grains.png
tags: 
- grains
- carbs
- starch
- Amaranth
- Barley
- Brown Rice
- Buckwheat
- Corn
- Millet
- Oats
- Quinoa
- Rye
- Spelt
- Vital Wheat Gluten
- White Rice
- White Wheat
- Wild Rice
- Whole Wheat
- flour
- all purpose flour
- white flour
- whole wheat flour
---
{% assign category = "grains" %}

{% assign intro = "
&emsp;[intro].<br><br>

&emsp;[duction].<br>
" %}

{% assign pic1 = "grain-1" %}
{% assign pic2 = "grain-2" %}
{% include foodCategoryIntro.html category=category intro=intro pic1=pic1 pic2=pic2 %}

{% include foodCategoryPosts.html %}

{% assign pic1 = "grain-3" %}
{% assign pic2 = "grain-4" %}
{% include foodCategoryContents.html category=category pic1=pic1 pic2=pic2 %}

{% assign amaranth = "
&emsp;[para1].<br><br>

&emsp;[para2].<br>
" %}

{% assign barley = "
&emsp;[para1].<br><br>

&emsp;[para2].<br>
" %}

{% assign brown-rice = "
&emsp;[para1].<br><br>

&emsp;[para2].<br>
" %}

{% assign buckwheat = "
&emsp;[para1].<br><br>

&emsp;[para2].<br>
" %}

{% assign corn = "
&emsp;[para1].<br><br>

&emsp;[para2].<br>
" %}

{% assign millet = "
&emsp;[para1].<br><br>

&emsp;[para2].<br>
" %}

{% assign oats = "
&emsp;[para1].<br><br>

&emsp;[para2].<br>
" %}

{% assign popcorn = "
&emsp;[para1].<br><br>

&emsp;[para2].<br>
" %}

{% assign quinoa = "
&emsp;[para1].<br><br>

&emsp;[para2].<br>
" %}

{% assign rye = "
&emsp;[para1].<br><br>

&emsp;[para2].<br>
" %}

{% assign spelt = "
&emsp;[para1].<br><br>

&emsp;[para2].<br>
" %}

{% assign vital-wheat-gluten = "
&emsp;[para1].<br><br>

&emsp;[para2].<br>
" %}

{% assign white-rice = "
&emsp;[para1].<br><br>

&emsp;[para2].<br>
" %}

{% assign white-wheat = "
&emsp;[para1].<br><br>

&emsp;[para2].<br>
" %}

{% assign whole-wheat = "
&emsp;[sal].<br><br>

&emsp;[mon].<br>
" %}

{% assign wild-rice = "
&emsp;[para1].<br><br>

&emsp;[para2].<br>
" %}

{% assign descriptions = amaranth 
    | append: "|" | append: barley
    | append: "|" | append: brown-rice 
    | append: "|" | append: buckwheat 
    | append: "|" | append: corn 
    | append: "|" | append: millet 
    | append: "|" | append: oats 
    | append: "|" | append: popcorn 
    | append: "|" | append: quinoa 
    | append: "|" | append: rye 
    | append: "|" | append: spelt 
    | append: "|" | append: vital-wheat-gluten 
    | append: "|" | append: white-rice 
    | append: "|" | append: white-wheat 
    | append: "|" | append: whole-wheat 
    | append: "|" | append: wild-rice 
    | split: "|" 
%}

{% include foodCategoryDesc.html category=category descriptions=descriptions nutrients=nutrients %}

{% assign nutrients = 
    "Calories," 
    | append: "Protein," 
    | append: "Fat,"
    | append: "Net Carbs,"
    | append: "Fiber" 
    | split: ","
%}
{% include foodCategoryTable.html category=category nutrients=nutrients servSize="true" scroll="true" %}

<u><font size="+2">References</font></u><br>
<ol>
    <li><a href="https://www.flaticon.com/">Flaticon</a></li>
    <li><a href="https://www.nutritionvalue.org/">Nutrition Value</a></li>
    <li><a href="https://www.youtube.com/watch?v=dp_1u2KJx-0">Nutrition Tier Lists: Grains</a></li>
</ol>
