---
layout: post
title:  "I'm Hooked On Fish"
date:   2025-08-02 00:00:00 -05000
categories: 
- Misc.
- Nutrition
- Draft
showPercentage: no
permalink: /misc/fish
image: /assets/Misc/Nutrition/Fish/Fish.png
tags: 
- fish
- seafood
- shellfish
- shell fish
- Anchovy
- Clam
- canned Clam
- fresh clams
- Cod
- Crab
- Lobster
- Mackerel
- canned mackerel
- Mahi Mahi
- Mussel
- Oyster
- Salmon
- canned salmon
- Sardine
- canned sardine
- Scallop
- Shrimp
- Squid
- Tilapia
- Tuna
- canned tuna
- can fish
- canned fish
- fresh fish
---
{% assign category = "fish" %}

{% assign intro = "
&emsp;[intro].<br><br>

&emsp;[duction].<br>
" %}

{% assign pic1 = "fish-1" %}
{% assign pic2 = "fish-2" %}
{% include foodCategoryIntro.html category=category intro=intro pic1=pic1 pic2=pic2 %}

{% include foodCategoryPosts.html %}

{% assign pic1 = "fish-3" %}
{% assign pic2 = "fish-4" %}
{% include foodCategoryContents.html category=category pic1=pic1 pic2=pic2 %}

{% assign anchovy = "
&emsp;TODO.<br>
" %}

{% assign clam = "
&emsp;TODO.<br>
" %}

{% assign cod = "
&emsp;TODO.<br>
" %}

{% assign crab = "
&emsp;TODO.<br>
" %}

{% assign cuttlefish = "
&emsp;TODO.<br>
" %}

{% assign haddock = "
&emsp;TODO.<br>
" %}

{% assign halibut = "
&emsp;TODO.<br>
" %}

{% assign herring = "
&emsp;TODO.<br>
" %}

{% assign lobster = "
&emsp;TODO.<br>
" %}

{% assign mackerel = "
&emsp;TODO.<br>
" %}

{% assign mahi-mahi = "
&emsp;TODO.<br>
" %}

{% assign mussel = "
&emsp;TODO.<br>
" %}

{% assign octopus = "
&emsp;TODO.<br>
" %}

{% assign oyster = "
&emsp;TODO.<br>
" %}

{% assign salmon = "
&emsp;TODO.<br>
" %}

{% assign sardine = "
&emsp;TODO.<br>
" %}

{% assign scallop = "
&emsp;TODO.<br>
" %}

{% assign shrimp = "
&emsp;TODO.<br>
" %}

{% assign squid = "
&emsp;TODO.<br>
" %}

{% assign tilapia = "
&emsp;TODO.<br>
" %}

{% assign trout = "
&emsp;TODO.<br>
" %}

{% assign tuna = "
&emsp;TODO.<br>
" %}

{% assign descriptions = anchovy 
    | append: "|" | append: clam 
    | append: "|" | append: cod 
    | append: "|" | append: crab 
    | append: "|" | append: cuttlefish 
    | append: "|" | append: haddock 
    | append: "|" | append: halibut 
    | append: "|" | append: herring 
    | append: "|" | append: lobster 
    | append: "|" | append: mackerel 
    | append: "|" | append: mahi-mahi 
    | append: "|" | append: mussel 
    | append: "|" | append: octopus 
    | append: "|" | append: oyster 
    | append: "|" | append: salmon 
    | append: "|" | append: sardine 
    | append: "|" | append: scallop 
    | append: "|" | append: shrimp 
    | append: "|" | append: squid 
    | append: "|" | append: tilapia 
    | append: "|" | append: trout
    | append: "|" | append: tuna 
    | split: "|" 
%}

{% assign nutrients = 
    "Calories," 
    | append: "Fat,"
    | append: "Protein," 
    | append: "Vitamin B12,"
    | append: "Vitamin D,"
    | append: "Selenium" 
    | split: ","
%}

{% include foodCategoryDesc.html category=category descriptions=descriptions nutrients=nutrients %}

{% include foodCategoryTable.html category=category nutrients=nutrients servSize="true" scroll="true" %}

<u><font size="+2">References</font></u><br>
<ol>
    <li><a href='https://www.flaticon.com/'>Flaticon</a></li>
    <li><a href='https://www.nutritionvalue.org/'>Nutrition Value</a></li>
    <li><a href='https://www.youtube.com/watch?v=hpwJdeO-v4E'>Nutrition Tier Lists: Seafood</a></li>
</ol>
