---
layout: post
title:  'On Gluten and Celiac'
date:   2025-10-20 00:00:00 -05000
categories:
- Misc.
- Diseases
- Draft
showPercentage: yes
permalink: /misc/gluten
image: /assets/Misc/Diseases/Celiac/Gluten.png
tags:
- gluten
- mineral
- supplement
- micronutrient
---
<u><font size='+2'>Introduction</font></u><br>
&emsp;<br><br>

<center><img src='/assets/Misc/Diseases/Celiac/rice.png' alt='' class='smaller-image'></center><br>

<u><font size='+2'>What Foods Contain Gluten?</font></u><br>
<ul>
  <li></li>
</ul><br>

<center><img src='/assets/Misc/Diseases/Celiac/bread.png' alt='' class='smaller-image'></center><br>

<u><font size='+2'>Celiac Disease</font></u><br>
&emsp;<br><br>

<center><img src='/assets/Misc/Diseases/Celiac/gluten-free.png' alt='' class='smaller-image'></center><br>

<u><font size='+2'>Gluten Challenge</font></u><br>
&emsp;If you're going to be tested for Celiac disease, whether it's a blood test or an endoscopy, it's typically recommended you undergo what's known as a "gluten challenge".  This involves eating a large amount of gluten for a period of time.  Otherwise, you may end up with a false negative, and little to no consumption of gluten causes the small intestine to heal itself if you have Celiac.  Sounds great right?  Yes, but that leads to an inaccurate test for Celiac.  Thus, a gluten challenge is initiated.<br><br>

&emsp;Typically, a gluten challenge involves eating the equivalent of 4-5 slices of bread worth of gluten for a period of 2-4 weeks before testing for Celiac disease.  But what does this actually mean?  How much gluten can you consume besides bread?<br><br>

{% assign bread_slice_weight = 29 %}
{% assign bread_protein_100g = 10.67 %}
{% assign bread_slice_protein = bread_protein_100g | divided_by: 100 | times: bread_slice_weight %}
{% assign bread_gluten_protein_per = 0.80 %}
{% assign bread_gluten_100g = bread_protein_100g | times: bread_gluten_protein_per %}
{% assign five_slices_gluten = bread_gluten_100g | divided_by: 100 | times: bread_slice_weight | times: 5 | round: 1 %}

&emsp;Let's assume a <a href='https://www.nutritionvalue.org/Bread%2C_wheat_nutritional_value.html'>standard loaf of bread</a>.  Each slice weighs {{bread_slice_weight}} g, and contains {{bread_slice_protein | round: 1}} g of <a href='/misc/protein'>protein</a>.  Since approximately {{bread_gluten_protein_per | times: 100 | round: 0}}% of <a href='/misc/protein'>protein</a> in bread is made up of gluten, we can therefore conclude that <b>5 slices of bread contains approximately {{ five_slices_gluten }} g of gluten</b>.<br><br>

&emsp;In the table below, I will break down the amount of gluten contained in certain foods; per serving size, per 100 g, and per 100 calories.  Note that data for the amount of gluten in specific grains is not always present.  Therefore, I will be assuming the following:<br><br>
<ul>
    <li>50% of the <a href='/misc/protein'>protein</a> found in <a href='/misc/grains#rye'>rye</a> is made up of gluten</li>
    <li>50% of the <a href='/misc/protein'>protein</a> found in <a href='/misc/grains#barley'>barley</a> is made up of gluten</li>
    <li>75% of the <a href='/misc/protein'>protein</a> found in wheat-based products is made up of gluten (such as <a href='/misc/grains#white-wheat'>white flour</a>, <a href='/misc/grains#whole-wheat'>whole wheat flour</a>, <a href='/misc/grains#couscous'>couscous</a>, <a href='/misc/grains#farro'>farro</a>, and <a href='/misc/grains#spelt'>spelt</a>)</li>
    <li>100% of the <a href='/misc/protein'>protein</a> in <a href='/misc/grains#vital-wheat-gluten'>vital wheat gluten</a> is made up of gluten</li>
</ul><br>

<center><img src='/assets/Misc/Diseases/Nutrients/blood-test.png' alt='' class='smaller-image'></center><br>

{% assign nutrient = "Gluten" %}
{% assign rnd = "1" %}
{% assign categories =
    "grains,"
    | append: "other"
    | split: ","
%}
{% include nutrients-table.html nutrient=nutrient rnd=rnd categories=categories %}

{% assign categories =
    "grains,"
    | append: "other"
    | split: ","
%}
{% include gluten-5-slices-table.html categories=categories %}

<u><font size='+2'>Highest Sources of Gluten</font></u>
<br><b>Per serving</b>: Vital Wheat Gluten - 22.6 g (1/4 cup, 30 g)
<br><b>Per 100 g</b>: Vital Wheat Gluten - 75.2 g
<br><b>Per 100 cal</b>: Vital Wheat Gluten - 20.3 g
<br><br>

<center><img src='/assets/Misc/Diseases/Celiac/wheat.png' alt='' class='smaller-image'></center><br>

<br><u><font size='+2'>Sources</font></u><br>
<ol>
    <li><a href='https://www.nutritionvalue.org/'>Nutrition Value</a></li>
    <li><a href='https://www.flaticon.com/'>FlatIcon</a></li>
    <li><a href='https://en.wikipedia.org/wiki/Gluten'>Wikipedia - Gluten</a></li>
    <li><a href='https://celiac.org/gluten-free-living/what-is-gluten/sources-of-gluten/'>Celiac Disease Foundation - Sources of Gluten</a></li>
    <li><a href='https://www.reddit.com/r/glutenfree/comments/17qak1b/hi_does_anyone_have_a_chart_that_shows_the_gluten/'>Reddit - Gluten Levels in Different Foods</a></li>
    <li><a href='https://pmc.ncbi.nlm.nih.gov/articles/PMC7825509/'>PubMed - Analyzing Gluten Content in Various Food Products Using Different Types of ELISA Test Kits</a></li>
    <li><a href='https://www.sciencedirect.com/science/article/pii/S0308814623010324'>Science Direct - Development of a barley reference material for gluten analysis</a></li>
    <li><a href='https://pmc.ncbi.nlm.nih.gov/articles/PMC9875308/'>PubMed - Characterization of rye flours and their potential as reference material for gluten analysis</a></li>
</ol>
