---
layout: post
title:  'Homemade Cheese? Yes Please!'
date:   2025-11-03 00:00:00 -0500
categories:
- Misc.
- Experiments
- Draft
showPercentage: no
permalink: /misc/homemade-cheese
image: /assets/Misc/Experiments/Cheese/Homemade Cheese.png
tags:
- homemade cheese
- skim milk
- whole milk
- plain nonfat greek yogurt
- whole milk greek yogurt
- cottage cheese
- ricotta cheese
- mozzarella cheese
- paneer
- goat cheese
- labneh
- cream cheese
- spread
- dip
---
<b><u><font size='+2'>Table of Contents</font></u></b><br>
<ul>
    <li><a rel='' target='' href='#intro'>Introduction</a></li>
    <li><a rel='' target='' href='#acid-vs-sweet'>Acid vs Sweet Whey</a></li>
    <li><a rel='' target='' href='#ricotta'>Ricotta Cheese</a></li>
      <ul>
        <li><a rel='' target='' href='#ricotta-ingredients'>Ingredients</a></li>
        <li><a rel='' target='' href='#ricotta-instructions'>Instructions</a></li>
        <li><a rel='' target='' href='#ricotta-uses'>Uses</a></li>
        <li><a rel='' target='' href='#ricotta-nutrition'>Nutrition Facts</a></li>
      </ul>
    <li><a rel='' target='' href='#labneh'>Labneh Cheese</a></li>
      <ul>
        <li><a rel='' target='' href='#labneh-ingredients'>Ingredients</a></li>
        <li><a rel='' target='' href='#labneh-instructions'>Instructions</a></li>
        <li><a rel='' target='' href='#labneh-uses'>Uses</a></li>
        <li><a rel='' target='' href='#labneh-nutrition'>Nutrition Facts</a></li>
      </ul>
    <li><a rel='' target='' href='#whey-uses'>Leftover Whey Uses</a></li>
    <li><a rel='' target='' href='#sources'>Sources</a></li>
</ul><br>

<div class='image-row'>
    <img src='/assets/Misc/Experiments/Cheese/cheese.png' alt='' class='smaller-image'>
</div><br>

<div id='intro' class='table-of-contents-2'></div>
<b><u><font size='+2'>Introduction</font></u></b><br>
A while back, I attempted to make ricotta cheese and <a href='/misc/dairy#whey'>whey protein powder</a> (see <a href='/misc/homemade-ricotta-and-whey'>Cheese and Whey - A Failed Experiment</a>).  But after getting a cheese making kit for my birthday (thanks Sean), it was time to try again making homemade cheese.<br><br>

Turns out, many homemade cheeses are not only delicious, but fairly simple to make as well. Here are some of my favorites for both taste and simplicity.<br><br>

<div class='image-row'>
    <img src='/assets/Misc/Experiments/Cheese/chef.png' alt='' class='smaller-image'>
</div><br>

<div id='acid-vs-sweet' class='table-of-contents-2'></div>
<b><u><font size='+2'>Acid vs Sweet Whey</font></u></b><br>
But first, let's talk about whey, the leftover liquid separated out from the cheese curds. There are 2 types of whey: acid whey and sweet whey.<br><br>

Acid whey is the liquid whey leftover from cheeses made with acid, such as citric acid, <a href='/misc/fruit#lemon-juice'>lemon juice</a>, or white vinegar.  These are typically soft cheeses, namely ricotta, <a href='/misc/dairy#cottage-cheese'>cottage cheese</a>, paneer, <a href='/misc/dairy#cream-cheese'>cream cheese</a>, and even <a href='/misc/dairy#yogurt'>Greek yogurt</a>.<br><br>

On the other hand, sweet whey derives from cheeses made with rennet. These are your hard cheeses, such as <a href='/misc/dairy#cheddar'>cheddar</a>, <a href='/misc/dairy#mozzarella'>mozzarella</a>, <a href='/misc/dairy#swiss-cheese'>swiss</a>, gouda, and <a href='/misc/dairy#feta'>feta</a>.<br><br>

Don't discard the whey!  There are plenty of uses for your leftover liquid whey, which I will discuss more <a href='#whey-uses'>below</a>.  Acid and sweet whey are different ingredients, so therefore they have some different use cases.<br><br>

<div class='image-row'>
    <img src='/assets/Misc/Experiments/Cheese/cooking-pot.png' alt='' class='smaller-image'>
</div><br>

<div id='ricotta' class='table-of-contents-2'></div>
<b><u><font size='+2'>Ricotta Cheese</font></u></b><br>
Ricotta cheese is a simple soft Italian cheese that's a great intro cheese. Ricotta in Italian means "recooked", because it was traditionally made using the leftover sweet whey from making other cheeses, mainly <a href='/misc/dairy#mozzarella'>mozzarella</a>.<br><br>

You can use any <a href='/misc/fats'>fat</a> content milk here. I'd recommend <a href='/misc/dairy#whole-milk'>whole milk</a> for the first time to get the hang of it and for a higher yield, then trying <a href='/misc/dairy#skim-milk'>skim milk</a> after for a lower <a href='/misc/calories'>calorie</a>, lower <a href='/misc/fats'>fat</a>, higher <a href='/misc/protein'>protein</a> cheese. I will show <a href='#ricotta-nutrition'>nutrition facts</a> for ricotta made with both <a href='/misc/dairy#whole-milk'>whole milk</a> and <a href='/misc/dairy#skim-milk'>skim milk</a> at the <a href='#ricotta-nutrition'>end</a>.<br><br>

<div class='image-row'>
    <img src='/assets/Misc/Experiments/Cheese/ricotta.png' alt='' class='smaller-image'>
</div><br>

<div id='ricotta-ingredients' class='table-of-contents-2'></div>
<i><font size='+2'>Ingredients</font></i><br>
{% include ingredients.html file='ricottawhole' %}
<br>

<div class='image-row'>
    <img src='/assets/Misc/Experiments/Cheese/whisk.png' alt='' class='smaller-image'>
</div><br>

<div id='ricotta-instructions' class='table-of-contents-2'></div>
<i><font size='+2'>Instructions</font></i><br>
<ol>
  <li>Before you start, let your milk sit on the counter for about 30 minutes to come up to near room temerature.  Warming up the milk beforehand means it will take less time to get to temperature later, and also reduces the risk of scorching</li><br>

  <li>In a small pot, bring water to a boil over high heat. Remove from the heat, and allow it to cool for 10 minutes. This is to sterilize the water. Stir in the citric acid with a spoon until fully dissolved.</li><br>

  <li>In a large pot, pour in your milk. Slowly drizzle in the citric acid mixture while gently stirring. Stir gently up and down, not in a clockwise or counterclockwise motion.</li><br>

  <li>Turn the heat to medium, and allow the milk to heat up to <a href='https://amzn.to/4kmobG2'>185F</a> (uncovered), stirring occasionally and gently to prevent scorching. This may take about 15 minutes.</li><br>

  <li>When at <a href='https://amzn.to/4kmobG2'>185F</a>, you should see the cheese curds starting to separate from the liquid whey. Remove the pot from the heat, cover, and let rest for 20 minutes.</li><br>

  <li>Line a strainer with a cheese cloth, and place the strainer inside a large bowl. You can also use a fine mesh strainer over a large bowl instead of a standard strainer plus cheesecloth combination.</li><br>

  <li>Carefully pour the curds into the strainer, leaving the curds in the strainer and the liquid whey in the bowl below.</li><br>

  <li>Add salt to the cheese curds, and stir until fully dispersed.  Leave the cheese to drain in the collander for 15 minutes.</li><br>

  <li>Transfer both the ricotta and the liquid whey to airtight containers.  Store for up to 1 week in the fridge.</li><br>

  <img src='/assets/Misc/Experiments/Cheese/ricotta.jpg' alt='' class='instruction-image'><br>

  <li>I ended up with about <b>700 g</b> (just over 5.5 cups) of ricotta using <a href='/misc/dairy#whole-milk'>whole milk</a>, and <b>TODO g</b> of ricotta using <a href='/misc/dairy#skim-milk'>skim milk</a> (about TODO cups). The <a href='#ricotta-nutrition'>nutrition facts</a> for both <a href='/misc/dairy#whole-milk'>whole milk</a> and <a href='/misc/dairy#skim-milk'>skim milk</a> versions are below for a <b>1/2 cup (124 g)</b> serving.</li><br>
</ol><br>

<div class='image-row'>
    <img src='/assets/Misc/Experiments/Cheese/coooking.png' alt='' class='smaller-image'>
</div><br>

<div id='ricotta-uses' class='table-of-contents-2'></div>
<i><font size='+2'>Uses</font></i><br>
<ol>
  <li>Add ricotta into your <a href='/recipes/banana-protein-pancakes'>Banana Protein Pancakes</a> or <a href='/misc/waffles#yogurt'>Yogurt Waffle</a> batter</li>
  <li>Bake a <a href='/recipes/cheesecake'>cheesecake</a> with ricotta</li>
  <li>Dollop ricotta on top of your <a href='/recipes/pizza'>Home Oven Baked Pizza</a></li>
  <li>Make a lasagna or ricotta gnocchi</li>
  <li>Mix ricotta into a <a href='/recipes/frittata'>Spinach & Onion Frittata</a></li>
  <li>Replace <a href='/misc/dairy#cottage-cheese'>cottage cheese</a> with ricotta in savory recipes, such as <a href='/recipes/eggplant-rollatini'>Leaner Eggplant Rollatini</a> or <a href='/recipes/eggplant-parm'>Hassle Free Eggplant Parm</a></li>
  <li>Replace <a href='/misc/dairy#yogurt'>Greek yogurt</a> with ricotta in baked goods, like <a href='/recipes/tiramisu'>No Bake Homemade Tiramisu</a> or <a href='/recipes/cheesecake-bars'>No Bake Cheesecake Bars</a></li>
  <li>Top your <a href='/recipes/pancake'>Pumpkin Protein Pancakes</a> or fill your <a href='/recipes/crepe'>Whole Wheat Crepes</a> with ricotta</li>
  <li>Use ricotta as a spread or dip</li>
</ol><br>

<a href='/recipes/eggplant-rollatini'><img src='/assets/Food/Meatless/Rollatini/cover.jpg' alt='' class='instruction-image'></a><br>

<div id='ricotta-nutrition' class='table-of-contents-2'></div>
<i><font size='+2'>Nutrition Facts</font></i><br>
<i>Per <b>1/2 cup (124 g)</b> serving</i>
{% assign files =
    "ricotta-skim,"
    | append: "ricotta-whole"
    | split: ","
%}
{% assign titles =
    "Ricotta Cheese<br><a href='/misc/dairy#skim-milk'>Skim Milk</a>,"
    | append: "Ricotta Cheese<br><a href='/misc/dairy#whole-milk'>Whole Milk</a>"
    | split: ","
%}
{% assign nutrients =
    "Calories,"
    | append: "Protein,"
    | append: "Fat,"
    | append: "Net Carbs"
    | split: ","
%}
{% assign pic = "/assets/Misc/Experiments/Cheese/nutrition-facts-label.png" %}
{% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" pic=pic %}

<div id='labneh' class='table-of-contents-2'></div>
<b><u><font size='+2'>Labneh Cheese</font></u></b><br>
Labneh is possibly the easiest "cheese" to make, and it's barely even cheese. It's essentially just strained <a href='/misc/dairy#yogurt'>yogurt</a> for a thick and creamy dip.  Imagine <a href='/misc/dairy#cream-cheese'>cream cheese</a> crossed with <a href='/misc/dairy#yogurt'>Greek yogurt</a>.<br><br>

I'm going with <a href='/misc/dairy#yogurt'>plain nonfat Greek yogurt</a> for a high <a href='/misc/protein'>protein</a> <a href='/misc/dairy#cream-cheese'>cream cheese</a>-like spread and dip, but you can use <a href='/misc/dairy#yogurt-whole-milk'>whole milk yogurt</a> as well.  The <a href='#labneh-nutrition'>table</a> at the end will show the <a href='#labneh-nutrition'>nutrition facts</a> for both <a href='/misc/dairy#yogurt'>skim</a> and <a href='/misc/dairy#yogurt-whole-milk'>whole milk</a> variations.<br><br>

<div class='image-row'>
    <img src='/assets/Misc/Experiments/Cheese/cream.png' alt='' class='smaller-image'>
</div><br>

<div id='labneh-ingredients' class='table-of-contents-2'></div>
<i><font size='+2'>Ingredients</font></i><br>
{% include ingredients.html file='labnehskim' %}
<br>

<div class='image-row'>
    <img src='/assets/Misc/Experiments/Cheese/whisk.png' alt='' class='smaller-image'>
</div><br>

<div id='labneh-instructions' class='table-of-contents-2'></div>
<i><font size='+2'>Instructions</font></i><br>
<ol>
  <li>Place a fine mesh strainer over a medium bowl. You can also use a cheesecloth in a strainer over a bowl.</li><br>

  <li>Add the yogurt to the strainer, and mix in salt with a silicone spatula. Place the strainer over the bowl into the fridge, and allow it to drain (uncovered) for about 24 hours.</li><br>

  <img src='/assets/Misc/Experiments/Cheese/labneh-separated.jpg' alt='' class='instruction-image'><br>

  <li>Transfer the cheese to an airtight container, and store in the fridge for up to 1 week. Discard the liquid in the bowl. </li><br>

  <img src='/assets/Misc/Experiments/Cheese/labneh-container.jpg' alt='' class='instruction-image'><br>

  <li>I ended up with about <b>720 g</b> of labneh cheese, or about 1.5 cups.  This means 24 servings of <b>2 tbsp (30 g)</b> each</li>
</ol><br>

<div class='image-row'>
    <img src='/assets/Misc/Experiments/Cheese/coooking.png' alt='' class='smaller-image'>
</div><br>

<div id='labneh-uses' class='table-of-contents-2'></div>
<i><font size='+2'>Uses</font></i><br>
<ol>
  <li>Dip <a href='/misc/veggies#carrots'>carrot</a> sticks, sliced <a href='/misc/veggies#pepper'>peppers</a>, or pita chips in labneh</li>
  <li>Replace mayo, sour cream, or <a href='/misc/dairy#cream-cheese'>cream cheese</a> in <a href='/recipes/savory-sauces'>dips</a> and <a href='/salad-dressings'>dressings</a> with labneh for higher <a href='/misc/protein'>protein</a> and less <a href='/misc/fats'>fat</a></li>
  <li>Serve alongside grilled <a href='/misc/meat'>meats</a>, <a href='/misc/fish'>fish</a>, or <a href='/misc/veggies'>vegetables</a></li>
  <li>Spread labneh on an  <a href='/misc/recipes/whole-wheat-bagels'>Whole Wheat Bagel</a>, <a href='/recipes/ww-bread'>Whole Wheat Toast</a>, <a href='/misc/recipes/almond-flour-rolls'>Almond Flour Bagel</a>, or <a href='/gluten-free-millet-bread'>Gluten Free Millet Bread</a> like <a href='/misc/dairy#cream-cheese'>cream cheese</a></li>
  <li>Stir into soups for creaminess and tang</li>
  <li>Use labneh to make <a href='/misc/recipes/greek-yogurt-gnocchi'>Greek Yogurt Gnocchi</a></li>
  <li>Use labneh as a <a href='/salad-dressings'>salad dressing</a></li>
</ol><br>

<img src='/assets/Misc/Experiments/Cheese/labneh-plate.jpg' alt='' class='instruction-image'><br>

<div id='labneh-nutrition' class='table-of-contents-2'></div>
<i><font size='+2'>Nutrition Facts</font></i><br>
<i>Per <b>2 tbsp (30 g)</b> serving</i>
{% assign files =
    "labnehskim,"
    | append: "labnehwhole"
    | split: ","
%}
{% assign titles =
    "Labneh Cheese<br><a href='/misc/dairy#yogurt'>Skim Milk</a>,"
    | append: "Labneh Cheese<br><a href='/misc/dairy#yogurt-whole-milk'>Whole Milk</a>"
    | split: ","
%}
{% assign nutrients =
    "Calories,"
    | append: "Protein,"
    | append: "Fat,"
    | append: "Net Carbs"
    | split: ","
%}
{% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" pic=pic %}

<div id='whey-uses' class='table-of-contents-2'></div>
<b><u><font size='+2'>Leftover Whey Uses</font></u></b><br>
The leftover liquid whey is not just some scrap to dump down the sink.  Whey can be a great ingredient in many recipes for additional protein and fresh flavor.<br><br>

While sweet whey mild, slightly sweet, and less acidic, acid whey is tangier and more acidic.  This makes sweet whey best when you don’t want tang, such as <a href='/recipes/bread'>breads</a>, <a href='/misc/grains#pasta'>pasta</a> water, etc.  On the other hand, acid whey is best for <a href='/recipes/slow-cooked-beans'>soaking</a>, <a href='/misc/whole-wheat-sourdough'>fermenting</a>, <a href='/recipes/marinated-chicken'>marinating</a>, <a href='/soups-and-stews'>soups</a>, or anywhere tang is welcome:<br><br>
<ol>
  <li>Boil your <a href='/misc/grains#brown-rice'>rice</a> or <a href='/misc/grains#pasta'>pasta</a> in whey</li>
  <li>Cook a <a href='/misc/veggies'>veggie</a> <a href='/soups-and-stews'>soup</a> with whey instead of <a href='/misc/slow-cooker-chicken'>broth</a></li>
  <li>Cook <a href='/misc/grains#oats'>oatmeal</a>, <a href='/misc/grains#quinoa'>quinoa</a>, <a href='/misc/grains#brown-rice'>rice</a>, or any other <a href='/misc/grains'>grains</a> in whey instead of water</li>
  <li>Feed your <a href='/misc/whole-wheat-sourdough'>sourdough starter</a></li> with whey instead of water
  <li>Ferment <a href='/misc/veggies'>vegetables</a> in whey</li>
  <li>Just <a href='/recipes/drinks'>drink</a> it!</li>
  <li>Make a <a href='/recipes/chobani-yogurt-drink'>Copycat Chobani Yogurt Drink</a> or <a href='/recipes/chocolate-kefir'>Probiotic Chocolate Kefir</a> with liquid whey in place of <a href='/misc/dairy#skim-milk'>milk</a>, <a href='/misc/dairy#yogurt'>yogurt</a>, or <a href='/misc/dairy#kefir'>kefir</a></li>
  <li>Marinade <a href='/misc/meat'>meats</a> with whey instead of <a href='/misc/dairy#buttermilk'>buttermilk</a></li>
  <li>Replace <a href='/misc/skim-milk'>milk</a> in <a href='/recipes/drinks'>drinks</a> with liquid whey, like <a href='/recipes/green-smoothie'>Green Hemp Smoothie</a>, <a href='/recipes/sleepy-smoothie'>Golden Milk</a>, <a href='/recipes/protein-shake'>Simple Protein Shake</a>, or <a href='/recipes/milkshake'>Chocolate Nut Milkshake</a></li>
  <li>Replace <a href='/misc/dairy#almond-milk'>milk</a> in <a href='/recipes/healthier-dessert'>healthier desserts</a> with liquid whey, such as <a href='/recipes/amaretti-cookies-with-dates'>Amaretti Cookies with Dates</a>, <a href='/recipes/dual-bean-date-brookies'>Dual Bean Date Brookies</a>, or <a href='/oatmeal-raisin-cookies'>Naturally Sweetened Oatmeal Raisin Cookies</a></li>
  <li>Replace <a href='/misc/dairy#whole-milk'>milk</a> in <a href='/recipes/protein-powder'>protein snacks</a> with liquid whey, like <a href='/recipes/baked-protein-bars'>Baked Protein Bars</a>, <a href='/recipes/no-nut-protein-banana-bread'>No Nut Protein Banana Bread</a>, <a href='/recipes/sweet-potato-pie'>Crustless Sweet Potato Pie</a>, or <a href='/recipes/protein-cookie-dough'>Edible Protein Cookie Dough</a></li>
  <li>Replace water in <a href='/recipes/bread'>bread doughs</a> with liquid whey, such as <a href='/recipes/burger-buns'>No Yeast Whole Wheat Burger Buns</a>, <a href='/recipes/pita'>Whole Wheat Pita Bread</a>, <a href='/recipes/sweet-potato-bread'>Whole Wheat Sweet Potato Loaf</a>, <a href='/recipes/pretzel'>Whole Wheat Hot Pretzels</a>, or <a href='/recipes/ww-bread'>100% Whole Wheat Bread</a></li>
  <li>Replace water in <a href='/recipes/bread'>gluten free bread doughs</a> with liquid whey, such as <a href='/recipes/almond-flour-loaf'>Almond Flour Sandwich Loaf</a>, <a href='/recipes/nordic-nut-loaf'>Nordic Nut Loaf</a>, or <a href='/recipes/gluten-free-millet-bread'>Gluten Free Millet Bread</a></li>
  <li>Replace water in <a href='/recipes/bread'>pizza doughs</a> and <a href='/recipes/bread'>wraps</a> with liquid whey, such as <a href='/recipes/oat-wraps'>Gluten Free Oat Wraps</a>, <a href='/recipes/pizza'>Home Oven Baked Pizza</a>, and <a href='/recipes/tortilla'>Oat-Wheat Tortillas</a></li>
  <li>Soak <a href='/misc/beans'>beans</a>, <a href='/misc/grains'>grains</a>, <a href='/misc/nuts'>nuts</a>, or <a href='/misc/seeds'>seeds</a> in liquid whey to break down phytic acid and improve digestion, like in my <a href='/recipes/slow-cooked-beans'>Slow Cooker Dried Beans</a> and <a href='/recipes/24-hour-chili'>24 Hour Chili</a></li>
  <li>Use whey in place of <a href='/misc/dairy#buttermilk'>buttermilk</a> in <a href='/recipes/shepards-pie'>Cauliflower Mash Shepard's Pie</a> or <a href='/recipes/irish-soda-bread'>Irish Soda Bread</a></li>
  <li>Water your plants that prefer a slightly acidic soil (with 1 part whey to 10 parts water)</li>
</ol><br>

<div class='image-row'>
    <img src='/assets/Misc/Experiments/Cheese/whey-protein.png' alt='' class='smaller-image'>
</div><br>

<div id='sources' class='table-of-contents-2'></div>
<b><u><font size='+2'>Sources</font></u></b><br>
<ol>
  <li><a href='/assets/Misc/Experiments/Cheese/ricotta-recipe.jpg'>The Ultimate Cheese Making Kit: Ricotta</a></li>
  <li><a href='https://www.thespruceeats.com/homemade-ricotta-recipe-1327499'>The Spruce Eats: Homemade Ricotta Cheese</a></li>
  <li><a href='/assets/Misc/Experiments/Cheese/labneh-recipe.jpg'>The Ultimate Cheese Making Kit: Labneh</a></li>
  <li><a href='https://feelgoodfoodie.net/recipe/labneh/#wprm-recipe-container-9468'>Feel Good Foodie: Homemade Labneh Recipe</a></li>
  <li><a href='https://www.thespruceeats.com/what-is-labneh-p2-2355561'>The Spruce Eats: Labneh Cheese</a></li>
  <li><a href='https://agrocomplex.com.pl/blog/nutrition-ingredients/sweet-whey-vs-acid-whey-unveiling-the-differences-for-optimal-food-production/'>Agro Complex: Sweet Whey vs Acid Whey</a></li>
  <li><a href='https://www.thespruceeats.com/what-is-whey-591570'>The Spruce Eats: What is Whey?</a></li>
  <li><a href='https://www.thespruceeats.com/many-uses-for-whey-1327494'>The Spruce Eats: Creative Whey Recipes and Uses</a></li>
  <li><a href='https://dontwastethecrumbs.com/36-ways-to-use-whey-and-5-ways-to-make-it/'>Don't Waste the Crumbs: 45+ Ways to Use Whey and 5 Ways to Make it</a></li>
</ol><br>
