---
layout: post
title:  Healthier Brownies & Cookies Experiment
date:   2026-03-21 00:00:00 -0500
categories:
- Misc.
- Experiments
- Draft
showPercentage: no
hummus: no
oatmeal: no
yogurt: no
nut_butter: no
pesto: no
soup_stew: no
salad: no
dressing: no
brownie: yes
cookie: yes
copycat: no
permalink: /misc/healthier-brownies-and-cookies-experiment
image: /assets/Misc/Experiments/Healthier Brownies Cookies/Healthier Brownies Cookies.png
tags:
- experiment
- brownies
- chocolate chip cookies
- cookies
- dessert
- sugar free
- coconut oil
- monk fruit
- gluten free
- almond flour
- cocoa powder
- chocolate chips
---
<div id='intro' class='table-of-contents'></div><br>
<u><font size='+2'>Introduction</font></u><br>
I've been wanting to experiment with making healthy versions of classic desserts by swapping out unhealthy ingredients for healthier alternatives, analyzing the results, and refining the recipe to end up with a <a href='/recipes/healthier-dessert'>healthier dessert</a> that's as similar as possible to the original product.  Today, I'll be tackling both <a href='/brownies'>brownies</a> and <a href='/cookies'>cookies</a>.

<div id='contents' class='table-of-contents'></div><hr>
<u><font size='+2'>Table of Contents</font></u><br>
<ol>
    <li><a href='#intro'>Introduction</a></li>
    <li><a href='#problem'>The Problem</a></li>
    <li><a href='#brownies'>Brownies</a>
      <ol>
        <li><a href='#brownies-control'>Control</a></li>
        <li><a href='#brownies-experiment'>Experiment</a></li>
        <li><a href='#brownies-compare'>Nutritional Comparison</a></li>
      </ol>
    </li>
   <li><a href='#cookies'>Cookies</a>
      <ol>
        <li><a href='#cookies-control'>Control</a></li>
        <li><a href='#cookies-experiment'>Experiment</a></li>
        <li><a href='#cookies-compare'>Nutritional Comparison</a></li>
      </ol>
    </li>
    <li><a href='#conclusion'>Conclusion</a></li>
    <li><a href='#sources'>Sources</a></li>
</ol>

<div id='problem' class='table-of-contents'></div><hr>
<u><font size='+2'>The Problem</font></u><br>
Obviously, there's nothing wrong with having a treat like a <a href='/brownies'>brownie</a> or a <a href='/cookies'>cookie</a> every now and then.  Occasionally at a holiday or gathering, one <a href='/brownies'>brownie</a> or <a href='/cookies'>cookie</a> certainly will not kill you.  But if you're someone who has them all the time, then learning to make healthier swaps with minimal difference can be a gamechanger.<br><br>

For the purposes of this experiment, I will be modifying both my <a href='/recipes/brownies'>Classic Fudgy Brownies</a> and <a href='/recipes/chocolate-chip-cookies'>Classic Chocolate Chip Cookies</a> recipes.  The way I see it, there are 3 health problems with traditional <a href='/brownies'>brownies</a> and <a href='/cookies'>cookies</a>, and most dessert for that matter.  These are the following:
<ul>
    <li><a href='/misc/hidden-sugar'>Added sugars</a></li>
    <li><a href='/misc/dairy#butter'>Butter</a> or highly <a href='/misc/fats'>refined oils</a></li>
    <li>Processed <a href='/misc/grains#white-wheat'>white flour</a></li>
</ul>

<div id='brownies' class='table-of-contents'></div><hr>
<u><font size='+2'>Brownies</font></u><br>

<div id='brownies-control' class='table-of-contents'></div><br>
<i><font size='+2'>Control</font></i><br>
For reference, below are the ingredients and nutrition facts for my <a href='/recipes/brownies'>Classic Fudgy Brownies</a>.  This is my standard <a href='/brownies'>brownie</a> recipe that I make from time to time:

{% assign f = 'brownies' %}
{% include ingredients.html file=f %}

<a href='/recipes/brownies'><img src='/assets/Misc/Unhealthy/Brownies/cover.jpg' alt='' class='instruction-image'></a><br>

These <a href='/brownies'>brownies</a> are delicious, don't get me wrong.  But with 147 <a href='/misc/calories'>calories</a>, 15 g of <a href='/misc/hidden-sugar'>added sugar</a>, and 8 g of <a href='/misc/fats'>fat</a> for a fairly small <a href='/brownies'>brownie</a>, these can't be more than a once a holiday treat for me.  How can we bump up these numbers? (or more accurately, bump them down).

{% include nutrition.html file=f %}

<div id='brownies-experiment' class='table-of-contents'></div><br>
<i><font size='+2'>Experiment</font></i><br>
To make these <a href='/brownies'>brownies</a> healthier, I have made the following 3 ingredient swaps from the original recipe:
<ul>
    <li>Replaced <a href='/misc/hidden-sugar'>sugar</a> with <a href='https://amzn.to/4ceFnvP'>granulated monk fruit</a></li>
    <li>Replaced <a href='/misc/dairy#butter'>butter</a> with <a href='/misc/nuts#coconut'>coconut oil</a></li>
    <li>Replaced <a href='/misc/grains#white-wheat'>white flour</a> with <a href='/misc/nuts#almonds'>almond flour</a></li>
</ul>

This leaves us with the following ingredients list:
{% assign f = 'brownieshealthier1' %}
{% include ingredients.html file=f %}

We knocked out all the <a href='/misc/hidden-sugar'>added sugar</a>.  We also have <a href='/misc/fats'>healthier fats</a> from the <a href='/misc/nuts#coconut'>coconut oil</a> and <a href='/misc/nuts#almonds'>almond flour</a>, as well as more <a href='/misc/fiber'>fiber</a> and <a href='/misc/nutrient-alphabet#E'>vitamin E</a>.  The removal of <a href='/misc/grains#white-wheat'>white flour</a> removes any <a href='/misc/carbs'>refined starch</a> as well.

{% include nutrition.html file=f %}
<br>

TODO: BAKE THE BROWNIES.<br><br>

<img src='/assets/Misc/Experiments/Healthier Brownies Cookies/healthier-brownies.jpg' alt='' class='instruction-image'>

<div id='brownies-compare' class='table-of-contents'></div><br>
<i><font size='+2'>Nutritional Comparison</font></i><br>
{% assign files =
    "brownies,"
    | append: "brownieshealthier1"
    | split: ","
%}
{% assign titles =
    "<a href='#brownies-control'>Control</a>,"
    | append: "<a href='#brownies-experiment'>Experiment</a>"
    | split: ","
%}
{% assign nutrients =
    "Calories,"
    | append: "Protein,"
    | append: "Fat,"
    | append: "Fiber,"
    | append: "Net Carbs,"
    | append: "Added Sugar,"
    | append: "Sugar Alcohol,"
    | append: "Glycemic Index"
    | split: ","
%}
{% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" %}

<div id='cookies' class='table-of-contents'></div><hr>
<u><font size='+2'>Cookies</font></u><br>

<div id='cookies-control' class='table-of-contents'></div><br>
<i><font size='+2'>Control</font></i><br>
For reference, below are the ingredients and nutrition facts for my <a href='/recipes/chocolate-chip-cookies'>Classic Chocolate Chip Cookies</a>.  This is my standard <a href='/cookies'>cookie</a> recipe that I make from time to time:

{% assign f = 'cookies' %}
{% include ingredients.html file=f %}

<a href='/recipes/chocolate-chip-cookies'><img src='/assets/Misc/Unhealthy/Cookies/cookies.jpg' alt='' class='instruction-image'></a><br>

These <a href='/cookies'>cookies</a> are delicious, don't get me wrong.  But with 113 <a href='/misc/calories'>calories</a>, 10 g of <a href='/misc/hidden-sugar'>added sugar</a>, and 5 g of <a href='/misc/fats'>fat</a> for a fairly small <a href='/cookies'>cookie</a>, these can't be more than a once a holiday treat for me.  How can we bump up these numbers? (or more accurately, bump them down).

{% include nutrition.html file=f %}

<div id='cookies-experiment' class='table-of-contents'></div><br>
<i><font size='+2'>Experiment</font></i><br>
To make these <a href='/cookies'>cookies</a> healthier, I have made the following 4 ingredient swaps from the original recipe:
<ul>
    <li>Replaced <a href='/misc/hidden-sugar'>sugar</a> with <a href='https://amzn.to/4ceFnvP'>granulated monk fruit</a></li>
    <li>Replaced <a href='/misc/dairy#butter'>butter</a> with <a href='/misc/nuts#coconut'>coconut oil</a></li>
    <li>Replaced <a href='/misc/grains#white-wheat'>white flour</a> with <a href='/misc/nuts#almonds'>almond flour</a></li>
    <li>Replaced standard chocolate chips with homemade <a href='/recipes/monk-fruit-chocolate-chunks'>Monk Fruit Chocolate Chunks</a></li>
</ul>

This leaves us with the following ingredients list:
{% assign f = 'cookieshealthier1' %}
{% include ingredients.html file=f %}

We knocked out all the <a href='/misc/hidden-sugar'>added sugar</a>.  We also have <a href='/misc/fats'>healthier fats</a> from the <a href='/misc/nuts#coconut'>coconut oil</a> and <a href='/misc/nuts#almonds'>almond flour</a>, as well as more <a href='/misc/fiber'>fiber</a> and <a href='/misc/nutrient-alphabet#E'>vitamin E</a>.  The removal of <a href='/misc/grains#white-wheat'>white flour</a> removes any <a href='/misc/carbs'>refined starch</a> as well.

{% include nutrition.html file=f %}
<br>

TODO: BAKE THE COOKIES.<br><br>

<img src='/assets/Misc/Experiments/Healthier Brownies Cookies/healthier-cookies.jpg' alt='' class='instruction-image'>

<div id='cookies-compare' class='table-of-contents'></div><br>
<i><font size='+2'>Nutritional Comparison</font></i><br>
{% assign files =
    "cookies,"
    | append: "cookieshealthier1"
    | split: ","
%}
{% assign titles =
    "<a href='#cookies-control'>Control</a>,"
    | append: "<a href='#cookies-experiment'>Experiment</a>"
    | split: ","
%}
{% assign nutrients =
    "Calories,"
    | append: "Protein,"
    | append: "Fat,"
    | append: "Fiber,"
    | append: "Net Carbs,"
    | append: "Added Sugar,"
    | append: "Sugar Alcohol,"
    | append: "Glycemic Index"
    | split: ","
%}
{% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" %}

<div id='conclusion' class='table-of-contents'></div><hr>
<u><font size='+2'>Conclusion</font></u><br>
TODO CONCLUSION.<br><br>

TODO CONCLUSION.

<div id='sources' class='table-of-contents'></div><hr>
<u><font size='+2'>Sources</font></u><br>
<ol>
    <li><a href='https://www.flaticon.com/'>Flaticon</a></li>
    <li><a href='https://www.nutritionvalue.org/'>Nutrition Value</a></li>
    <li><a href='https://www.poormanprotein.com/recipes/brownies'>Classic Fudgy Brownies</a></li>
    <li><a href='https://www.poormanprotein.com/recipes/chocolate-chip-cookies'>Classic Chocolate Chip Cookies</a></li>
    <li><a href='https://www.poormanprotein.com/misc/healthier-brownies-experiment'>(Deleted) Making Brownies Healthier</a></li>
    <li><a href='https://www.poormanprotein.com/misc/healthier-cookies-experiment'>(Deleted) Making Cookies Healthier</a></li>
</ol>
