---
layout: post
title:  You Should be Getting Chicken Leg Quarters
date:   2026-04-28 00:00:00 -0500
categories:
- Misc.
- Cooking
- Draft
showPercentage: no
permalink: /misc/chicken-leg-quarters
image: /assets/Misc/Cooking/Leg Quarters/cover.jpg
tags:
- chicken leg quarters
- chicken broth
- bone broth
- shredded chicken
- cooked chicken
- pulled chicken
- salsa chicken
- chicken fat
- shmaltz
---
<div id='intro' class='table-of-contents'></div><br>
<u><font size='+2'>Introduction</font></u><br>
This is a Public Service Announcement:  You should be getting chicken leg quarters.<br><br>

Chicken leg quarters are my new favorite cut of <a href='/misc/meat'>meat</a>. They're cheap, nutritious, and easy to prepare, making them the backbone of most of my meals lately.<br><br>

I'm going to run you through the simple process I've been doing weekly for a good source of <a href='/misc/protein'>lean protein</a>, homemade broth, and delicious chicken fat, as well as a final <a href='/misc/costs'>cost analysis</a>.

<div id='contents' class='table-of-contents'></div><hr>
<u><font size='+2'>Table of Contents</font></u><br>
<ol>
    <li><a href='#intro'>Introduction</a></li>
    <li><a href='#method'>Method</a></li>
    <li><a href='#cost-analysis'>Cost Analysis</a></li>
    <li><a href='#nutritional-information'>Nutritional Information</a></li>
    <li><a href='#uses'>Uses</a></li>
    <li><a href='#conclusion'>Conclusion</a></li>
    <li><a href='#sources'>Sources</a></li>
</ol>

<div id='method' class='table-of-contents'></div><hr>
<u><font size='+2'>Method</font></u><br>
Preheat your oven to 250F (yes, 250F). Line a large <a href='https://amzn.to/45sRAsB'>cookie sheet</a> with parchment paper. Place an oven safe <a href='https://amzn.to/4qQNmn2'>wire rack</a> on top.<br><br>

Directly from the package, place the whole leg pieces onto the tray. Liberally season both sides with salt.<br><br>

<img src='/assets/Misc/Cooking/Leg Quarters/raw.jpg' alt='' class='instruction-image'><br>

Roast the chicken at 250F for 45 minutes. When the timer goes off, raise the oven up to 425F. Bake for an additional 45 minutes. The chicken should be thoroughly cooked through, about <a href='https://amzn.to/4kmobG2'>190F</a>.<br><br>

<img src='/assets/Misc/Cooking/Leg Quarters/cooked.jpg' alt='' class='instruction-image'><br>

When the chicken is done, transfer the whole pieces to a plate, and refrigerate for an hour to cool down.<br><br>

After the chicken is done baking, you should be left with plenty of rendered out fat on the <a href='https://amzn.to/45sRAsB'>cookie sheet</a>. While it's still hot, pour all the drippings from the pan into 1 or 2 mason jars. Refrigerate for an hour to solidify the fat.<br><br>

<img src='/assets/Misc/Cooking/Leg Quarters/plate.jpg' alt='' class='instruction-image'><br>

After an hour, separate the lean meat from the skin, bones, and cartilage (wearing <a href='https://amzn.to/414BfHP'>kitchen gloves</a> makes it easier).<br><br>

Add all the bones, skin, cartilage, and any other bits you don't want to eat to a <a href='https://amzn.to/46ccg8m'>medium pot</a>. Pour in enough water to submerge everything, about 6 cups (1,440 g).<br><br>

Cover with a lid and bring to a boil over high heat. Let the pot boil (covered) for about 45 minutes, or until most of, if not all, the water has cooked off, and you can hear the bits of chicken starting to fry in the pan.<br><br>

Meanwhile, using your hands (again, with <a href='https://amzn.to/414BfHP'>kitchen gloves</a>), tear the lean chicken meat into shreds. Transfer to the fridge.<br><br>

<img src='/assets/Misc/Cooking/Leg Quarters/three.jpg' alt='' class='instruction-image'><br>

After the 45 minutes for the broth, add about 1 cup (240 g) of water to the pot, and scrape the bottom with a <a href='https://amzn.to/3Fw6MeC'>wooden spoon</a> to mix in all the fond.<br><br>

Discard the large pieces of skin and bones. Place a <a href='https://amzn.to/4q2FwWu'>fine mesh strainer</a> over a <a href='https://amzn.to/4adxMft'>large bowl</a>, and pour the broth through the strainer into the bowl.  Refrigerate for 1 hour.<br><br>

Meanwhile, take your mason jars of fat out of the fridge. They should be mostly golden colored fat on top, with some brown broth on the bottom. Separate the two from each other into separate jars.<br><br>

After the broth is done chilling, skim the fat off the top, and add to the chicken fat jar. Transfer the broth in the bowl to the broth jar. Store both the jars of fat and broth in the freezer indefinitely.

<div id='cost-analysis' class='table-of-contents'></div><hr>
<u><font size='+2'>Cost Analysis</font></u><br>
Is this actually cheaper than <a href='/misc/meat#chicken-breast'>boneless skinless chicken breast</a> or a <a href='/misc/rotisserie-chicken-cost-analysis'>rotisserie chicken</a>?  Let's find out.<br><br>

Below are the prices per pound of different cuts of chicken at my local grocery store in descending order:<br>
<ul>
  <li><a href='/misc/meat#chicken-thighs'>Boneless skinless chicken thighs</a>: $3.49</li>
  <li><a href='/misc/meat#chicken-breast'>Boneless skinless chicken breast</a>: $2.99</li>
  <li>Split chicken breasts: $1.99</li>
  <li>Chicken wings: $1.99</li>
  <li><a href='/misc/meat#chicken-thighs'>Bone in skin on chicken thighs</a>: $1.99</li>
  <li>Chicken drumsticks: $1.49</li>
  <li>Chicken leg quarters: $1.19</li>
</ul>

As you can see, the price per pound of leg quarters is the cheapest cut of chicken you can get. But that includes bones and skin. If you just factor in the raw meat weight, how much does it cost?<br><br>

This pack of 4 leg quarters costs $1.19 per lb for 5.90 lb, for a total of $7.02. After cooking it, the net yield of just <a href='/misc/meat'>meat</a> (no skin or bones) was 800 g, or about 1.75 lb.<br><br>

<img src='/assets/Misc/Cooking/Leg Quarters/price.jpg' alt='' class='larger-image'><br>

Assuming that meat loses about 25% of it's raw weight when cooked, that would mean that the 800 g (1.75 lb) of cooked meat corresponds to 1,067 g (2.35 lb) of raw meat.<br><br>

At $7.02 for 2.35 lb, that makes the meat from leg quarters cost $2.98 per pound. That's about the same cost per pound as <a href='/misc/meat#chicken-breast'>chicken breast</a>.<br><br>

But net meat isn't the only thing we get from the leg quarters. We essentially get chicken broth and chicken fat for free, something that would typically cost much more.<br><br>

For example, I was able to yield about 1 cup (240 g) of bone broth. Real bone broth is quite costly; <a href='https://amzn.to/4w2GB4Q'>Kettle and Fire bone broth</a> costs about $6.58 for just 16.8 fl oz, or $3.11 for a cup.<br><br>

And then there's the fat. I'll compare the cost to lard since it's the closest equivalent you can easily buy. I'm seeing lard for $2.84 per pound. Considering I ended up with about 5 oz (142 g) of rendered out chicken fat, that's an $0.89 value.<br><br>

So, let's say that buying them separately would cost $11.03. That's $7.03 for 2.35 lb (1,067 g) of raw chicken, $3.11 for 1 cup (240 g) of bone broth, and $0.89 for 5 oz (142 g) of fat. In comparison, leg quarters only costs you $7.02 for all that, or about 2/3 of the price.<br><br>

In comparison, according to my <a href='/misc/chicken-thighs-cost-analysis'>Chicken Thighs Cost Analysis</a>, <a href='/misc/meat#chicken-thighs'>bone-in, skin-on thighs</a> on sale for $1.29 per pound yield $1.99 per pound of net meat.  But at the current prices of $1.99 per pound for <a href='/misc/meat#chicken-thighs'>bone in and skin on thighs</a>, that means that the net meat of <a href='/misc/meat#chicken-thighs'>thighs</a> alone is $3.07 per pound.  This is slightly higher than the $2.98 per pound of net meat from the leg quarters.<br><br>

<a href='/misc/chicken-thighs-cost-analysis'><img src='/assets/Misc/Cost/Chicken Thighs/Thighs.jpg' alt='' class='instruction-image'></a><br>

Finally, let's compare to a <a href='/misc/rotisserie-chicken-cost-analysis'>rotisserie chicken</a>.  According to my <a href='/misc/rotisserie-chicken-cost-analysis'>Rotisserie Chicken Cost Analysis</a>, a pre-cooked <a href='/misc/rotisserie-chicken-cost-analysis'>rotisserie chicken</a> is $3.49 per pound of cooked meat.  Using the same 25% lost weight assumption, this means that the raw weight of a <a href='/misc/rotisserie-chicken-cost-analysis'>rotisserie chicken</a> would correspond to $2.62 per pound.  Somehow, nothing beats the price of a <a href='/misc/rotisserie-chicken-cost-analysis'>rotisserie chicken</a>.<br><br>

<a href='/misc/rotisserie-chicken-cost-analysis'><img src='/assets/Misc/Cost/Rotisserie/Rotisserie Chicken.jpg' alt='' class='instruction-image'></a>

<div id='nutritional-information' class='table-of-contents'></div><hr>
<u><font size='+2'>Nutritional Information</font></u><br>
The 4 large leg quarters yielded about 800 g (1.75 lb) of cooked chicken.  That's 28.27 servings of 1 ounce (28 g) each.  Below is the nutrition facts per ounce (28 g) of cooked chicken meat:<br>

{% assign f = 'legquarters' %}
{% include nutrition.html file=f %}
<br>

<div id='uses' class='table-of-contents'></div><hr>
<u><font size='+2'>Uses</font></u><br>
Most of the time, I simply mix the leftover cooked chicken with some <a href='/recipes/roasted-vegetables'>roasted vegetables</a> (<a href='/misc/veggies#butternut-squash'>butternut squash</a>, <a href='/misc/veggies#broccoli'>broccoli</a>, <a href='/misc/veggies#brussel-sprout'>brussel sprouts</a>, etc.) with a <a href='/misc/carbs'>carb</a> (<a href='/misc/veggies#sweet-potato'>sweet potatoes</a>, <a href='/misc/beans'>beans</a>, <a href='/misc/grains#quinoa'>quinoa</a>, etc.), and a <a href='/misc/fats'>fat</a> (<a href='/misc/dairy#mozzarella'>cheese</a>, <a href='/misc/fruit#avocado'>avocado</a>, <a href='/misc/nuts'>nuts</a>, or <a href='/misc/seeds'>seeds</a>) to meal prep 6 or so meals in the fridge for lunch or dinner throughout the week.<br><br>

It's delicious, healthy, cheap, and simple to prepare. I'll typically put my meal over a base of <a href='/misc/veggies#cabbage'>shredded cabbage</a> for extra <a href='/misc/fiber'>fiber</a> and <a href='/misc/vitamin-c'>vitamin C</a>, and I'll top it with mustard and red wine vinegar.<br><br>

But this week, I plan on using some of my cooked chicken to make my <a href='/recipes/white-chicken-chili'>White Chicken Chili</a>. But this method serves as a great way to use <a href='/recipes/shredded-chicken'>shredded chicken</a> in any fashion, such as a topping to a <a href='/salad'>salad</a>, bowl, <a href='/recipes/pizza'>pizza</a>, or sandwich.<br><br>

In the same way you may shred up a <a href='/misc/rotisserie-chicken-cost-analysis'>storebought rotisserie chicken</a> for a quick <a href='/misc/protein'>protein</a> source, considering trying out this "recipe" instead. It's cheaper, homemade, tastes better, and avoids all the preservatives, fillers, and junk in the <a href='/misc/rotisserie-chicken-cost-analysis'>rotisserie chickens</a>.<br><br>

For some recipes using leftover cooked chicken, check out my <a href='/recipes/white-chicken-chili'>White Chicken Chili</a>, <a href='/recipes/buffalo-chicken-dip'>High Protein Buffalo Chicken Dip</a>, <a href='/recipes/salsa-chicken'>Two Ingredient Salsa Chicken</a>, and <a href='/recipes/pulled-chicken'>BBQ Pulled Chicken</a>.<br><br>

By far, my favorite way to use the leftover <a href='/recipes/shredded-chicken'>shredded chicken</a> is to make <a href='/recipes/salsa-chicken'>salsa chicken</a>. Just combine all your shredded meat with an entire 24 oz (680 g) jar of <a href='/recipes/salsa'>salsa</a> in a <a href='https://amzn.to/3YY2H9q'>9" square baking dish</a>. Cover with foil, and bake at 350F for 30 minutes, until bubbly.  Below is the nutrition facts for 6 servings of <a href='/recipes/salsa-chicken'>salsa chicken</a>:<br>

{% assign f = 'salsachickenlegquarters' %}
{% include nutrition.html file=f %}
<br>

<a href='/recipes/salsa-chicken'><img src='/assets/Food/Chicken/Salsa Chicken/cover.jpg' alt='' class='instruction-image'></a><br>

<div id='conclusion' class='table-of-contents'></div><hr>
<u><font size='+2'>Conclusion</font></u><br>
There you go. It sounds like a long and complicated process, but really most of the time spent is is the background.  The most time intensive part is just shredding the chicken with your hands, and that's pretty mindless.<br><br>

If you're new to cooking, or not very confident in the kitchen, this method is a bulletproof way of getting an easy <a href='/misc/protein'>protein</a> source you can mix into many meals.<br><br>

For similar posts, check out my <a href='/misc/rotisserie-chicken-cost-analysis'>Rotisserie Chicken Cost Analysis</a>, <a href='/misc/chicken-thighs-cost-analysis'>Chicken Thighs Cost Analysis</a>, <a href='/misc/slow-cooker-chicken'>Slow Cooking a Whole Chicken</a>, <a href='/misc/bone-broth'>Homemade Bone Broth + Veggie Soup</a>, and <a href='/recipes/shredded-chicken'>Simple Shredded Chicken</a>.

<div id='sources' class='table-of-contents'></div><hr>
<u><font size='+2'>Sources</font></u><br>
<ol>
    <li><a href='https://www.flaticon.com/'>FlatIcon</a></li>
    <li><a href='https://www.nutritionvalue.org/'>Nutrition Value</a></li>
    <li><a href='/recipes/salsa-chicken'>Two Ingredient Salsa Chicken</a></li>
    <li><a href='/recipes/shredded-chicken'>Simple Shredded Chicken</a></li>
    <li><a href='/misc/bone-broth'>Homemade Bone Broth + Veggie Soup</a></li>
    <li><a href='/misc/slow-cooker-chicken'>Slow Cooking a Whole Chicken</a></li>
    <li><a href='/misc/chicken-thighs-cost-analysis'>Chicken Thighs Cost Analysis</a></li>
    <li><a href='/misc/rotisserie-chicken-cost-analysis'>Rotisserie Chicken Cost Analysis</a></li>
</ol>
