---
layout: post
title:  "The Surprising Benefits of Chocolate"
date:   2026-03-03 00:00:00 -0500
categories:
- Misc.
- Nutrition
- Draft
showPercentage: no
permalink: /misc/chocolate-benefits
image: /assets/Misc/Nutrition/Cocoa/Cocoa Benefits.png
tags:
- cocoa powder
- chocolate
- cacao
- antioxidants
- flavonoids
---
<u><font size='+2'>Introduction</font></u><br>
Ah, chocolate.  You know it.  You love it.  You may be addicted to it.  But did you know that chocolate has some surprising health benefits?<br><br>

I'm sure you've heard people say that chocolate is bad for you, but that's not entirely true.  In fact, chocolate can be good for you, especially if you choose the right kind.  Dark chocolate, in particular, is packed with nutrients and antioxidants that can have a positive impact on your health.<br><br>

Cocoa powder is the purest form of chocolate, made by grinding cocoa beans and removing most of the fat (cocoa butter).  It contains a high concentration of flavonoids, which are powerful antioxidants that can help protect your cells from damage.<br><br>

Cocoa powder also contains minerals like iron, magnesium, and potassium, which are essential for various bodily functions.  These could all make cocoa and chocolate beneficial for reducing inflammation, managing blood sugar, improved brain and heart health, and weight management.

<hr>

<u><font size='+2'>Benefits of Cocoa Powder</font></u><br>

<i><font size='+2'>Rich In Antioxidants</font></i><br>
Cocoa is a rich source of polyphenols, naturally occurring plant compounds that are antioxidants.  These are typically found in vegetables, fruits, and tea.<br><br>

Cocoa is loaded with flavonoids, particularly epicatechin, catechin, and procyanidins.  These are powerful antioxidants that help reduce oxidative stress and inflammation.<br><br>

In particular, raw cacao powder has historically reported extremely high levels of ORAC (Oxygen Radical Absorbance Capacity) scores, at approximately 95,500 ORAC units per 100 g.  For comparison, goji berries, blueberries, and acai berries each have 25,300, 9,621, and 18,500 ORAC units, respectively.  That makes raw cacao powder potentially 10 times more antioxidant-rich than blueberries, which are widely known for their antioxidant content.<br><br>

Regular consumption of cocoa aids the body in fighting free radicals, which can damage cells and contribute to aging and chronic diseases.  The antioxidants in cocoa may also help protect against certain types of cancer and support overall immune function.<br><br>

Additionally, cocoa's antioxidants have been shown to have anti-inflammatory effects, which can benefit conditions like arthritis and other inflammatory diseases, as well as helping with minor aches and pains.<br><br>

Antioxidants, particularly those found in cocoa, can benefit the following:
<ul>
    <li>Cardiovascular function</li>
    <li>Healthy aging</li>
    <li>Immune function</li>
    <li>Joints</li>
    <li>Longevity</li>
    <li>Metabolic function</li>
    <li>Musculoskeletal function</li>
    <li>Nervous system function</li>
    <li>Skin health</li>
</ul>

However, processing and heat destroys much of the polyphenol content in chocolate, so it's best to enjoy chocolate as minimally processed as possible for maximum health.

<i><font size='+2'>Supports Heart and Brain Health</font></i><br>
Regular consumption of dark chocolate may help lower blood pressure and improve blood flow to the heart, thanks to its high flavonoid content.  Additionally, the minerals magnesium, copper, and potassium may also provide cardiovascular benefits.  Consumption may also support normal levels of HDL cholesterol<br><br>

These effects are largely attributed to cocoa flavanols improving nitric oxide production.  This promotes vasodilation and improved circulation throughout the body.  Dark chocolate (at least 70%+ cocoa) has been associated with the following:
<ul>
    <li>Enhanced blood vessel function</li>
    <li>Improved blood flow</li>
    <li>Improved nervous system function</li>
    <li>Increased HDL cholesterol</li>
    <li>Reduced blood pressure</li>
    <li>Reduced LDL cholesterol</li>
</ul>

Moreoever, cocoa may also reduce your risk of heart attack and stroke.  This is again to the flavanols of cocoa improving the production of nitric oxide.  This dilates and relaxes your blood vessel and arteries, improving blood flow throughout your body.  A 2017 study of Swedish men found that chocolate intake corresponded with lower rates of hospitalization or death from heart failure.<br><br>

Cocoa powder may also benefit brain health, both in the short and long term.  The polyphenols in cocoa may also reduce your risk of certain neurodegenerative diseases through improved blood flow.  The anti-oxidants help protect brain tissue against oxidative stress aid in long-term brain health.  Additionally, the caffeine content of cocoa may also be neuroprotective, provide benefits to learning and memory, as well as protecting against age-related cognitive decline.

<i><font size='+2'>Supports Metabolic Function & Gut Health</font></i><br>
Cocoa may also help improve insulin sensitivity, which is important for metabolic health and diabetes prevention.  The antioxidants in cocoa beans may help support the production of nitric oxide, benefitting both metabolic and cardiovascular health.<br><br>

Moreover, the high fiber and polyphenol contents allow cocoa to act as a prebiotic, supporting beenficial gut bacteria.  Because of this, cocoa can promote healthy digestion, support kidney function, and regulate appetite.<br><br>

Additionally, the high flavanol and theobromine contents of cocoa may aid in improving insulin secretion, possibly lowering the risks of and improving the symptoms of those with Type-2 Diabetes.  It can also increase energy expenditure and fat oxidation, as well as improving glucose metabolism and insulin sensitivity.<br><br>

<i><font size='+2'>Enhances Mood and Energy</font></i><br>
Chocolate contains compounds like phenylethylamine and serotonin precursors that can boost mood and promote feelings of well-being.  This is why many people crave chocolate when they're feeling down.<br><br>

Many people experience reduced fatigue, improved mood, improved cognitive function, and reduced stress after consuming dark chocolate.  Cocoa may even benefit those with asthma, as the theobromine may improve symptoms.  The following compounds may all support mood and energy, while reducing stress and anxiety:
<ul>
    <li>Anandamide (the "bliss molecule")</li>
    <li>Caffeine (in small amounts)</li>
    <li>Iron (for oxygen transport)</li>
    <li>Magnesium (the relaxation mineral)</li>
    <li>Phenylethylamine (sometimes called the "love chemical")</li>
    <li>Tryptophan (an essential amino acid)</li>
</ul>

Tryptophan, one of the 9 essential amino acids, is also contained in cocoa.  This amino acid is a precursor to serotonin, a neurotransmitter and hormone that's responsible for sleep, mood, digestion, and appetite.  Chocolate also contains notable quantities of theobromine, which is a gentle stimulant, providing similar effects to caffeine without the jitters, crashes, or addictions.<br><br>

Sometimes known as the "love chemical", phenylethylamine (PEA) is naturally produced in the brain during pleasurable experiences.  This mood enhancer may be in greater concentrations following consumption of cocoa, leading to improved alertness and focus, as well as elevated mood.<br><br>

A study from 2022 looked at the potential mood enhancing benefits of chocolate.  It found that consumption of chocolate with at least 85% cocoa content correlated with fewer negative emotions after a 3 week period.  This positive emotion shift was not experienced in the group consuming 70% chocolate.<br><br>

Finally, regular cocoa consumption may help lower levels of cortisol, the body's stress hormone.  This is due to the concentrations of magnesium and anti-oxidants, promoting feelings of relaxation and calmness, as well as benefitting mental health.<br><br>

<i><font size='+2'>High Fiber and Low Calorie</font></i><br>
Cocoa powder is a very low calorie and high fiber way to add delicious chocolate flavor to anything sweet, such as a bowl of yogurt, oatmeal, or smoothie.  Plain, unsweetened cocoa powder has very little fat, sugar, and calories, and is full of flavor.<br><br>

The combination of fiber, protein and fats for minimal net carbs in pure chocolate helps stabilize blood sugar levels, as well as promoting digestive function and improving nutrient absorptin.  Per 100 g, cocoa powder has the following nutrition facts:<br><br>

{% assign folder = "servingSizes" %}
{% assign serving = "100" %}
{% assign scroll = "false"%}

{% assign files =
    "cocoa-powder"
%}
{% assign titles =
    "<a href='https://www.nutritionvalue.org/public_ingredient_55778.html'>Cocoa Powder</a>"
%}
{% assign nutrients =
    "Calories,"
    | append: "Protein,"
    | append: "Fat,"
    | append: "Net Carbs,"
    | append: "Fiber"
    | split: ","
%}
{% include compareFoodsTable.html folder=folder files=files titles=titles nutrients=nutrients servingSize=serving scroll=scroll %}
<br>

<i><font size='+2'>Nutrient Dense</font></i><br>
Cocoa powder is not only rich in antioxidants, but also a good source of several essential minerals, including iron, magnesium, and potassium.  These nutrients play vital roles in various bodily functions, from energy production to muscle function.<br><br>

Unsweetened cocoa powder is somewhat lacking in the vitamin department, but it more than makes up for that in its mineral content.  It contains the following micro-nutrients per 100 grams:<br><br>

{% assign nutrients =
    "Calcium,"
    | append: "Copper,"
    | append: "Iron,"
    | append: "Magnesium,"
    | append: "Manganese,"
    | append: "Phosphorus,"
    | append: "Potassium,"
    | append: "Selenium,"
    | append: "Zinc"
    | split: ","
%}
{% include compareFoodsTable.html folder=folder files=files titles=titles nutrients=nutrients servingSize=serving scroll=scroll showPercentage="true" %}
<br>

In particular, cocoa is rich in two essential minerals: iron and magnesium.  Iron is crucial for energy and vitality supporting oxygen transport, RBC (red blood cell) formation, energy metabolism, and ATP (Adenosine Triphosphate) production.<br><br>

As for magnesium, this critical electrolyte is involved in over 300 enzymatic reactions throughout the body.  It plays a vital role in muscle function, bone health, blood glucose control, nerve transmission, ATP production, formation of protein, gene maintenance, and much much more.<br><br>

Cocoa also contains significant quantities of the following minerals, which provide the following benefits:
<ul>
    <li>Calcium</li>
        <ul>
            <li>Bone health</li>
            <li>Collagen synthesis</li>
            <li>Regular heart rhythms</li>
        </ul>
    <li>Copper</li>
        <ul>
            <li>Immune function</li>
            <li>Formation of RBCs</li>
            <li>Blood vessel maintenance</li>
        </ul>
    <li>Manganese</li>
        <ul>
            <li>Carbohydrate metabolism</li>
            <li>Nerve function</li>
            <li>Wound healing</li>
        </ul>
    <li>Phosphorus</li>
        <ul>
            <li>ATP production</li>
            <li>Maintain cellular pH</li>
            <li>Regulate apoptosis (natural and controlled cell death)</li>
        </ul>
    <li>Potassium</li>
        <ul>
            <li>Electrolyte balance</li>
            <li>Prevent muscle cramps</li>
            <li>Reduce water retention</li>
        </ul>
    <li>Selenium</li>
        <ul>
            <li>Thyroid function</li>
            <li>Reduced inflammation</li>
            <li>Cancer prevention</li>
        </ul>
    <li>Zinc</li>
        <ul>
            <li>Cognitive function</li>
            <li>DNA synthesis</li>
            <li>Protein synthesis</li>
        </ul>
</ul>

<hr>

<u><font size='+2'>Drawbacks of Chocolate</font></u><br>

<i><font size='+2'>High in Fat and Calories</font></i><br>
Didn't I just say that cocoa is low in fat, and now I'm saying it's high in fat?  Well, yes.  All the benefits from chocolate come from the cocoa itself, which is low calorie, low fat, and high fiber.  As you move further and further away from pure cocoa, the benefits become less and less.<br><br>

At its core, "chocolate" is a 50/50 combination of cocoa solids (cocoa powder) and cocoa fat (cocoa butter).  The high saturated fat content of cocoa butter is what allows it to stay solid at room temperature.  To make your own unsweetened chocolate at home, simply combine together equal parts by weight of cocoa powder and coconut oil.  Coconut oil is also high in saturated fat, allowing it to become solid.<br><br>

Since cocoa butter (or coconut oil) are pure fat, this makes them inherently as calorie dense as a food can be.  Therefore, chocolate bars are naturally very high in both fat in calories, as they're at least 50% fat by weight.<br><br>

Fat and calories are not bad, far from it, both are essential.  However, they are something to be mindful of.  Like with nuts, you can easily overconsume if you're not careful.  Even 100% chocolate can contribute to weight gain if consumed in excess.  Below are the nutrition facts of unsweetened, 100% chocolate:<br><br>

{% assign files =
    "unsweetened-chocolate"
%}
{% assign titles =
    "<a href='https://www.nutritionvalue.org/Baking_chocolate%2C_squares%2C_unsweetened_nutritional_value.html?size=100+g'>100% Chocolate</a>"
%}
{% assign nutrients =
    "Calories,"
    | append: "Protein,"
    | append: "Fat,"
    | append: "Net Carbs,"
    | append: "Fiber"
    | split: ","
%}
{% include compareFoodsTable.html folder=folder files=files titles=titles nutrients=nutrients servingSize=serving scroll=scroll %}
<br>

For guides on how on homemade chocolate, check out the following:
<ul>
    <li><a href='/misc/chocolate-percentages'>Make Your Own Dark Chocolate</a></li>
    <li><a href='/recipes/chocolate-bar'>Sugar Free Chocolate Bar</a></li>
</ul>

<i><font size='+2'>High in Sugar</font></i><br>
If you were thinking that the high fat content of chocolate was it's main issue, then you are mistaken.  The main issue with chocolate is it's high sugar content.  While fat is essential for brain health, heart health, gut health, and more, added sugar not necessary in the diet, and extremely potent in most chocolates.<br><br>

Most commercial chocolate products are high in sugar.  Milk chocolate and candy bars often contain way more sugar than cocoa, which negates nearly all of the potential health benefits.  Even most "dark" chocolates are probably just candy bars in disguise.  Legally, "dark" chocolate has to hit a minimum of a mere 43% cocoa solids.<br><br>

If you're wondering what I mean by "cocoa percentage", this is the percentage of total cocoa ingredients (cocoa solids + cocoa butter) present in the bar.  For example, 100% chocolate means that the bar contains no sugar or other added ingredients, whereas 40% chocolate means that 40% of the bar is cocoa ingredients and the remaining 60% consists of sugar and other additives.<br><br>

Aim for the highest cocoa percentage possible that you can eat for the maximum health benefits.  For me, this means eating unsweetened 100% chocolate, as I've adjusted to and love it's bold and bitter flavor.<br><br>

However, if you're new to the world of super dark chocolate, start at about 70% and slowly work your way up 5% at a time.  If you're not ready to commit to full 100%, a good sweet spot for both nutrition and taste is 85% chocolate.

Anything under 70% should be consumed for just pleasure alone, as there's little to no health benefits there.  If it doesn't even contain a percentage, then you can be sure you're eating more candy than cocoa.<br><br>

Although the calories technically go down as you get lower percentage cocoa, you can see that the sugar content starts to skyrocket.  Below are the nutrition facts for various chocolate percentages ranged 50% to 100% per 100 g:<br><br>

{% assign files =
    "50,"
    | append: "60,"
    | append: "70,"
    | append: "72,"
    | append: "85,"
    | append: "90,"
    | append: "95,"
    | append: "100"
    | split: ","
%}
{% assign titles =
    "50%,"
    | append: "60%,"
    | append: "70%,"
    | append: "72%,"
    | append: "85%,"
    | append: "90%,"
    | append: "95%,"
    | append: "100%"
    | split: ","
%}
{% assign nutrients =
    "Calories,"
    | append: "Protein,"
    | append: "Fat,"
    | append: "Carbs,"
    | append: "Fiber,"
    | append: "Added Sugar"
    | split: ","
%}
{% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" %}
<br>

<i><font size='+2'>Caffeine & Theobromine Content</font></i><br>
Some people are sensitive to stimulants.  Large amounts of dark chocolate or cocoa can cause the following:
<ul>
    <li>Sleep disruption</li>
    <li>Jitters</li>
    <li>Headaches</li>
</ul>

It's best advised to avoid consuming any chocolate or cocoa products late in the day, like you would coffee, as its high caffeine content may negatively impact your sleep.  1 tablespoon (5 g) of cocoa powder contains approximately 11.5 mg of caffeine.<br><br>

For reference, your average cup o' jo contains about 95 mg of caffeine, the amount found in about 1/2 cup (40 g) of cocoa powder.  While that does sound like a lot of cocoa, a couple tablespoons here and there in a dessert or hot chocolate at night may easily add up to 1/4 of a cup of coffee just 2 hours before bed.<br><br>

Considering the half-life of caffeine is around average about 5 hours, you may still be feeling the effects of your night-time chocolate fix when you hit the hay.  Particularly if you are caffeine sensitive, it is important to watch your cocoa consumption, especially at night.<br><br>

<i><font size='+2'>Processing Method</font></i><br>
Do you know how Oreo's don't really taste like chocolate at all?  That's because their cookies are made with "dutch-processed" cocoa, or alkalized cocoa.  The result is a cocoa powder much darker in color that tastes smoother and less bitter.<br><br>

Unfortunately, the alkalizing process destroys a significant portion of the flavonoids found in natural cocoa.  Heavily processed chocolate also loses many beneficial compounds.<br><br>

<i><font size='+2'>Heavy Metals</font></i><br>
Chocolate may harbor high concentrations of heavy metals; particularly lead and cadmium.  Dark chocolate, particularly 100% and pure cocoa powder, contains higher levels of heavy metals than milk chocolate, since the former is significantly higher in cocoa solids than the latter.<br><br>

In a recent study, statistically significant levels of both lead and cadmium were found in all 28 dark chocolate bars that were tested, in varying amounts.  Consumption of heavy metals may negatively impact the health of your brain, liver, kidneys, bones, and immune system, particularly if you're pregnant or a young child.

<i><font size='+2'>Environmental Effects</font></i><br>
The majority of the world's cocoa is harvested in West Africa.  Large scale deforestation has occurred in places like Ghana and Ivory Coast to profit from this lucrative business.  It's estimated that approximately 3 million hectares (7.5 million acres) of forest have been destroyed between 1988 and 2008.<br><br>

<i><font size='+2'>Ethics</font></i><br>
Cacao beans, the main ingredient in chocolate, are often associated with ethical concerns related to fair trade and sustainable farming practices.  The cocoa industry has had a long reputation for inhumane working conditions.  Particularly, issues of child labor and environmental impact have been raised in the cocoa industry.

<hr>

<u><font size='+2'>Different Types</font></u><br>

<i><font size='+2'>Cocoa vs Cacao</font></i><br>
Two very similar terms and product are cocoa powder and cacao powder.  The main difference is that cocoa powder is typically processed with heat, which can reduce its antioxidant content.  On the other hand, cacao powder is made from raw, fermented, unprocessed cocoa beans.<br><br>

Through gentle cold-pressing methods, heat-sensitive nutrients, enzymes, and phytochemicals are preserved.  However, the terms cocoa and cacao are often used interchangeably in recipes and products, so it's important to check the label if you're looking for a specific type.<br><br>

Raw cacao powder is processed through cold-pressing at temperatures typically below 118F (48C), preserving most, if not all of the beneficial plant compounds.  For comparison, typical cocoa is typically treated around 250-350F (120-175C), which can kill off many of the positive health aspects.<br><br>

As much as an estimated 60% of the original antioxidant content can be lost through typical cocoa processing.  Generally, the less processed the cocoa, the more health benefits it will have, but it may also have a more bitter taste.  For maximum health benefits, cacao is the way to go, but for most people, natural cocoa is a good balance of taste and nutrition.<br><br>

<i><font size='+2'>What About Carob?</font></i><br>
Have you heard of carob powder?  It's often marketed as a chocolate substitute, but it's not the same thing.  Though they are very similar in taste, appearance, nutrition, and culinary uses, they are made from different plants.

Carob is a popular alternative to chocolate, especially for those with dietary restrictions or allergies.  It's derived from the carob tree and has a naturally sweet flavor.  While it doesn't contain the same level of antioxidants as cocoa, it does provide some health benefits, including being a good source of fiber and minerals.<br><br>

Notably though, carob doesn't contain any caffeine or theobromine, both of which are found in cocoa and act as stimulant boost.  So carob can be a good option for those who are sensitive to stimulants, or for those looking to enjoy a chocolate treat after dinner without worrying about being kept up at night.<br><br>

As mentioned though, carob is noticeably slightly sweet.  If you were to simply combine carob powder with coconut oil (like I did in my Chocolate Free Chocolate), you would end up with a bittersweet chocolate bar that would closely resemble a 75% dark chocolate instead of 100% cocoa powder.  This is because carob contains more sugar than cocoa, which is why it has a sweeter taste.<br><br>

For some other recipes with carob, check out my Roasted Hazelnut Nutella, Carob Pecan Butter Bars, and Single Serving Quick Nutella.  Or just simply swap cocoa powder for carob at a 1:1 ratio in any of your favorite recipes.

<hr>

<u><font size='+2'>Adding Cocoa to your Diet</font></u><br>
<ul>
    <li>Add cocoa powder into your morning yogurt, oatmeal, or chia pudding bowls</li>
    <li>Bake healthy desserts with cocoa powder, such as brownies, mousse, ice cream, fudge, cheesecake, and chocolate cookies</li>
    <li>Blend cocoa powder into your smoothies for an antioxidant and flavor boost</li>
    <li>Consume high percentage dark chocolate (ideally 85%+)</li>
    <li>Make high protein chocolate snacks, such as protein pudding, baked protein bars, protein shakes, mug cakes, and protein hot chocolate</li>
    <li>Mix cocoa powder with milk and some sweetener for a healthy chocolate milk or hot cocoa</li>
</ul>

<hr>

<u><font size='+2'>Conclusion</font></u><br>
Consumption of cocoa and high percentage dark chocolate may be correlated with a myriad of health benefits.  These include improved brain and heart health, better blood sugar regulation, improved mood and energy, reduced inflammation, and support for metabolic and gut health.<br><br>

The closer you are to pure cocoa, and the lower the sugar, the greater the potential benefit.  This way, you will see the most benefits from the antioxidants and flavanols for the lowest calories, sugar, and fat.  Chocolate represents a broad spectrum, from unhealthy milk chocolate candies to pure unsweetened chocolate bars or plain cocoa powder.<br><br>

Cocoa in its minimally processed form can support heart health, provide minerals, and deliver potent antioxidants.  But once sugar and excess fat are added, it quickly becomes a dessert rather than a health food.  Like most things in nutrition: the dose makes the poison.

<hr>

<u><font size='+2'>Sources</font></u><br>
<ol>
    <li><a href='https://www.flaticon.com/'>FlatIcon</a></li>
    <li><a href='https://www.nutritionvalue.org/'>Nutrition Value</a></li>
    <li><a href='https://www.poormanprotein.com/misc/overshadowed-healthy-foods#chocolate'>Poor Man Protein: Overshadowed Healthy Foods</a></li>
    <li><a href='https://www.poormanprotein.com/misc/chocolate-percentages'>Poor Man Protein: Make Your Own Dark Chocolate</a></li>
    <li><a href='https://www.gaiaherbs.com/blogs/seeds-of-knowledge/cacao-benefits'>Gaia Herba: 7 Benefits of Cacao</a></li>
    <li><a href='https://pmc.ncbi.nlm.nih.gov/articles/PMC4696435/'>PubMed: Cocoa and Chocolate in Human Health and Disease</a></li>
    <li><a href='https://pubmed.ncbi.nlm.nih.gov/27979037/'>PubMed: Chocolate Intake and Incidence of Heart Failure</a></li>
    <li><a href='https://pubmed.ncbi.nlm.nih.gov/34530112/'>PubMed: Consumption of 85% Cocoa Improves Mood</a></li>
    <li><a href='https://www.healthline.com/nutrition/cocoa-powder-nutrition-benefits'>Healthline: 9 Health and Nutrition Benefits of Cocoa Powder</a></li>
    <li><a href='https://www.coracaoconfections.com/blogs/news/cacao-powder-benefits-1'>Coracao: Cacao Powder Benefits</a></li>
    <li><a href='https://youtu.be/2fiFeb7572A?si=1p4L-ZQVGeUpNCkZ'>Food Theory: Tony Chocolonely's Secret Plan to KILL Hershey's</a></li>
    <li><a href='https://www.ncbi.nlm.nih.gov/books/NBK223808/'>Pharmacology of Caffeine</a></li>
    <li><a href='https://www.consumerreports.org/health/food-safety/lead-and-cadmium-in-dark-chocolate-a8480295550/'>Consumer Reports: Lead and Cadmium Could Be in Your Dark Chocolate</a></li>
    <li><a href='https://www.asyousow.org/our-work/environmental-health/toxic-enforcement/lead-and-cadmium-in-food/lead-and-cadmium-in-food-faqs'>As You Sow: Toxins in Chocolate</a></li>
</ol>
