---
layout: post
title:  Healthier Brownies & Cookies Experiment
date:   2026-03-21 00:00:00 -0500
categories:
- Misc.
- Experiments
- Draft
showPercentage: no
hummus: no
oatmeal: no
yogurt: no
nut_butter: no
pesto: no
soup_stew: no
salad: no
dressing: no
brownie: yes
cookie: yes
copycat: no
permalink: /misc/healthier-brownies-and-cookies-experiment
image: /assets/Misc/Experiments/Healthier Brownies Cookies/Healthier Brownies Cookies.png
tags:
- experiment
- brownies
- chocolate chip cookies
- cookies
- dessert
- sugar free
- coconut oil
- monk fruit
- gluten free
- almond flour
- cocoa powder
- chocolate chips
---
<div id='intro' class='table-of-contents'></div><br>
<u><font size='+2'>Introduction</font></u><br>
I've been wanting to experiment with making healthy versions of classic desserts by swapping out unhealthy ingredients for healthier alternatives, analyzing the results, and refining the recipe to end up with a <a href='/recipes/healthier-dessert'>healthier dessert</a> that's as similar as possible to the original product.  Today, I'll be tackling both <a href='/brownies'>brownies</a> and <a href='/cookies'>cookies</a>.

<div id='contents' class='table-of-contents'></div><hr>
<u><font size='+2'>Table of Contents</font></u><br>
<ol>
    <li><a href='#intro'>Introduction</a></li>
    <li><a href='#problem'>The Problem</a></li>
    <li><a href='#brownies'>Brownies</a>
      <ol>
        <li><a href='#brownies-control'>Control</a></li>
        <li><a href='#brownies-experiment'>Experiment</a></li>
        <li><a href='#brownies-results'>Results</a></li>
        <li><a href='#brownies-analysis'>Analysis</a></li>
        <li><a href='#brownies-compare'>Nutritional Comparison</a></li>
      </ol>
    </li>
   <li><a href='#cookies'>Cookies</a>
      <ol>
        <li><a href='#cookies-control'>Control</a></li>
        <li><a href='#cookies-experiment'>Experiment</a></li>
        <li><a href='#cookies-results'>Results</a></li>
        <li><a href='#cookies-analysis'>Analysis</a></li>
        <li><a href='#cookies-compare'>Nutritional Comparison</a></li>
      </ol>
    </li>
    <li><a href='#conclusion'>Conclusion</a></li>
    <li><a href='#sources'>Sources</a></li>
</ol>

<div id='problem' class='table-of-contents'></div><hr>
<u><font size='+2'>The Problem</font></u><br>
Obviously, there's nothing wrong with having a treat like a <a href='/brownies'>brownie</a> or a <a href='/cookies'>cookie</a> every now and then.  Occasionally at a holiday or gathering, one <a href='/brownies'>brownie</a> or <a href='/cookies'>cookie</a> certainly will not kill you.  But if you're someone who has them all the time, then learning to make healthier swaps with minimal difference can be a gamechanger.<br><br>

For the purposes of this experiment, I will be modifying both my <a href='/recipes/brownies'>Classic Fudgy Brownies</a> and <a href='/recipes/chocolate-chip-cookies'>Classic Chocolate Chip Cookies</a> recipes.  The way I see it, there are 3 health problems with traditional brownies and <a href='/cookies'> classic cookies</a>, and most desserts for that matter.  These are the following:
<ul>
    <li><a href='/misc/hidden-sugar'>Added sugars</a></li>
    <li><a href='/misc/dairy#butter'>Butter</a> or <a href='/misc/fats'>highly refined oils</a></li>
    <li><a href='/misc/grains#white-wheat'>Processed white flour</a></li>
</ul>

<div id='brownies' class='table-of-contents'></div><hr>
<u><font size='+2'>Brownies</font></u><br>

<div id='brownies-control' class='table-of-contents'></div><br>
<i><font size='+2'>Control</font></i><br>
For reference, below are the ingredients and nutrition facts for my <a href='/recipes/brownies'>Classic Fudgy Brownies</a>.  This is <a href='/recipes/brownies'>my standard brownie recipe</a> that I make from time to time:

{% assign f = 'brownies' %}
{% include ingredients.html file=f %}

<a href='/recipes/brownies'><img src='/assets/Misc/Unhealthy/Brownies/cover.jpg' alt='' class='instruction-image'></a><br>

These <a href='/brownies'>brownies</a> are delicious, don't get me wrong.  But with 147 <a href='/misc/calories'>calories</a>, 15 g of <a href='/misc/hidden-sugar'>added sugar</a>, and 8 g of <a href='/misc/fats'>fat</a> for a fairly small <a href='/brownies'>brownie</a>, these can't be more than a once a holiday treat for me.  How can we bump up these numbers? (or more accurately, bump them down).<br><br>

{% include nutrition.html file=f %}

<div id='brownies-experiment' class='table-of-contents'></div><br>
<i><font size='+2'>Experiment</font></i><br>
To make these <a href='/brownies'>brownies</a> healthier, I have made the following 4 ingredient changes from the original recipe:
<ul>
    <li>Replaced <a href='/misc/hidden-sugar'>sugar</a> with <a href='https://amzn.to/4ceFnvP'>granulated monk fruit</a></li>
    <li>Replaced melted unsalted <a href='/misc/dairy#butter'>butter</a> with melted <a href='/misc/nuts#coconut'>coconut oil</a></li>
    <li>Replaced <a href='/misc/grains#white-wheat'>white flour</a> with <a href='/misc/nuts#almonds'>almond flour</a></li>
    <li>Increased the salt from 1/4 tsp (1.5 g) to 1/2 tsp (3 g)</li>
</ul>

This leaves us with the following ingredients list:
{% assign f = 'brownieshealthier1' %}
{% include ingredients.html file=f %}

We knocked out all the <a href='/misc/hidden-sugar'>added sugar</a>.  We also have <a href='/misc/fats'>healthier fats</a> from the <a href='/misc/nuts#coconut'>coconut oil</a> and <a href='/misc/nuts#almonds'>almond flour</a>, as well as more <a href='/misc/fiber'>fiber</a> and <a href='/misc/nutrient-alphabet#E'>vitamin E</a>.  The removal of <a href='/misc/grains#white-wheat'>white flour</a> removes any <a href='/misc/carbs'>refined starch</a> as well.<br><br>

{% include nutrition.html file=f %}
<br>

I followed all the exact steps of my <a href='/recipes/brownies'>Classic Fudgy Brownies</a>, but here's the quick rundown:
<ol>
  <li>Line a <a href='https://amzn.to/4mAvtr9'>9" square baking pan</a> with parchment paper, and <a href='https://amzn.to/3Hdg0gk'>lightly grease it</a></li>
  <li>Melt <a href='/misc/nuts#coconut'>coconut oil</a> in a <a href='https://amzn.to/4adxMft'>large glass bowl</a>.  Add in the rest of the ingredients, and beat until smooth</li>
  <li>Transfer the batter to the pan.  Chill for 4+ hours</li>
  <li>After the chill, preheat oven to 350F.  Leave the brownies on the counter as the oven heats up</li>
  <li>Bake at 350F for ~30 minutes, or until a toothpick comes out with minimal crumbs, the top is just set, and the center no longer jiggles</li>
  <li>Cool totally before slicing</li>
</ol>

<div id='brownies-results' class='table-of-contents'></div><br>
<i><font size='+2'>Results</font></i><br>
The result is (drumroll please.....) nearly identical.  The brownies are slightly gritty; I guess the <a href='https://amzn.to/4ceFnvP'>granulated monk fruit</a> doesn't dissolve while baking as much as <a href='/misc/hidden-sugar'>sugar</a> does.  There is also a slight <a href='/misc/fake-healthy-foods#sugar-substitutes'>sugar alcohol</a> cooling aftertaste effect going on with these, as well as being slightly less sweet overall.<br><br>

Besides that though, these <a href='/brownies'>brownies</a> are identical in taste and texture.  They're chewy and fudgy in the center, with perfectly crispy edges.  All that <a href='/misc/nuts#coconut'>coconut oil</a> means that the brownies are super rich like you'd expect them to be, and they hold their shape enough to be picked up and eaten with your hands.<br><br>

<img src='/assets/Misc/Experiments/Healthier Brownies Cookies/brownies-baked.jpg' alt='' class='instruction-image'><br>

USE PARCHMENT PAPER!  I absolutely cannot stress this enough.  USE PARCHMENT PAPER!  This is a mistake I make, assuming that all the <a href='/misc/fats'>fat</a> in the batter should lubricate the pan enough for the brownies to come out easily.  I mean, I don't use parchment paper with <a href='/recipes/brownies'>standard brownies</a>, so I figured I didn't need it here.<br><br>

Oh boy, was I wrong.  The edges stuck so incredibly bad that half the brownies fell apart while trying to remove them from the pan and slice them.  I got a clean cut from the center here, but I will certainly baking with parchment paper next time.<br><br>

<a href='/recipes/best-healthy-brownies'><img src='/assets/Misc/Experiments/Healthier Brownies Cookies/brownies-cover.jpg' alt='' class='instruction-image'></a>

<div id='brownies-analysis' class='table-of-contents'></div><br>
<i><font size='+2'>Analysis</font></i><br>
I see no reason why <a href='#brownies-experiment'>these brownies</a> can't become my or your daily driver <a href='/brownies'>brownie recipe</a> (okay, maybe not daily lol).  The process and result of making these are nearly identical to <a href='/recipes/brownies'>standard brownies</a>, just with healthier swaps.<br><br>

Looking back at many of my <a href='/brownies'>healthy brownies recipes</a>, the best ones by far are my <a href='/recipes/keto-brownies'>Flourless Keto Brownies</a>.  And while those are fantastic, I do recognize that less people would be willing to check them out because of the <a href='/misc/dairy#cottage-cheese'>cottage cheese</a> and <a href='/misc/nuts#almonds'>almond butter</a>.  But with <a href='#brownies-experiment'>this recipe</a>, it's identical to making <a href='/recipes/brownies'>standard brownies</a>, which we're already familiar with.

<div id='brownies-compare' class='table-of-contents'></div><br>
<i><font size='+2'>Nutritional Comparison</font></i><br>
{% assign files =
    "brownies,"
    | append: "brownieshealthier1"
    | split: ","
%}
{% assign titles =
    "<a href='#brownies-control'>Control</a>,"
    | append: "<a href='#brownies-experiment'>Experiment</a>"
    | split: ","
%}
{% assign nutrients =
    "Calories,"
    | append: "Protein,"
    | append: "Fat,"
    | append: "Fiber,"
    | append: "Net Carbs,"
    | append: "Added Sugar,"
    | append: "Sugar Alcohol,"
    | append: "Glycemic Index"
    | split: ","
%}
{% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" %}

<div id='cookies' class='table-of-contents'></div><hr>
<u><font size='+2'>Cookies</font></u><br>

<div id='cookies-control' class='table-of-contents'></div><br>
<i><font size='+2'>Control</font></i><br>
For reference, below are the ingredients and nutrition facts for my <a href='/recipes/chocolate-chip-cookies'>Classic Chocolate Chip Cookies</a>.  This is <a href='/recipes/chocolate-chip-cookies'>my standard cookie recipe</a> that I make from time to time:

{% assign f = 'cookies' %}
{% include ingredients.html file=f %}

<a href='/recipes/chocolate-chip-cookies'><img src='/assets/Misc/Unhealthy/Cookies/cookies.jpg' alt='' class='instruction-image'></a><br>

These <a href='/cookies'>cookies</a> are delicious, don't get me wrong.  But with 113 <a href='/misc/calories'>calories</a>, 10 g of <a href='/misc/hidden-sugar'>added sugar</a>, and 5 g of <a href='/misc/fats'>fat</a> for a fairly small <a href='/cookies'>cookie</a>, these can't be more than a once a holiday treat for me.  How can we bump up these numbers? (or more accurately, bump them down).<br><br>

{% include nutrition.html file=f %}

<div id='cookies-experiment' class='table-of-contents'></div><br>
<i><font size='+2'>Experiment</font></i><br>
To make these <a href='/cookies'>cookies</a> healthier, I have made the following 4 ingredient changes from the original recipe:
<ul>
    <li>Replaced <a href='/misc/hidden-sugar'>sugar</a> with <a href='https://amzn.to/4ceFnvP'>granulated monk fruit</a></li>
    <li>Replaced melted unsalted <a href='/misc/dairy#butter'>butter</a> with melted <a href='/misc/nuts#coconut'>coconut oil</a></li>
    <li>Replaced <a href='/misc/grains#white-wheat'>white flour</a> with a mix of <a href='/misc/nuts#almonds'>almond flour</a> and cornstarch</li>
    <li>Replaced standard chocolate chips with <a href='https://amzn.to/4kGEfC5'>sugar free chocolate chips</a></li>
</ul>

This leaves us with the following ingredients list:
{% assign f = 'cookieshealthier1' %}
{% include ingredients.html file=f %}

We knocked out all the <a href='/misc/hidden-sugar'>added sugar</a>.  We also have <a href='/misc/fats'>healthier fats</a> from the <a href='/misc/nuts#coconut'>coconut oil</a> and <a href='/misc/nuts#almonds'>almond flour</a>, as well as more <a href='/misc/fiber'>fiber</a> and <a href='/misc/nutrient-alphabet#E'>vitamin E</a>.  The removal of <a href='/misc/grains#white-wheat'>white flour</a> removes any <a href='/misc/carbs'>refined starch</a> as well.<br><br>

{% include nutrition.html file=f %}
<br>

I followed all the exact steps of my <a href='/recipes/chocolate-chip-cookies'>Classic Chocolate Chip Cookies</a>, but here's the quick rundown:
<ol>
  <li>Line 2 large <a href='https://amzn.to/45sRAsB'>cookie sheets</a> with parchment paper</li>
  <li>Melt <a href='/misc/nuts#coconut'>coconut oil</a> in a <a href='https://amzn.to/4adxMft'>large glass bowl</a>.  Beat in the <a href='https://amzn.to/4ceFnvP'>granulated monk fruit</a>, <a href='/misc/meat#eggs'>egg</a>, vanilla, baking soda, and salt until smooth.  Mix in the cornstarch and <a href='/misc/nuts#almonds'>almond flour</a> with a <a href='https://amzn.to/40F2aK0'>silicone spatula</a>.  Fold in the <a href='/misc/chocolate-benefits'>chocolate chips</a></li>
  <li>Chill the dough for 30+ minutes in the bowl</li>
  <li>After the chill, preheat oven to 350F</li>
  <li>Scoop the cookies into 1.5 tbsp sized balls, about 22 grams each.  Add to the <a href='https://amzn.to/45sRAsB'>cookie sheet</a>, and press them down to a 1/2" thick circle</li>
  <li>Bake at 350F for ~10 minutes, or until the edges and bottoms are lightly browned.  Let cool on the sheet for 5 minutes before transferring to a <a href='https://amzn.to/4qQNmn2'>wire rack</a></li>
</ol>

<div id='cookies-results' class='table-of-contents'></div><br>
<i><font size='+2'>Results</font></i><br>
The result is (drumroll please.....) fine.  First of all, I expected these <a href='/cookies'>cookies</a> to not spread at all due to the lack of <a href='/misc/hidden-sugar'>sugar</a>.  So I pressed them down as wide and flat as I'd want them to be.  While there's <a href='/misc/hidden-sugar'>no sugar</a>, the cookies still spread a decent bit, likely because of the <a href='/misc/nuts#coconut'>coconut oil</a>.  So they did run into each other a little bit.  There is also a slight <a href='/misc/fake-healthy-foods#sugar-substitutes'>sugar alcohol</a> cooling aftertaste effect going on with these, as well as being less sweet overall.<br><br>

<img src='/assets/Misc/Experiments/Healthier Brownies Cookies/cookies-raw.jpg' alt='' class='instruction-image'><br>

<img src='/assets/Misc/Experiments/Healthier Brownies Cookies/cookies-baked.jpg' alt='' class='instruction-image'><br>

The cookies themselves held their shapes decently, definitely not falling apart in your hand, but they're quite crumbly.  More like the texture of a Tate's <a href='/cookies'>cookie</a> than a typical homemade <a href='/cookies'>cookie</a>.  Some people prefer those crunchy <a href='/cookies'>cookies</a>, but I like mine softer personally.<br><br>

I also did a mix of <a href='https://amzn.to/4kGEfC5'>sugar free chocolate chips</a> in half of the dough, and homemade <a href='/recipes/monkfruit-chocolate-chunks'>Monk Fruit Chocolate Chunks</a> in the other half.  The <a href='/misc/chocolate-benefits'>chocolate chips</a> definitely gave it more of a <a href='/recipes/chocolate-chip-cookies'>standard cookie</a> feel.<br><br>

<img src='/assets/Misc/Experiments/Healthier Brownies Cookies/cookies-cover.jpg' alt='' class='instruction-image'><br>

While the actual baked cookies were just kinda okay, the raw cookie dough was great. Just like the baked brownies, the raw cookie dough was probably about 90% as good as a standard raw cookie dough in terms of taste and texture. If you're a fan of edible cookie dough, I'd totally recommend making this recipe, and just swap the egg for any kind of milk (3 tbsp, 45 g).<br><br>

<a href='/recipes/best-healthy-cookie-dough'><img src='/assets/Misc/Experiments/Healthier Brownies Cookies/cookie-dough-bite.jpg' alt='' class='instruction-image'></a>

<div id='cookies-analysis' class='table-of-contents'></div><br>
<i><font size='+2'>Analysis</font></i><br>
Overall though, these <a href='/cookies'>cookies</a> somewhat lacked that buttery and chewy goodness characteristic of a <a href='/recipes/chocolate-chip-cookies'>standard chocolate chip cookie</a>.  They're still pretty good though.  But while the <a href='#brownies-experiment'>experimental brownies</a> were nearly identical to the <a href='#brownies-control'>control group</a>, these experimental cookies just <i>feel</i> like a <a href='/misc/celiac'>gluten free</a> <a href='/cookies'>cookie</a>.  Which makes sense; <a href='/cookies'>cookies</a> use much more flour than <a href='/brownies'>brownies</a>, so they're harder to make <a href='/misc/celiac'>gluten free</a>.  At least they don't taste "healthy", but people will know that there's something up with these.  Sorry.<br><br>

The upside of this experiment is that the process and result of making these are nearly identical to <a href='/recipes/chocolate-chip-coookies'>standard cookies</a>, just with healthier swaps.  While I prefer to make my own <a href='/recipes/monkfruit-chocolate-chunks'>homemade sugar free chocolate</a>, most other people would opt for using a bag of <a href='https://amzn.to/4kGEfC5'>sugar free chocolate chips</a>, which works all the same.<br><br>

Taking a look back at many of my <a href='/cookies'>healthy cookie recipes</a>, the best ones by far are my <a href='/recipes/keto-chocolate-chip-cookies'>Keto Chocolate Chip Cookies</a>.  And while those are fantastic, I do recognize that less people would be willing to check them out because of the <a href='/misc/nuts#cashews'>cashew butter</a>.

<div id='cookies-compare' class='table-of-contents'></div><br>
<i><font size='+2'>Nutritional Comparison</font></i><br>
{% assign files =
    "cookies,"
    | append: "cookieshealthier1"
    | split: ","
%}
{% assign titles =
    "<a href='#cookies-control'>Control</a>,"
    | append: "<a href='#cookies-experiment'>Experiment</a>"
    | split: ","
%}
{% assign nutrients =
    "Calories,"
    | append: "Protein,"
    | append: "Fat,"
    | append: "Fiber,"
    | append: "Net Carbs,"
    | append: "Added Sugar,"
    | append: "Sugar Alcohol,"
    | append: "Glycemic Index"
    | split: ","
%}
{% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" %}

<div id='conclusion' class='table-of-contents'></div><hr>
<u><font size='+2'>Conclusion</font></u><br>
In conclusion, I've proved that you can both have your cake and eat it too (or in this case, have your brownies).  At least when it comes to the brownies, you can simply swap <a href='/misc/hidden-sugar'>white sugar</a>, <a href='/misc/dairy#butter'>butter</a>, and <a href='/misc/grains#white-wheat'>white flour</a> for <a href='https://amzn.to/4ceFnvP'>granulated monk fruit</a>, <a href='/misc/nuts#coconut'>coconut oil</a>, and <a href='/misc/nuts#almonds'>almond flour</a>, and end up with a significantly <a href='/brownies'>healthier brownie</a> that's 90% as good.<br><br>

On the other hand, the same does not quite hold true for cookies.  These had quite a bit of a different texture and taste, but still resulted in a passable cookie.  I'd recommend giving it a try just to experience the difference for yourself.<br><br>

It is true that neither of the <a href='#contents'>experimental recipes</a> are <a href='/misc/calories'>low calorie</a> due to all the <a href='/misc/fats'>fat</a> from the <a href='/misc/nuts#coconut'>coconut oil</a> and <a href='/misc/nuts#almonds'>almond flour</a>.  However, both <a href='#contents'>recipes</a> are <a href='/misc/hidden-sugar'>sugar free</a>, <a href='/misc/celiac'>gluten free</a>, and <a href='/misc/grains#white-wheat'>free of refined flours</a>.  They're also higher in <a href='/misc/fats'>healthy fats</a>, <a href='/misc/fiber'>fiber</a>, <a href='/misc/protein'>protein</a>, and <a href='/misc/nutrient-alphabet'>vitamins and minerals</a>.<br><br>

And most importantly, the brownies feel as close as you can get to <a href='/recipes/brownies'>standard brownies</a> as possible in terms of ingredients list, preparation, taste, and texture.  I hope you give the <a href='#brownies-experiment'>brownie recipe</a> in particular a go and let me know what you think!<br><br>

The main difference is that both the cookies and the brownies have a mild cooling effect from the erythritol in the sweetener.  Do you know what else has a cooling effect?  That's right, mint.  You can very easily "pass off" the cooling taste as mint by adding in 1/4 tsp (1.25 g) mint extract for a mint chocolate chip cookie or mint chocolate brownie.<br><br>

As the baked brownies and raw cookie dough were quite successful, I've isolated those recipes and put them in their own posts if you'd like to try for yourselves.  Please check out The Best Healthy Brownies Recipe and The Best Healthy Cookie Dough for full written versions!<br><br>

<a href='/recipes/best-healthy-brownies'><img src='/assets/Misc/Experiments/Healthier Brownies Cookies/brownies-cover.jpg' alt='' class='instruction-image'></a><br>

<a href='/recipes/best-healthy-cookie-dough'><img src='/assets/Misc/Experiments/Healthier Brownies Cookies/cookie-dough-bite.jpg' alt='' class='instruction-image'></a>

<div id='sources' class='table-of-contents'></div><hr>
<u><font size='+2'>Sources</font></u><br>
<ol>
    <li><a href='https://www.flaticon.com/'>Flaticon</a></li>
    <li><a href='https://www.nutritionvalue.org/'>Nutrition Value</a></li>
    <li><a href='https://www.poormanprotein.com/recipes/brownies'>Classic Fudgy Brownies</a></li>
    <li><a href='https://www.poormanprotein.com/recipes/chocolate-chip-cookies'>Classic Chocolate Chip Cookies</a></li>
    <li><a href='https://www.poormanprotein.com/misc/healthier-brownies-experiment'>(Deleted) Making Brownies Healthier</a></li>
    <li><a href='https://www.poormanprotein.com/misc/healthier-cookies-experiment'>(Deleted) Making Cookies Healthier</a></li>
</ol>
