{% assign gluten_free = "true" %}
{% assign vegetarian = "true" %}
{% assign dairy_free = "true" %}
{% assign vegan = "true" %}
{% assign nut_free = "true" %}
{% assign sugar_free = "true" %}
{% assign high_protein = "true" %}

<!-- Use parameters or not -->
{% assign ing = page.ing %}
{% assign facts = page.facts %}
{% if include.ing %}
    {% assign ing = include.ing %}
    {% assign facts = include.facts %}
{% elsif include.file %}
    {% assign file = include.file %}
    {% assign ing = file | append: "-ing" %}
    {% assign facts = file | append: "-facts" %}
{% elsif post.file %}
    {% assign file = post.file %}
    {% assign ing = file | append: "-ing" %}
    {% assign facts = file | append: "-facts" %}
{% endif %}

<!-- Loop through ingredients file to determine allergens -->
{% for row in site.data[ing] %}
    {% if forloop.last %}
        {% continue %}
    {% else %}
        {% assign food = row["Ingredient"] %}

        <!-- Check for allergies in the foods data file -->
        {% for food_row in site.data.foods %}
            {% if food == food_row["Food"] %}
                {% if food_row["Gluten Free"] == "FALSE" %}
                    {% assign gluten_free = "false" %}
                {% endif %}
                {% if food_row["Vegetarian"] == "FALSE" %}
                    {% assign vegetarian = "false" %}
                {% endif %}
                {% if food_row["Dairy Free"] == "FALSE" %}
                    {% assign dairy_free = "false" %}
                {% endif %}
                {% if food_row["Vegan"] == "FALSE" %}
                    {% assign vegan = "false" %}
                {% endif %}
                {% if food_row["Nut Free"] == "FALSE" %}
                    {% assign nut_free = "false" %}
                {% endif %}
                {% if food_row["Sugar Free"] == "FALSE" %}
                    {% assign sugar_free = "false" %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

<!-- Loop through facts file to determine if high protein -->
{% assign calories = "0" %}
{% assign protein = "0" %}
{% for row in site.data[facts] %}
    {% assign nutrient = row["Nutrient"] %}
    {% assign amount = row["Amount"] %}

    {% if nutrient == "Calories" %}
        {% assign calories = amount %}
    {% elsif nutrient == "Protein" %}
        {% assign protein = amount %}
    {% endif %}
{% endfor %}

<!-- Determine if high protein -->
{% assign calories = calories | plus: 0 | floor %}
{% assign protein = protein | plus: 0 | ceil %}
{% assign protein_per_100kcal = 0 %}

{% if calories > 0 %}
  {% assign protein_per_100kcal = protein | times: 100 | divided_by: calories %}
{% endif %}

{% if protein_per_100kcal >= 10 %}
    {% assign high_protein = "true" %}
{% else %}
    {% assign high_protein = "false" %}
{% endif %}

{% comment %}
    protein_per_100kcal:"{{protein_per_100kcal}}"<br>
    high_protein:"{{high_protein}}"<br>
{% endcomment %}

{% if post.categories[0] == "Misc." and post.categories[1] != "Unhealthy Recipes" %}
    {% assign gluten_free = "false" %}
    {% assign vegetarian = "false" %}
    {% assign dairy_free = "false" %}
    {% assign vegan = "false" %}
    {% assign nut_free = "false" %}
    {% assign sugar_free = "false" %}
    {% assign high_protein = "false" %}
{% endif %}