{% if
    page.layout == "home" or
    (page.layout == "post" and page.categories[1] == "Unhealthy Recipes") or
    (page.layout == "post" and page.categories[0] != "Misc.")
%}

    {% unless page.title == "Food/Nutrition Meme Dump" %}

        <!-- Use parameters or not -->
        {% assign ing = page.ing %}
        {% assign facts = page.facts %}
        {% if include.ing %}
            {% assign ing = include.ing %}
            {% assign facts = include.facts %}
        {% elsif include.file %}
            {% assign file = include.file %}
            {% assign ing = file | append: "-ing" %}
            {% assign ing = facts | append: "-facts" %}
        {% elsif page.file %}
            {% assign file = page.file %}
            {% assign ing = file | append: "-ing" %}
            {% assign facts = file | append: "-facts" %}
        {% endif %}

        {% if page.layout == "home" %}
            {% assign file = post.file %}
            {% assign ing = file | append: "-ing" %}
            {% assign facts = file | append: "-facts" %}
        {% endif %}

        <!-- Default case: everything is allergen friendly -->
        {% assign gluten-free = "true" %}
        {% assign vegetarian = "true" %}
        {% assign dairy-free = "true" %}
        {% assign vegan = "true" %}
        {% assign nut-free = "true" %}
        {% assign sugar-free = "true" %}
        {% assign high-protein = "true" %}

        <!-- Loop through ingredients file -->
        {% for row in site.data[ing] %}
            {% if forloop.last %}
                {% continue %}
            {% else %}

                <!-- Current food -->
                {% assign food = row["Ingredient"] %}

                <!-- Loop through foods file checking for allergies -->
                {% for row1 in site.data.foods %}
                    {% if food == row1["Food"] %}

                        {% if row1["Gluten Free"] == "FALSE" %}
                            {% assign gluten-free = "false" %}
                        {% endif %}

                        {% if row1["Vegetarian"] == "FALSE" %}
                            {% assign vegetarian = "false" %}
                        {% endif %}

                        {% if row1["Dairy Free"] == "FALSE" %}
                            {% assign dairy-free = "false" %}
                        {% endif %}

                        {% if row1["Vegan"] == "FALSE" %}
                            {% assign vegan = "false" %}
                        {% endif %}

                        {% if row1["Nut Free"] == "FALSE" %}
                            {% assign nut-free = "false" %}
                        {% endif %}

                        {% if row1["Sugar Free"] == "FALSE" %}
                            {% assign sugar-free = "false" %}
                        {% endif %}

                    {% endif %}
                {% endfor %}

            {% endif %}
        {% endfor %}

        <!-- Determine if high protein -->
        {% assign calories = "0" %}
        {% assign protein = "0" %}
        {% for row in site.data[facts] %}
            {% assign nutrient = row["Nutrient"] %}
            {% assign amount = row["Amount"] %}

            {% if nutrient == "Calories" %}
                {% assign calories = amount %}
            {% elsif nutrient == "Protein" %}
                {% assign protein = amount %}
            {% endif %}
        {% endfor %}

        <!-- Determine if high protein -->
        {% assign calories = calories | plus: 0 | floor %}
        {% assign protein = protein | plus: 0 | ceil %}
        {% assign protein_per_100kcal = 0 %}

        {% if calories > 0 %}
            {% assign protein_per_100kcal = protein | times: 100 | divided_by: calories %}
        {% endif %}

        {% if protein_per_100kcal >= 10 %}
            {% assign high_protein = "true" %}
        {% else %}
            {% assign high_protein = "false" %}
        {% endif %}

        protein_per_100kcal:"{{protein_per_100kcal}}"<br>
        high_protein:"{{high_protein}}"<br>

        <!-- Print allergen info -->
        <center>
            {% if gluten-free == "true" %}
                <span class='allergen gluten-free' title="Gluten Free">GF</span>
            {% endif %}

            {% if vegetarian == "true" %}
                <span class='allergen vegetarian' title="Vegetarian">V</span>
            {% endif %}

            {% if dairy-free == "true" %}
                <span class='allergen dairy-free' title="Dairy Free">DF</span>
            {% endif %}

            {% if vegan == "true" %}
                <span class='allergen vegan' title="Vegan">VG</span>
            {% endif %}

            {% if nut-free == "true" %}
                <span class='allergen nut-free' title="Nut Free">NF</span>
            {% endif %}

            {% if sugar-free == "true" %}
                <span class='allergen sugar-free' title="Sugar Free">SF</span>
            {% endif %}

            {% if high-protein == "true" %}
                <span class='allergen high-protein' title="High Protein">HP</span>
            {% endif %}
        </center>

    {% endunless %}

{% endif %}
