<center>
    <span>
      <a onclick="window.print()" target="_blank">
          <img src="/assets/Other/print.jpg" alt="" class="button-image">
      </a>
      <!-- <a href="http://www.duckduckgo.com" target="_blank">
        <img src="/assets/Other/print.jpg" alt="" class="button-image">
      </a> -->
      <a rel="" target="" href="#disqus_thread">
        <img src="/assets/Other/comment.jpg" alt="" class="button-image">
      </a>
      <br>{% include share-buttons.html %}
      <br><br>
    </span>
  </center>