<!-- Variables -->
{% assign recipeCost = 0 %}
{% assign servings = 0 %}

<!-- Loop Variable -->
{% assign loopVar = site.data[include.ing] %}
{% if include.folder %}
    {% assign folder = include.folder %}
    {% assign loopVar = site.data[folder][include.ing] %}
{% endif %}

<!-- Loop through all the ingredients -->
{% for row in loopVar %}
    <!-- Get # of servings -->
    {% if forloop.last %}
        {% assign servings = row["Amount"] | times: 1 %}
        {% continue %}
    {% endif %}

    <!-- Get the food and gram measurements -->
    {% assign food = row["Ingredient"] %}
    {% assign mass = row["Amount"] | times: 1.0 %}

    <!-- Variable for food file -->
    {% assign unitCost = "" %}

    <!-- Loop through rows of food file -->
    {% for row in site.data.foods %}
        <!-- Assign unit cost -->
        {% if row["Food"] == food %}
            {% assign unitCost = row["Unit Cost ($/g)"] | times: 1.0 %}
            {% break %}
        {% endif %}
    {% endfor %}

    <!-- No match found -->
    {% if unitCost == "" %}
        {% assign unitCost = -9999 | times: 1.0 %}
    {% endif %}

    <!-- Calculate cost -->
    {% assign itemCost = unitCost | times: mass %}
    {% assign recipeCost = recipeCost | plus: itemCost %}
{% endfor %}

<!-- Calculate cost -->
{% assign servingCost = recipeCost | divided_by: servings %}
{% assign totalCost = recipeCost %}

<!-- Format recipe cost with 2 decimal places -->
{% assign formattedServingCost = servingCost | round: 2 %}
{% assign formattedtotalCost = totalCost | round: 2 %}

<!-- Format cost to ensure two decimal places -->
{% assign servingCostString = formattedServingCost | remove: ',' %}
{% assign totalCostString = formattedtotalCost | remove: ',' %}

<!-- 2 Decimal Places -->
{% assign servingParts = servingCostString | split: "." %}
{% assign totalParts = totalCostString | split: "." %}
{% assign servingDecimals = servingParts[1] | append: "00" | slice: 0, 2 %}
{% assign totalDecimals = totalParts[1] | append: "00" | slice: 0, 2 %}
{% assign servingCostString = servingParts[0] | append: "." | append: servingDecimals %}
{% assign totalCostString = totalParts[0] | append: "." | append: totalDecimals %}

<!-- Print cost -->
{% if include.total == "true" %}
    ${{ totalCostString }}
{% else %}
    ${{ servingCostString }}
{% endif %}
