{% assign files = include.files %}
{% assign titles = include.titles %}
{% assign nutrients = include.nutrients %}
{% assign pic = include.pic %}
{% assign scroll = include.scroll %}
{% assign last_index = nutrients.size | minus: 1 %}

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Nutrient</th>
                {% for t in titles %}
                    <th>{{ t }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for i in (0..last_index) %}
                <tr>
                    <td>{{ nutrients[i] }}</td>
                    
                    {% assign nutrient = nutrients[i] %}

                    {% if 
                        nutrient == "Calories" or
                        nutrient == "Cholesterol" or
                        nutrient == "Sodium" or
                        nutrient == "Choline" or
                        nutrient == "Calcium" or
                        nutrient == "Magnesium" or
                        nutrient == "Phosphorus" or
                        nutrient == "Potassium"   
                    %}
                        {% assign rnd = "0" %}
                    {% elsif 
                        nutrient == "Protein" or 
                        nutrient == "Fat" or 
                        nutrient == "Saturated Fat" or
                        nutrient == "Trans Fat" or
                        nutrient == "Polyunsaturated Fat" or
                        nutrient == "Monounsaturated Fat" or
                        nutrient == "Carbs" or 
                        nutrient == "Net Carbs" or 
                        nutrient == "Fiber" or 
                        nutrient == "Sugar" or
                        nutrient == "Sugar Alcohol" or
                        nutrient == "Added Sugar" or
                        nutrient == "Allulose" or
                        nutrient == "Vitamin A" or
                        nutrient == "Vitamin B3" or
                        nutrient == "Vitamin B5" or
                        nutrient == "Vitamin B9" or
                        nutrient == "Vitamin C" or
                        nutrient == "Vitamin K" or
                        nutrient == "Selenium"
                    %}
                        {% assign rnd = "1" %}
                    {% elsif 
                        nutrient == "Vitamin B1" or
                        nutrient == "Vitamin B2" or
                        nutrient == "Vitamin B6" or
                        nutrient == "Vitamin B12" or
                        nutrient == "Vitamin D" or
                        nutrient == "Vitamin E" or
                        nutrient == "Copper" or
                        nutrient == "Iron" or
                        nutrient == "Manganese" or
                        nutrient == "Zinc" or
                        nutrient == "Histidine" or
                        nutrient == "Isoleucine" or
                        nutrient == "Leucine" or
                        nutrient == "Lysine" or
                        nutrient == "Methionine" or
                        nutrient == "Phenyalanine" or
                        nutrient == "Threonine" or
                        nutrient == "Tryptophan" or
                        nutrient == "Valine" or
                        nutrient == "Caffeine"
                    %}
                        {% assign rnd = "2" %}
                    {% else %}
                        {% assign rnd = "0" %}
                    {% endif %}

                    {% for f in files %}
                        <td>
                            {% assign ing_file = f | append: "-ing" %}
                            {% assign facts_file = f | append: "-facts" %}

                                {% include getNutrient.html 
                                    ing=ing_file 
                                    facts=facts_file 
                                    servingSize="100" 
                                    nutrient=nutrient 
                                    fetch="perServing" 
                                    rnd=rnd
                                %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if include.scroll and scroll == "true" %}
    <i>Scroll to the right to read information about every variation</i><br><br>
{% endif %}

{% if include.pic %}
    <center><img src="{{ pic }}" alt="" class="smaller-image"></center><br>
{% endif %}
<hr>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        table-layout: auto;
        text-align: center;
    }

    th, td {
        text-align: center;
        white-space: nowrap;
        word-wrap: break-word;
    }

    td:first-child, th:first-child {
        position: sticky;
        left: 0;
        background-color: var(--minima-table-header-bg-color);
        z-index: 5;
        font-weight: bold;
    }

    .table-container {
        overflow-x: auto; /* Adds horizontal scrolling if needed */
        max-width: 100%;
    }
</style>