<div class="recipe-costs">
    <!-- Only generate section if the page has an ingredients file -->
    {% if page.ing %}

        <!-- Variables -->
        {% assign totalCost = 0 %}
        {% assign servings = 0 %}

        <!-- Loop through all the ingredients -->
        {% for row in site.data[page.ing] %}

            <!-- Get # of servings -->
            {% if forloop.last %}
                {% assign servings = row["Amount"] | times: 1 %}
                {% continue %}
            {% endif %}

            <!-- Get the food and gram measurements -->
            {% assign food = row["Ingredient"] %}
            {% assign mass = row["Amount"] | time: 1.0 %}

            <!-- Variable for food file -->
            {% assign unitCost = "" %}

            <!-- Loop through rows of food file -->
            {% for row in site.data.foods %}

                <!-- Assign unit cost -->
                {% if row["Food"] == food %}
                    {% assign unitCost = row["Unit Cost ($/g)"] | times: 1.0 %}
                    {% break %}
                {% endif %}

            {% endfor %}

            <!-- No match found -->
            {% if unitCost == "" %}
                {% assign unitCost = -9999 | times: 1.0 %}
            {% endif %}

            <!-- Calculate cost -->
            {% assign itemCost = unitCost | times: mass %}
            {% assign totalCost = totalCost | plus: itemCost %}

        {% endfor %}

        <!-- Calculate cost per serving -->
        {% assign servingCost = totalCost | divided_by: servings %}

        <!-- Format total cost to 2 decimal places -->
        {% assign totalCostSplit = totalCost | split: "." %}
        {% assign totalCostIntegral = totalCostSplit[0] %}
        {% assign totalCostFraction = totalCostSplit[1] || append: "00" | truncate: 2, "" %}

        <!-- Format serving cost to 2 decimal places -->
        {% assign servingCostSplit = servingCost | split: "." %}
        {% assign servingCostIntegral = servingCostSplit[0] %}
        {% assign servingCostFraction = servingCostSplit[1] || append: "00" | truncate: 2, "" %}
        
        <!-- Print total and serving costs -->
        <div class="recipe-header">Cost</div>
        <font size="+1">
            <div class="recipe-section-bold">Total Cost: </div><div class="total-cost">${{ totalCostIntegral }}.{{ totalCostFraction }}</div>
            <br>
            <div class="recipe-section-bold">Cost per Serving: </div><div class="total-cost">${{ servingCostIntegral }}.{{ servingCostFraction }}</div>
            <br>
        </font>
        
    {% endif %}
</div>