{% assign category = include.category %}
{% assign descriptions = include.descriptions %}
{% assign nutrients = include.nutrients %}

{% assign items = site.data.nutrition | where: "Category", category %}
{% assign last_index = items.size | minus: 1 %}

{% for i in (0..last_index) %}
    {% assign item = items[i] %}
    <div id="{{ item.File }}" class='table-of-contents'></div><br>
    <div class='food-header'>
        {% assign title = item.Name | replace: "<br>", " " %}
        {% assign title = title | replace: "(Canned)", "" %}
        <font size="+2"><i><a href="{{ item.URL }}" target="_blank" rel="noopener noreferrer">{{ title }}</a></i></font>
        <a href="#contents">Table of Contents</a>
    </div><br>

    {{ descriptions[i] }}
    <hr>

    {% assign facts_file = item.File | append: "-facts" %}

    {% assign nF = site.data.servingSizes[facts_file] %}
    {%
        include servingSizeInfo.html
        vol1=item.Vol
        gram1=item.Mass
        nutritionFacts=nF
        nutrients=nutrients
    %}

    {% assign folder = category | capitalize %}
    <br>
<div class="image-row">
        <img src='/assets/Misc/Nutrition/{{ folder }}/{{ item.File }}.png' alt='' class='smaller-image'>
</div>
    <hr>
{% endfor %}
