<!-- Included variables -->
{% assign facts = include.facts %}
{% assign servingSize = include.servingSize | plus: 0 %}
{% assign nutrient = include.nutrient %}
{% assign fetch = include.fetch %}
{% assign rnd = include.rnd %}
{% assign ing = include.ing %}

<!-- Loop variables -->
{% assign loopVarFacts = site.data.servingSizes[facts] %}
{% assign loopVarIng = site.data.servingSizes[ing] %}

{% if page.title == "Copycat Barebell Protein Bars" %}
    {% assign loopVarFacts = site.data.barbell[facts] %}
    {% assign loopVarIng = site.data.barbell[ing] %}
{% elsif page.title == "Improving the Pinto Bean Cake" %}
    {% assign loopVarFacts = site.data.bean-cake[facts] %}
    {% assign loopVarIng = site.data.bean-cake[ing] %}
{% elsif page.title == "___ + Eggs = Waffles??" %}
    {% assign loopVarFacts = site.data.waffle[facts] %}
    {% assign loopVarIng = site.data.waffle[ing] %}
{% elsif page.title == "Flourless Keto Brownies (2 g Net Carbs)" or page.title == "Keto Chocolate Chip Cookies (3 g Net Carbs)" or page.title == "No Nut Protein Banana Bread" or page.title == "1,000 Calorie Bulking Breakfast" or page.title == "No Bake Homemade Tiramisù" %}
    {% assign loopVarFacts = site.data[facts] %}
    {% assign loopVarIng = site.data[ing] %}
{% elsif page.title == "DIY Yogurt" %}
    {% assign loopVarFacts = site.data.diy-yogurt[facts] %}
    {% assign loopVarIng = site.data.diy-yogurt[ing] %}
{% elsif page.title == "Cottage Cheese Flatbread" %}
    {% assign loopVarFacts = site.data.cc-flatbread[facts] %}
    {% assign loopVarIng = site.data.cc-flatbread[ing] %}
{% endif %}

<!-- Show DV % -->
{% assign showPercentage = "True" %}
{% if 
    page.title == "Fiber: Happiness is a Good Poop" or
    page.title == "I Run on Iron" or
    page.title == "Mag-nificent: The Mighty Mineral for Muscles and Mind" or
    page.title == "A Monkey Never Cramps: Why You Need Potassium" or
    page.title == "A Pinch of Life: Why Your Body Needs Sodium" or
    page.title == "Copycat Barebell Protein Bars" or
    page.title == "Improving the Pinto Bean Cake" or
    page.title == "___ + Eggs = Waffles??" or
    page.title == "Let's Meet The Meats" or
    page.title == "I'm Nuts For Nuts" or
    page.title == "Beans Beans The Musical Fruit" or
    page.title == "I See Seeds In Your Future" or
    page.title == "Going Bananas For Bananas" or
    page.title == "Lettuce Turnip The Beet" or
    page.title == "I'm Hooked On Fish" or
    page.title == "A Grain Of Truth" or
    page.title == "I'm Dying For Dairy" or
    page.title == "B-Ware the Deficiency: The Power of B12" or
    page.title == "Flourless Keto Brownies (2 g Net Carbs)" or
    page.title == "Keto Chocolate Chip Cookies (3 g Net Carbs)" or
    page.title == "No Nut Protein Banana Bread" or
    page.title == "1,000 Calorie Bulking Breakfast" or
    page.title == "(Vitamin) C You Later, Sickness!" or
    page.title == "Got Calcium?" or
    page.title == "Phosphorus: Fuel For Bones & Beyond" or
    page.title == "Cholesterol: Yay or Nay?" or
    page.title == "DIY Yogurt" or
    page.title == "Cottage Cheese Flatbread" or
    page.title == "No Bake Homemade Tiramisù"
%}
    {% assign showPercentage = "False" %}
{% endif %}

<!-- Only run if there's a nutrtion facts file -->
{% if facts %}

    <!-- Variables -->
    {% assign cal = "0" %}

    {% assign fat = "0.0g (0 %)" %}
    {% assign sat = "0.0g (0 %)" %}
    {% assign trans = "0.0g (0 %)" %}
    {% assign poly = "0.0g (0 %)" %}
    {% assign mono = "0.0g (0 %)" %}
    {% assign choles = "0mg (0 %)" %}

    {% assign sod = "0mg (0 %)" %}

    {% assign carb = "0.0g (0 %)" %}

    {% assign carb = "0.0g (0 %)" %}
    {% assign totalCarb = 0.0 %}
    {% assign netCarb = 0.0 %}

    {% assign fib = "0.0g (0 %)" %}
    {% assign totalFib = 0.0 %}
    {% assign sugAlc = 0.0 %}
    {% assign all = 0.0 %}

    {% assign sug = "0.0g (0 %)" %}
    {% assign totalSugar = 0.0 %}
    {% assign addedSugar = 0.0 %}
    {% assign addedSugarStr = "0.0g (0 %)"" %}

    {% assign prot = "0.0g (0 %)" %}

    {% assign vitA = "0.0mcg (0 %)" %}
    {% assign vitB1 = "0.00mg (0 %)" %}
    {% assign vitB2 = "0.00mg (0 %)" %}
    {% assign vitB3 = "0.0mg (0 %)" %}
    {% assign vitB5 = "0.0mg (0 %)" %}
    {% assign vitB6 = "0.00mg (0 %)" %}
    {% assign vitB9 = "0.0mcg (0 %)" %}
    {% assign vitB12 = "0.0mcg (0 %)" %}
    {% assign vitC = "0.0mg (0 %)" %}
    {% assign vitD = "0.00mcg (0 %)" %}
    {% assign vitE = "0.00mg (0 %)" %}
    {% assign vitK = "0.0mcg (0 %)" %}
    {% assign choline = "0mg (0 %)" %}

    {% assign calc = "0mg (0 %)" %}
    {% assign cop = "0.00mg (0 %)" %}
    {% assign iron = "0.00mg (0 %)" %}
    {% assign magn = "0mg (0 %)" %}
    {% assign mang = "0.00mg (0 %)" %}
    {% assign phos = "0mg (0 %)" %}
    {% assign pot = "0mg (0 %)" %}
    {% assign sel = "0.0mcg (0 %)" %}
    {% assign zinc = "0.00mg (0 %)" %}

    {% assign histidine = "0.0g (0 %)" %}
    {% assign isoleucine = "0.0g (0 %)" %}
    {% assign leucine = "0.0g (0 %)" %}
    {% assign lysine = "0.0g (0 %)" %}
    {% assign methionine = "0.0g (0 %)" %}
    {% assign phenylalanine = "0.0g (0 %)" %}
    {% assign threonine = "0.0g (0 %)" %}
    {% assign tryptophan = "0.0g (0 %)" %}
    {% assign valine = "0.0g (0 %)" %}

    <!-- Loop to get nutrition facts -->
    {% for row in loopVarFacts %}
        {% for pair in row %}
            {% assign dv = "" %}
            {% if row.DV %}
                {% assign dv = '&nbsp;(' | append: row.DV | append: ')' %}
            {% endif %}

            {% assign line0 = row.Amount | plus: 0 | round: 0 | append: row.Unit | append: dv %}
            {% assign line1 = row.Amount | plus: 0 | round: 1 | append: row.Unit | append: dv %}
            {% assign line2 = row.Amount | plus: 0 | round: 2 | append: row.Unit | append: dv %}
            {% assign line3 = row.Amount | plus: 0 | round: 3 | append: row.Unit | append: dv %}

            {% if pair[1] == "Calories" %}
                {% assign cal = line0 %}
            {% endif %}

            {% if pair[1] == "Fat" %}
                {% assign fat = line1 %}
            {% endif %}

            {% if pair[1] == "Saturated fatty acids" %}
                {% assign sat = line1 %}
            {% endif %}

            {% if pair[1] == "Fatty acids, total trans" %}
                {% assign trans = line1 %}
            {% endif %}

            {% if pair[1] == "Polyunsaturated fatty acids" %}
                {% assign poly = line1 %}
            {% endif %}

            {% if pair[1] == "Monounsaturated fatty acids" %}
                {% assign mono = line1 %}
            {% endif %}

            {% if pair[1] == "Cholesterol" %}
                {% assign choles = line0 %}
            {% endif %}

            {% if pair[1] == "Sodium" %}
                {% assign sod = line0 %}
            {% endif %}        

            {% if pair[1] == "Carbohydrate" %}
                {% assign carb = line1 %}
                {% assign totalCarb = row.Amount | plus: 0 | round: 1 %}
            {% endif %}

            {% if pair[1] == "Fiber" %}
                {% assign fib = line1 %}
                {% assign totalFib = row.Amount | plus: 0 | round: 1 %}
            {% endif %}

            {% if pair[1] == "Sugars" %}
                {% assign sug = line1 %}
                {% assign totalSugar = row.Amount | plus: 0 | round: 1 %}
            {% endif %}

            {% if pair[1] == "Protein" %}
                {% assign prot = line1 %}
            {% endif %}

            {% if pair[1] == "Vitamin A, RAE" %}
                {% assign vitA = line1 %}
            {% endif %}

            {% if pair[1] == "Thiamin [Vitamin B1]" %}
                {% assign vitB1 = line2 %}
            {% endif %}

            {% if pair[1] == "Riboflavin [Vitamin B2]" %}
                {% assign vitB2 = line2 %}
            {% endif %}

            {% if pair[1] == "Niacin [Vitamin B3]" %}
                {% assign vitB3 = line1 %}
            {% endif %}

            {% if pair[1] == "Pantothenic acid [Vitamin B5]" %}
                {% assign vitB5 = line1 %}
            {% endif %}

            {% if pair[1] == "Vitamin B6" %}
                {% assign vitB6 = line2 %}
            {% endif %}

            {% if pair[1] == "Folate, DFE [Vitamin B9]" %}
                {% assign vitB9 = line1 %}
            {% endif %}

            {% if pair[1] == "Vitamin B12 [Cobalamin]" %}
                {% assign vitB12 = line2 %}
            {% endif %}

            {% if pair[1] == "Vitamin C [Ascorbic acid]" %}
                {% assign vitC = line1 %}
            {% endif %}

            {% if pair[1] == "Vitamin D" %}
                {% assign vitD = line2 %}
            {% endif %}

            {% if pair[1] == "Vitamin E (alpha-tocopherol)" %}
                {% assign vitE = line2 %}
            {% endif %}

            {% if pair[1] == "Vitamin K" %}
                {% assign vitK = line1 %}
            {% endif %}

            {% if pair[1] == "Choline" %}
                {% assign choline = line0 %}
            {% endif %}

            {% if pair[1] == "Calcium" %}
                {% assign calc = line0 %}
            {% endif %}

            {% if pair[1] == "Copper" %}
                {% assign cop = line2 %}
            {% endif %}

            {% if pair[1] == "Iron" %}
                {% assign iron = line2 %}
            {% endif %}

            {% if pair[1] == "Magnesium" %}
                {% assign magn = line0 %}
            {% endif %}

            {% if pair[1] == "Manganese" %}
                {% assign mang = line2 %}
            {% endif %}

            {% if pair[1] == "Phosphorus" %}
                {% assign phos = line0 %}
            {% endif %}

            {% if pair[1] == "Potassium" %}
                {% assign pot = line0 %}
            {% endif %}

            {% if pair[1] == "Selenium" %}
                {% assign sel = line1 %}
            {% endif %}

            {% if pair[1] == "Zinc" %}
                {% assign zinc = line2 %}
            {% endif %}

            {% if pair[1] == "Histidine" %}
                {% assign histidine = line2 %}
            {% endif %}

            {% if pair[1] == "Isoleucine" %}
                {% assign isoleucine = line2 %}
            {% endif %}

            {% if pair[1] == "Leucine" %}
                {% assign leucine = line2 %}
            {% endif %}

            {% if pair[1] == "Lysine" %}
                {% assign lysine = line2 %}
            {% endif %}

            {% if pair[1] == "Methionine" %}
                {% assign methionine = line2 %}
            {% endif %}

            {% if pair[1] == "Phenylalanine" %}
                {% assign phenylalanine = line2 %}
            {% endif %}

            {% if pair[1] == "Threonine" %}
                {% assign threonine = line2 %}
            {% endif %}

            {% if pair[1] == "Tryptophan" %}
                {% assign tryptophan = line2 %}
            {% endif %}

            {% if pair[1] == "Valine" %}
                {% assign valine = line2 %}
            {% endif %}

        {% endfor %}
    {% endfor %}

    <!-- Default servings -->
    {% assign servings = 1 | times: 1 %}

    <!-- Loop through ingredients and foods.csv -->
    {% for row in loopVarIng %}
        {% if forloop.last %}
            {% assign servings = row["Amount"] | times: 1 %}
            {% continue %}
        {% endif %}

        {% assign food = row["Ingredient"] %}
        {% assign mass = row["Amount"] | times: 1.0 %}

        {% for row in site.data.foods %}

            <!-- Added sugar per ingredient -->
            {% if row["Food"] == food %}
                {% assign itemAddedSugar = row["Add Sug per 100 g"] | times: mass | divided_by: 100 %}
                {% assign addedSugar = addedSugar | plus: itemAddedSugar %}

                {% assign itemSugarAlcohol = row["Sug Alc per 100 g"] | times: mass | divided_by: 100 %}
                {% assign sugAlc = sugAlc | plus: itemSugarAlcohol %}

                {% assign itemAllulose = row["Allulose per 100 g"] | times: mass | divided_by: 100 %}
                {% assign all = all | plus: itemAllulose %}

                {% break %}
            {% endif %}

        {% endfor %}  

    {% endfor %} 

    <!-- Scale down for servings -->
    {% assign addedSugar = addedSugar | divided_by: servings %}
    {% assign sugAlc = sugAlc | divided_by: servings %}
    {% assign all = all | divided_by: servings %}

    <!-- Calc net carbs -->
    {% assign netCarb = totalCarb | minus: totalFib | minus: sugAlc | minus: all %}
    {% if netCarb < 0 %}
        {% assign netCarb = 0.0 %}
    {% endif %}
    {% assign netCarbStr = netCarb | round: 1 | append: 'g' %}

    <!-- Added sugar -->
    {% if addedSugar > totalSugar %}
        {% assign addedSugar = totalSugar %}
    {% endif %}
    {% assign addedSugarStr = addedSugar | round: 1 | append: 'g (' %}

    <!-- Sugar alcohols -->
    {% assign sugAlcStr = sugAlc | round: 1 | append: 'g' %}

    <!-- Allulose -->
    {% assign allStr = all | round: 1 | append: 'g' %}

    <!-- Empty line variable to be filled later -->
    {% assign line = "" %}

    <!-- Multiplier factor -->
    {% assign factor = 1.0 | round: 2 %}
        
    <!-- Assign factor based on what is being asked for -->
    {% if fetch == "perServing" %}
        {% assign factor = servingSize | divided_by: 100.000 | round: 3 %}
    {% endif %}
    {% if fetch == "per100cal" %}
        {% assign factor = 100.000 | divided_by: cal | round: 3 %}
    {% endif %}

    <!-- Find the nutrient -->
    {% if nutrient == "Calories" %}
        {% assign line = cal %}
    {% endif %}

    {% if nutrient == "Fat" %}
        {% assign line = fat %}
    {% endif %}

    {% if nutrient == "Saturated Fat" %}
        {% assign line = sat %}
    {% endif %}

    {% if nutrient == "Trans Fat" %}
        {% assign line = trans %}
    {% endif %}

    {% if nutrient == "Polyunsaturated Fat" %}
        {% assign line = poly %}
    {% endif %}

    {% if nutrient == "Monounsaturated Fat" %}
        {% assign line = mono %}
    {% endif %}

    {% if nutrient == "Cholesterol" %}
        {% assign line = choles %}
    {% endif %}

    {% if nutrient == "Sodium" %}
        {% assign line = sod %}
    {% endif %}

    {% if nutrient == "Carbs" %}
        {% assign line = carb %}
    {% endif %}
    
    {% if nutrient == "Net Carbs" %}
        {% assign line = netCarbStr %}
    {% endif %}

    {% if nutrient == "Fiber" %}
        {% assign line = fib %}
    {% endif %}

    {% if nutrient == "Sugar Alcohol" %}
        {% assign line = sugAlcStr %}
    {% endif %}

    {% if nutrient == "Allulose" %}
        {% assign line = allStr %}
    {% endif %}

    {% if nutrient == "Sugar" %}
        {% assign line = sug %}
    {% endif %}

    {% if nutrient == "Added Sugar" %}
        {% assign line = addedSugarStr %}
    {% endif %}

    {% if nutrient == "Protein" %}
        {% assign line = prot %}
    {% endif %}

    {% if nutrient == "Vitamin A" %}
        {% assign line = vitA %}
    {% endif %}

    {% if nutrient == "Vitamin B1" %}
        {% assign line = vitB1 %}
    {% endif %}

    {% if nutrient == "Vitamin B2" %}
        {% assign line = vitB2 %}
    {% endif %}

    {% if nutrient == "Vitamin B3" %}
        {% assign line = vitB3 %}
    {% endif %}

    {% if nutrient == "Vitamin B5" %}
        {% assign line = vitB5 %}
    {% endif %}

    {% if nutrient == "Vitamin B6" %}
        {% assign line = vitB6 %}
    {% endif %}

    {% if nutrient == "Vitamin B9" %}
        {% assign line = vitB9 %}
    {% endif %}

    {% if nutrient == "Vitamin B12" %}
        {% assign line = vitB12 %}
    {% endif %}

    {% if nutrient == "Vitamin C" %}
        {% assign line = vitC %}
    {% endif %}

    {% if nutrient == "Vitamin D" %}
        {% assign line = vitD %}
    {% endif %}

    {% if nutrient == "Vitamin E" %}
        {% assign line = vitE %}
    {% endif %}

    {% if nutrient == "Vitamin K" %}
        {% assign line = vitK %}
    {% endif %}

    {% if nutrient == "Choline" %}
        {% assign line = choline %}
    {% endif %}

    {% if nutrient == "Calcium" %}
        {% assign line = calc %}
    {% endif %}

    {% if nutrient == "Copper" %}
        {% assign line = cop %}
    {% endif %}

    {% if nutrient == "Iron" %}
        {% assign line = iron %}
    {% endif %}

    {% if nutrient == "Magnesium" %}
        {% assign line = magn %}
    {% endif %}

    {% if nutrient == "Manganese" %}
        {% assign line = mang %}
    {% endif %}

    {% if nutrient == "Phosphorus" %}
        {% assign line = phos %}
    {% endif %}

    {% if nutrient == "Potassium" %}
        {% assign line = pot %}
    {% endif %}

    {% if nutrient == "Selenium" %}
        {% assign line = sel %}
    {% endif %}

    {% if nutrient == "Zinc" %}
        {% assign line = zinc %}
    {% endif %}

    {% if nutrient == "Histidine" %}
        {% assign line = histidine %}
    {% endif %}

    {% if nutrient == "Isoleucine" %}
        {% assign line = isoleucine %}
    {% endif %}

    {% if nutrient == "Leucine" %}
        {% assign line = leucine %}
    {% endif %}

    {% if nutrient == "Lysine" %}
        {% assign line = lysine %}
    {% endif %}

    {% if nutrient == "Methionine" %}
        {% assign line = methionine %}
    {% endif %}

    {% if nutrient == "Phenylalanine" %}
        {% assign line = phenylalanine %}
    {% endif %}

    {% if nutrient == "Threonine" %}
        {% assign line = threonine %}
    {% endif %}

    {% if nutrient == "Tryptophan" %}
        {% assign line = tryptophan %}
    {% endif %}

    {% if nutrient == "Valine" %}
        {% assign line = valine %}
    {% endif %}


    <!-- Extract the numeric value -->
    {% assign value_raw = line | split: '(' | first %}
    {% assign value = value_raw | remove: 'a' | remove: 'b' | remove: 'c' | remove: 'd' | remove: 'e' | remove: 'f' | remove: 'g' | remove: 'h' | remove: 'i' | remove: 'j' | remove: 'k' | remove: 'l' | remove: 'm' | remove: 'n' | remove: 'o' | remove: 'p' | remove: 'q' | remove: 'r' | remove: 's' | remove: 't' | remove: 'u' | remove: 'v' | remove: 'w' | remove: 'x' | remove: 'y' | remove: 'z' | remove: 'A' | remove: 'B' | remove: 'C' | remove: 'D' | remove: 'E' | remove: 'F' | remove: 'G' | remove: 'H' | remove: 'I' | remove: 'J' | remove: 'K' | remove: 'L' | remove: 'M' | remove: 'N' | remove: 'O' | remove: 'P' | remove: 'Q' | remove: 'R' | remove: 'S' | remove: 'T' | remove: 'U' | remove: 'V' | remove: 'W' | remove: 'X' | remove: 'Y' | remove: 'Z' | remove: '&' | remove: ';' %}

    <!-- Extract the percentage -->
    {% assign percentage_raw = line | split: '(' | last %}
    {% assign percentage = percentage_raw | remove: '%' | remove: ')' | strip %}

    <!-- Extract the unit -->
    {% assign unit = line | remove: ' ' | remove: '.' | remove: '0' | remove: '1' | remove: '2' | remove: '3' | remove: '4' | remove: '5' | remove: '6' | remove: '7' | remove: '8' | remove: '9' | remove: '(' | remove: ')' | remove: '%' | strip %}
    {% assign lastChar = line | slice: -1 %}
    {% if lastChar !=  ')' %}
        {% assign showPercentage = "False" %}
    {% else %}
        {% assign len = unit.size | minus: 2 %}
        {% assign unit = unit | slice: 0, len %}
    {% endif %}

    <!-- Apply factor -->
    {% assign value = value | times: factor | round: rnd %}
    {% if showPercentage == "True" %}
        {% assign percentage = percentage | times: factor | round: 0 %}
    {% else %}
        {% assign percentage = 0 %}
    {% endif %}

    <!-- Combine for the output -->
    {% assign output = value | append: ' ' | append: unit | append: '(' | append: percentage | append: ' %)' %}
    {% if showPercentage == "False" %}
        {% assign output = value | append: ' ' | append: unit %}
    {% endif %}

    <!-- Output fix for not present nutrient -->
    {% if output == "0.0 (0 %)" %}
        {% assign output = "0.0 g (0 %)" %}
    {% endif %}

    <!-- Output -->
    {{output}}

{% endif %}