<!-- Use parameters or not -->
{% assign ing = page.ing %}
{% assign facts = page.facts %}
{% if include.ing %}
    {% assign ing = include.ing %}
    {% assign facts = include.facts %}
{% elsif include.file %}
    {% assign file = include.file %}
    {% assign ing = file | append: "-ing" %}
    {% assign facts = file | append: "-facts" %}
{% elsif page.file %}
    {% assign file = page.file %}
    {% assign ing = file | append: "-ing" %}
    {% assign facts = file | append: "-facts" %}
{% endif %}

<!-- Variables -->
{% assign totalGI = 0 %}
{% assign totalGI_numerator = 0 %}
{% assign totalCarbs = 0 %}
{% assign totalGL = 0 %}
{% assign servings = 0 %}
{% assign GL_all_servings = 0 %}

<!-- Loop variable -->
{% assign loopVarFacts = site.data[facts] %}
{% assign loopVarIng = site.data[ing] %}
{% if include.folder and include.folder != "" %}
    {% assign folder = include.folder %}
    {% assign loopVarFacts = site.data[folder][facts] %}
    {% assign loopVarIng = site.data[folder][ing] %}
{% endif %}

<!-- Variable to return -->
{% assign display = "GI" %}
{% if include.display %}
  {% assign display = include.display %}
{% endif %}

{% comment %}
    <hr>"{{folder}}"<hr>"{{facts}}"<hr>"{{ing}}"<hr>"{{loopVarFacts}}"<hr>"{{loopVarIng}}"<hr>
{% endcomment %}

<!-- Loop through all the ingredients -->
{% for row in loopVarIng %}
    <!-- Get # of servings -->
    {% if forloop.last %}
        {% assign servings = row["Amount"] | times: 1 %}
        {% continue %}
    {% endif %}
{% endfor %}

{% for row in loopVarIng %}

    {% if forloop.last %}
        {% continue %}
    {% endif %}

    <!-- Get the food and gram measurements -->
    {% assign food = row["Ingredient"] %}
    {% assign mass = row["Amount"] | times: 1.0 %}

    <!-- Variables for glycemic index & carbs per 100 g -->
    {% assign GI = "" %}
    {% assign unit_carbs = "" %}

    <!-- Loop through rows of foods file -->
    {% for row in site.data.foods %}

        <!-- Assign GI & unit carbs -->
        {% if row["Food"] == food %}
            {% assign GI = row["Glycemic Index"] | times: 1.0 %}

            {% assign unit_carbs = 0.0 %}
            {% assign fileName = row["File"] | append: "-facts" %}
            {% assign factsFile = site.data.servingSizes[fileName] %}
            {% for r in factsFile %}
              {% if r["Nutrient"] == "Carbohydrate" %}
                {% assign unit_carbs = r["Amount"] %}
                {% break %}
              {% endif %}
            {% endfor %}

            {% break %}
        {% endif %}

    {% endfor %}

    <!-- No match found -->
    {% if GI == "" %}
        {% assign GI = -9999 | times: 1.0 %}
    {% endif %}
    {% if unit_carbs == "" %}
        {% assign unit_carbs = -9999 | times: 1.0 %}
    {% endif %}

    <!-- Calculate carbs -->
    {% assign left = mass | times: unit_carbs %}
    {% assign carbs = left | divided_by: 100 %}

    <!-- Calculate glycemic load of 1 ingredient per serving -->
    {% if unit_carbs == 0 %}
        {% assign numerator = 0 %}
        {% assign GL_all_servings = 0 %}
        {% assign GL = 0 %}
    {% else %}
        {% assign numerator = GI | times: carbs %}
        {% assign GL_all_servings = numerator | divided_by: 100 %}
        {% assign GL = GL_all_servings | divided_by: servings %}
    {% endif %}

    <!-- Calculate total GI numerator for 1 serving -->
    {% assign totalGI_numerator = totalGI_numerator | plus: numerator %}
    {% assign totalCarbs = totalCarbs | plus: carbs %}

    <!-- Calculate total GL of all ingredients for 1 serving  -->
    {% assign totalGL = totalGL | plus: GL %}

    {% comment %}
        <hr>"{{GI}}"<hr>"{{unit_carbs}}"<hr>"{{left}}"<hr>"{{carbs}}"<hr>"{{numerator}}"<hr>"{{totalGI_numerator}}"<hr>"{{totalCarbs}}"<hr>
    {% endcomment %}

{% endfor %}

{% comment %}
    <hr>"{{totalGI_numerator}}"<hr>"{{totalCarbs}}"<hr>
{% endcomment %}

<!-- Calculate & return final GI/GL -->
{% if totalCarbs != 0 and totalCarbs != "0" and totalCarbs != "" %}

    {% assign rounding = 0 %}
    {% if display == "GInum" or display == "GLnum" %}
      {% assign rounding = 1 %}
    {% endif %}

    {% assign totalGI = totalGI_numerator | divided_by: totalCarbs | round: rounding %}
    {% assign totalGL = totalGL | round: rounding %}

    {% assign output = totalGI %}
    {% assign high = 70 %}
    {% assign med = 56 %}

    {% if display == "GL" or display == "GLnum" %}
        {% assign output = totalGL %}
        {% assign high = 20 %}
        {% assign med = 10 %}
    {% endif %}

    {% if display == "GI" or display == "GL" %}
        {% if output >= high %}
            <font class='red-text-themed'>
        {% elsif output < high and output >= med %}
            <font class='yellow-text-themed'>
        {% else %}
            <font class='green-text-themed'>
        {% endif %}
        {{ output }}
        </font>
    {% elsif display == "GInum" or display == "GLnum" %}
        {{ output }}
    {% endif %}

{% else %}
    NA
{% endif %}
