<div id="recipe"></div>

<div class="recipe-ingredients">
    <!-- Use parameters or not -->
    {% assign ing = page.ing %}
    {% if include.ing %}
        {% assign ing = include.ing %}
    {% endif %}

    <!-- Print section title -->
    {% if ing %}
        <div class="recipe-header">Ingredients</div>
    {% endif %}

    <!-- Section 1 -->
    {% if !page.section1 %}
        <div class="ingredients-section">{{ page.section1 }}</div>
    {% endif %}

    <!-- Loops through the rows -->
    {% for row in site.data[ing] %}
        <!-- Variables -->
        {% assign food = "" %}
        {% assign mass = "" %}
        {% assign unit = "" %}
        {% assign vol = "" %}

        {% if forloop.last %}   
        {% else %}

            <!-- Loops through the pair (ex: [Ingredient, Oat flour]) -->
            {% for pair in row %}

                {% if forloop.first %}

                    <!-- Section 2 -->
                    {% if pair[1] == page.start2 %}
                        {% if !page.section2 %}
                            <div class="ingredients-section">{{ page.section2 }}</div>
                        {% endif %}
                    {% endif %}

                    <!-- Section 3 -->
                    {% if pair[1] == page.start3 %}
                        {% if !page.section3 %}
                            <div class="ingredients-section">{{ page.section3 }}</div>
                        {% endif %}      
                    {% endif %}

                    <!-- Section 4 -->
                    {% if pair[1] == page.start4 %}
                        {% if !page.section4 %}
                            <div class="ingredients-section">{{ page.section4 }}</div>
                        {% endif %}           
                    {% endif %}

                    {% if pair[1] == page.start5 %}
                        {% if !page.section4 %}
                            <div class="ingredients-section">{{ page.section5 }}</div>
                        {% endif %}          
                    {% endif %}               

                {% endif %}

                <!-- Food -->
                {% if forloop.index == 1 %} 
                    {% assign food = pair[1] %}
                {% endif %}

                <!-- Mass amount -->
                {% if forloop.index == 2 %}
                    {% assign mass = pair[1] %}
                {% endif %}

                <!-- Mass unit -->
                {% if forloop.index == 3 %}
                    {% assign unit = pair[1] %}
                {% endif %}

                <!-- Volume -->
                {% if forloop.index == 4 %}
                    {% assign vol = pair[1] %}
                {% endif %}
                
            {% endfor %}

        - <div class="recipe-vol">{{ vol }}</div> <div class="recipe-grams">({{ mass }} {{ unit }})</div> <div class="recipe-food">{{ food }}</div> {% include costIngredients.html item=food amount=mass %}
        <br>

        {% endif %}
    {% endfor %}
</div>