<!-- Use parameters or not -->
{% assign ing = page.ing %}
{% if include.ing %}
    {% assign ing = include.ing %}
{% endif %}

<!-- Print section title -->
{% if ing %}
    <b><u><font size="+2">Ingredients</font></u></b><br>
{% endif %}

<!-- Section 1 -->
{% if !page.section1 %}
    <i><font size="+2">{{ page.section1 }}</font></i><br>
{% endif %}

<!-- Loops through the rows -->
{% for row in site.data[ing] %}
    <!-- Variables -->
    {% assign food = "" %}
    {% assign mass = "" %}
    {% assign unit = "" %}
    {% assign vol = "" %}

    {% if forloop.last %}   
    {% else %}

        <!-- Loops through the pair (ex: [Ingredient, Oat flour]) -->
        {% for pair in row %}

            {% if forloop.first %}

                <!-- Section 2 -->
                {% if pair[1] == page.start2 %}
                    {% if !page.section2 %}
                        <br><i><font size="+2">{{ page.section2 }}</font></i><br>
                    {% endif %}
                {% endif %}

                <!-- Section 3 -->
                {% if pair[1] == page.start3 %}
                    {% if !page.section3 %}
                        <br><i><font size="+2">{{ page.section3 }}</font></i><br>
                    {% endif %}      
                {% endif %}

                <!-- Section 4 -->
                {% if pair[1] == page.start4 %}
                    {% if !page.section4 %}
                        <br><i><font size="+2">{{ page.section4 }}</font></i><br>
                    {% endif %}           
                {% endif %}

                {% if pair[1] == page.start5 %}
                    {% if !page.section4 %}
                        <br><i><font size="+2">{{ page.section5 }}</font></i><br>
                    {% endif %}          
                {% endif %}               

            {% endif %}

            <!-- Food -->
            {% if forloop.index == 1 %} 
                {% assign food = pair[1] %}
            {% endif %}

            <!-- Mass amount -->
            {% if forloop.index == 2 %}
                {% assign mass = pair[1] %}
            {% endif %}

            <!-- Mass unit -->
            {% if forloop.index == 3 %}
                {% assign unit = pair[1] %}
            {% endif %}

            <!-- Volume -->
            {% if forloop.index == 4 %}
                {% assign vol = pair[1] %}
            {% endif %}
            
        {% endfor %}

    - <font size="+1">{{ vol }} (<i><font class="gray-text-themed">{{ mass }} {{ unit }}</font></i>) {{ food }} {% include costIngredients.html item=food amount=mass %}</font><br>

    {% endif %}
{% endfor %}
<br>