<!-- Use parameters or not -->
{% assign ing = page.ing %}
{% if include.ing %}
    {% assign ing = include.ing %}
{% elsif include.file %}
    {% assign file = include.file %}
    {% assign ing = file | append: "-ing" %}
{% elsif page.file %}
    {% assign file = page.file %}
    {% assign ing = file | append: "-ing" %}
{% endif %}

{% for row in site.data[ing] %}
    {% if forloop.first %}
        <tr>
        {% for pair in row %}
            <th>{{ pair[0] }}</th>
        {% endfor %}
        </tr>
    {% endif %}
{% endfor %}
