<div class="recipe-instruction-header">
    {% if page.Instructions %}
        <div class="recipe-header">Instructions</div>
        <div class="recipe-instructions">
            <div class="recipe-section">
                {% assign count = 1 %}
                {% for step in page.Instructions %}
                    {% unless step contains "<center>" %}
                        {{ count }}.&ensp;
                        {% assign count = count | plus: 1 %}
                    {% endunless %}
                    <span class="print-only">{{ step }}</span>
                {% endfor %}
            </div>
        </div>
        <div id="nutrition-facts"></div>
        <br>
    {% endif %}
</div>