<div class='recipe-notes-header'>

    <!-- Exception for empanadas -->
    {% assign flg_exception = "false" %}
    {% if page.title == 'Almond Flour Empanada & Pierogi Dough' %}
        {% assign flg_exception = "true" %}
    {% endif %}

    {% if page.Notes %}
        <!-- Exception for empanadas -->
        {% if flg_exception == "false" %}
            <div id="notes" class="table-of-contents-2"></div>
            <div class='recipe-header'>Notes</div>
        {% endif %}

        <!-- Display notes -->
        <div class='recipe-instructions'>
            <div class='recipe-section'>
                <ol>
                    {% assign note_number = 1 %}
                    {% for note in page.Notes %}

                        {% if flg_exception == "true" or note contains "<img" or note contains "INGREDIENTS(" or note contains "FACTS(" or note contains "COMPARE(" %}

                            </ol>
                            </div>
                            </div>

                            <div class='recipe-section'>

                            <!-- Image rendering -->
                            {% if note contains "<img" %}
                              <div class='recipe-instructions'>
                              <li class="instruction-image-li print-only">
                                <center>
                                  {{ note }}
                                </center>
                              </li>
                            <!-- Include ingredients file -->
                            {% elsif note contains "INGREDIENTS(" %}
                                {% assign file = note | remove: "INGREDIENTS(" | remove: ")" | strip %}
                                {% include ingredients.html file=file recipe="false" %}
                            <!-- Include facts file -->
                            {% elsif note contains "FACTS(" %}
                                {% assign file = note | remove: "FACTS(" | remove: ")" | strip %}
                                {% include nutrition.html file=file recipe="false" %}
                            <!-- Include compare table -->
                            {% elsif note contains "COMPARE(" %}
                                {% assign raw = note
                                  | remove: "COMPARE("
                                  | remove: ")"
                                  | replace: newline, ""
                                  | strip
                                %}

                                {% assign parts = raw | split: ";" %}

                                {% assign files_raw_array = parts[0] | strip | split: "," %}
                                {% assign files = "" | split: "" %}
                                {% for f in files_raw_array %}
                                  {% assign clean = f | strip | remove: '"' %}
                                  {% assign files = files | push: clean %}
                                {% endfor %}

                                {% assign titles_raw_array = parts[1] | strip | split: "," %}
                                {% assign titles = "" | split: "" %}
                                {% for t in titles_raw_array %}
                                  {% assign clean = t | strip | remove: '"' %}
                                  {% assign titles = titles | push: clean %}
                                {% endfor %}

                                {% assign nutrients_raw_array = parts[2] | strip | split: "," %}
                                {% assign nutrients = "" | split: "" %}

                                {% for n in nutrients_raw_array %}
                                  {% assign clean = n | strip | remove: '"' %}
                                  {% assign nutrients = nutrients | push: clean %}
                                {% endfor %}

                                {% comment %}
                                    raw:"{{raw}}"<br><br>
                                    parts:"{{parts}}"<br><br>
                                    parts[0]:"{{parts[0]}}"<br><br>
                                    titles_raw:"{{titles_raw}}"<br><br>
                                    nutrients_raw:"{{nutrients_raw}}"<br><br>
                                    files:"{{files}}"<br><br>
                                    titles:"{{titles}}"<br><br>
                                    nutrients:"{{nutrients}}"<br><br>

                                    {% for f in files %}
                                      f:"{{f}}"<br><br>
                                    {% endfor %}
                                {% endcomment %}

                                {% assign costFlg = "false" %}
                                {% if page.title == "Copycat Core Power Protein Milkshake" or page.title == "Copycat Barebell Protein Bars" or page.title == "Sugar Free Dubai Chocolate" or page.title == "Chocolate Covered Marzipan" %}
                                  {% assign costFlg = "true" %}
                                {% endif %}

                                {% assign massFlg = "false" %}
                                {% if page.title == "Copycat Barebell Protein Bars" %}
                                  {% assign massFlg = "true" %}
                                {% endif %}

                                {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" cost=costFlg mass=massFlg %}

                            <!-- Empanada exception -->
                            {% elsif flg_exception == "true" %}
                                {{ note }}
                            {% endif %}

                            </div>

                            <div class='recipe-instructions'>
                            <div class='recipe-section'>
                            <ol start="{{ note_number }}">

                        <!-- Print note -->
                        {% else %}

                            <!-- Numbered text note -->
                            <li class="print-only">{{ note }}</li>
                            {% assign note_number = note_number | plus: 1 %}

                        {% endif %}

                    {% endfor %}
                  </ol>
            </div>
        </div>
        <hr>
    {% endif %}
</div>
