<div class='recipe-notes-header'>
    {% if page.Notes %}
        <div id="notes" class="table-of-contents-2"></div>
        <div class='recipe-header'>Notes</div>

        <!-- Display steps -->
        <div class='recipe-notes'>
            <div class='recipe-section'>
                <ol>
                    {% assign step_number = 1 %}
                    {% for step in page.Notes %}
                      {% if step contains "<img" %}
                        <!-- Image step -->
                        </ol>
                        <li class="instruction-image-li print-only">
                          <center>
                            {{ step }}
                          </center>
                        </li>
                        <ol start="{{ step_number }}">
                      {% else %}
                        <!-- Numbered text step -->
                        <li class="print-only">{{ step }}</li>
                        {% assign step_number = step_number | plus: 1 %}
                      {% endif %}
                    {% endfor %}
                  </ol>
            </div>
        </div>
    {% endif %}
</div>
