<br><u><font size='+2'>Other Posts in this Series</font></u><br>
<ol>
    <li><a href="/misc/iron" target="_blank" rel="noopener noreferrer">I Run on Iron</a></li>
    <li><a href="/misc/fats" target="_blank" rel="noopener noreferrer">Fat: The Innocent Criminal?</a></li>
    <li><a href="/misc/carbs" target="_blank" rel="noopener noreferrer">Carbs: The Devil In Disguise?</a></li>
    <li><a href="/misc/protein" target="_blank" rel="noopener noreferrer">Protein: The Essential Building Blocks</a></li>
    <li><a href="/misc/nutrient-alphabet" target="_blank" rel="noopener noreferrer">The ABCs of Nutrients</a></li>
    <li><a href="/misc/fiber" target="_blank" rel="noopener noreferrer">Fiber: Happiness is a Good Poop</a></li>
    <li><a href="/misc/calories" target="_blank" rel="noopener noreferrer">It's About More Than Calories</a></li>
    <li><a href="/misc/magnesium" target="_blank" rel="noopener noreferrer">Mag-nificent: The Mighty Mineral for Muscles and Mind</a></li>
    <li><a href="/misc/potassium" target="_blank" rel="noopener noreferrer">A Monkey Never Cramps: Why You Need Potassium</a></li>
    <li><a href="/misc/sodium" target="_blank" rel="noopener noreferrer">A Pinch of Life: Why Your Body Needs Sodium</a></li>
    <li><a href="/misc/vitamin-b12" target="_blank" rel="noopener noreferrer">B-Ware the Deficiency: The Power of B12</a></li>
    <li><a href="/misc/vitamin-c" target="_blank" rel="noopener noreferrer">(Vitamin) C You Later, Sickness?</a></li>
    <li><a href="/misc/creatine" target="_blank" rel="noopener noreferrer">Creatine: Benefits Beyond the Gym</a></li>
    <li><a href="/misc/calcium" target="_blank" rel="noopener noreferrer">Got Calcium?</a></li>
    <li><a href="/misc/phosphorus" target="_blank" rel="noopener noreferrer">Phosphorus: Fuel for Bones & Beyond</a></li>
    <li><a href="/misc/cholesterol" target="_blank" rel="noopener noreferrer">Cholesterol: Yay or Nay?</a></li>
    <li><a href="/misc/choline" target="_blank" rel="noopener noreferrer">Choline - The Nutrient You've Never Heard Of</a></li>
</ol><br>

<div class="image-row">
  <img src='/assets/Misc/Nutrition/Foods/list.png' alt='' class='smaller-image'><img src='/assets/Misc/Nutrition/Foods/diet.png' alt='' class='smaller-image'>
</div><br><br>
