<div id="nutrition-facts"></div>

<div class="recipe-nutrition">    

    <!-- Hide amino acids -->
    {% assign aminoAcids = false %}

    <!-- Shorter nutrition facts -->
    {% assign recipe = "true" %}
    {% assign shorterFacts = "false" %}
    {% if 
        page.categories.first == "Misc." and 
        page.categories.last != "Unhealthy Recipes"
    %}
        {% assign shorterFacts = "true" %}
        {% assign recipe = "false" %}
    {% endif %}

    <!-- Meat -->
    {% assign meat = "false" %}
    {% if page.title == "Let's Meet The Meats" %}
        {% assign meat = "true" %}
        {% assign shorterFacts = "false" %}
        {% assign recipe = "false" %}
    {% endif %}

    <!-- Nuts -->
    {% assign nuts = "false" %}
    {% if page.title == "I'm Nuts For Nuts" %}
        {% assign nuts = "true" %}
        {% assign shorterFacts = "false" %}
        {% assign recipe = "false" %}
    {% endif %}

    <!-- Beans -->
    {% assign beans = "false" %}
    {% if page.title == "Beans Beans The Musical Fruit" %}
        {% assign beans = "true" %}
        {% assign shorterFacts = "false" %}
        {% assign recipe = "false" %}
    {% endif %}

    <!-- Use parameters or not -->
    {% assign facts = page.facts %}
    {% if include.facts %}
        {% assign facts = include.facts %}
    {% endif %}

    <!-- Multiplication factor (if necessary) -->
    {% assign factor = 1.0 %}
    {% if include.factor %}
        {% assign factor = include.factor %}
    {% endif %}

    <!-- Print section title -->
    {% if facts and recipe == "true" %}
        <div class="recipe-header">Nutrition Facts</div>
    {% endif %}

    <!-- Only run if there's a nutrtion facts file -->
    {% if facts %}

        <!-- Variables -->
        {% assign cal = "0" %}

        {% assign fat = "0.0g (0 %)" %}
        {% assign totalFat = 0.0 %}
        {% assign sat = "0.0g (0 %)" %}
        {% assign trans = "0.0g (0 %)" %}
        {% assign poly = "0.0g (0 %)" %}
        {% assign mono = "0.0g (0 %)" %}
        {% assign choles = "0mg (0 %)" %}

        {% assign sod = "0mg (0 %)" %}

        {% assign carb = "0.0g (0 %)" %}
        {% assign totalCarb = 0.0 %}
        {% assign netCarb = 0.0 %}

        {% assign fib = "0.0g (0 %)" %}
        {% assign totalFib = 0.0 %}
        {% assign sugAlc = 0.0 %}
        {% assign all = 0.0 %}

        {% assign sug = "0.0g (0 %)" %}
        {% assign totalSugar = 0.0 %}
        {% assign addedSugar = 0.0 %}
        {% assign addedSugarPercentage = 0 %}
        {% assign addedSugarStr = "0.0g (0 %)"" %}

        {% assign prot = "0.0g (0 %)" %}

        {% assign vitA = "0.0mcg (0 %)" %}
        {% assign vitB1 = "0.00mg (0 %)" %}
        {% assign vitB2 = "0.00mg (0 %)" %}
        {% assign vitB3 = "0.0mg (0 %)" %}
        {% assign vitB5 = "0.0mg (0 %)" %}
        {% assign vitB6 = "0.00mg (0 %)" %}
        {% assign vitB9 = "0.0mcg (0 %)" %}
        {% assign vitB12 = "0.0mcg (0 %)" %}
        {% assign vitC = "0.0mg (0 %)" %}
        {% assign vitD = "0.00mcg (0 %)" %}
        {% assign vitE = "0.00mg (0 %)" %}
        {% assign vitK = "0.0mcg (0 %)" %}
        {% assign choline = "0mg (0 %)" %}

        {% assign calc = "0mg (0 %)" %}
        {% assign cop = "0.00mg (0 %)" %}
        {% assign iron = "0.00mg (0 %)" %}
        {% assign magn = "0mg (0 %)" %}
        {% assign mang = "0.00mg (0 %)" %}
        {% assign phos = "0mg (0 %)" %}
        {% assign pot = "0mg (0 %)" %}
        {% assign sel = "0.0mcg (0 %)" %}
        {% assign zinc = "0.00mg (0 %)" %}

        {% assign histidine = "0.0g (0 %)" %}
        {% assign isoleucine = "0.0g (0 %)" %}
        {% assign leucine = "0.0g (0 %)" %}
        {% assign lysine = "0.0g (0 %)" %}
        {% assign methionine = "0.0g (0 %)" %}
        {% assign phenylalanine = "0.0g (0 %)" %}
        {% assign threonine = "0.0g (0 %)" %}
        {% assign tryptophan = "0.0g (0 %)" %}
        {% assign valine = "0.0g (0 %)" %}

        {% assign loopVarFacts = site.data[facts] %}
        {% assign loopVarIng = site.data[ing] %}
        {% if recipe == "false" %}
            {% assign loopVarFacts = facts %}
            {% assign loopVarIng = ing %}
        {% endif %}

        <!-- Loop to get nutrition facts -->
        {% for row in loopVarFacts %}
            {% for pair in row %}
                {% assign dv = "" %}
                {% if row.DV %}
                    {% assign dv_factor = row.DV | times: factor | round: 0 %}
                    {% assign dv = '&nbsp;(' | append: dv_factor | append: ' %)' %}
                {% endif %}

                {% assign val = row.Amount | times: factor %}

                {% assign line0 = val | plus: 0 | round: 0 | append: row.Unit | append: dv %}
                {% assign line1 = val | plus: 0 | round: 1 | append: row.Unit | append: dv %}
                {% assign line2 = val | plus: 0 | round: 2 | append: row.Unit | append: dv %}
                {% assign line3 = val | plus: 0 | round: 3 | append: row.Unit | append: dv %}

                {% if pair[1] == "Calories" %}
                    {% assign cal = line0 %}
                {% endif %}

                {% if pair[1] == "Fat" %}
                    {% assign fat = line1 %}
                    {% assign totalFat = row.Amount | plus: 0 | round: 1 %}
                {% endif %}

                {% if pair[1] == "Saturated fatty acids" %}
                    {% assign sat = line1 %}
                {% endif %}

                {% if pair[1] == "Fatty acids, total trans" %}
                    {% assign trans = line1 %}
                {% endif %}

                {% if pair[1] == "Polyunsaturated fatty acids" %}
                    {% assign poly = line1 %}
                {% endif %}

                {% if pair[1] == "Monounsaturated fatty acids" %}
                    {% assign mono = line1 %}
                {% endif %}

                {% if pair[1] == "Cholesterol" %}
                    {% assign choles = line0 %}
                {% endif %}

                {% if pair[1] == "Sodium" %}
                    {% assign sod = line0 %}
                {% endif %}        

                {% if pair[1] == "Carbohydrate" %}
                    {% assign carb = line1 %}
                    {% assign totalCarb = row.Amount | plus: 0 | round: 1 %}
                {% endif %}

                {% if pair[1] == "Fiber" %}
                    {% assign fib = line1 %}
                    {% assign totalFib = row.Amount | plus: 0 | round: 1 %}
                {% endif %}

                {% if pair[1] == "Sugars" %}
                    {% assign sug = line1 %}
                    {% assign totalSugar = row.Amount | plus: 0 | round: 1 %}
                {% endif %}

                {% if pair[1] == "Protein" %}
                    {% assign prot = line1 %}
                {% endif %}

                {% if pair[1] == "Vitamin A, RAE" %}
                    {% assign vitA = line1 %}
                {% endif %}

                {% if pair[1] == "Thiamin [Vitamin B1]" %}
                    {% assign vitB1 = line2 %}
                {% endif %}

                {% if pair[1] == "Riboflavin [Vitamin B2]" %}
                    {% assign vitB2 = line2 %}
                {% endif %}

                {% if pair[1] == "Niacin [Vitamin B3]" %}
                    {% assign vitB3 = line1 %}
                {% endif %}

                {% if pair[1] == "Pantothenic acid [Vitamin B5]" %}
                    {% assign vitB5 = line1 %}
                {% endif %}

                {% if pair[1] == "Vitamin B6" %}
                    {% assign vitB6 = line2 %}
                {% endif %}

                {% if pair[1] == "Folate, DFE [Vitamin B9]" %}
                    {% assign vitB9 = line1 %}
                {% endif %}

                {% if pair[1] == "Vitamin B12 [Cobalamin]" %}
                    {% assign vitB12 = line2 %}
                {% endif %}

                {% if pair[1] == "Vitamin C [Ascorbic acid]" %}
                    {% assign vitC = line1 %}
                {% endif %}

                {% if pair[1] == "Vitamin D" %}
                    {% assign vitD = line2 %}
                {% endif %}

                {% if pair[1] == "Vitamin E (alpha-tocopherol)" %}
                    {% assign vitE = line2 %}
                {% endif %}

                {% if pair[1] == "Vitamin K" %}
                    {% assign vitK = line1 %}
                {% endif %}

                {% if pair[1] == "Choline" %}
                    {% assign choline = line0 %}
                {% endif %}

                {% if pair[1] == "Calcium" %}
                    {% assign calc = line0 %}
                {% endif %}

                {% if pair[1] == "Copper" %}
                    {% assign cop = line2 %}
                {% endif %}

                {% if pair[1] == "Iron" %}
                    {% assign iron = line2 %}
                {% endif %}

                {% if pair[1] == "Magnesium" %}
                    {% assign magn = line0 %}
                {% endif %}

                {% if pair[1] == "Manganese" %}
                    {% assign mang = line2 %}
                {% endif %}

                {% if pair[1] == "Phosphorus" %}
                    {% assign phos = line0 %}
                {% endif %}

                {% if pair[1] == "Potassium" %}
                    {% assign pot = line0 %}
                {% endif %}

                {% if pair[1] == "Selenium" %}
                    {% assign sel = line1 %}
                {% endif %}

                {% if pair[1] == "Zinc" %}
                    {% assign zinc = line2 %}
                {% endif %}

                {% if pair[1] == "Histidine" %}
                    {% assign histidine = line2 %}
                {% endif %}

                {% if pair[1] == "Isoleucine" %}
                    {% assign isoleucine = line2 %}
                {% endif %}

                {% if pair[1] == "Leucine" %}
                    {% assign leucine = line2 %}
                {% endif %}

                {% if pair[1] == "Lysine" %}
                    {% assign lysine = line2 %}
                {% endif %}

                {% if pair[1] == "Methionine" %}
                    {% assign methionine = line2 %}
                {% endif %}

                {% if pair[1] == "Phenylalanine" %}
                    {% assign phenylalanine = line2 %}
                {% endif %}

                {% if pair[1] == "Threonine" %}
                    {% assign threonine = line2 %}
                {% endif %}

                {% if pair[1] == "Tryptophan" %}
                    {% assign tryptophan = line2 %}
                {% endif %}

                {% if pair[1] == "Valine" %}
                    {% assign valine = line2 %}
                {% endif %}

            {% endfor %}
        {% endfor %}

        <!-- Calculate added sugar, sugar alcohols, and allulose -->
        {% assign servings = 1 | times: 1 %}
        {% for row in loopVarIng %}
            {% if forloop.last %}
                {% assign servings = row["Amount"] | times: 1 %}
                {% continue %}
            {% endif %}

            {% assign food = row["Ingredient"] %}
            {% assign mass = row["Amount"] | times: 1.0 %}

            {% for row in site.data.foods %}
                <!-- Added sugar per ingredient -->
                {% if row["Food"] == food %}
                    {% assign itemAddedSugar = row["Add Sug per 100 g"] | times: mass | divided_by: 100 %}
                    {% assign addedSugar = addedSugar | plus: itemAddedSugar %}

                    {% assign itemSugarAlcohol = row["Sug Alc per 100 g"] | times: mass | divided_by: 100 %}
                    {% assign sugAlc = sugAlc | plus: itemSugarAlcohol %}

                    {% assign itemAllulose = row["Allulose per 100 g"] | times: mass | divided_by: 100 %}
                    {% assign all = all | plus: itemAllulose %}

                    {% break %}
                {% endif %}
            {% endfor %}  

        {% endfor %}

        {% assign addedSugar = addedSugar | divided_by: servings %}
        {% assign sugAlc = sugAlc | divided_by: servings %}
        {% assign all = all | divided_by: servings %}

        <!-- Remove nutrients if I don't want them -->

        <!-- Recipe -->
        {% if recipe == "true" %}
            {% assign trans = "" %}
            {% assign vitA = "" %}
            {% assign vitB1 = "" %}
            {% assign vitB2 = "" %}
            {% assign vitB3 = "" %}
            {% assign vitB5 = "" %}
            {% assign vitB6 = "" %}
            {% assign vitB9 = "" %}
            {% assign vitC = "" %}
            {% assign vitE = "" %}
            {% assign vitK = "" %}
            {% assign choline = "" %}
            {% assign cop = "" %}
            {% assign mang = "" %}
            {% assign phos = "" %}
            {% assign sel = "" %}
            {% assign zinc = "" %}
            {% assign histidine = "" %}
            {% assign isoleucine = "" %}
            {% assign leucine = "" %}
            {% assign lysine = "" %}
            {% assign methionine = "" %}
            {% assign phenylalanine = "" %}
            {% assign threonine = "" %}
            {% assign tryptophan = "" %}
            {% assign valine = "" %}
        {% endif %}

        <!-- Shorter facts -->
        {% if shorterFacts == "true" %}
            {% assign sat = "" %}
            {% assign trans = "" %}
            {% assign poly = "" %}
            {% assign mono = "" %}
            {% assign choles = "" %}
            {% assign netCarb = "" %}
            {% assign addedSugar = "" %}
            {% assign sugAlc = "" %}
            {% assign all = "" %}
            {% assign vitA = "" %}
            {% assign vitB1 = "" %}
            {% assign vitB2 = "" %}
            {% assign vitB3 = "" %}
            {% assign vitB5 = "" %}
            {% assign vitB6 = "" %}
            {% assign vitB9 = "" %}
            {% assign vitB12 = "" %}
            {% assign vitC = "" %}
            {% assign vitD = "" %}
            {% assign vitE = "" %}
            {% assign vitK = "" %}
            {% assign choline = "" %}
            {% assign calc = "" %}
            {% assign cop = "" %}
            {% assign iron = "" %}
            {% assign magn = "" %}
            {% assign mang = "" %}
            {% assign pot = "" %}
            {% assign phos = "" %}
            {% assign sel = "" %}
            {% assign zinc = "" %}
            {% assign histidine = "" %}
            {% assign isoleucine = "" %}
            {% assign leucine = "" %}
            {% assign lysine = "" %}
            {% assign methionine = "" %}
            {% assign phenylalanine = "" %}
            {% assign threonine = "" %}
            {% assign tryptophan = "" %}
            {% assign valine = "" %}
        {% endif %}

        <!-- Meat -->
        {% if meat == "true" %}
            {% assign trans = "" %}
            {% assign poly = "" %}
            {% assign mono = "" %}
            {% assign choles = "" %}
            {% assign carb = "" %}
            {% assign fib = "" %}
            {% assign netCarb = "" %}
            {% assign sug = "" %}
            {% assign addedSugar = "" %}
            {% assign sugAlc = "" %}
            {% assign all = "" %}
            {% assign vitA = "" %}
            {% assign vitB9 = "" %}
            {% assign vitC = "" %}
            {% assign vitE = "" %}
            {% assign vitK = "" %}
            {% assign calc = "" %}
            {% assign magn = "" %}
            {% assign pot = "" %}
            {% assign histidine = "" %}
            {% assign isoleucine = "" %}
            {% assign leucine = "" %}
            {% assign lysine = "" %}
            {% assign methionine = "" %}
            {% assign phenylalanine = "" %}
            {% assign threonine = "" %}
            {% assign tryptophan = "" %}
            {% assign valine = "" %}
        {% endif %}

        <!-- Nuts -->
        {% if nuts == "true" %}
            {% assign trans = "" %}
            {% assign choles = "" %}
            {% assign sod = "" %}
            {% assign netCarb = "" %}
            {% assign addedSugar = "" %}
            {% assign sugAlc = "" %}
            {% assign all = "" %}
            {% assign vitA = "" %}
            {% assign vitB3 = "" %}
            {% assign vitB5 = "" %}
            {% assign vitB6 = "" %}
            {% assign vitB9 = "" %}
            {% assign vitB12 = "" %}
            {% assign vitC = "" %}
            {% assign vitD = "" %}
            {% assign vitK = "" %}
            {% assign calc = "" %}
            {% assign iron = "" %}
            {% assign pot = "" %}
            {% assign choline = "" %}
            {% assign histidine = "" %}
            {% assign isoleucine = "" %}
            {% assign leucine = "" %}
            {% assign lysine = "" %}
            {% assign methionine = "" %}
            {% assign phenylalanine = "" %}
            {% assign threonine = "" %}
            {% assign tryptophan = "" %}
            {% assign valine = "" %}
        {% endif %}

        <!-- Beans -->
        {% if beans == "true" %}
            {% assign sat = "" %}
            {% assign mono = "" %}
            {% assign poly = "" %}
            {% assign trans = "" %}
            {% assign choles = "" %}
            {% assign sod = "" %}
            {% assign addedSugar = "" %}
            {% assign sugAlc = "" %}
            {% assign all = "" %}
            {% assign vitA = "" %}
            {% assign vitB2 = "" %}
            {% assign vitB3 = "" %}
            {% assign vitB5 = "" %}
            {% assign vitB6 = "" %}
            {% assign vitB12 = "" %}
            {% assign vitC = "" %}
            {% assign vitD = "" %}
            {% assign vitE = "" %}
            {% assign vitK = "" %}
            {% assign calc = "" %}
            {% assign sel = "" %}
            {% assign choline = "" %}
            {% assign histidine = "" %}
            {% assign isoleucine = "" %}
            {% assign leucine = "" %}
            {% assign lysine = "" %}
            {% assign methionine = "" %}
            {% assign phenylalanine = "" %}
            {% assign threonine = "" %}
            {% assign tryptophan = "" %}
            {% assign valine = "" %}
        {% endif %}


        <!-- Print nutrition facts -->
        <div class="recipe-section">

            <div class="cals">
                ------------------------------------------<br>
                {% include servings.html ing=include.ing %}

                {% if !page.servingSize %}
                    <b>Serving Size:</b> {{ page.servingSize }}<br>
                {% endif %}

                {% if cal != "" %} 
                    <b>Calories</b>: {{ cal }}<br>
                {% endif %}

            </div>

            <div class="macros">

                ------------------------------------------<br>
                <!-- Fats: total, sat, unsat, poly, cholesterol -->
                {% if fat != "" %} 
                    <b>Total Fat</b>: {{ fat }}<br>
                {% endif %}

                <!-- If total fat is 0, then hide sat, unsat, trans, & cholesterol -->
                {% if totalFat != 0.0 and totalFat != 0 %}
                    {% if sat != "" %} 
                        &emsp;<b>Saturated Fat</b>: {{ sat }}<br>
                    {% endif %}
                    {% if trans != "" %} 
                        &emsp;<b>Trans Fat</b>: {{ trans }}<br>
                    {% endif %}
                    {% if poly != "" %} 
                        &emsp;<b>Polyunsaturated Fat</b>: {{ poly }}<br>
                    {% endif %}
                    {% if mono != "" %} 
                        &emsp;<b>Monounsaturated Fat</b>: {{ mono }}<br>
                    {% endif %}
                    {% if choles != "" %} 
                        <b>Cholesterol</b>: {{ choles }}<br>
                    {% endif %}

                {% endif %}

                {% if sod != "" %} 
                    <b>Sodium</b>: {{ sod }}<br>
                {% endif %}

                <!-- Carbs: total, fiber, net, sug, sugAlc, allulose -->
                {% if carb != "" %} 
                    <b>Total Carbohydrate</b>: {{ carb }}<br>
                {% endif %}

                <!-- If total carbs is 0, then hide fiber, net carbs, and sugar -->
                {% if totalCarb != 0.0 and totalCarb != 0 %}
                    {% if fib != "" %} 
                        &emsp;<b>Fiber</b>: {{ fib }}<br>
                    {% endif %}

                    <!-- Calc net carbs -->
                    {% if netCarb != "" %}
                        {% assign netCarb = totalCarb | minus: totalFib | minus: sugAlc | minus: all %}
                        {% if netCarb < 0 %}
                            {% assign netCarb = 0.0 %}
                        {% endif %}
                        {% assign netCarbStr = netCarb | round: 1 | append: 'g' %}
                        &emsp;<b>Net Carbs</b>: {{ netCarbStr }}<br>
                    {% endif %}

                    {% if sug != "" %} 
                        &emsp;<b>Total Sugar</b>: {{ sug }}<br>
                    {% endif %}

                    <!-- Added sugar, sugar alcohols, and allulose -->
                    {% if addedSugar != "" and totalSugar != 0.0 and totalSugar != 0 %}
                        {% if addedSugar > totalSugar %}
                            {% assign addedSugar = totalSugar %}
                        {% endif %}
                        {% assign addedSugarPercentage = addedSugar | divided_by: 50 | times: 100 | round: 0 %}
                        {% assign addedSugarStr = addedSugar | round: 1 | append: 'g (' | append: addedSugarPercentage | append: ' %)' %}
                        &emsp;&emsp;<b>Added Sugar</b>: {{ addedSugarStr }}<br>
                    {% endif %}
                    {% if sugAlc != "" and sugAlc != 0.0 %}
                        {% assign sugAlcStr = sugAlc | round: 1 | append: 'g' %}
                        &emsp;<b>Sugar Alcohol</b>: {{ sugAlcStr }}<br>
                    {% endif %}
                    {% if all != "" and all != 0.0 %}
                        {% assign allStr = all | round: 1 | append: 'g' %}
                        &emsp;<b>Allulose</b>: {{ allStr }}<br>
                    {% endif %}

                {% endif %}

                {% if prot != "" %} 
                    <b>Protein</b>: {{ prot }}<br>
                {% endif %}

            </div>

            <div class="micros">
            
                {% if shorterFacts == "false" %} ------------------------------------------<br> {% endif %}
                
                {% if vitA != "" %} 
                    <b>Vitamin A</b>: {{ vitA }}<br>
                {% endif %}
                {% if vitB1 != "" %} 
                    <b>Vitamin B1 (Thiamin)</b>: {{ vitB1 }}<br>
                {% endif %}
                {% if vitB2 != "" %} 
                    <b>Vitamin B2 (Riboflavin)</b>: {{ vitB2 }}<br>
                {% endif %}
                {% if vitB3 != "" %} 
                    <b>Vitamin B3 (Niacin)</b>: {{ vitB3 }}<br>
                {% endif %}
                {% if vitB5 != "" %} 
                    <b>Vitamin B5</b>: {{ vitB5 }}<br>
                {% endif %}
                {% if vitB6 != "" %} 
                    <b>Vitamin B6 (Pyridoxine)</b>: {{ vitB6 }}<br>
                {% endif %}
                {% if vitB9 != "" %} 
                    <b>Vitamin B9 (Folate)</b>: {{ vitB9 }}<br>
                {% endif %}
                {% if vitB12 != "" %} 
                    <b>Vitamin B12</b>: {{ vitB12 }}<br>
                {% endif %}
                {% if vitC != "" %} 
                    <b>Vitamin C</b>: {{ vitC }}<br>
                {% endif %}
                {% if vitD != "" %} 
                    <b>Vitamin D</b>: {{ vitD }}<br>
                {% endif %}
                {% if vitE != "" %} 
                    <b>Vitamin E</b>: {{ vitE }}<br>
                {% endif %}
                {% if vitK != "" %} 
                    <b>Vitamin K</b>: {{ vitK }}<br>
                {% endif %}
                {% if choline != "" %} 
                    <b>Choline</b>: {{ choline }}<br>
                {% endif %}

                {% if shorterFacts == "false" %} ------------------------------------------<br> {% endif %}

                {% if cop != "" %} 
                    <b>Copper</b>: {{ cop }}<br>
                {% endif %}
                {% if calc != "" %} 
                    <b>Calcium</b>: {{ calc }}<br>
                {% endif %}
                {% if iron != "" %} 
                    <b>Iron</b>: {{ iron }}<br>
                {% endif %}
                {% if magn != "" %} 
                    <b>Magnesium</b>: {{ magn }}<br>
                {% endif %}
                {% if mang != "" %} 
                    <b>Manganese</b>: {{ mang }}<br>
                {% endif %}
                {% if phos != "" %} 
                    <b>Phosphorus</b>: {{ phos }}<br>
                {% endif %}
                {% if pot != "" %} 
                    <b>Potassium</b>: {{ pot }}<br>
                {% endif %}
                {% if sel != "" %} 
                    <b>Selenium</b>: {{ sel }}<br>
                {% endif %}
                {% if zinc != "" %} 
                    <b>Zinc</b>: {{ zinc }}<br>
                {% endif %}

                {% if aminoAcids == "true" %} ------------------------------------------<br> {% endif %}
                
                {% if histidine != "" %} 
                    <b>Histidine</b>: {{ histidine }}<br>
                {% endif %}
                {% if isoleucine != "" %} 
                    <b>Isoleucine</b>: {{ isoleucine }}<br>
                {% endif %}
                {% if leucine != "" %} 
                    <b>Leucine</b>: {{ leucine }}<br>
                {% endif %}
                {% if lysine != "" %} 
                    <b>Lysine</b>: {{ lysine }}<br>
                {% endif %}
                {% if methionine != "" %} 
                    <b>Methionine</b>: {{ methionine }}<br>
                {% endif %}
                {% if phenylalanine != "" %} 
                    <b>phenylalanine</b>: {{ phenylalanine }}<br>
                {% endif %}
                {% if threonine != "" %} 
                    <b>Threonine</b>: {{ threonine }}<br>
                {% endif %}
                {% if tryptophan != "" %} 
                    <b>Tryptophan</b>: {{ tryptophan }}<br>
                {% endif %}
                {% if valine != "" %} 
                    <b>Valine</b>: {{ valine }}<br>
                {% endif %}
                
            </div>
            ------------------------------------------<br>

        </div>

        <!-- Glycemic index & full nutrition facts only on recipes-->
        <div class="gi">
            {% if recipe == "true" %}
                {% include glycemic.html ing=include.ing %}
                <br>
                {% include fullNutritionTable.html facts=facts addedSugar = addedSugar %}
            {% endif %}
        </div>

    {% endif %}
</div>

<style>
    @media print {
        .micros, .gi {
            display: none;
        }
    }
</style>