<div class='recipe-nutrition'>

    <!-- Hide amino acids -->
    {% assign aminoAcids = false %}

    <!-- Shorter nutrition facts -->
    {% assign recipe = "true" %}
    {% assign shorterFacts = "false" %}
    {% if
        page.categories[0] == "Misc." and
        page.categories[1] != "Unhealthy Recipes"
    %}
        {% unless include.nutrients %}
            {% assign shorterFacts = "true" %}
            {% assign recipe = "false" %}
        {% endunless %}
    {% endif %}

    <!-- Manually make shorter for include nutrition.html -->
    {% if include.recipe == "false" %}
          {% assign recipe = "false" %}
          {% assign shorterFacts = "true" %}
    {% endif %}

    <!-- Assign nutrients array -->
    {% if include.nutrients %}
        {% assign nutrients = include.nutrients %}
        {% assign recipe = "false" %}
    {% elsif recipe == "true" %}
        {% assign nutrients =
            "Calories,"
            | append: "Fat,"
            | append: "Saturated Fat,"
            | append: "Polyunsaturated Fat,"
            | append: "Monounsaturated Fat,"
            | append: "Cholesterol,"
            | append: "Sodium,"
            | append: "Carbs,"
            | append: "Fiber,"
            | append: "Soluble Fiber,"
            | append: "Insoluble Fiber,"
            | append: "Net Carbs,"
            | append: "Sugar,"
            | append: "Added Sugar,"
            | append: "Sugar Alcohol,"
            | append: "Allulose,"
            | append: "Lactose,"
            | append: "Protein,"
            | append: "Gluten,"
            | append: "Vitamin B12,"
            | append: "Vitamin D,"
            | append: "Calcium,"
            | append: "Iron,"
            | append: "Magnesium,"
            | append: "Potassium,"
            | append: "Caffeine"
            | split: ","
        %}
    {% else %}
        {% assign nutrients =
            "Calories,"
            | append: "Fat,"
            | append: "Sodium,"
            | append: "Carbs,"
            | append: "Fiber,"
            | append: "Sugar,"
            | append: "Protein"
            | split: ","
        %}
    {% endif %}

    <!-- Use parameters or not -->
    {% assign ing = page.ing %}
    {% assign facts = page.facts %}
    {% if include.facts %}
        {% assign ing = include.ing %}
        {% assign facts = include.facts %}
    {% elsif include.file %}
        {% assign ing = include.file | append: "-ing" %}
        {% assign facts = include.file | append: "-facts" %}
    {% elsif page.file %}
        {% assign ing = page.file | append: "-ing" %}
        {% assign facts = page.file | append: "-facts" %}
    {% endif %}
    {% assign ingBackup = ing %}

    <!-- Multiplication factor (if necessary) -->
    {% assign factor = 1.0 %}
    {% if include.factor %}
        {% assign factor = include.factor %}
    {% endif %}

    <!-- Print section title -->
    {% if facts and recipe == "true" %}
        <div id="nutrition-facts" class="recipe-header">Nutrition Facts</div>
    {% endif %}

    <!-- Only run if there's a nutrtion facts file -->
    {% if facts %}

        <!-- Initialize all variables to blank -->
        {% assign cal = "" %}

        {% assign fat = "" %}
        {% assign totalFat = "" %}
        {% assign sat = "" %}
        {% assign trans = "" %}
        {% assign poly = "" %}
        {% assign mono = "" %}
        {% assign choles = "" %}

        {% assign sod = "" %}

        {% assign carb = "" %}
        {% assign totalCarb = "" %}
        {% assign netCarb = "" %}

        {% assign fib = "" %}
        {% assign totalFib = "" %}
        {% assign solubleFiber = "" %}
        {% assign insolubleFiber = "" %}

        {% assign sug = "" %}
        {% assign totalSugar = "" %}
        {% assign addedSugar = "" %}

        {% assign sugAlc = "" %}
        {% assign all = "" %}
        {% assign lactose = "" %}

        {% assign prot = "" %}
        {% assign gluten = "" %}

        {% assign vitA = "" %}
        {% assign vitB1 = "" %}
        {% assign vitB2 = "" %}
        {% assign vitB3 = "" %}
        {% assign vitB5 = "" %}
        {% assign vitB6 = "" %}
        {% assign vitB9 = "" %}
        {% assign vitB12 = "" %}
        {% assign vitC = "" %}
        {% assign vitD = "" %}
        {% assign vitE = "" %}
        {% assign vitK = "" %}
        {% assign choline = "" %}

        {% assign calc = "" %}
        {% assign cop = "" %}
        {% assign iron = "" %}
        {% assign magn = "" %}
        {% assign mang = "" %}
        {% assign phos = "" %}
        {% assign pot = "" %}
        {% assign sel = "" %}
        {% assign zinc = "" %}

        {% assign histidine = "" %}
        {% assign isoleucine = "" %}
        {% assign leucine = "" %}
        {% assign lysine = "" %}
        {% assign methionine = "" %}
        {% assign phenylalanine = "" %}
        {% assign threonine = "" %}
        {% assign tryptophan = "" %}
        {% assign valine = "" %}

        {% assign caffeine = "" %}

        <!-- Loop Variables -->
        {% assign loopVarIng = site.data[ing] %}
        {% assign loopVarIngBackup = loopVarIng %}
        {% assign loopVarFacts = site.data[facts] %}
        {% if include.folder %}
            {% assign folder = include.folder %}
            {% assign loopVarIng = site.data[folder][ing] %}
            {% assign loopVarFacts = site.data.[folder][facts] %}
        {% endif %}

        <!-- Loop to get nutrition facts -->
        {% for row in loopVarFacts %}
            {% for pair in row %}
                {% assign dv = "" %}
                {% if row.DV %}
                    {% assign dv_factor = row.DV | times: factor | round: 0 %}
                    {% assign dv = ' (' | append: dv_factor | append: ' %)' %}
                {% endif %}

                {% assign val = row.Amount | times: factor %}

                {% assign line0 = val | plus: 0 | round: 0 | append: row.Unit | append: dv %}
                {% assign line1 = val | plus: 0 | round: 1 | append: row.Unit | append: dv %}
                {% assign line2 = val | plus: 0 | round: 2 | append: row.Unit | append: dv %}
                {% assign line3 = val | plus: 0 | round: 3 | append: row.Unit | append: dv %}

                {% if pair[1] == "Calories" and nutrients contains "Calories" %}
                    {% assign cal = line0 %}
                    {% assign totalCal = val | plus: 0 | round: 1 %}
                {% endif %}

                {% if pair[1] == "Fat" and nutrients contains "Fat" %}
                    {% assign fat = line1 %}
                    {% assign totalFat = val | plus: 0 | round: 1 %}
                {% endif %}

                {% if pair[1] == "Saturated fatty acids" and nutrients contains "Saturated Fat" %}
                    {% assign sat = line1 %}
                {% endif %}

                {% if pair[1] == "Fatty acids, total trans" and nutrients contains "Trans Fat" %}
                    {% assign trans = line1 %}
                {% endif %}

                {% if pair[1] == "Polyunsaturated fatty acids" and nutrients contains "Polyunsaturated Fat" %}
                    {% assign poly = line1 %}
                {% endif %}

                {% if pair[1] == "Monounsaturated fatty acids" and nutrients contains "Monounsaturated Fat" %}
                    {% assign mono = line1 %}
                {% endif %}

                {% if pair[1] == "Cholesterol" and nutrients contains "Cholesterol" %}
                    {% assign choles = line0 %}
                {% endif %}

                {% if pair[1] == "Sodium" and nutrients contains "Sodium" %}
                    {% assign sod = line0 %}
                {% endif %}

                {% if pair[1] == "Carbohydrate" and nutrients contains "Carbs" %}
                    {% assign carb = line1 %}
                    {% assign totalCarb = val | plus: 0 | round: 1 %}
                {% endif %}

                {% if pair[1] == "Fiber" and nutrients contains "Fiber" %}
                    {% assign fib = line1 %}
                    {% assign totalFib = val | plus: 0 | round: 1 %}
                {% endif %}

                {% if pair[1] == "Sugars" and nutrients contains "Sugar" %}
                    {% assign sug = line1 %}
                    {% assign totalSugar = val | plus: 0 | round: 1 %}
                {% endif %}

                {% if pair[1] == "Protein" and nutrients contains "Protein" %}
                    {% assign prot = line1 %}
                    {% assign totalProtein = val | plus: 0 | round: 1 %}
                {% endif %}

                {% if pair[1] == "Vitamin A, RAE" and nutrients contains "Vitamin A" %}
                    {% assign vitA = line1 %}
                {% endif %}

                {% if pair[1] == "Thiamin [Vitamin B1]" and nutrients contains "Vitamin B1" %}
                    {% assign vitB1 = line2 %}
                {% endif %}

                {% if pair[1] == "Riboflavin [Vitamin B2]" and nutrients contains "Vitamin B2" %}
                    {% assign vitB2 = line2 %}
                {% endif %}

                {% if pair[1] == "Niacin [Vitamin B3]" and nutrients contains "Vitamin B3" %}
                    {% assign vitB3 = line1 %}
                {% endif %}

                {% if pair[1] == "Pantothenic acid [Vitamin B5]" and nutrients contains "Vitamin B5" %}
                    {% assign vitB5 = line1 %}
                {% endif %}

                {% if pair[1] == "Vitamin B6" and nutrients contains "Vitamin B6" %}
                    {% assign vitB6 = line2 %}
                {% endif %}

                {% if pair[1] == "Folate, DFE [Vitamin B9]" and nutrients contains "Vitamin B9" %}
                    {% assign vitB9 = line1 %}
                {% endif %}

                {% if pair[1] == "Vitamin B12 [Cobalamin]" and nutrients contains "Vitamin B12" %}
                    {% assign vitB12 = line2 %}
                {% endif %}

                {% if pair[1] == "Vitamin C [Ascorbic acid]" and nutrients contains "Vitamin C" %}
                    {% assign vitC = line1 %}
                {% endif %}

                {% if pair[1] == "Vitamin D" and nutrients contains "Vitamin D" %}
                    {% assign vitD = line2 %}
                {% endif %}

                {% if pair[1] == "Vitamin E (alpha-tocopherol)" and nutrients contains "Vitamin E" %}
                    {% assign vitE = line2 %}
                {% endif %}

                {% if pair[1] == "Vitamin K" and nutrients contains "Vitamin K" %}
                    {% assign vitK = line1 %}
                {% endif %}

                {% if pair[1] == "Choline" and nutrients contains "Choline" %}
                    {% assign choline = line0 %}
                {% endif %}

                {% if pair[1] == "Calcium" and nutrients contains "Calcium" %}
                    {% assign calc = line0 %}
                {% endif %}

                {% if pair[1] == "Copper" and nutrients contains "Copper" %}
                    {% assign cop = line2 %}
                {% endif %}

                {% if pair[1] == "Iron" and nutrients contains "Iron" %}
                    {% assign iron = line2 %}
                {% endif %}

                {% if pair[1] == "Magnesium" and nutrients contains "Magnesium" %}
                    {% assign magn = line0 %}
                {% endif %}

                {% if pair[1] == "Manganese" and nutrients contains "Manganese" %}
                    {% assign mang = line2 %}
                {% endif %}

                {% if pair[1] == "Phosphorus" and nutrients contains "Phosphorus" %}
                    {% assign phos = line0 %}
                {% endif %}

                {% if pair[1] == "Potassium" and nutrients contains "Potassium" %}
                    {% assign pot = line0 %}
                {% endif %}

                {% if pair[1] == "Selenium" and nutrients contains "Selenium" %}
                    {% assign sel = line1 %}
                {% endif %}

                {% if pair[1] == "Zinc" and nutrients contains "Zinc" %}
                    {% assign zinc = line2 %}
                {% endif %}

                {% if pair[1] == "Histidine" and nutrients contains "Histidine" %}
                    {% assign histidine = line2 %}
                {% endif %}

                {% if pair[1] == "Isoleucine" and nutrients contains "Isoleucine" %}
                    {% assign isoleucine = line2 %}
                {% endif %}

                {% if pair[1] == "Leucine" and nutrients contains "Leucine" %}
                    {% assign leucine = line2 %}
                {% endif %}

                {% if pair[1] == "Lysine" and nutrients contains "Lysine" %}
                    {% assign lysine = line2 %}
                {% endif %}

                {% if pair[1] == "Methionine" and nutrients contains "Methionine" %}
                    {% assign methionine = line2 %}
                {% endif %}

                {% if pair[1] == "Phenylalanine" and nutrients contains "Phenylalanine" %}
                    {% assign phenylalanine = line2 %}
                {% endif %}

                {% if pair[1] == "Threonine" and nutrients contains "Threonine" %}
                    {% assign threonine = line2 %}
                {% endif %}

                {% if pair[1] == "Tryptophan" and nutrients contains "Tryptophan" %}
                    {% assign tryptophan = line2 %}
                {% endif %}

                {% if pair[1] == "Valine" and nutrients contains "Valine" %}
                    {% assign valine = line2 %}
                {% endif %}

                {% if pair[1] == "Caffeine" and nutrients contains "Caffeine" %}
                    {% assign caffeine = line1 %}
                {% endif %}

            {% endfor %}
        {% endfor %}

        <!-- Calculate added sugar, sugar alcohols, allulose, gluten, soluble/insoluble fiber, and lactose -->
        {% assign servings = 1 | times: 1 %}
        {% assign loopVarIng = loopVarIngBackup %}
        {% for row in loopVarIng %}
            {% if forloop.last %}
                {% assign servings = row["Amount"] | times: 1 %}
                {% continue %}
            {% endif %}

            {% assign food = row["Ingredient"] %}
            {% assign mass = row["Amount"] | times: 1.0 %}

            {% for row in site.data.foods %}
                <!-- Added sugar, sugar alcohol, allulose, gluten, soluble/insoluble fiber, and lactose per ingredient -->
                {% if row["Food"] == food %}
                    {% assign itemAddedSugar = row["Add Sug per 100 g"] | times: mass | divided_by: 100 %}
                    {% assign addedSugar = addedSugar | plus: itemAddedSugar %}

                    {% assign itemSugarAlcohol = row["Sug Alc per 100 g"] | times: mass | divided_by: 100 %}
                    {% assign sugAlc = sugAlc | plus: itemSugarAlcohol %}

                    {% assign itemAllulose = row["Allulose per 100 g"] | times: mass | divided_by: 100 %}
                    {% assign all = all | plus: itemAllulose %}

                    {% assign itemLactose = row["Lactose per 100 g"] | times: mass | divided_by: 100 %}
                    {% assign lactose = lactose | plus: itemLactose %}

                    {% assign fileName = row["File"] | append: "-facts" %}
                    {% assign factsFile = site.data.servingSizes[fileName] %}

                    {% assign unit_protein = 0.0 %}
                    {% for r in factsFile %}
                      {% if r["Nutrient"] == "Protein" %}
                        {% assign unit_protein = r["Amount"] %}
                        {% break %}
                      {% endif %}
                    {% endfor %}
                    {% assign itemProtein = unit_protein | times: mass | divided_by: 100 %}

                    {% assign itemGluten = row["Gluten Protein %"] | times: itemProtein | divided_by: 100 %}
                    {% assign gluten = gluten | plus: itemGluten %}

                    {% assign unit_fiber = 0.0 %}
                    {% for r in factsFile %}
                      {% if r["Nutrient"] == "Fiber" %}
                        {% assign unit_fiber = r["Amount"] %}
                        {% break %}
                      {% endif %}
                    {% endfor %}
                    {% assign itemFiber = unit_fiber | times: mass | divided_by: 100 %}

                    {% assign solFibPer = row["Soluble Fiber %"] | times: 1.0 %}
                    {% if solFibPer == 0 or solFibPer == nil or solFibPer == "" or solFibPer == blank %}
                      {% assign solFibPer = 50.0 %}
                    {% endif %}
                    {% assign insolFibPer = 100.0 | minus: solFibPer %}

                    {% assign itemSolubleFiber = solFibPer | times: itemFiber | divided_by: 100 %}
                    {% assign solubleFiber = solubleFiber | plus: itemSolubleFiber %}
                    {% assign itemInsolubleFiber = insolFibPer | times: itemFiber | divided_by: 100 %}
                    {% assign insolubleFiber = insolubleFiber | plus: itemInsolubleFiber %}

                    {% comment %}
                      food:"{{food}}"<br>
                      itemGluten:"{{itemGluten}}"<br>
                      gluten:"{{gluten}}"<br>
                      <br>
                    {% endcomment %}

                    {% break %}
                {% endif %}
            {% endfor %}

        {% endfor %}

        {% assign addedSugar = addedSugar | divided_by: servings %}
        {% assign sugAlc = sugAlc | divided_by: servings %}
        {% assign all = all | divided_by: servings %}
        {% assign gluten = gluten | divided_by: servings %}
        {% assign solubleFiber = solubleFiber | divided_by: servings %}
        {% assign insolubleFiber = insolubleFiber | divided_by: servings %}
        {% assign lactose = lactose | divided_by: servings %}

        <!-- Print nutrition facts -->
        <div class='recipe-section'>

            <div class='cals'>
                ------------------------------------------<br>
                {% assign ing = ingBackup %}
                {% if ing %}
                    {% include servings.html ing=ing %}
                {% endif %}

                {% if page.servingSize and recipe == "true" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/serving-sizes">Serving Size</a></b>: {{ page.servingSize }}
                    </div>
                {% endif %}

                {% if cal != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/calories">Calories</a></b>: {{ cal }}
                    </div>
                {% endif %}

            </div>

            <div class='macros'>

                ------------------------------------------<br>
                 <!-- Fats: total, sat, unsat, poly, cholesterol -->
                {% if fat != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/fats">Total Fat</a></b>: {{ fat }}
                    </div>
                {% endif %}

                <!-- If total fat is 0, then hide sat, unsat, trans, & cholesterol -->
                {% if totalFat and totalFat != 0 %}
                    {% if sat != "" %}
                        <div class="nutrition-indent-1">
                            <b><a href="/misc/fats">Saturated Fat</a></b>: {{ sat }}
                        </div>
                    {% endif %}

                    <div class="also-hide">
                        {% if trans != "" %}
                            <div class="nutrition-indent-1">
                                <b><a href="/misc/fats">Trans Fat</a></b>: {{ trans }}
                            </div>
                        {% endif %}

                        {% if poly != "" %}
                            <div class="nutrition-indent-1">
                                <b><a href="/misc/fats">Polyunsaturated Fat</a></b>: {{ poly }}
                            </div>
                        {% endif %}

                        {% if mono != "" %}
                            <div class="nutrition-indent-1">
                                <b><a href="/misc/fats">Monounsaturated Fat</a></b>: {{ mono }}
                            </div>
                        {% endif %}

                        {% if choles != "" %}
                            <div class="nutrition-indent-0">
                                <b><a href="/misc/cholesterol">Cholesterol</a></b>: {{ choles }}
                            </div>
                        {% endif %}

                    </div>

                {% endif %}

                {% if sod != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/sodium">Sodium</a></b>: {{ sod }}
                    </div>
                {% endif %}

                <!-- Carbs: total, fiber, net, sug, sugAlc, allulose -->
                {% if carb != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/carbs">Total Carbohydrate</a></b>: {{ carb }}
                    </div>
                {% endif %}

                <!-- If total carbs is 0, then hide fiber, net carbs, and sugar -->
                {% if totalCarb != "" and totalCarb != 0.0 and totalCarb != 0 %}

                    <!-- Added sugar, sugar alcohols, allulose, gluten, soluble/insoluble fiber, and lactose -->
                    {% assign addedSugarNum = addedSugar | plus: 0 %}
                    {% assign totalSugarNum = totalSugar | plus: 0 %}
                    {% assign sugAlcNum = sugAlc | plus: 0 %}
                    {% assign allNum = all | plus: 0 %}
                    {% assign glutenNum = gluten | plus: 0 %}
                    {% assign solubleFiberNum = solubleFiber | plus: 0 %}
                    {% assign insolubleFiberNum = insolubleFiber | plus: 0 %}
                    {% assign lactoseNum = lactose | plus: 0 %}

                    {% if fib != "" %}
                        <div class="nutrition-indent-1">
                            <b><a href="/misc/fiber">Fiber</a></b>: {{ fib }}
                        </div>
                    {% endif %}

                    <div class="also-hide">
                        {% if solubleFiberNum != 0 %}
                            {% assign solubleFiberStr = solubleFiberNum | round: 1 | append: 'g' %}
                            <!-- <div class="nutrition-indent-2">
                                <b><a href="/misc/fiber">Soluble Fiber</a></b>: {{ solubleFiberStr }}
                            </div> -->
                        {% endif %}
                    </div>
                    <div class="also-hide">
                        {% if insolubleFiberNum != 0 %}
                            {% assign insolubleFiberStr = insolubleFiberNum | round: 1 | append: 'g' %}
                            <!-- <div class="nutrition-indent-2">
                                <b><a href="/misc/fiber">Insoluble Fiber</a></b>: {{ insolubleFiberStr }}
                            </div> -->
                        {% endif %}
                    </div>

                    <!-- Calc net carbs -->
                    {% assign netCarb = totalCarb | minus: totalFib | minus: sugAlc | minus: all %}
                    {% if netCarb < 0 %}
                        {% assign netCarb = "" %}
                    {% endif %}
                    {% if netCarb != "" %}
                        {% assign netCarbStr = netCarb | round: 1 | append: 'g' %}
                        <div class="nutrition-indent-1">
                            <b><a href="/misc/carbs">Net Carbs</a></b>: {{ netCarbStr }}
                        </div>
                    {% endif %}

                    {% if sug != "" %}
                        <div class="nutrition-indent-1">
                            <b><a href="/misc/carbs">Total Sugar</a></b>: {{ sug }}
                        </div>
                    {% endif %}

                    <!-- Added sugar, sugar alcohols, allulose, lactose -->
                    {% if addedSugarNum != 0 and totalSugarNum != 0 %}
                        {% if addedSugarNum > totalSugarNum %}
                            {% assign addedSugarNum = totalSugarNum %}
                        {% endif %}
                        {% assign addedSugarPercentage = addedSugarNum | divided_by: 50 | times: 100 | round: 0 %}
                        {% assign addedSugarStr = addedSugarNum | round: 1 | append: 'g (' | append: addedSugarPercentage | append: ' %)' %}
                        <div class="nutrition-indent-2">
                            <b><a href="/misc/hidden-sugar">Added Sugar</a></b>: {{ addedSugarStr }}
                        </div>
                    {% endif %}

                    <div class="also-hide">
                        {% if lactoseNum != 0 %}
                            {% assign lactoseStr = lactoseNum | round: 1 | append: 'g' %}
                            <!-- <div class="nutrition-indent-2">
                                <b><a href="/misc/dairy">Lactose</a></b>: {{ lactoseStr }}
                            </div> -->
                        {% endif %}

                        {% if sugAlcNum != 0 %}
                            {% assign sugAlcStr = sugAlcNum | round: 1 | append: 'g' %}
                            <div class="nutrition-indent-1">
                                <b><a href="/misc/fake-healthy-foods#sugar-substitutes">Sugar Alcohol</a></b>: {{ sugAlcStr }}
                            </div>
                        {% endif %}

                        {% if allNum != 0 %}
                            {% assign allStr = allNum | round: 1 | append: 'g' %}
                            <div class="nutrition-indent-1">
                                <b><a href="/misc/fake-healthy-foods#sugar-substitutes">Allulose</a></b>: {{ allStr }}
                            </div>
                        {% endif %}
                    </div>

                {% endif %}

                {% if prot != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/protein">Protein</a></b>: {{ prot }}
                    </div>
                {% endif %}

                <div class="also-hide">
                    <!-- Gluten -->
                    {% if glutenNum != 0 %}
                        {% assign glutenPercentage = glutenNum | divided_by: 12.337 | times: 100 | round: 0 %}
                        {% assign glutenStr = glutenNum | round: 1 | append: 'g (' | append: glutenPercentage | append: ' %)' %}
                        <!-- <div class="nutrition-indent-1">
                            <b><a href="/misc/celiac">Gluten</a></b>: {{ glutenStr }}
                        </div> -->
                    {% endif %}

                    <!-- Protein ratio -->
                    {% if totalCal > 0 %}
                        {% assign round = 3 %}
                        {% assign protRatio = totalProtein | divided_by: totalCal | round: round %}

                        {% assign parts = protRatio | split: "." %}

                        {% if rnd == 0 %}
                          {% assign formattedRatio = parts[0] %}
                        {% else %}
                          {% if parts.size == 1 %}
                            {% capture formattedRatio %}{{ parts[0] }}.{% for i in (1..round) %}0{% endfor %}{% endcapture %}
                          {% else %}
                            {% assign decimals = parts[1] %}
                            {% assign missing = round | minus: decimals.size %}
                            {% capture formattedRatio %}{{ parts[0] }}.{{ decimals }}{% if missing > 0 %}{% for i in (1..missing) %}0{% endfor %}{% endif %}{% endcapture %}
                          {% endif %}
                        {% endif %}

                        {% assign protRatio = formattedRatio %}
                        <!-- <div class="nutrition-indent-1">
                            <b><a href="/misc/high-protein">Protein Ratio</a></b>: {{ protRatio }}
                        </div> -->
                    {% endif %}
                </div>

            </div>

            <div class='micros'>

                {% if shorterFacts == "false" %} ------------------------------------------<br> {% endif %}

                {% if vitA != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/nutrient-alphabet#A">Vitamin A</a></b>: {{ vitA }}
                    </div>
                {% endif %}

                {% if vitB1 != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/nutrient-alphabet#T">Vitamin B1 (Thiamin)</a></b>: {{ vitB1 }}
                    </div>
                {% endif %}

                {% if vitB2 != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/nutrient-alphabet#R">Vitamin B2 (Riboflavin)</a></b>: {{ vitB2 }}
                    </div>
                {% endif %}

                {% if vitB3 != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/nutrient-alphabet#N">Vitamin B3 (Niacin)</a></b>: {{ vitB3 }}
                    </div>
                {% endif %}

                {% if vitB5 != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/nutrient-alphabet#P">Vitamin B5</a></b>: {{ vitB5 }}
                    </div>
                {% endif %}

                {% if vitB6 != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/nutrient-alphabet#B">Vitamin B6 (Pyridoxine)</a></b>: {{ vitB6 }}
                    </div>
                {% endif %}

                {% if vitB9 != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/nutrient-alphabet#F">Vitamin B9 (Folate)</a></b>: {{ vitB9 }}
                    </div>
                {% endif %}

                {% if vitB12 != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/vitamin-b12">Vitamin B12</a></b>: {{ vitB12 }}
                    </div>
                {% endif %}

                {% if vitC != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/vitamin-c">Vitamin C</a></b>: {{ vitC }}
                    </div>
                {% endif %}

                {% if vitD != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/nutrient-alphabet#D">Vitamin D</a></b>: {{ vitD }}
                    </div>
                {% endif %}

                {% if vitE != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/nutrient-alphabet#E">Vitamin E</a></b>: {{ vitE }}
                    </div>
                {% endif %}

                {% if vitK != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/nutrient-alphabet#K">Vitamin K</a></b>: {{ vitK }}
                    </div>
                {% endif %}

                {% if choline != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/choline">Choline</a></b>: {{ choline }}
                    </div>
                {% endif %}

                {% if shorterFacts == "false" %} ------------------------------------------<br> {% endif %}

                {% if cop != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/nutrient-alphabet#C">Copper</a></b>: {{ cop }}
                    </div>
                {% endif %}

                {% if calc != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/calcium">Calcium</a></b>: {{ calc }}
                    </div>
                {% endif %}

                {% if iron != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/iron">Iron</a></b>: {{ iron }}
                    </div>
                {% endif %}

                {% if magn != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/magnesium">Magnesium</a></b>: {{ magn }}
                    </div>
                {% endif %}

                {% if mang != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/nutrient-alphabet#M">Manganese</a></b>: {{ mang }}
                    </div>
                {% endif %}

                {% if phos != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/phosphorus">Phosphorus</a></b>: {{ phos }}
                    </div>
                {% endif %}

                {% if pot != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/potassium">Potassium</a></b>: {{ pot }}
                    </div>
                {% endif %}

                {% if sel != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/nutrient-alphabet#S">Selenium</a></b>: {{ sel }}
                    </div>
                {% endif %}

                {% if zinc != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/nutrient-alphabet#Z">Zinc</a></b>: {{ zinc }}
                    </div>
                {% endif %}

                {% if caffeine != "" and caffeine != "0.0mg"%}
                    <div class="nutrition-indent-0">
                        ------------------------------------------<br>
                        <b>Caffeine</b>: {{ caffeine }}
                    </div>
                {% endif %}

                {% if aminoAcids == "true" %} ------------------------------------------<br> {% endif %}

                {% if histidine != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/nutrient-alphabet#H">Histidine</a></b>: {{ histidine }}
                    </div>
                {% endif %}

                {% if isoleucine != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/protein">Isoleucine</a></b>: {{ isoleucine }}
                    </div>
                {% endif %}

                {% if leucine != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/protein">Leucine</a></b>: {{ leucine }}
                    </div>
                {% endif %}

                {% if lysine != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/protein">Lysine</a></b>: {{ lysine }}
                    </div>
                {% endif %}

                {% if methionine != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/protein">Methionine</a></b>: {{ methionine }}
                    </div>
                {% endif %}

                {% if phenylalanine != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/protein">Phenylalanine</a></b>: {{ phenylalanine }}
                    </div>
                {% endif %}

                {% if threonine != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/protein">Threonine</a></b>: {{ threonine }}
                    </div>
                {% endif %}

                {% if tryptophan != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/protein">Tryptophan</a></b>: {{ tryptophan }}
                    </div>
                {% endif %}

                {% if valine != "" %}
                    <div class="nutrition-indent-0">
                        <b><a href="/misc/nutrient-alphabet#V">Valine</a></b>: {{ valine }}
                    </div>
                {% endif %}

            </div>
            ------------------------------------------<br>

        </div>

        <!-- Glycemic index & full nutrition facts only on recipes-->
        <div class='gi'>
            {% if recipe == "true" %}
                {% include glycemic.html %}
                <br>
                {% include fullNutritionTable.html facts=facts addedSugar=addedSugar netCarb=netCarb sugAlc=sugAlc all=all lactose=lactose gluten=gluten solubleFiber=solubleFiber insolubleFiber=insolubleFiber %}
            {% endif %}
        </div>

        {% if recipe == "true" %}
            <hr>
        {% endif %}
    {% endif %}
</div>

<style>
    .nutrition-indent-0 {
        margin-left: 0rem;
    }

    .nutrition-indent-1 {
        margin-left: 1.25rem;
    }

        .nutrition-indent-2 {
        margin-left: 2.5rem;
    }

    @media print {
        .micros,
        .gi,
        .also-hide {
            display: none;
        }
    }
</style>
