<br><u><font size='+2'>Other Posts in this Series</font></u><br>
<ol>
    <li><a href="/misc/meat" target="_blank" rel="noopener noreferrer">Let's Meet The Meats</a></li>
    <li><a href="/misc/nuts" target="_blank" rel="noopener noreferrer">I'm Nuts For Nuts</a></li>
    <li><a href="/misc/seeds" target="_blank" rel="noopener noreferrer">I See Seeds In Your Future</a></li>
    <li><a href="/misc/beans" target="_blank" rel="noopener noreferrer">Beans Beans The Musical Fruit</a></li>
    <li><a href="/misc/fruit" target="_blank" rel="noopener noreferrer">Going Bananas For Bananas</a></li>
    <li><a href="/misc/veggies" target="_blank" rel="noopener noreferrer">Lettuce Turnip The Beet</a></li>
    <li><a href="/misc/fish" target="_blank" rel="noopener noreferrer">I'm Hooked On Fish</a></li>
    <li><a href="/misc/grains" target="_blank" rel="noopener noreferrer">A Grain Of Truth</a></li>
    <li><a href="/misc/dairy" target="_blank" rel="noopener noreferrer">I'm Dying For Dairy</a></li>
</ol>
{% assign folder = category | capitalize %}
<br>
<div class="image-row">
  <img src='/assets/Misc/Nutrition/Foods/list.png' alt='' class='smaller-image'><img src='/assets/Misc/Nutrition/Foods/diet.png' alt='' class='smaller-image'>
</div><br><br>
<hr>
