{% assign ing = page.ing %}
{% if include.ing %}
    {% assign ing = include.ing %}
{% elsif include.file %}
    {% assign file = include.file %}
    {% assign ing = file | append: "-ing" %}
{% elsif page.file %}
    {% assign file = page.file %}
    {% assign ing = file | append: "-ing" %}
{% endif %}

{% for row in site.data[ing] %}
    {% if forloop.last %}
        {% assign base_servings = row["Amount"] | plus: 0 %}  <!-- Ensure it converts to a number -->
    {% endif %}
{% endfor %}

{% if ing %}
    <!-- Servings Display -->
    <div id="nutritionServings">
        <b><a href="/misc/serving-sizes">Servings</a></b>: <span id="nutritionServingCount">{{ base_servings | default: 1 }}</span>
    </div>
{% endif %}

