{% if include.pageurl != nil and include.pageurl != '' %}
    {% assign pageurl = include.pageurl %}
{% else %}
    {% assign pageurl = page.url %}
{% endif %}
{% assign share_url = site.url | append: pageurl %}

<style>
    #share-buttons {display: inline-block; vertical-align: middle; }
    #share-buttons:after {content: ""; display: block; clear: both;}
    #share-buttons > div {
        position: relative;
        text-align: left;
        height: 36px;
        width: 32px;
        float: left;
        text-align: center;
    }
    #share-buttons > div > svg {height: 16px; fill: var(--default-text-color); margin-top: 10px;}

    #share-buttons > div:hover {cursor: pointer;}
    #share-buttons > div.facebook:hover > svg {fill: #1877F2;}
    #share-buttons > div.twitter:hover > svg {fill: #1DA1F2;}
    #share-buttons > div.mail:hover > svg {fill: #D44638;}
    #share-buttons > div.text-message:hover > svg {fill: #25D366;}
    #share-buttons > div.copy-link:hover > svg {fill: #0000EE;}
    #share-buttons > div.copy-recipe:hover > svg {fill: #551A8B;}
    #share-buttons > div.copy-nutrition:hover > svg {fill: #db18cb;}

    #share-buttons > div.facebook > svg {height: 18px; margin-top: 9px;}
    #share-buttons > div.twitter > svg {height: 20px; margin-top: 8px;}
    #share-buttons > div.mail > svg {height: 14px; margin-top: 11px;}
    #share-buttons > div.text-message > svg {height: 20px; margin-top: 8px;}
    #share-buttons > div.copy-link > svg {height: 18px; margin-top: 9px;}
    #share-buttons > div.copy-recipe > svg {height: 18px; margin-top: 9px;}
    #share-buttons > div.copy-nutrition > svg {height: 18px; margin-top: 9px;}
</style>

<span style="color: var(--default-text-color);">Share on: </span><div id="share-buttons">
    <!-- Facebook -->
    <div
      class='facebook'
      title="Share this on Facebook"
      onclick="window.open(
        'https://www.facebook.com/sharer/sharer.php?u='
        + encodeURIComponent('{{ site.url }}{{ pageurl }}')
      );"
    >
        <svg viewBox="0 0 1792 1792" xmlns="https://www.w3.org/2000/svg">
            <path d="M1343 12v264h-157q-86 0-116 36t-30 108v189h293l-39 296h-254v759h-306v-759h-255v-296h255v-218q0-186 104-288.5t277-102.5q147 0 228 12z"/>
        </svg>
    </div>

    <!-- Twitter -->
    <div
      class='twitter'
      title="Share this on Twitter"
      onclick="window.open(
        'https://twitter.com/intent/tweet?url='
        + encodeURIComponent('{{ site.url }}{{ pageurl }}')
        + '&text='
        + encodeURIComponent('{{ page.title }} - Poor Man Protein')
      );"
    >
        <svg viewBox="0 0 1792 1792" xmlns="https://www.w3.org/2000/svg">
            <path d="M1684 408q-67 98-162 167 1 14 1 42 0 130-38 259.5t-115.5 248.5-184.5 210.5-258 146-323 54.5q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5t-114-159.5q33 5 61 5 43 0 85-11-112-23-185.5-111.5t-73.5-205.5v-4q68 38 146 41-66-44-105-115t-39-154q0-88 44-163 121 149 294.5 238.5t371.5 99.5q-8-38-8-74 0-134 94.5-228.5t228.5-94.5q140 0 236 102 109-21 205-78-37 115-142 178 93-10 186-50z"/>
        </svg>
    </div>

    <!-- Email -->
    <div
      class='mail'
      title="Share this through Email"
      onclick="
        location.href =
          'mailto:?subject='
          + encodeURIComponent('{{ page.title }} - Poor Man Protein')
          + '&body='
          + encodeURIComponent('{{ page.title }} - Poor Man Protein')
          + '%0A%0A'
          + encodeURIComponent('{{ share_url }}');
      "
    >
        <svg viewBox="0 0 1792 1792" xmlns="https://www.w3.org/2000/svg">
            <path d="M1792 710v794q0 66-47 113t-113 47h-1472q-66 0-113-47t-47-113v-794q44 49 101 87 362 246 497 345 57 42 92.5 65.5t94.5 48 110 24.5h2q51 0 110-24.5t94.5-48 92.5-65.5q170-123 498-345 57-39 100-87zm0-294q0 79-49 151t-122 123q-376 261-468 325-10 7-42.5 30.5t-54 38-52 32.5-57.5 27-50 9h-2q-23 0-50-9t-57.5-27-52-32.5-54-38-42.5-30.5q-91-64-262-182.5t-205-142.5q-62-42-117-115.5t-55-136.5q0-78 41.5-130t118.5-52h1472q65 0 112.5 47t47.5 113z"/>
        </svg>
    </div>

    <!-- Text Message -->
    <div
      class='text-message'
      title="Send link via Text Message"
      onclick="
        location.href =
          'sms:?&body='
          + encodeURIComponent('{{ page.title }} - Poor Man Protein')
          + '%0A%0A'
          + encodeURIComponent('{{ share_url }}');
      "
    >
        <svg viewBox="0 0 24 24" width="32" height="32" data-testid="sms" class='s46582 '>
            <path fill-rule="evenodd" d="M20 2c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H6l-4 4 .01-18c0-1.1.89-2 1.99-2zM5.172 16H20V4H4.009l-.006 13.169zM9 11H7V9h2zm2 0h2V9h-2zm6 0h-2V9h2z" clip-rule="evenodd"/>
        </svg>
    </div>

    <!-- Copy Link -->
    <div class='copy-link' title="Copy link to clipboard" onclick="navigator.clipboard.writeText('{{ site.url }}{{ pageurl }}'); alert('Link copied to clipboard!');">
        <svg viewBox="0 0 24 24" width="32" height="32" data-testid="link" class='s46582 '>
            <path d="M11.607 4.393 9.485 6.515A1 1 0 0 0 10.9 7.929l2.12-2.121a3.01 3.01 0 0 1 4.244 0 3.01 3.01 0 0 1 0 4.242l-2.122 2.122a1 1 0 0 0 1.414 1.414l2.122-2.122a5 5 0 0 0 0-7.07 5 5 0 0 0-7.071 0M13.727 15a1 1 0 0 0-1.413 0l-2.122 2.121a3.01 3.01 0 0 1-4.242 0 3.01 3.01 0 0 1 0-4.242l2.121-2.122a1 1 0 0 0-1.414-1.414l-2.121 2.121a5 5 0 0 0 0 7.071 5 5 0 0 0 7.07 0l2.122-2.12a1 1 0 0 0 0-1.415m-4.949-.707a1 1 0 0 1 0-1.414l4.243-4.243a1 1 0 1 1 1.414 1.414l-4.243 4.243a1 1 0 0 1-1.414 0"/>
        </svg>
    </div>

    <!-- Copy Recipe -->
    {% if page.categories[0] == "Recipes" or page.categories[1] == "Unhealthy Recipes" %}
        <div class='copy-recipe' title="Copy recipe" onclick="copyRecipe()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M16 1H4a2 2 0 00-2 2v14h2V3h12V1zm3 4H8a2 2 0 00-2 2v16a2 2 0 002 2h11a2 2 0 002-2V7a2 2 0 00-2-2zm0 18H8V7h11v16z"/>
            </svg>
        </div>
    {% endif %}

    <!-- Copy Nutrition Facts -->
    {% if page.categories[0] == "Recipes" or page.categories[1] == "Unhealthy Recipes" %}
        <div class='copy-nutrition' title="Copy nutrition facts" onclick="copyNutrition()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M7 2a2 2 0 00-2 2v16a2 2 0 002 2h10a2 2 0 002-2V4a2 2 0 00-2-2H7zm10 18H7V4h10v16zM9 6h6v2H9V6zm0 4h2v2H9v-2zm0 4h2v2H9v-2zm4-4h2v2h-2v-2zm0 4h2v2h-2v-2z"/>
            </svg>
        </div>
    {% endif %}

</div>

<script>
    function copyRecipe() {
        var copyText = document.querySelector(".recipe-copy");

        // Temporarily make the element visible
        copyText.style.display = "block";

        var range = document.createRange();
        range.selectNode(copyText);  // Select the content of the element
        window.getSelection().removeAllRanges();  // Clear previous selections
        window.getSelection().addRange(range);  // Select new range

        try {
            document.execCommand("copy");  // Execute the copy command
            alert("Recipe copied to clipboard!");  // Success alert
        } catch (err) {
            alert("Failed to copy recipe.");  // Error alert
        }

        // Hide the element again
        copyText.style.display = "none";

        // Clear the selection to reset
        window.getSelection().removeAllRanges();
    }

    function copyNutrition() {
        var copyText = document.querySelector(".nutrition-copy");

        // Temporarily make the element visible
        copyText.style.display = "block";

        var range = document.createRange();
        range.selectNode(copyText);  // Select the content of the element
        window.getSelection().removeAllRanges();  // Clear previous selections
        window.getSelection().addRange(range);  // Select new range

        try {
            document.execCommand("copy");  // Execute the copy command
            alert("Nutrition facts copied to clipboard!");  // Success alert
        } catch (err) {
            alert("Failed to copy nutrition facts.");  // Error alert
        }

        // Hide the element again
        copyText.style.display = "none";

        // Clear the selection to reset
        window.getSelection().removeAllRanges();
    }

    function shareContent(title, url, fallbackType = "sms") {
      const shareTitle = title + " - Poor Man Protein";

      // 1. Native share (iOS/Android modern browsers)
      if (navigator.share) {
        navigator.share({
          title: title,
          text: shareTitle,
          url: url
        });
        return;
      }

      // 2. Fallbacks
      if (fallbackType === "email") {
        location.href =
          "mailto:?subject=" +
          encodeURIComponent(shareTitle) +
          "&body=" +
          encodeURIComponent(shareTitle + "\n\n" + url);
        return;
      }

      if (fallbackType === "sms") {
        location.href =
          "sms:?&body=" +
          encodeURIComponent(shareTitle + "\n\n" + url);
        return;
      }

      // 3. final fallback (just copy link)
      navigator.clipboard.writeText(url);
      alert("Link copied to clipboard!");
    }
</script>
