<div class="recipe-time">
    {% assign prep_minutes = page.Prep | modulo: 60 %}
    {% assign rest_minutes = page.Rest | modulo: 60 %}
    {% assign cook_minutes = page.Cook | modulo: 60 %}
    {% assign totaltime = page.Prep | plus: page.Rest | plus: page.Cook %}
    {% assign minutes = totaltime | modulo: 60 %}

    {% if totaltime > 0 %}
        <div class="recipe-header">Time</font></div>

        {% if page.Prep > 0 %}
            <div class="recipe-section-bold">Prep Time:</div>
            <div class="recipe-section">
                {% if page.Prep >= 60 %}
                    {{ page.Prep | divided_by: 60}} hours
                {% endif %}
                {% if prep_minutes > 0 %} 
                    {{ prep_minutes }} minutes
                {% endif %}
            </div>
            <br>
        {% endif %}


        {% if page.Rest > 0 %}
            <div class="recipe-section-bold">Rest Time:</div>
            <div class="recipe-section">
                {% if page.Rest >= 60 %}
                    {{ page.Rest | divided_by: 60}} hours
                {% endif %}
                {% if rest_minutes > 0 %}
                    {{ rest_minutes }} minutes
                {% endif %}
            </div>
            <br>
        {% endif %}

        {% if page.Cook > 0 %}
            <div class="recipe-section-bold">Cook Time:</div>
            <div class="recipe-section">
            {% if page.Cook >= 60 %}
                {{ page.Cook | divided_by: 60}} hours
                {% endif %}
                {% if cook_minutes > 0 %}
                    {{ cook_minutes }} minutes
                {% endif %}
            </div>
            <br>
        {% endif %}

        <div class="recipe-section-bold">Total Time:</div>
        <div class="recipe-section">
            {% if totaltime >= 60 %}
                {{ totaltime | divided_by: 60}} hours
            {% endif %}
            {% if minutes > 0 %}
                {{ minutes }} minutes
            {% endif %}
        </div>

    {% endif %}
</div>