<div class="post-header">

  <div class="recipe-image">
    {%- if page.image -%}
      <div class="aspect-ratio-container">
        <img src="{{- page.image | relative_url -}}" alt="" class="featured-image-post">
      </div>
    {%- endif -%}
  </div>

  <span class="recipe-title"><a rel="" target="" href="#top-post">{{ page.title | escape }}</a></span>

  <div class="recipe-date">
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        <center>{{ page.date | date: date_format }}</center>
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
    </p>
  </div>

</header>