---
layout: post
title:  Making Cookies Healthier
date:   2024-12-19 00:00:00 -0500
categories:
- Misc.
- Experiments
- Delete
showPercentage: no
hummus: no
oatmeal: no
yogurt: no
nut_butter: no
pesto: no
soup_stew: no
salad: no
dressing: no
brownie: no
cookie: yes
copycat: no
permalink: /misc/healthier-cookies-experiment
image: /assets/Misc/Experiments/Healthy Cookie/Healthy Cookie.png
tags:
- experiment
- chocolate chip cookies
- dessert
- sugar free
- fat free
- gluten free
- allulose
---
{% assign folder = 'healthy-cookies' %}

<u><font size='+2'>Introduction</font></u><br>
I've been wanting to experiment with making healthy versions of classic desserts by swapping out ingredients one by one, analyzing the results, and refining the recipe to end up with a <a href='/recipes/healthier-dessert'>healthier dessert</a> that's as similar as possible to the original product.  Today, I'll be tackling chocolate chip <a href='/cookies'>cookies</a>, but this will be a 2 part series, with a sister post about <a href='/brownies'>brownies</a>.  Be sure to check out <a href='/misc/healthier-brownies-experiment'>Making Brownies Healthier</a> when it goes live.<br><br>

<div class='image-row'>
    <img src='/assets/Misc/Experiments/Healthy Cookie/cookie.png' alt='' class='smaller-image'><img src='/assets/Misc/Experiments/Healthy Cookie/sugar-free.png' alt='' class='smaller-image'>
</div><br>

<u><font size='+2'>The Problem</font></u><br>
Obviously, there's nothing wrong with having a treat like a <a href='/cookies'>cookie</a> every now and then.  Occasionally at a holiday or gathering, one <a href='/cookies'>cookie</a> certainly will not kill you.  But if you're someone who has them all the time, then learning to make healthier swaps with minimal difference can be a gamechanger.<br><br>

For the purposes of this experiment, I will be using my <a href='/recipes/chocolate-chip-cookies'>Classic Chocolate Chip Cookies</a> recipe as a starting point.  The way I see it, there are 3 health problems with traditional <a href='/cookies'>cookies</a>, and most <a href='/recipes/healthier-dessert'>dessert</a> for that matter.  These are the following<br><br>
<ul>
    <li>Added sugars</li>
    <li>Butter or highly refined oils</li>
    <li>Processed white flour</li>
</ul><br>

<img src='/assets/Misc/Unhealthy/Cookies/cookies.jpg' alt='' class='instruction-image'><br>
<img src='/assets/Misc/Unhealthy/Cookies/pb-cookie.jpg' alt='' class='instruction-image'><br>

For reference, below are the ingredients and nutrition facts for my <a href='/recipes/chocolate-chip-cookies'>Classic Chocolate Chip Cookies</a>.  This is just a standard <a href='/cookies'>cookie</a> recipe that I make from time to time, and I figured it would be a good starting place:<br>

{% assign i = site.data[folder]['cookies-ing'] %}
{% include ingredients.html ing=i %}
<br>

These <a href='/cookies'>cookies</a> are delicious, don't get me wrong.  But with 110 <a href='/misc/calories'>calories</a> and 10 g of <a href='/misc/hidden-sugar'>added sugar</a> for a fairly small <a href='/cookies'>cookie</a>, these can't be more than a once a holiday treat for me.  How can we bump up these numbers? (or more accurately, bump them down).<br><br>

{% assign nf=site.data[folder]['cookies-facts']%}
{% include nutrition.html facts=nf ing=i %}
<br>

<u><font size='+2'>Batch 1</font></u><br>
Here is my first batch.  I wanted to tackle the first bullet point right off the bat, as for me this is most glaring flaw, and possibly the easiest to correct.  In place of <a href='/misc/hidden-sugar'>sugar</a>, I will be using allulose, a zero <a href='/misc/calories'>calorie</a> granular natural sweetener.  Below is my list of changes from the original recipe:<br><br>
<ul>
    <li>Swapped <a href='/misc/hidden-sugar'>sugar</a> for allulose at a 1:1 ratio by weight</li>
    <li>Used honey and whole wheat flour instead of molasses and white flour (just what I had on hand)</li>
</ul><br>

As mentioned, the main change was swapping <a href='/misc/hidden-sugar'>sugar</a> for allulose.  I also swapped out the molasses and <a href='/misc/grains#white-wheat'>white flour</a> for honey and <a href='/misc/grains#whole-wheat'>whole wheat flour</a>.  I don't normally have molasses or <a href='/misc/grains#white-wheat'>white flour</a> in my house; I do this swap all the time in standard <a href='/cookies'>cookies</a>.  Below is the full list of ingredients for batch 1:<br>

{% assign i = site.data[folder]['cookiesallulose-ing'] %}
{% include ingredients.html ing=i %}
<br>

Right off the bat, we knocked out most of the <a href='/misc/hidden-sugar'>sugar</a> and nearly a quarter the <a href='/misc/calories'>calories</a>  These <a href='/cookies'>cookies</a> are not <a href='/misc/hidden-sugar'>sugar</a> free through; they still use honey and semi-sweet chocolate chips.  There's also still a whole stick of <a href='/misc/dairy#butter'>butter</a>, and I'm not wild on the <a href='/misc/grains#whole-wheat'>whole wheat flour</a> tbh; we can do better.  But this is a good first step.<br><br>

{% assign nf=site.data[folder]['cookiesallulose-facts']%}
{% include nutrition.html facts=nf ing=i %}
<br>

Let's bake it and see how batch #1 holds up.  For starters, I should go over a quick mistake I made while baking this batch:<br><br>
<ul>
    <li>Reduced vanilla extract from 2 tsp to 1 tsp</li>
        <ul>
          <li>This was just a mistake, I meant to do 2 tsp, but followed the recipe wrong.  We're all human</li>
        </ul>
</ul><br>

I baked this batch in a 350F for 9 mintues, the same as the original recipe.  These <a href='/cookies'>cookies</a> definitely didn't spread as much as standard chocolate chip <a href='/cookies'>cookies</a>.  I believe increased <a href='/misc/hidden-sugar'>sugar</a> in the dough leads to more spreading, so instead these baked up taller.  That's not a bug though, that's a feature.  Because of this, the <a href='/cookies'>cookies</a> were a little browned and crisp on the outside, while still being gooey in the center.  That's a win for me!<br><br>

But how do they taste?  Raw, the <a href='/cookies'>cookie</a> dough was definitely slightly less sweet than normal, had a mild cooling feeling from the allulose, and a stronger <a href='/misc/grains#whole-wheat'>whole wheat</a> taste.  For reference, I normally use <a href='/misc/grains#whole-wheat'>whole wheat flour</a> for <a href='/recipes/chocolate-chip-cookies'>Classic Chocolate Chip Cookies</a> since I hardly ever buy <a href='/misc/grains#white-wheat'>white flour</a>, and you can <i>barely</i> taste the difference.<br><br>

When baked though, the <a href='/cookies'>cookies</a> browned nicely; they cooked and smelled just like standard chocolate chip <a href='/cookies'>cookies</a>.  The flavor, texture, and taste were nearly identical to the standard chocolate chip <a href='/cookies'>cookie</a>.  That may be because of the chocolate chips being unchanged, but this is the best I could hope for in the first batch.<br><br>

<img src='/assets/Misc/Experiments/Healthy Cookie/Allulose/cookies.jpg' alt='' class='instruction-image'><br>

<u><font size='+2'>Definite Next Step</font></u><br>
<ul>
    <li>Replace the honey</li>
        <ul>
            <li>Replace it with <a href='/misc/hidden-sugar'>sugar</a> free syrup?</li>
            <li>Or just omit it?</li>
        </ul>
    <li>Replace the chocolate chips</li>
        <ul>
            <li>Use storebought <a href='/misc/hidden-sugar'>sugar</a> free chocolate chips?</li>
            <li>Or make a homemade sugar free chocolate?</li>
        </ul>
</ul><br>

The next obvious step is to remove all the <a href='/misc/hidden-sugar'>added sugar</a>, meaning the honey and the chocolate chips.  As there's only 1 tbsp of honey, I think I'll just fully cut it out.<br><br>

As for the chocolate chips, this is a more difficult problem.  Storebought <a href='/recipes/monkfruit-chocolate-chunks'>sugar free chocolate chips</a> are more expensive, and can contain other unhealthy additives.  I'd rather sacrifice a little bit of flavor and texture and make homemade <a href='/misc/hidden-sugar'>sugar free</a> chocolate chunks.<br><br>

The homemade chocolate will melt more than chocolate chips, but again I call that a feature instead of a bug.  Melted chocolate means more puddles of chocolate throughout the whole <a href='/cookies'>cookie</a>, instead of bites with all or nothing.<br><br>

<u><font size='+2'>Possible Next Steps?</font></u><br>
<ol>
    <li>Replace the butter for coconut oil, and swap the wheat flour for oat flour</li>
    <li>Replace the butter for some lower <a href='/misc/fats'>fat</a> replacement, and swap the wheat flour for almond flour</li>
</ol><br>

As I found out in <a href='/misc/boxed-brownie-experiment'>Fat Replacements in Boxed Brownies</a> and <a href='/misc/sweet-potato-boxed-brownies'>Sweet Potato Boxed Brownies</a>, <a href='/misc/veggies#sweet-potato'>sweet potato</a> seemed to be the best <a href='/misc/dairy#butter'>butter</a> or <a href='/misc/fats'>oil</a> replacement in <a href='/brownies'>brownies</a>.  But only in keto <a href='/brownies'>brownies</a>, as these still have <a href='/misc/fats'>fat</a> from the <a href='/misc/nuts#almonds'>almond flour</a>.  In standard <a href='/misc/grains#pasta-white'>wheat flour</a> based <a href='/brownies'>brownies</a>, the removal of <a href='/misc/fats'>fat</a> leads to a lackluster flavor and texture.<br><br>

But how does that translate to <a href='/cookies'>cookies</a>?  Option 2 would be ideal, as it uses more natural ingredients like <a href='/misc/veggies#potato'>potatoes</a> and <a href='/misc/nuts'>nuts</a> as opposed to <a href='/misc/fats'>oil</a>, and <a href='/misc/nuts#almonds'>almond flour</a> would be finer as opposed to coarse <a href='/misc/grains#oats'>oat flour</a>.  I'll be starting with this route, but I'll make a batch of the first option if this doesn't work out.<br><br>

<u><font size='+2'>Intermission - Chocolate Bar</font></u><br>
Back to the drawing board.  Firstly, let's tackle the chocolate.  I need to have some sort of chocolate chips or chunks for my <a href='/cookies'>cookies</a>, so let's make a bar.  I'm aiming for semi-sweet chocolate here, which is the following:<br><br>
<ul>
    <li>Serving size: 2 pieces (~15 g)</li>
    <li><a href='/misc/calories'>Calories</a>: 70 g</li>
    <li><a href='/misc/fats'>Fat</a>: 5 g</li>
    <li><a href='/misc/carbs'>Carbs</a>: 8 g</li>
    <li><a href='/misc/fiber'>Fiber</a>: 1 g</li>
    <li><a href='/misc/hidden-sugar'>Sugar</a>: 6 g</li>
</ul><br>

<div id='allulose-chocolate'></div>
A bar of chocolate is essentially just 3 ingredients.  Firstly, you have some solid <a href='/misc/fats'>fat</a>, like cocoa <a href='/misc/dairy#butter'>butter</a> or <a href='/misc/nuts#coconut'>coconut oil</a>.  Second is the cocoa itself, and lastly is the sweetener.  Getting the <a href='/misc/hidden-sugar'>sugar</a> and <a href='/misc/fats'>fat</a> is the easiest, as all the <a href='/misc/hidden-sugar'>sugar</a> comes from the <a href='/misc/hidden-sugar'>sugar</a>, and all the <a href='/misc/fats'>fat</a> comes from the <a href='/misc/fats'>fat</a>.  Simple enough.<br><br>

<img src='/assets/Misc/Experiments/Healthy Cookie/Choc Bar/ing.jpg' alt='' class='instruction-image'><br>

That means, we'll need 6 g of sweetener and 5 g of <a href='/misc/fats'>fat</a>.  That leaves us with the remaining 6 g being cocoa powder.  If using <a href='/misc/hidden-sugar'>sugar</a> as the sweetener and <a href='/misc/nuts#coconut'>coconut oil</a> as the <a href='/misc/fats'>fat</a>, this gets you nearly identical nutrition facts to our original bar.  But I'll be going with allulose here instead of <a href='/misc/hidden-sugar'>sugar</a>.  Scaling up to make a full size chocolate bar, we have the following:<br>

{% assign i = site.data[folder]['allulosechoc-ing'] %}
{% include ingredients.html ing=i %}
<br>

<img src='/assets/Misc/Experiments/Healthy Cookie/Choc Bar/pan.jpg' alt='' class='instruction-image'><br>

This gets us a bar of chocolate weighting 176 g (about 6 oz).  Just melt <a href='/misc/nuts#coconut'>coconut oil</a> in a bowl, mix in the cocoa and sweetener, and transfer to a <a href='https://www.amazon.com/dp/B0D9J99TW4?ref=t_ac_view_request_product_image&campaignId=amzn1.campaign.33LWXAZ203YV4&linkCode=tr1&tag=poormanprotei-20&linkId=amzn1.campaign.33LWXAZ203YV4_1751469098772'>chocolate mold</a> or parchment lined bread pan.  Refrigerate for an hour to harden, and then chop into chunks.<br><br>

{% assign nf=site.data[folder]['allulosechoc-facts']%}
{% include nutrition.html facts=nf ing=i %}
<br>

<img src='/assets/Misc/Experiments/Healthy Cookie/Choc Bar/chopped.jpg' alt='' class='instruction-image'><br>

<u><font size='+2'>Batch 2</font></u><br>
I've made a few changes for the second batch.  The main swap here was changing the <a href='/misc/fats'>fat</a> source from <a href='/misc/dairy#butter'>butter</a> to <a href='/misc/nuts#almonds'>almond butter</a>.  Below is an outline.:<br><br>
<ul>
    <li>Swapped 1 stick (113 g) butter for 1/2 cup (128 g) peanut butter</li>
    <li>Omitted honey</li>
    <li>Use correct amount of vanilla extract</li>
    <li>Swapped whole wheat flour for oat flour</li>
    <li>Used the homemade allulose sweetened chocolate</li>
    <li>Used a flax egg instead of a real egg</li>
        <ul>
            <li>(Main reason) I was out of eggs</li>
            <li>Vegan</li>
            <li>Can be eated raw</li>
            <li>Easier to scale</li>
        </ul>
</ul><br>

<a href='/misc/nuts#peanuts'>Peanut butter</a> lowers the <a href='/misc/fats'>fat</a>, adds <a href='/misc/protein'>protein</a> and <a href='/misc/fiber'>fiber</a>, and is just an overall much healthier ingredient than <a href='/misc/dairy#butter'>butter</a>.  Optionally, add 1/2 tsp (2.5 g) butter extract to make up for the lack of <a href='/misc/dairy#butter'>butter</a> flavor.  Besides this, the other main changes were swapping <a href='/misc/grains#whole-wheat'>whole wheat</a> for <a href='/misc/grains#oats'>oat flour</a>, and using homemade chocolate instead of storebought chips.  Here's the full recipe:<br>

{% assign i = site.data[folder]['cookiesallulose2-ing'] %}
{% include ingredients.html ing=i %}
<br>

By cutting out the honey and chocolate chips, we now have fully <a href='/misc/hidden-sugar'>sugar free</a> <a href='/cookies'>cookies</a>.  If you want it slightly sweeter, add 1/2 tsp (2.5 g) <a href='https://amzn.to/3SqwsMO'>liquid monk fruit</a>.  They're also <a href='/misc/celiac'>gluten free</a> too because of the <a href='/misc/grains#oats'>oat flour</a>, and vegan due to the lack of <a href='/misc/meat#eggs'>eggs</a>.  No <a href='/misc/meat#eggs'>eggs</a> and no <a href='/misc/grains#white-wheat'>flour</a> also means that these can safely be enjoyed raw too!  They can be <a href='/misc/nuts'>nut</a> free as well if you use <a href='/misc/seeds#sesame-seeds'>tahini</a>, <a href='/misc/seeds#pumpkin-seeds'>pumpkin seed butter</a>, or <a href='/misc/seeds#sunflower-seeds'>sunflower seed butter</a>.<br><br>

<img src='/assets/Misc/Experiments/Healthy Cookie/Allulose2/raw.jpg' alt='' class='instruction-image'><br>

I mixed everything with a <a href='https://www.amazon.com/dp/B0C37QM1K3?ref=t_ac_view_request_product_image&campaignId=amzn1.campaign.1OO1S5W7ZMYBB&linkCode=tr1&tag=poormanprotei-20&linkId=amzn1.campaign.1OO1S5W7ZMYBB_1751469633605'>silicone spatula</a>, folded in the chopped chocolate, shaped the <a href='/cookies'>cookies</a>, flattened them down, and let them rest in the fridge for a few hours before baking for 10 minutes at 350F.  I flattened these ones out, since the last batch baked up a little too tall.  So how did this batch bake, and how do they look and taste?<br><br>


Honestly, these were mediocre at best.  They were crunchy, not soft, and not sweet.  The butter extract didn't do anything, and I would have been better off with <a href='/recipes/monkfruit-chocolate-chunks'>sugar free chocolate chips</a> than homemade allulose chocolate.  The one good thing I'll say is that <a href='/misc/grains#oats'>oat flour</a> is a better alternative to <a href='/misc/grains#white-wheat'>white flour</a> in <a href='/cookies'>cookies</a> than <a href='/misc/grains#whole-wheat'>whole wheat flour</a>.  It absorbs more water (meaning you'll need less of it), and it has a more mild flavor that doesn't distract from the <a href='/cookies'>cookies</a>.<br><br>

{% assign nf=site.data[folder]['cookiesallulose2-facts']%}
{% include nutrition.html facts=nf ing=i %}
<br>

<img src='/assets/Misc/Experiments/Healthy Cookie/Allulose2/baked.jpg' alt='' class='instruction-image'><br>

<u><font size='+2'>Conclusion</font></u><br>
Honestly, I won't be baking with allulose again.  It loses all it's sweetness when baked, doesn't spread or brown like <a href='/misc/hidden-sugar'>sugar</a> (despite what it says on the bag), and is expensive.  The first batch of <a href='/cookies'>cookies</a> was actually fairly solid, but batch #2 was definitely a failure.  Both though pale in comparison to any of my other <a href='/recipes/healthier-dessert'>healthier desserts</a>, let alone a batch of <a href='/recipes/chocolate-chip-cookies'>regular cookies</a>.  Below are some other recipes I'd recommend you try instead of these:<br><br>
<ul>
    <li><a href='/recipes/chocolate-chip-date-cookies'>Chocolate Chip Date Cookies</a></li>
    <li><a href='/recipes/date-cookies'>Almond Flour Cookies</a></li>
    <li><a href='/recipes/oatmeal-chocolate-cookies'>Oatmeal Chocolate Chip Cookies</a></li>
</ul><br>

My main takeaway from this honestly though is that I can't digest allulose.  Some people are totally fine with it, but other seem to get side effects like an upset stomach, bloating, constipation, nausea, or diarrhea.  I personally fall into the latter, getting bloating and a stomach ache from just 1 <a href='/cookies'>cookie</a>, so I personally won't be making these again.<br><br>

<u><font size='+2'>Sources</font></u><br>
<ol>
    <li><a href='https://www.flaticon.com/'>Flaticon</a></li>
</ol>
