---
layout: post
title:  "DIY Yogurt"
date:   2025-06-18 00:00:00 -05000
categories: 
- Recipes
- Meme Recipes
showPercentage: no
hummus: no
oatmeal: no
yogurt: yes
nut_butter: no
pesto: no
soup_stew: no
salad: no
dressing: no
brownie: no
cookie: no
permalink: /recipes/diy-yogurt
image: /assets/Food/Meme/DIY Yogurt/cover.jpg
ing: diyyogurtmonkfruit-ing
facts: diyyogurtmonkfruit-facts
servingSize: 3/4 cup (170 g)
section1: 
start2: 
section2: 
start3: 
section3: 
start4: 
section4: 
start5: 
section5: 
Prep: 5
Rest: 
Cook: 
Source1: 
Source2: 
whisk: https://s.samsungfood.com/Gu6uQ
tags: 
- plain nonfat greek yogurt
- casein protein powder
- whey protein powder
- apple cider vinegar
- granulated monk fruit
- honey
- almond milk
- homemade
- copycat
Description: If you need yogurt, and you need it, like, <i>right now</i>, then here a dumb substitution for you.  I've attempted to quickly "reverse engineer" plain nonfat greek yogurt.  The result is a product as similar to greek yogurt as you can reasonably get in 5 minutes.  It has the exact same nutrition facts, as shown in the table below, as well as a similar tangy and mildly sweet flavor
Instructions: 
- Mix together all ingredients in a bowl, as use as you would use yogurt I guess.  I'd recommend adding some cinnamon (1/2 tsp, 1.5 g) or vanilla extract (1/2 tsp, 2.5 g) for flavor, but as the point is to keep this as <i>plain</i> Greek yogurt, I've omitted them above

- As your sweetener, you can either use granulated monk fruit (1 tbsp, 12 g) or honey (1 tsp, 7 g).  If using honey instead, replace the almond milk (1/2 cup, 125 g) with water (1/2 cup, 130 g).  Below is a table comparing the two versions to plain nonfat greek yogurt (per 3/4 cup, 170 g serving)
---
<style>
    table {
        border-collapse: collapse;
        table-layout: auto; /* Let columns size themselves */
        max-width: 80%;     /* Don't exceed the page width */
        width: 80%;
        text-align: center;
        margin: 0 auto;      /* Center table horizontally if it's narrower than container */
        overflow-x: auto; /* Enables scrolling if needed */
    }

    tbody td:first-child {
        background-color: var(--minima-table-header-bg-color);
        font-weight: bold;
    }

    @media (max-width: 768px) {
        table {
            max-width: 100%;
            width: fit-content; /* Shrinks container to fit the table */
            font-size: 16px;
        }

        tbody td:first-child {
            width: 30px;
            max-width: 30px;
        }
    }
</style>

<table>
    <thead>
        <tr>
            <th>Nutrient</th>
            <th><a href="https://www.nutritionvalue.org/public_ingredient_55742.html?utm_source=share-by-url">Plain Nonfat<br>Greek Yogurt</a></th>
            <th><a href="/recipes/diy-yogurt">DIY Yogurt<br>With Monk Fruit</a></th>
            <th><a href="/recipes/diy-yogurt">DIY Yogurt<br>With Honey</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% assign nutrient = "Calories" %}
            {% assign rnd = "0" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html ing="yogurt-ing" facts="yogurt-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="diyyogurtmonkfruit-ing" facts="diyyogurtmonkfruit-facts" servingSize="100" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="diyyogurthoney-ing" facts="diyyogurthoney-facts" servingSize="100" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Protein" %}
            {% assign rnd = "1" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html ing="yogurt-ing" facts="yogurt-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="diyyogurtmonkfruit-ing" facts="diyyogurtmonkfruit-facts" servingSize="100" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="diyyogurthoney-ing" facts="diyyogurthoney-facts" servingSize="100" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Fat" %}
            {% assign rnd = "1" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html ing="yogurt-ing" facts="yogurt-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="diyyogurtmonkfruit-ing" facts="diyyogurtmonkfruit-facts" servingSize="100" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="diyyogurthoney-ing" facts="diyyogurthoney-facts" servingSize="100" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Net Carbs" %}
            {% assign rnd = "1" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html ing="yogurt-ing" facts="yogurt-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="diyyogurtmonkfruit-ing" facts="diyyogurtmonkfruit-facts" servingSize="100" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="diyyogurthoney-ing" facts="diyyogurthoney-facts" servingSize="100" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Vitamin B12" %}
            {% assign rnd = "2" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html ing="yogurt-ing" facts="yogurt-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="diyyogurtmonkfruit-ing" facts="diyyogurtmonkfruit-facts" servingSize="100" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="diyyogurthoney-ing" facts="diyyogurthoney-facts" servingSize="100" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Calcium" %}
            {% assign rnd = "0" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html ing="yogurt-ing" facts="yogurt-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="diyyogurtmonkfruit-ing" facts="diyyogurtmonkfruit-facts" servingSize="100" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="diyyogurthoney-ing" facts="diyyogurthoney-facts" servingSize="100" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
    </tbody>
</table><br>