---
layout: post
title:  Trap Foods - Breakfast
date:   2024-08-01 00:00:00 -0500
categories:
- Misc.
- Nutrition
- Hidden
permalink: /misc/trap-foods-breakfast
image: /assets/Misc/Nutrition/Trap/breakfast.jpg
tags:
- healthy
- unhealthy
- trap foods
- fake healthy
- breakfast
- cereal
- oatmeal
- yogurt
- bread
- toast
- muffins
- banana bread
- pancakes
- waffles
---
{% include trap-foods/note-partial.html %}
{% include trap-foods/intro.html %}
{% include trap-foods/ToC-breakfast.html %}
{% include trap-foods/cereal.html %}
{% include trap-foods/oats.html %}
{% include trap-foods/granola.html %}
{% include trap-foods/milk.html %}
{% include trap-foods/yogurt.html %}
{% include trap-foods/bread.html %}
{% include trap-foods/muffins.html %}
{% include trap-foods/banana-bread.html %}
{% include trap-foods/pancakes.html %}
{% include trap-foods/sources.html %}
