<div id='condiments' class='table-of-contents-2'></div>
<i><font size='+2'>Condiments</font></i><br>
Condiments are types of sauces that can typically go on a sandwich, <a href='/salad'>salad</a> or <a href='/recipes/ww-bread'>toast</a>, or be used in cooking.  Here are some of the most common condiments that I can think of:
<ul>
  <li><a href='https://amzn.to/4mzQ4vt'>Hummus</a></li>
  <li><a href='https://amzn.to/4dIPaco'>Guac</a></li>
  <li><a href='https://amzn.to/4mCkI7E'>Salsa</a></li>
  <li><a href='https://amzn.to/3Fpfc7I'>Hot sauce</a></li>
  <li><a href='https://amzn.to/43RFWqI'>Mustard</a></li>
  <li><a href='https://amzn.to/43kShn6'>Soy sauce</a></li>
  <li><a href='https://amzn.to/45txHlQ'>BBQ sauce</a></li>
  <li><a href='https://amzn.to/3Z7XegF'>Ketchup</a></li>
  <li><a href='https://amzn.to/4khiNny'>Relish</a></li>
  <li><a href='https://amzn.to/44ZgZLc'>Mayo</a></li>
</ul><br>

Some of these storebought ones can easily fit into a healthy diet, being fairly minimally processed and containing a small list of <a href='/misc/nutrient-alphabet'>nutrient dense</a> ingredients.  These would include <a href='/hummus'>hummus</a>, <a href='/recipes/guacamole'>guac</a>, <a href='/recipes/salsa'>salsa</a>, <a href='/recipes/hot-sauce'>hot sauce</a>, mustard, and soy sauce.  The only things to really look out for in these is the amount of <a href='#seed-oil'>seed oils</a> in storebought <a href='/hummus'>hummus</a>, or if the mustard or <a href='/recipes/hot-sauce'>hot sauce</a> have any <a href='/misc/hidden-sugar'>added sugar</a>.  Soy sauce is very salty, so it's better to opt for low <a href='/misc/sodium'>sodium</a> whenever possible.  Most of these can be made fairly easily at home too, which often tastes better and are better for you.  I have some homemade condiment recipes that won't dissapoint:
<ul>
  <li>Any of my varieties of <a href='/hummus'>hummus</a></li>
  <li><a href='/recipes/guacamole'>Holy Guacamole</a></li>
  <li><a href='/recipes/salsa'>Five Minute Salsa (No Garlic/Onion)</a></li>
  <li><a href='/recipes/hot-sauce'>Red Jalapeno Louisiana Hot Sauce</a></li>
  <li><a href='/recipes/hollandaise'>Greek Yogurt Hollandaise Sauce</a></li>
</ul><br>

The other ones don't get off so easily though.  The worst offenders on this list are BBQ sauce, ketchup, and relish, which are essentially just flavored <a href='/misc/hidden-sugar'>sugar bombs</a>.  These come in the form of high frustose corn syrup, corn syrup, <a href='/misc/hidden-sugar'>sugar</a>, molasses, and juice concentrate.  A 2 tbsp (36 g) serving of BBQ sauce contains a whopping 16 g of <a href='/misc/hidden-sugar'>added sugar</a>, which equates to 4 tsp of <a href='/misc/hidden-sugar'>sugar</a>.  And that's a fairly small amount of BBQ sauce; it's very easily to double or triple that amount.  I prefer to make my own <a href='/recipes/bbq-sauce'>Unsweetened BBQ Sauce</a> instead.<br><br>

<img src='/assets/Misc/Nutrition/Trap/bbq.jpg' alt='' class='larger-image'><br>

On the other end of the spectrum is mayo.  Mayonnaise is simply <a href='/misc/fats'>oil</a> emulsified with <a href='/misc/meat#eggs'>egg yolks</a>, leading it to be essentially pure <a href='/misc/fats'>fat</a>.  It's very <a href='/misc/calories'>calorie dense</a>, and typically store bought versions use <a href='#seed-oil'>soybean oil</a>.  It can be healthier at home with extra virgin olive oil, but it will still be very high in <a href='/misc/calories'>calories</a>, which is something to keep in mind.<br><br>
