<div id='diet-soda' class='table-of-contents-2'></div>
<i><font size='+2'>Diet Soda</font></i><br>
So <a href='/misc/hidden-sugar'>no sugar</a> = healthy, right?  Not quite.  While the issue of <a href='#sugar-substitutes'>artificial sweeteners</a> is a highly contested topic, it is generally agreed that artificial sweeteners, and by extension diet coke, are less bad than their full <a href='/misc/hidden-sugar'>sugar</a> counterparts.  Less bad, but that doesn't mean good though.  Diet soda is good if you're addicted to regular soda, and are trying to wean yourself off.  In the same way that vaping could be helpful as a way to quit cigarettes.  That doesn't mean you should take up vaping, and the same holds true for a Diet Coke.<br><br>

<a href='https://www.heart.org/en/news/2021/05/20/a-diet-soda-a-day-might-affect-dementia-risk-study-suggests'><img src='/assets/Misc/Nutrition/Trap/soda-brain.jpg' alt='' class='larger-image'></a><br>
