<div id='frozen-meals' class='table-of-contents-2'></div>
<i><font size='+2'>Frozen and Canned Meals</font></i><br>
Frozen and canned meals are great for convienence, but that they can very high in <a href='/misc/sodium'>sodium</a>, <a href='/misc/fats'>fat</a>, <a href='/misc/hidden-sugar'>added sugar</a>, <a href='/misc/calories'>calories</a>, and artificial preservatives.  I don't want to keep beating a dead horse; instead, I'll just leave some links to examples:
<ul>
  <li><a href='https://amzn.to/4kgWO01'>Chicken and Rice Bowl</a></li>
  <li><a href='https://amzn.to/4dBZdjf'>Beef Burrito</a></li>
  <li><a href='https://amzn.to/4dDq9PG'>Frozen Pizza</a></li>
  <li><a href='https://amzn.to/43h0LM4'>Chicken Nuggets</a></li>
  <li><a href='https://amzn.to/3FbY5pW'>Potato Skins</a></li>
  <li><a href='https://amzn.to/3SV8b1k'>Egg & Cheese Sandwich</a></li>
  <li><a href='https://amzn.to/3SXx7Fy'>Chicken Noodle Soup</a></li>
  <li><a href='https://amzn.to/45tvdE2'>New England Clam Chowder</a></li>
  <li><a href='https://amzn.to/4kaJmuo'>Mac and Cheese</a></li>
</ul><br>

<a href='https://toneop.com/blog/Are-Frozen-Foods-Healthy-Or-Unhealthy'><img src='/assets/Misc/Nutrition/Trap/frozen.jpg' alt='' class='larger-image'></a><br>
