<div id='iced-tea' class='table-of-contents-2'></div>
<i><font size='+2'>Iced Tea</font></i><br>
I think most people can agree that while tea is healthy, there's no health benefits of a Snapple or Arnold Palmer iced tea.  The issue comes from the iced teas that are marketed as being "healthy", with <a href='https://amzn.to/3Htg4IU'>Pure Leaf</a> being the main brand.  For a 16.9 fl oz serving of Pure Leaf, there's 42 g of <a href='/misc/hidden-sugar'>added sugar</a>, or 2.5 g per fl oz.  Just a single bottle contains over 1.5x your daily <a href='/misc/hidden-sugar'>added sugar</a> maximum.  The nutrition facts for the Pure Leaf are on the left below.<br><br>

<img src='/assets/Misc/Nutrition/Trap/iced-tea.jpg' alt='' class='larger-image'><br>

Compare that to this <a href='https://www.walmart.com/ip/Great-Value-Sweet-Brewed-Iced-Tea-128-fl-oz-Bottle/10899050?athbdg=L1600&from=/search'>Great Value Iced Tea</a> (on the right in the above image).  This store brand iced tea has 30 g of <a href='/misc/hidden-sugar'>added sugar</a> in a 12 fl oz serving, or 2.5 g of <a href='/misc/hidden-sugar'>sugar</a> per fl oz.  Hey look at that; it's the exact same amount of <a href='/misc/hidden-sugar'>added sugar</a>!  Don't be a fool to marketing.<br><br>
