<u><font size='+2'>Introduction</font></u><br>
I wanted to put together a list of foods that people consider to be healthy, but are really just either a product of good marketing or misinformation.  These foods are typically referred to "Trap Foods", or "Fake Healthy Foods", as they can lure customers into thinking they're making better decisions, when in realty these "healthy" alternatives can be just as bad, if not worse.<br><br>

<a href='https://www.dailymail.co.uk/news/article-5393231/Processed-foods-driving-rates-cancer.html'><img src='/assets/Misc/Nutrition/Trap/risk.jpg' alt='' class='larger-image'></a><br>

<u><font size='+2'>TLDR (Too Long; Didn't Read)</font></u><br>
<ul>
  <li>Extensively read ingredient labels</li>
  <li>Avoid <a href='/misc/processed-foods'>ultra processed foods</a>, especially ones containing <a href='/misc/hidden-sugar'>refined sugar</a>, <a href='/misc/carbs'>refined grains</a>, and vegetable/seed oils</li>
  <li>Don't believe marketing claims</li>
  <li>Prioritize <a href='/misc/nutrient-alphabet'>nutrient dense</a> whole foods or minimally <a href='/misc/processed-foods'>processed foods</a></li>
</ul><br>

<a href='https://memes.com/tag/nutrition'><img src='/assets/Misc/Nutrition/Trap/nutrition.jpg' alt='' class='larger-image'></a><br>

<u><font size='+2'>Disclaimer</font></u><br>
I'm not saying you should absolutely never eat any of these foods.  Moderation is key, and the dose makes the poison.  Most of the foods on this list are treats, and should be treated as such, but it's healthy to enjoy treats every once in a while.  Don't eat them all the time, but don't forbid yourself from having anything.  Find a proper balance.<br><br>
