<i><font size='+2'>Note</font></i><br>
The following is an excerpt from my post <a href='/misc/fake-healthy-foods'>"Healthy" Trap Foods</a>, in which I made a detailed list of foods that I believe to deceptively unhealthy.  I've broken that list down into easier to digest categories based on what food they are.  Linked below are all the individual posts:
<ul>
  <li><i><a href='/misc/trap-foods-breakfast'>Trap Foods - Breakfast</a></i></li>
  <li><i><a href='/misc/trap-foods-drinks'>Trap Foods - Drinks</a></i></li>
  <li><i><a href='/misc/trap-foods-produce'>Trap Foods - Fruits & Veggies</a></i></li>
  <li><i><a href='/misc/trap-foods-grains'>Trap Foods - Grains</a></i></li>
  <li><i><a href='/misc/trap-foods-meals'>Trap Foods - Meals</a></i></li>
  <li><i><a href='/misc/trap-foods-savory'>Trap Foods - Savory Sauces</a></i></li>
  <li><i><a href='/misc/trap-foods-snacks'>Trap Foods - Snacks</a></i></li>
  <li><i><a href='/misc/trap-foods-sweet-spreads'>Trap Foods - Sweet Spreads</a></i></li>
</ul><br>
