<div id='potatoes' class='table-of-contents-2'></div>
<i><font size='+2'>Potatoes</font></i><br>
Finally, at long last, we've reached the end.  I bet you're asking: why are <a href='https://amzn.to/3HhSQpd'>potatoes</a>, a nutritious whole food, on this list?  It's true that <a href='/misc/veggies#potato'>potatoes</a> are a great starchy <a href='/misc/veggies'>vegetable</a>, where 1 medium baked <a href='/misc/veggies#potato'>potato</a> with the skin (173 g) contains:
<ul>
  <li><a href='/misc/calories'>Calories</a>: 161</li>
  <li><a href='/misc/fats'>Fat</a>: 0.2 g</li>
  <li><a href='/misc/protein'>Protein</a>: 4.3 g</li>
  <li><a href='/misc/carbs'>Carbs</a>: 36.6 g</li>
  <li><a href='/misc/fiber'>Fiber</a>: 3.8 g</li>
  <li><a href='/misc/vitamin-c'>Vitamin C</a>: 28% of DV (daily value)</li>
  <li><a href='/misc/nutrient-alphabet#B'>B6</a>: 27% of DV</li>
  <li><a href='/misc/potassium'>Potassium</a>: 26% of DV</li>
  <li><a href='/misc/nutrient-alphabet#M'>Manganese</a>: 19% of DV</li>
  <li><a href='/misc/magnesium'>Magnesium</a>: 12% of DV</li>
  <li><a href='/misc/phosphorus'>Phosphorus</a>: 12% of DV</li>
  <li><a href='/misc/nutrient-alphabet#N'>Vitamin B3</a>: 12% of DV</li>
  <li><a href='/misc/nutrient-alphabet#F'>Vitamin B9</a>: 12% of DV</li>
</ul><br>

<a href='https://amzn.to/44SiJ8S'>Sweet potatoes</a> are even healthier (and taste better imo), where 1 cup (200 g) of baked <a href='/misc/veggies#sweet-potato'>sweet potato</a> with skins contains:
<ul>
  <li><a href='/misc/calories'>Calories</a>: 180</li>
  <li><a href='/misc/fats'>Fat</a>: 0.3 g</li>
  <li><a href='/misc/protein'>Protein</a>: 4 g</li>
  <li><a href='/misc/carbs'>Carbs</a>: 41 g</li>
  <li><a href='/misc/fiber'>Fiber</a>: 6.6 g</li>
  <li><a href='/misc/nutrient-alphabet#A'>Vitamin A</a>: 213% of DV</li>
  <li><a href='/misc/vitamin-c'>Vitamin C</a>: 44% of DV</li>
  <li><a href='/misc/nutrient-alphabet#M'>Manganese</a>: 42% of DV</li>
  <li><a href='/misc/nutrient-alphabet#C'>Copper</a>: 36% of DV</li>
  <li><a href='/misc/nutrient-alphabet#P'>Vitamin B5</a>: 35% of DV</li>
  <li><a href='/misc/nutrient-alphabet#B'>Vitamin B6</a>: 34% of DV</li>
  <li><a href='/misc/potassium'>Potassium</a>: 20% of DV</li>
  <li><a href='/misc/nutrient-alphabet#P'>Vitamin B5</a>: 19% of DV</li>
</ul><br>

<img src='/assets/Misc/Nutrition/Trap/potatoes.jpg' alt='' class='larger-image'><br>

Both <a href='/misc/veggies#potato'>potatoes</a> and <a href='/misc/veggies#sweet-potato'>sweet potatoes</a> are highly nutritious foods.  <a href='/misc/veggies#sweet-potato'>Sweet potatoes</a> are my preferred <a href='/misc/carbs'>carb</a> <a href='/recipes/sides'>side</a> to a meal as opposed to <a href='/misc/grains#pasta'>pasta</a>, <a href='/misc/grains#brown-rice'>rice</a>, or <a href='/recipes/bread'>bread</a>, such as in the following recipes:
<ul>
  <li><a href='/recipes/burger-bowl'>Chopped Burger Bowl with Sweet Potatoes</a><br>
  <li><a href='/recipes/home-fries'>Sweet Potato Home Fries</a><br>
  <li><a href='/recipes/baked-sweet-potato'>Baked Sweet Potato</a><br>
  <li><a href='/recipes/sweet-potato-fries'>Spiced Sweet Potato Fries</a><br>
  <li><a href='/recipes/indian-chicken'>Indian Chicken and Sweet Potatoes</a><br>
  <li><a href='/recipes/mediterranean-potato-salad'>Mediterranean Sweet Potato Salad</a><br>
  <li><a href='/recipes/pork-tenderloin'>Roasted Pork Tenderloin & Veggies</a><br>
  <li><a href='/recipes/cacciatore'>Stewed Chicken Cacciatore</a><br>
  <li><a href='/recipes/korean-chicken'>Korean Chicken and Broccoli</a><br>
</ul><br>

<a href='https://cheezburger.com/21602053/25-vegetarian-food-memes-for-plant-based-food-lovers'><img src='/assets/Misc/Nutrition/Trap/butter.jpg' alt='' class='larger-image'></a><br>

<a href='/misc/veggies#potato'>Potatoes</a> are on this list because of what's been done to them, not because what they are.  While a baked <a href='/misc/veggies#potato'>potato</a> or simply sauteed or roasted cubes are certainly healthy, <a href='/misc/veggies#potato'>potatoes</a> are more often than not turned into junk food:
<ul>
  <li>French fries</li>
  <li>Mashed potatoes</li>
  <li>Hashbrowns</li>
  <li>Tater tots</li>
  <li>Home fries</li>
  <li>Twice baked potatoes</li>
  <li>Scalloped potatoes</li>
  <li>Loaded potato skins</li>
  <li>Potato salad</li>
  <li>Potato chips</li>
  <li>Potato rolls</li>
  <li>Gnocchi</li>
</ul><br>

<a href='https://www.reddit.com/r/memes/comments/evkfi5/hmmm_i_have_been_eating_healthy_food_the_whole/'><img src='/assets/Misc/Nutrition/Trap/fried.jpg' alt='' class='larger-image'></a><br>

Most of these foods contain extremely high amounts of <a href='/misc/fats'>oil</a>, <a href='/misc/dairy#butter'>butter</a>, <a href='/misc/dairy'>cheese</a>, or mayo, or they are deep fried (or both).  No one thinks that <a href='#chips'>potato chips</a> or French fries are healthy just because they come from <a href='/misc/veggies#potato'>potatoes</a>.  While all of these dishes can me made in ways that won't clog your arteries, it's best to be mindful about what you're eating, as the <a href='/misc/calories'>calories</a> for all of these can very quickly add up.<br><br>
