<div id='rice-cakes' class='table-of-contents-2'></div>
<i><font size='+2'>Rice Cakes</font></i><br>
Rice cakes just scream 1990's <a href='/misc/fats'>low fat</a> craze to me.  They're basically all <a href='/misc/carbs'>carbs</a> and <a href='/misc/carbs'>starch</a>, but they're super light and airy; 1 whole rice cake weighs just 9 g and contains only 35 <a href='/misc/calories'>calories</a> and 7 g of <a href='/misc/carbs'>carbs</a>.  They can be a great way to get some more <a href='/misc/carbs'>carbs</a> into your diet without going overboard like most snacks.  I'll be honest and say have some <a href='https://amzn.to/43FhGqx'>Lightly Salted Rice Cakes</a> in my cabinet right now.<br><br>

They're super customizable; think anyway you'd enjoy <a href='/recipes/ww-bread'>toast</a>, you can do as a rice cake.  Rice cakes are a great base, and you can easily top with some <a href='/misc/fats'>healthy fats</a> (<a href='/misc/nuts'>nuts</a> or <a href='/misc/fruit#avocado'>avocado</a>), <a href='/misc/protein'>protein</a> (<a href='/misc/dairy#yogurt'>yogurt</a> or <a href='/misc/dairy#cottage-cheese'>cottage cheese</a>), or <a href='/misc/fruit'>fruit</a> (<a href='/misc/fruit#blueberries'>berries</a>, <a href='/misc/fruit#banana'>bananas</a>, <a href='/misc/fruit#apple'>apples</a>, etc.).  Some sweet examples are:
<ul>
  <li><a href='/recipes/natural-peanut-butter'>Natural Nut Butter</a> with sliced <a href='/misc/fruit#banana'>banana</a></li>
  <li>Homemade jam (either <a href='/recipes/berry-jam'>Low Sugar Berry Jam</a> or <a href='/recipes/strawberry-chia-jam'>Strawberry Chia Jam</a>) and <a href='/misc/nuts'>nuts</a></li>
  <li><a href='/recipes/cottage-cheese-peanut-butter'>Cottage Cheese Peanut Butter</a> with <a href='/misc/fruit#blueberries'>blueberries</a></li>
  <li><a href='/recipes/nutella'>Roasted Hazelnut Nutella (SF)</a> with sliced <a href='/misc/fruit#apple'>apples</a></li>
  <li><a href='/recipes/straw-mint'>Strawberry Mint Protein Pistachio Butter</a> with sliced <a href='/misc/fruit#strawberries'>strawberries</a></li>
  <li><a href='/recipes/choc-pb'>Chocolate Banana Protein Peanut Butter</a> with <a href='/recipes/monkfruit-chocolate-chunks'>sugar free chocolate chips</a></li>
  <li><a href='/recipes/cran-almond'>Cranberry Protein Almond Butter</a> with <a href='/misc/fruit#raspberry'>raspberries</a></li>
  <li><a href='/recipes/banana-bread-hummus'>Banana Bread Hummus Spread</a> with toasted <a href='/misc/grains#oats'>oats</a></li>
  <li><a href='/recipes/apple-spread'>No Sugar Added Apple Spread</a> with <a href='/misc/seeds#pumpkin-seeds'>pumpkin seeds</a></li>
</ul><br>

<img src='/assets/Food/Sweet Spreads/PB/pb-cover.jpg' alt='' class='larger-image'><br>

You can make them savory too; sometimes I mix some <a href='/misc/dairy#yogurt'>plain nonfat greek yogurt</a> or <a href='/recipes/guacamole'>Holy Guacamole</a> with some spices, and top with sliced <a href='/misc/veggies#tomato'>tomatoes</a>, <a href='/misc/veggies#cucumber'>cucumber</a>, or any other fresh produce in my fridge at the time.  Or you can just simply spread on some <a href='/hummus'>hummus</a>.

<img src='/assets/Misc/Nutrition/Trap/rice-cake.jpg' alt='' class='larger-image'><br>

As with most things, make sure to get the plain variety.  The lightly salted ones contain nothing but <a href='/misc/grains#brown-rice'>brown rice</a> and salt, 2 healthy ingredients.  The problem comes with the flavored rice cakes, like <a href='https://amzn.to/4khhwwM'>Caramel</a>, <a href='https://amzn.to/3HeQTKc'>Chocolate</a>, or <a href='https://amzn.to/4kaTpjb'>White Cheddar</a>.  <a href='/misc/calories'>Calories</a> can double, <a href='/misc/hidden-sugar'>sugar</a> is added, and the ingredients list expands.<br><br>
