<u><font size='+2'>List of Foods</font></u><br>
<ul>
  <li><a rel='' target='' href='#low-fat'>Low Fat Options</a></li>
  <li><a rel='' target='' href='#seed-oil'>Seed Oils</a></li>
  <li><a rel='' target='' href='#margarine'>Margarine and Low Fat Butter</a></li>
  <li><a rel='' target='' href='#salad-dressing'>Salad Dressing</a></li>
  <li><a rel='' target='' href='#condiments'>Condiments</a></li>
  <li><a rel='' target='' href='#dips'>Creamy Dips</a></li>
  <li><a rel='' target='' href='#sauces'>Sauces</a></li>
</ul><br>
