<u><font size='+2'>List of Foods</font></u><br>
<ul>
  <li><a rel='' target='' href='#cereal'>Cereal</a></li>
  <li><a rel='' target='' href='#oats'>Oatmeal</a></li>
  <li><a rel='' target='' href='#granola'>Granola Bars</a></li>
  <li><a rel='' target='' href='#trail-mix'>Trail Mix</a></li>
  <li><a rel='' target='' href='#nuts'>Nuts</a></li>
  <li><a rel='' target='' href='#peanut-butter'>Peanut Butter</a></li>
  <li><a rel='' target='' href='#nutella'>Nutella</a></li>
  <li><a rel='' target='' href='#jelly'>Jelly and Jam</a></li>
  <li><a rel='' target='' href='#dried-fruit'>Dried Fruit</a></li>
  <li><a rel='' target='' href='#juice'>Fruit Juice</a></li>
  <li><a rel='' target='' href='#smoothie'>Smoothies</a></li>
  <li><a rel='' target='' href='#sports-drinks'>Sports Drinks</a></li>
  <li><a rel='' target='' href='#energy-drinks'>Energy Drinks</a></li>
  <li><a rel='' target='' href='#coffee'>Coffee</a></li>
  <li><a rel='' target='' href='#iced-tea'>Iced Tea</a></li>
  <li><a rel='' target='' href='#diet-soda'>Diet Soda</a></li>
  <li><a rel='' target='' href='#skim-milk'>Milk</a></li>
  <li><a rel='' target='' href='#yogurt'>Yogurt</a></li>
  <li><a rel='' target='' href='#pretzels'>Pretzels</a></li>
  <li><a rel='' target='' href='#crackers'>Crackers</a></li>
  <li><a rel='' target='' href='#chips'>Chips</a></li>
  <li><a rel='' target='' href='#popcorn'>Popcorn</a></li>
  <li><a rel='' target='' href='#diets'>Keto, Vegan, Gluten Free, and Organic Snacks</a></li>
  <li><a rel='' target='' href='#protein'>Protein Bars and Snacks</a></li>
  <li><a rel='' target='' href='#rice-cakes'>Rice Cakes</a></li>
  <li><a rel='' target='' href='#white-rice'>White Rice</a></li>
  <li><a rel='' target='' href='#flour'>Flour</a></li>
  <li><a rel='' target='' href='#bread'>Bread</a></li>
  <li><a rel='' target='' href='#muffins'>Muffins</a></li>
  <li><a rel='' target='' href='#banana-bread'>Banana Bread</a></li>
  <li><a rel='' target='' href='#pancakes'>Pancakes and Waffles</a></li>
  <li><a rel='' target='' href='#chocolate'>Dark Chocolate</a></li>
  <li><a rel='' target='' href='#unrefined-sugar'>Unrefined Sugars</a></li>
  <li><a rel='' target='' href='#sugar-substitutes'>Sugar Substitutes</a></li>
  <li><a rel='' target='' href='#low-fat'>Low Fat Options</a></li>
  <li><a rel='' target='' href='#seed-oil'>Seed Oils</a></li>
  <li><a rel='' target='' href='#margarine'>Margarine and Low Fat Butter</a></li>
  <li><a rel='' target='' href='#salad-dressing'>Salad Dressing</a></li>
  <li><a rel='' target='' href='#condiments'>Condiments</a></li>
  <li><a rel='' target='' href='#dips'>Creamy Dips</a></li>
  <li><a rel='' target='' href='#sauces'>Sauces</a></li>
  <li><a rel='' target='' href='#frozen-meals'>Frozen Meals</a></li>
  <li><a rel='' target='' href='#processed-meats'>Processed Meats</a></li>
  <li><a rel='' target='' href='#fake-meat'>Fake Meat</a></li>
  <li><a rel='' target='' href='#baked-beans'>Baked Beans</a></li>
  <li><a rel='' target='' href='#cornbread'>Cornbread</a></li>
  <li><a rel='' target='' href='#potatoes'>Potatoes</a></li>
</ul><br>

<a href='https://www.heart.org/en/healthy-living/healthy-eating/eat-smart/sugar/added-sugars'><img src='/assets/Misc/Nutrition/Trap/sugar.jpg' alt='' class='larger-image'></a><br>
