<u><font size='+2'>List of Foods</font></u><br>
<ul>
  <li><a rel='' target='' href='#cereal'>Cereal</a></li>
  <li><a rel='' target='' href='#oats'>Oatmeal</a></li>
  <li><a rel='' target='' href='#granola'>Granola Bars</a></li>
  <li><a rel='' target='' href='#skim-milk'>Milk</a></li>
  <li><a rel='' target='' href='#yogurt'>Yogurt</a></li>
  <li><a rel='' target='' href='#bread'>Bread</a></li>
  <li><a rel='' target='' href='#muffins'>Muffins</a></li>
  <li><a rel='' target='' href='#banana-bread'>Banana Bread</a></li>
  <li><a rel='' target='' href='#pancakes'>Pancakes and Waffles</a></li>
</ul><br>

<a href='https://www.heart.org/en/healthy-living/healthy-eating/eat-smart/sugar/added-sugars'><img src='/assets/Misc/Nutrition/Trap/sugar.jpg' alt='' class='larger-image'></a><br>
