<u><font size='+2'>List of Foods</font></u><br>
<ul>
  <li><a rel='' target='' href='#peanut-butter'>Peanut Butter</a></li>
  <li><a rel='' target='' href='#nutella'>Nutella</a></li>
  <li><a rel='' target='' href='#jelly'>Jelly and Jam</a></li>
  <li><a rel='' target='' href='#unrefined-sugar'>Unrefined Sugars</a></li>
  <li><a rel='' target='' href='#sugar-substitutes'>Sugar Substitutes</a></li>
</ul><br>

<a href='https://www.heart.org/en/healthy-living/healthy-eating/eat-smart/sugar/added-sugars'><img src='/assets/Misc/Nutrition/Trap/sugar.jpg' alt='' class='larger-image'></a><br>
