<br><u><font size='+2'>List of Foods</font></u><br>
<ul>
  <li><a rel='' target='' href='#white-rice'>White Rice</a></li>
  <li><a rel='' target='' href='#frozen-meals'>Frozen Meals</a></li>
  <li><a rel='' target='' href='#processed-meats'>Processed Meats</a></li>
  <li><a rel='' target='' href='#fake-meat'>Fake Meat</a></li>
  <li><a rel='' target='' href='#baked-beans'>Baked Beans</a></li>
  <li><a rel='' target='' href='#cornbread'>Cornbread</a></li>
  <li><a rel='' target='' href='#potatoes'>Potatoes</a></li>
</ul><br>

<br><a href='https://www.heart.org/en/healthy-living/healthy-eating/eat-smart/sugar/added-sugars'><img src='/assets/Misc/Nutrition/Trap/sugar.jpg' alt='' class='larger-image'></a><br>
