---
layout: post
title:  "No-Nut Chickpea Nutella"
date:   2025-08-07 00:00:00 -05000
categories: 
- Recipes
- Sweet Spreads
showPercentage: no
hummus: no
oatmeal: no
yogurt: no
nut_butter: yes
pesto: no
soup_stew: no
salad: no
dressing: no
brownie: no
cookie: no
permalink: /recipes/chickpea-nutella
image: /assets/Food/Sweet Spreads/Chickpea nutella/cover.jpg
ing: chickpeanutella-ing
facts: chickpeanutella-facts
servingSize: 2 tbsp (32 g)
section1: 
start2: 
section2: 
start3: 
section3: 
start4: 
section4: 
start5: 
section5: 
Prep: 10
Rest: 
Cook: 15
Source1: https://youtu.be/V5asdNp3bwE
Source2: 
whisk: https://s.samsungfood.com/nXc5v
tags: 
- nutella
- hazelnut spread
- powder peanut butter
- pb2
- pbfit
- carob powder
- sugar free
- almond extract
- copycat
Description: Nutella is a sweet nut based chocolate spread. Well, nut based is a stretch, there's more <a href="/misc/hidden-sugar">sugar</a> and <a href="/misc/fats">oil</a> in standard Nutella than hazelnuts. I do already have healthier Nutella alternatives, such as <a href="/recipes/quick-nutella">Single Serving Quick Nutella</a> and <a href="/recipes/nutella">Roasted Hazelnut Nutella (SF)</a>, both with <a href="/misc/hidden-sugar">no added sugar</a>. But today, I'm making a nut free Nutella using roasted chickpeas, dates, and cocoa powder. It's delicious, naturally sweet, low <a href="/misc/calories">calorie</a>, and high <a href="/misc/fiber">fiber</a>
Instructions: 
- Drain and rinse your chickpeas. Air fry at 380F for about 15 minutes, or until dried and crispy. You can also roast in a 425F oven for about 30 minutes

- Blend together chickpeas, dates, cocoa powder, and vanilla until all bits of chickpeas and dates are broken up.  Raisins will work in place of dates.  You can also use 1/2 cup (160 g) <a href="/recipes/sugar-free-syrup">sugar free syrup</a> in place of dates

- Add a cup of water to a medium glass and microwave for 1 minute, until hot. Blend in the water until you have a smooth spread. Transfer to a jar, and store in the fridge for up to 1 week
- <center><img src="/assets/Food/Sweet Spreads/Chickpea nutella/processor.jpg" alt="" class="instruction-image"></center>
---
<br>Below is a table comparing the nutrition facts of my homemade spread to standard <a href="https://www.walmart.com/ip/Nutella-Hazelnut-Spread-with-Cocoa-for-Breakfast-13-oz-Jar/10451273?classType=VARIANT&athbdg=L1200&from=/search">Nutella</a> per 100 g.  As you can see, the homemade version contains significantly fewer <a href="/misc/calories">calories</a>, unhealthy <a href="/misc/fats">fats</a>, and <a href="/misc/hidden-sugar">sugar</a>, while having substantially more <a href="/misc/fiber">fiber</a>:<br><br>

<style>
    table {
        text-align: center;
    }

    td:first-child, th:first-child {
        background-color: var(--minima-table-header-bg-color);
        font-weight: bold;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Nutrient</th>
            <th>Homemade<br>(with Dates)</th>
            <th>Homemade<br>(with <a href="/recipes/sugar-free-syrup">Sugar Free Syrup</a>)</th>
            <th>Storebought</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% assign nutrient = "Calories" %}
            {% assign rnd = "0" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html ing="chickpeanutella100g-ing" facts="chickpeanutella100g-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="chickpeanutellasfs100g-ing" facts="chickpeanutellasfs100g-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="classicnutella-ing" facts="classicnutella-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Protein" %}
            {% assign rnd = "1" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html ing="chickpeanutella100g-ing" facts="chickpeanutella100g-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="chickpeanutellasfs100g-ing" facts="chickpeanutellasfs100g-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="classicnutella-ing" facts="classicnutella-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Fat" %}
            {% assign rnd = "1" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html ing="chickpeanutella100g-ing" facts="chickpeanutella100g-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="chickpeanutellasfs100g-ing" facts="chickpeanutellasfs100g-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="classicnutella-ing" facts="classicnutella-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Net Carbs" %}
            {% assign rnd = "1" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html ing="chickpeanutella100g-ing" facts="chickpeanutella100g-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="chickpeanutellasfs100g-ing" facts="chickpeanutellasfs100g-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="classicnutella-ing" facts="classicnutella-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Fiber" %}
            {% assign rnd = "1" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html ing="chickpeanutella100g-ing" facts="chickpeanutella100g-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="chickpeanutellasfs100g-ing" facts="chickpeanutellasfs100g-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="classicnutella-ing" facts="classicnutella-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Added Sugar" %}
            {% assign rnd = "1" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html ing="chickpeanutella100g-ing" facts="chickpeanutella100g-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="chickpeanutellasfs100g-ing" facts="chickpeanutellasfs100g-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="classicnutella-ing" facts="classicnutella-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Sugar Alcohol" %}
            {% assign rnd = "1" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html ing="chickpeanutella100g-ing" facts="chickpeanutella100g-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="chickpeanutellasfs100g-ing" facts="chickpeanutellasfs100g-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html ing="classicnutella-ing" facts="classicnutella-facts" servingSize="100" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
        </tr>
    </tbody>
</table>