---
layout: post
title:  Slow Cooking a Whole Chicken
date:   2025-05-13 00:00:00 -0500
categories:
- Misc.
- Cooking Tips
soup_stew: yes
permalink: /misc/slow-cooker-chicken
image: /assets/Misc/Cooking/Slow Cook Chicken/cover-2.jpg
tags:
- whole chicken
- chicken breast
- chicken thighs
- chicken wings
- chicken skin
- chicken bones
- rotisserie chicken
- shredded chicken
- bone Broth
- chicken broth
- soup
- stew
- collagen
---
<u><b><font size='+2'>Description</font></b></u><br>
Recently, my grocery store had whole raw chickens on sale for $0.99/lb.  I got this whole bird for just $5.30, and today I'm going to slow cook it to make shredded <a href='/misc/meat#chicken-breast'>chicken</a>, and then extract the <a href='/misc/nutrient-alphabet'>nutrients</a> out of the bones and skin for homemade chicken bone broth.<br><br>

<div class='image-row'>
    <img src='/assets/Misc/Cooking/Slow Cook Chicken/cooking-pot.png' alt='' class='smaller-image'>
</div><br>

Good uses for bone broth are in your <a href='/soup-stew'>soups and stews</a>, but you can also use broth when boiling <a href='/misc/veggies'>vegetables</a>, <a href='/misc/grains#pasta'>pasta</a>, or <a href='/misc/grains#brown-rice'>rice</a> for extra flavor and nutrition. Additionally, you can just <a href='/recipes/drinks'>drink</a> the bone broth as well.<br><br>

<div class='image-row'>
    <img src='/assets/Misc/Cooking/Slow Cook Chicken/minerals.png' alt='' class='smaller-image'>
</div><br>

Bone broth is very nutritious, being a rich source of collagen from the <a href='/misc/meat#chicken-breast'>chicken</a> bones and skin.  <a href='/misc/meat#chicken-thighs'>Chicken thighs</a> are also a good source of B <a href='/misc/nutrient-alphabet'>vitamins</a>, like <a href='/misc/nutrient-alphabet#R'>riboflavin (B2)</a>, <a href='/misc/nutrient-alphabet#N'>niacin (B3)</a>, <a href='/misc/nutrient-alphabet#B'>pyridoxine (B6)</a>, and <a href='/misc/vitamin-b12'>cobalamin (B12)</a>.  <a href='/misc/meat#chicken-thighs'>Thighs</a> are also a good source of <a href='/misc/choline'>choline</a>, <a href='/misc/phosphorus'>phosphorus</a>, <a href='/misc/nutrient-alphabet#S'>selenium</a>, and <a href='/misc/nutrient-alphabet#Z'>zinc</a>. Diffusing the <a href='/misc/meat#chicken-breast'>chicken</a> also provides some <a href='/misc/protein'>protein</a> and <a href='/misc/fats'>fats</a> as well, making it satiating.<br><br>

<div class='image-row'>
    <img src='/assets/Misc/Cooking/Slow Cook Chicken/vitamin.png' alt='' class='smaller-image'>
</div><br>

<u><b><font size='+2'>Ingredients</font></b></u><br>
<ul>
    <li>5 lb (2,270 g) whole <a href='/misc/meat#chicken-breast'>chicken</a></li>
    <li>Salt, about 1 tbsp (18 g)</li>
    <li>Black pepper, about 1 tbsp (9 g)</li>
    <li>Garlic powder, about 2 tbsp (20 g)</li>
    <li>Onion powder, about 2 tbsp (20 g)</li>
    <li>Paprika, about 4 tbsp (40 g)</li>
</ul>

<div class='image-row'>
    <img src='/assets/Misc/Cooking/Slow Cook Chicken/recipe.png' alt='' class='smaller-image'>
</div><br>

<u><b><font size='+2'>Instructions</font></b></u><br>
<ol>
    <br><img src='/assets/Misc/Cooking/Slow Cook Chicken/raw-whole.jpg' alt='' class='instruction-image'><br>

    <li>Add your whole <a href='/misc/meat#chicken-breast'>chicken</a> to the base of a large <a href='https://amzn.to/49TUS9E'>slow cooker</a>, <a href='/misc/meat#chicken-breast'>breast</a> side up.  You can include any sort of organ <a href='/misc/meat'>meats</a> or giblets that come with the <a href='/misc/meat#chicken-breast'>chicken</a>; just make sure to remove them from the bag if they came in one</li><br>

    <li>Liberally season both sides of the bird with salt, black pepper, garlic powder, onion powder, and paprika.  There's no need to measure anything here; just evenly coat each side with a thick layer of seasonings</li><br>

    <img src='/assets/Misc/Cooking/Slow Cook Chicken/raw-pot.jpg' alt='' class='instruction-image'><br>

    <li>Cover and cook on high for 4 hours, or until the <a href='https://amzn.to/4kmobG2'>internal temperature</a> in the thickest part is at least 165F</li><br>

    <img src='/assets/Misc/Cooking/Slow Cook Chicken/cooked-pot.jpg' alt='' class='instruction-image'><br>

    <li>Remove the <a href='/misc/meat#chicken-breast'>chicken</a> from the pot, leaving any sort of liquid and scraps in the <a href='https://amzn.to/49TUS9E'>slow cooker</a>.  Transfer the cooked <a href='/misc/meat#chicken-breast'>chicken</a> to a <a href='https://amzn.to/4qQNmn2'>wire rack</a> over a pan to catch all the drippings.  Let cool on the counter for 30 minutes</li><br>

    <img src='/assets/Misc/Cooking/Slow Cook Chicken/wire-rack.jpg' alt='' class='instruction-image'><br>

    <li>When cooled, you can separate the <a href='/misc/meat'>meat</a> with your hands.  Add the skinless <a href='/misc/meat'>meat</a> to a <a href='https://amzn.to/4adxMft'>large bowl</a>, and shred with your fingers, picking out any small bits of bones, skin, and cartilage.  Add all the <a href='/misc/meat#chicken-breast'>chicken</a> bones and skin back to the pot with the leftover <a href='/misc/meat#chicken-breast'>chicken</a> drippings</li><br>

    <img src='/assets/Misc/Cooking/Slow Cook Chicken/shredded.jpg' alt='' class='instruction-image'><br>

    <li>Pour enough water into the pot to just fully cover the <a href='/misc/meat#chicken-breast'>chicken</a> bones and skins, about 5 cups (1,200 g)</li><br>

    <img src='/assets/Misc/Cooking/Slow Cook Chicken/broth-before.jpg' alt='' class='instruction-image'><br>

    <li>Cover and cook on low for 6 hours</li><br>

    <img src='/assets/Misc/Cooking/Slow Cook Chicken/broth-after.jpg' alt='' class='instruction-image'><br>

    <li>Remove the large pieces of skin and bones from the pot using a <a href='https://amzn.to/43zKQHD'>spider</a>, and discard.  Place a <a href='https://amzn.to/43BhNmS'>fine mesh strainer</a> over a <a href='https://amzn.to/4adxMft'>large bowl</a>, and pour the broth from the <a href='https://amzn.to/49TUS9E'>crockpot</a> into the bowl.  The strainer will catch any smaller bits, and you'll be left with a smooth broth in the bowl.  Split into mason jars, and let cool for 30 minutes on the counter before covering and refrigerating overnight</li><br>

    <img src='/assets/Misc/Cooking/Slow Cook Chicken/jars.jpg' alt='' class='instruction-image'><br>

    <li>The following morning, skim any <a href='/misc/fats'>fat</a> off the top, and either save or discard.  You can keep the jars of broth in the fridge for up to 1 week, or freeze indefinitely</li><br>

    <img src='/assets/Misc/Cooking/Slow Cook Chicken/cover-1.jpg' alt='' class='instruction-image'><br>

</ol>

<u><b><font size='+2'>Shredded Chicken Nutrition Facts</font></b></u><br>
<i>Per 1 oz (28 g)</i>
{% assign nf=site.data['wholechickenmeat-facts']%}
{% include nutrition.html facts=nf ing=i %}
<br>

<div class='image-row'>
    <img src='/assets/Misc/Cooking/Slow Cook Chicken/chicken-leg.png' alt='' class='smaller-image'>
</div><br>

<u><b><font size='+2'>Bone Broth Nutrition Facts</font></b></u><br>
<i>Per 1 cup (240 g)</i>
{% assign nf=site.data['wholechickenbroth-facts']%}
{% include nutrition.html facts=nf ing=i %}
<br>

<div class='image-row'>
    <img src='/assets/Misc/Cooking/Slow Cook Chicken/broth.png' alt='' class='smaller-image'>
</div><br>

<u><b><font size='+2'>Cost Analysis</font></b></u><br>
This whole raw <a href='/misc/meat#chicken-breast'>chicken</a> cost just $5.30, and yielded 854 g (1.88 lb) of cooked <a href='/misc/meat'>meat</a>.  Let's estimate what the cost per pound of raw <a href='/misc/meat'>meat</a> would be.  For example, typically a 4 oz (113 g) piece of <a href='/misc/meat#chicken-breast'>chicken</a> will weigh approximately 3 oz (85 g) when cooked.  Assuming that <a href='/misc/meat#chicken-breast'>chicken</a> loses 25% of its weight upon cooking, 854 g of cooked <a href='/misc/meat'>meat</a> should have weighed about 1,137 g (2.5 lb) raw.  At $5.30 for 2.5 lb, the net <a href='/misc/meat'>meat</a> costs <b>$2.12/lb</b>.  I don't know about you, but I cannot get <a href='/misc/meat#chicken-breast'>boneless skinless chicken breasts</a> or <a href='/misc/meat#chicken-thighs'>thighs</a> for that price, so making your own <a href='/misc/meat#chicken-breast'>chicken</a> this way is already saving you money.<br><br>

<div class='image-row'>
    <img src='/assets/Misc/Cooking/Slow Cook Chicken/hen.png' alt='' class='smaller-image'>
</div><br>

And that's not even considering the broth.  I ended up with about 6.5 cups (1,560 g) of bone broth in the end.  That's about 52 oz of broth, essentially for free.  In comparison this <a href='https://amzn.to/4jpLAoz'>chicken bone broth</a> is $6.58 for just 16.9 oz.  That means that the homemade broth is worth <b>$20.25</b>.<br><br>

<div class='image-row'>
    <img src='/assets/Misc/Cooking/Slow Cook Chicken/slow-cooker.png' alt='' class='smaller-image'>
</div><br>

Assuming that raw <a href='/misc/meat'>meat</a> costs $2.99/lb, that means that 2.5 lb of raw <a href='/misc/meat#chicken-breast'>chicken</a> costs $7.48.  Add in the $20.25 for the broth, and we're looking at an estimated $27.73 value for just $5.30, or a savings of <b>$22.43</b>!<br><br>

<div class='image-row'>
    <img src='/assets/Misc/Cooking/Slow Cook Chicken/piggy-bank.png' alt='' class='smaller-image'>
</div><br>

<u><b><font size='+2'>Sources</font></b></u><br>
<ol>
    <li><a href='https://www.flaticon.com/'>FlatIcon</a></li>
    <li><a href='https://www.dinneratthezoo.com/slow-cooker-whole-chicken/'>Dinner at the Zoo</a></li>
</ol>
