---
layout: post
title:  "Nutrient Comparisons of Similar Foods"
date:   2025-03-22 00:00:00 -05000
categories: 
- Misc.
- Cooking Tips
permalink: /misc/food-comparison
image: /assets/Misc/Cooking/Compare/Compare.png
tags: 
- Yogurt
- Cottage cheese
- Chicken breast
- Chicken thighs
- Ground beef
- Ground turkey
- Ground chicken
- Whole milk
- Skim milk
- Almond milk
- Bananas
- Applesauce
- Sweet potato puree
- Pumpkin
- Peanuts
- Almonds
- Chia
- Flax
- Sunflower seeds
- Pumpkin seeds
- Heavy cream
- Evaporated milk
- Cream cheese
- Ricotta
- Cottage cheese
- Mayo
- Sour cream
- Yogurt
- Whey
- Casein
- Powdered peanut butter
- White rice
- Brown rice
- White pasta
- Whole wheat pasta
- Red lentil pasta
- Black beans
- Kidney beans
- Pinto beans
- Raisins
- Dates
- Figs
- Oat flour
- Almond flour
- Egg
- Flax egg
- Apple
- Pear
- Blueberry
- Strawberry
- Pepper
- Onion
- Carrots
- Potato
- Sweet potato
- Cauliflower
- Broccoli
- Spinach
- Kale
- Beef liver
- Chicken liver
- Honey
- Maple syrup
- Brown rice
- Quinoa
- Red lentils
- Mozzarella
- Cheddar
- Parmesan
- Butternut squash
- Acorn squash
- Yellow squash
- Zucchini
- Butter
- Olive oil
- Coconut oil
- White flour
- Whole wheat flour
- Egg yolks
- Egg whites
- Zoodles
- Spaghetti squash
- Shirataki noodles
- Sardines
- Mackerel
- Tomato sauce
- Pesto
- Alfredo
- Blackberries
- Raspberries
---
<u><font size="+2">Introduction</font></u><br>
&emsp;Whether you want to swap one ingredient for another based on what you have on hand, or to make something healthier, it is helpful to know how your substitution will impact the overall nutrition of your dish.  Below, I've outlined nutritional comparisons of similar foods, all based on <b>100 g</b>.<br><br>

<center><img src="/assets/Misc/Cooking/Compare/switch.png" alt="" class="smaller-image"></center><br>

<br><u><font size="+2">Comparisons</font></u><br>
<ul>
    <li><a rel="" target="" href="#yogurt-vs-cottage-cheese">Yogurt vs Cottage Cheese</a></li>
    <li><a rel="" target="" href="#chicken-breast-vs-chicken-thighs">Chicken Breast vs Chicken Thighs</a></li>
    <li><a rel="" target="" href="#ground-beef-vs-ground-turkey-vs-ground-chicken">Ground Beef vs Ground Turkey vs Ground Chicken</a></li>
    <li><a rel="" target="" href="#whole-milk-vs-skim-milk-vs-almond-milk">Whole Milk vs Skim Milk vs Almond Milk</a></li>
    <li><a rel="" target="" href="#bananas-vs-applesauce">Bananas vs Applesauce</a></li>
    <li><a rel="" target="" href="#sweet-potato-puree-vs-pumpkin-vs-butternut">Sweet Potato Puree vs Pumpkin vs Butternut Squash</a></li>
    <li><a rel="" target="" href="#peanuts-vs-almonds">Peanuts vs Almonds</a></li>
    <li><a rel="" target="" href="#chia-vs-flax">Chia vs Flax</a></li>
    <li><a rel="" target="" href="#sunflower-seed-vs-pumpkin-seed">Sunflower Seed vs Pumpkin Seed</a></li>
    <li><a rel="" target="" href="#heavy-cream-vs-evaporated-milk">Heavy Cream vs Evaporated Milk</a></li>
    <li><a rel="" target="" href="#cream-cheese-vs-ricotta-vs-cottage-cheese">Cream Cheese vs Ricotta vs Cottage Cheese</a></li>
    <li><a rel="" target="" href="#mayo-vs-sour-cream-vs-yogurt">Mayo vs Sour Cream vs Yogurt</a></li>
    <li><a rel="" target="" href="#whey-vs-casein-vs-powdered-peanut-butter">Whey vs Casein vs Powdered Peanut Butter</a></li>
    <li><a rel="" target="" href="#white-vs-brown-rice">White vs Brown Rice</a></li>
    <li><a rel="" target="" href="#white-vs-whole-wheat-vs-red-lentil-pasta">White vs Whole Wheat vs Red Lentil Pasta</a></li>
    <li><a rel="" target="" href="#black-vs-kidney-vs-pinto-beans">Black vs Kidney vs Pinto Beans</a></li>
    <li><a rel="" target="" href="#raisins-vs-dates-vs-figs">Raisins vs Dates vs Figs</a></li>
    <li><a rel="" target="" href="#oat-vs-almond-flour">Oat vs Almond Flour</a></li>
    <li><a rel="" target="" href="#egg-vs-flax-egg">Egg vs Flax Egg</a></li>
    <li><a rel="" target="" href="#apple-vs-pear">Apple vs Pear</a></li>
    <li><a rel="" target="" href="#blueberry-vs-strawberry">Blueberry vs Strawberry</a></li>
    <li><a rel="" target="" href="#pepper-vs-onion-vs-carrots">Pepper vs Onion vs Carrots</a></li>
    <li><a rel="" target="" href="#potato-vs-sweet-potato">Potato vs Sweet Potato</a></li>
    <li><a rel="" target="" href="#cauliflower-vs-broccoli">Cauliflower vs Broccoli</a></li>
    <li><a rel="" target="" href="#spinach-vs-kale">Spinach vs Kale</a></li>
    <li><a rel="" target="" href="#beef-liver-vs-chicken-liver">Beef Liver vs Chicken Liver</a></li>
    <li><a rel="" target="" href="#honey-vs-maple-syrup">Honey vs Maple Syrup</a></li>
    <li><a rel="" target="" href="#brown-rice-vs-quinoa-vs-red-lentils">Brown Rice vs Quinoa vs Red Lentils</a></li>
    <li><a rel="" target="" href="#mozzarella-vs-cheddar-vs-parmesan">Mozzarella vs Cheddar vs Parmesan</a></li>
    <li><a rel="" target="" href="#butternut-vs-acorn-squash">Butternut vs Acorn Squash</a></li>
    <li><a rel="" target="" href="#yellow-squash-vs-zucchini">Yellow Squash vs Zucchini</a></li>
    <li><a rel="" target="" href="#butter-vs-olive-oil-vs-coconut-oil">Butter vs Olive Oil vs Coconut Oil</a></li>
    <li><a rel="" target="" href="#white-vs-whole-wheat-flour">White vs Whole Wheat Flour</a></li>
    <li><a rel="" target="" href="#egg-yolks-vs-egg-whites">Egg Yolks vs Egg Whites</a></li>
    <li><a rel="" target="" href="#zoodles-vs-spaghetti-squash-vs-shirataki-noodles">Zoodles vs Spaghetti Squash vs Shirataki Noodles</a></li>
    <li><a rel="" target="" href="#sardines-vs-mackerel">Sardines vs Mackerel</a></li>
    <li><a rel="" target="" href="#tomato-sauce-vs-pesto-vs-alfredo">Tomato Sauce vs Pesto vs Alfredo</a></li>
    <li><a rel="" target="" href="#blackberries-vs-raspberries">Blackberries vs Raspberries</a></li>
</ul><br>

<center><img src="/assets/Misc/Cooking/Compare/diet.png" alt="" class="smaller-image"></center><br>

<style>
    table {
      border-collapse: collapse;
      width: auto; /* Auto-adjust column width */
    }
    
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center; /* Center text in all columns */
    }

    th {
      background-color: #f4f4f4;
      font-weight: bold;
    }

    /* Bold the first column */
    td:first-child, th:first-child {
      font-weight: bold;
    }
</style>

{% assign servingSize = 100 %}

<div id="yogurt-vs-cottage-cheese" class="table-of-contents"></div>
<br><center><i><font size="+2">Yogurt vs Cottage Cheese</font></i></center><br>
<center><table>
    <thead>
        <tr class="header">
            <th>Nutrient</th>
            {% assign food1 = "yogurt-facts" %}
            {% assign food2 = "cottage-cheese-facts" %}
            <th><a href="https://www.nutritionvalue.org/public_ingredient_55742.html?size=100+g">Plain Nonfat Greek Yogurt</a></th>
            <th><a href="https://www.nutritionvalue.org/public_ingredient_55741.html?size=100+g">Nonfat Cottage Cheese</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% assign nutrient = "Calories" %}
            {% assign rnd = 0 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Protein" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Fat" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Carbs" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Sugar" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Calcium" %}
            {% assign rnd = 0 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Sodium" %}
            {% assign rnd = 0 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
    </tbody>
</table></center>

<center><img src="/assets/Misc/Cooking/Compare/yogurt.png" alt="" class="smaller-image"></center><br>

<div id="chicken-breast-vs-chicken-thighs" class="table-of-contents"></div>
<br><center><i><font size="+2">Chicken Breast vs Thighs</font></i></center><br>
<center><table>
    <thead>
        <tr class="header">
            <th>Nutrient</th>
            {% assign food1 = "chicken-breast-facts" %}
            {% assign food2 = "chicken-thighs-facts" %}
            <th><a href="https://www.nutritionvalue.org/Chicken%2C_raw%2C_meat_only%2C_boneless%2C_skinless%2C_breast%2C_broiler_or_fryers_nutritional_value.html?size=100+g">Chicken Breast<br>(Boneless, Skinless)</a></th>
            <th><a href="https://www.nutritionvalue.org/Chicken%2C_raw%2C_meat_only%2C_thigh%2C_dark_meat%2C_broilers_or_fryers_nutritional_value.html?size=100%20g">Chicken Thighs<br>(Boneless, Skinless)</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% assign nutrient = "Calories" %}
            {% assign rnd = 0 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Protein" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Fat" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Iron" %}
            {% assign rnd = 2 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
    </tbody>
</table></center>

<center><img src="/assets/Misc/Cooking/Compare/chicken.png" alt="" class="smaller-image"></center><br>

<div id="ground-beef-vs-ground-turkey-vs-ground-chicken" class="table-of-contents"></div>
<br><center><i><font size="+2">Ground Beef vs Turkey vs Chicken</font></i></center><br>
<center><table>
    <thead>
        <tr class="header">
            <th>Nutrient</th>
            {% assign food1 = "ground-beef-facts" %}
            {% assign food2 = "ground-turkey-facts" %}
            {% assign food3 = "ground-chicken-facts" %}
            <th><a href="https://www.nutritionvalue.org/Beef%2C_raw%2C_93%25_lean_meat_%252F_7%25_fat%2C_ground_nutritional_value.html?size=100+g">Ground Beef<br>(93% Lean)</a></th>
            <th><a href="https://www.nutritionvalue.org/Turkey%2C_raw%2C_7%25_fat%2C_93%25_lean%2C_ground_nutritional_value.html?size=100+g">Ground Turkey<br>(93% Lean)</a></th>
            <th><a href="https://www.nutritionvalue.org/Chicken%2C_raw%2C_ground_nutritional_value.html?size=100+g">Ground Chicken<br>(92% Lean)</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% assign nutrient = "Calories" %}
            {% assign rnd = 0 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Protein" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Fat" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Iron" %}
            {% assign rnd = 2 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
    </tbody>
</table></center>

<center><img src="/assets/Misc/Cooking/Compare/minced-meat.png" alt="" class="smaller-image"></center><br>

<div id="whole-milk-vs-skim-milk-vs-almond-milk" class="table-of-contents"></div>
<br><center><i><font size="+2">Whole vs Skim vs Almond Milk</font></i></center><br>
<center><table>
    <thead>
        <tr class="header">
            <th>Nutrient</th>
            {% assign food1 = "whole-milk-facts" %}
            {% assign food2 = "skim-milk-facts" %}
            {% assign food3 = "almond-milk-facts" %}
            <th><a href="https://www.nutritionvalue.org/Milk%2C_with_added_vitamin_D%2C_3.25%25_milkfat%2C_whole_nutritional_value.html?size=100%20g">Whole Milk</a></th>
            <th><a href="https://www.nutritionvalue.org/Milk%2C_with_added_vitamin_A_and_vitamin_D_%28fat_free_or_skim%29%2C_fluid%2C_nonfat_nutritional_value.html?size=100%20g">Skim Milk</a></th>
            <th><a href="https://www.nutritionvalue.org/Almond_milk%2C_unsweetened_11350020_nutritional_value.html?size=100+g">Almond Milk<br>(Unsweetened)</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% assign nutrient = "Calories" %}
            {% assign rnd = 0 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Protein" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Fat" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Carbs" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Sugar" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Vitamin D" %}
            {% assign rnd = 2 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Calcium" %}
            {% assign rnd = 0 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
    </tbody>
</table></center>

<center><img src="/assets/Misc/Cooking/Compare/milk.png" alt="" class="smaller-image"></center><br>

<div id="bananas-vs-applesauce" class="table-of-contents"></div>
<br><center><i><font size="+2">Bananas vs Applesauce</font></i></center><br>
<center><table>
    <thead>
        <tr class="header">
            <th>Nutrient</th>
            {% assign food1 = "banana-facts" %}
            {% assign food2 = "applesauce-facts" %}
            <th><a href="https://www.nutritionvalue.org/public_ingredient_55740.html?size=100+g">Banana</a></th>
            <th><a href="https://www.nutritionvalue.org/Applesauce%2C_unsweetened_63101120_nutritional_value.html?size=100+g">Applesauce<br>(Unsweetened)</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% assign nutrient = "Calories" %}
            {% assign rnd = 0 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Protein" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Fat" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Carbs" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Sugar" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Fiber" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Potassium" %}
            {% assign rnd = 0 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
    </tbody>
</table></center>

<center><img src="/assets/Misc/Cooking/Compare/banana.png" alt="" class="smaller-image"></center><br>

<div id="sweet-potato-puree-vs-pumpkin-vs-butternut" class="table-of-contents"></div>
<br><center><i><font size="+2">Sweet Potato Puree vs Pumpkin vs Butternut Squash</font></i></center><br>
<center><table>
    <thead>
        <tr class="header">
            <th>Nutrient</th>
            {% assign food1 = "sweet-potato-puree-facts" %}
            {% assign food2 = "pumpkin-puree-facts" %}
            {% assign food3 = "butternut-squash-puree-facts" %}
            <th><a href="https://www.nutritionvalue.org/public_ingredient_55743.html?size=100+g">Sweet Potato</a></th>
            <th><a href="https://www.nutritionvalue.org/Pumpkin%2C_cooked_73201020_nutritional_value.html?size=100+g">Pumpkin</a></th>
            <th><a href="https://www.nutritionvalue.org/Squash%2C_without_salt%2C_baked%2C_cooked%2C_butternut%2C_winter_nutritional_value.html?size=100+g">Butternut Squash</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% assign nutrient = "Calories" %}
            {% assign rnd = 0 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Protein" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Fat" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Carbs" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Sugar" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Fiber" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Vitamin A" %}
            {% assign rnd = 0 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Potassium" %}
            {% assign rnd = 0 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food3 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
    </tbody>
</table></center>

<center><img src="/assets/Misc/Cooking/Compare/pumpkin.png" alt="" class="smaller-image"></center><br>

<div id="peanuts-vs-almonds" class="table-of-contents"></div>
<br><center><i><font size="+2">Peanuts vs Almonds</font></i></center><br>
<center><table>
    <thead>
        <tr class="header">
            <th>Nutrient</th>
            {% assign food1 = "peanuts-facts" %}
            {% assign food2 = "almonds-facts" %}
            <th><a href="https://www.nutritionvalue.org/Peanuts%2C_raw%2C_all_types_nutritional_value.html?size=100+g">Peanuts</a></th>
            <th><a href="https://www.nutritionvalue.org/Nuts%2C_almonds_nutritional_value.html?size=100%20g">Almonds</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% assign nutrient = "Calories" %}
            {% assign rnd = 0 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Protein" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Fat" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Carbs" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Sugar" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Fiber" %}
            {% assign rnd = 1 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Vitamin E" %}
            {% assign rnd = 2 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Iron" %}
            {% assign rnd = 2 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Magnesium" %}
            {% assign rnd = 0 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Potassium" %}
            {% assign rnd = 0 %}
            <td markdown="span">{{ nutrient }}</td>
            <td markdown="span">{% include getNutrient.html facts=food1 servingSize=servingSize nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts=food2 servingSize=servingSize nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
        </tr>
    </tbody>
</table></center>

<center><img src="/assets/Misc/Cooking/Compare/nuts.png" alt="" class="smaller-image"></center><br>

<u><font size="+2">References</font></u><br>
<ol>
    <li><a href="https://www.flaticon.com/">Flaticon</a></li>
    <li><a href="https://www.nutritionvalue.org/">Nutrition Value</a></li>
</ol>