---
layout: post
title:  Nutrient Comparisons of Similar Foods
date:   2025-04-02 00:00:00 -0500
categories:
- Misc.
- Nutrition
showPercentage: no
permalink: /misc/food-comparison
image: /assets/Misc/Nutrition/Compare/Compare.png
tags:
- Yogurt
- Cottage cheese
- Chicken breast
- Chicken thighs
- Ground beef
- Ground turkey
- Ground chicken
- Whole milk
- Skim milk
- Almond milk
- Bananas
- Applesauce
- Sweet potato puree
- Pumpkin
- Peanuts
- Almonds
- Chia
- Flax
- Sunflower seeds
- Pumpkin seeds
- Heavy cream
- Evaporated milk
- Cream cheese
- Ricotta
- Cottage cheese
- Mayo
- Sour cream
- Yogurt
- Whey
- Casein
- Powdered peanut butter
- White rice
- Brown rice
- Couscous
- Cous cous
- White pasta
- Whole wheat pasta
- Red lentil pasta
- Black beans
- Kidney beans
- Pinto beans
- Chickpeas
- Garbanzo beans
- Raisins
- Dates
- Figs
- Oat flour
- Almond flour
- Coconut flour
- Egg
- Flax egg
- Apple
- Pear
- Blueberry
- Strawberry
- Pepper
- Onion
- Carrots
- Potato
- Sweet potato
- Plantains
- Cauliflower
- Broccoli
- Cabbage
- Spinach
- Kale
- Beef liver
- Chicken liver
- Honey
- Maple syrup
- Quinoa
- Red lentils
- Black beans
- Mozzarella
- Cheddar
- Parmesan
- Feta
- Cheese
- Butternut squash
- Acorn squash
- Yellow squash
- Zucchini
- Butter
- Olive oil
- Coconut oil
- White flour
- Whole wheat flour
- Egg yolks
- Egg whites
- Zoodles
- Spaghetti squash
- Shirataki noodles
- Sardines
- Mackerel
- Tomato sauce
- Pesto
- Alfredo
- Blackberries
- Raspberries
- Orange
- Brussel sprouts
- Pork liver
- Canned tuna
- Salmon
- Tilapia
- Herring
- Halibut
- Mahi-mahi
- Mahi mahi
---
<u><font size='+2'>Introduction</font></u><br>
Whether you want to swap one ingredient for another based on what you have on hand, or to make something healthier, it is helpful to know how your substitution will impact the overall nutrition of your dish.  Below, I've outlined nutritional comparisons of similar foods, all based on <b>100 g</b>.<br><br>

<div class='image-row'>
    <img src='/assets/Misc/Nutrition/Compare/switch.png' alt='' class='smaller-image'>
</div><br>

<br><u><font size='+2'>Comparisons</font></u><br>
<ul>
    <li><a href='/recipes/healthier-dessert'>Baking</a></li>
        <ul>
            <li><a rel='' target='' href='#bananas-vs-applesauce'>Bananas vs Applesauce</a></li>
            <li><a rel='' target='' href='#sweet-potato-vs-pumpkin-vs-butternut'>Sweet Potato vs Pumpkin vs Butternut Squash Purees</a></li>
            <li><a rel='' target='' href='#honey-vs-maple-syrup-vs-sugar-free-syrup'>Honey vs Maple Syrup vs Sugar Free Syrup</a></li>
            <li><a rel='' target='' href='#butter-vs-olive-oil-vs-coconut-oil'>Butter vs Olive Oil vs Coconut Oil</a></li>
            <li><a rel='' target='' href='#white-vs-whole-wheat-vs-oat-vs-almond-vs-coconut-flour'>White vs Whole Wheat vs Oat vs Almond vs Coconut Flour</a></li>
        </ul>

    <li><a href='/misc/carbs'>Carbs</a></li>
        <ul>
            <li><a rel='' target='' href='#white-vs-brown-rice-vs-quinoa-vs-couscous'>White vs Brown Rice vs Quinoa vs Couscous</a></li>
            <li><a rel='' target='' href='#white-vs-whole-wheat-vs-red-lentil-pasta-vs-zoodles-vs-spaghetti-squash-vs-shirataki'>White vs Whole Wheat vs Red Lentil Pasta vs Zoodles vs Spaghetti Squash vs Shirataki Noodles</a></li>
            <li><a rel='' target='' href='#black-vs-kidney-vs-pinto-vs-navy-beans-vs-chickpeas-vs-red-lentils'>Black vs Kidney vs Pinto vs Navy Beans vs Chickpeas vs Red Lentils</a></li>
        </ul>

    <li><a href='/misc/dairy'>Dairy</a></li>
        <ul>
            <li><a rel='' target='' href='#greek-yogurt-vs-cottage-cheese-vs-coconut-yogurt'>Greek Yogurt vs Cottage Cheese vs Coconut Yogurt</a></li>
            <li><a rel='' target='' href='#mayo-vs-light-mayo-vs-sour-cream-vs-yogurt'>Mayo vs Light Mayo vs Sour Cream vs Yogurt</a></li>
            <li><a rel='' target='' href='#cream-cheese-vs-ricotta-vs-cottage-cheese'>Cream Cheese vs Ricotta vs Cottage Cheese</a></li>
            <li><a rel='' target='' href='#whole-vs-skim-vs-almond-vs-coconut-milk'>Whole vs Skim vs Almond vs Coconut Milk</a></li>
            <li><a rel='' target='' href='#heavy-cream-vs-evaporated-milk'>Heavy Cream vs Evaporated Milk</a></li>
            <li><a rel='' target='' href='#mozzarella-vs-cheddar-vs-parmesan-vs-feta'>Mozzarella vs Cheddar vs Parmesan vs Feta Cheese</a></li>
            <li><a rel='' target='' href='#whey-vs-casein-vs-powdered-peanut-butter'>Whey vs Casein vs Powdered Peanut Butter</a></li>
        </ul>

    <li><a href='/misc/fruit'>Fruits</a></li>
        <ul>
            <li><a rel='' target='' href='#apple-vs-pear-vs-orange-vs-banana-vs-peach'>Apple vs Pear vs Orange vs Banana vs Peach</a></li>
            <li><a rel='' target='' href='#blueberry-vs-strawberry-vs-raspberry-vs-blackberry'>Blueberry vs Strawberry vs Raspberry vs Blackberry</a></li>
            <li><a rel='' target='' href='#watermelon-vs-honeydew-vs-cantaloupe'>Watermelon vs Honeydew vs Cantaloupe</a></li>
            <li><a rel='' target='' href='#raisins-vs-dates-vs-figs'>Raisins vs Dates vs Figs</a></li>
        </ul>

    <li><a href='/misc/veggies'>Vegetables</a></li>
        <ul>
            <li><a rel='' target='' href='#pepper-vs-onion-vs-carrots-vs-mushrooms'>Pepper vs Onion vs Carrots vs Mushrooms</a></li>
            <li><a rel='' target='' href='#yellow-squash-vs-zucchini-vs-eggplant'>Yellow Squash vs Zucchini vs Eggplant</a></li>
            <li><a rel='' target='' href='#potato-vs-sweet-potato-vs-plantains-vs-butternut-vs-acorn'>Potato vs Sweet Potato vs Plantains vs Butternut Squash vs Acorn Squash</a></li>
            <li><a rel='' target='' href='#cauliflower-vs-broccoli-vs-brussel-sprouts'>Cauliflower vs Broccoli vs Brussel Sprouts</a></li>
            <li><a rel='' target='' href='#spinach-vs-kale-vs-romaine-vs-iceberg'>Spinach vs Kale vs Romaine Lettuce vs Iceberg Lettuce</a></li>
            <li><a rel='' target='' href='#cabbage-vs-arugula-vs-mustard-greens-vs-swiss-chard'>Green Cabbage vs Arugula vs Mustard Greens vs Swiss Chard</a></li>
        </ul>

    <li><a href='/misc/nuts'>Nuts</a> and <a href='/misc/seeds'>Seeds</a></li>
        <ul>
            <li><a rel='' target='' href='#peanuts-vs-almonds-vs-pistachios-vs-cashews-vs-walnuts'>Peanuts vs Almonds vs Pistachios vs Cashews vs Walnuts</a></li>
            <li><a rel='' target='' href='#sunflower-vs-pumpkin-vs-sesame-seed'>Sunflower vs Pumpkin vs Sesame Seed</a></li>
            <li><a rel='' target='' href='#chia-vs-flax-vs-hemp'>Chia vs Flax vs Hemp Seeds</a></li>
        </ul>

    <li><a href='/misc/protein'>Protein</a></li>
        <ul>
            <li><a rel='' target='' href='#chicken-breast-vs-chicken-thighs'>Chicken Breast vs Chicken Thighs</a></li>
            <li><a rel='' target='' href='#ground-beef-vs-ground-turkey-vs-ground-chicken'>Ground Beef vs Ground Turkey vs Ground Chicken</a></li>
            <li><a rel='' target='' href='#beef-vs-chicken-vs-pork-liver'>Beef vs Chicken vs Pork Liver</a></li>
            <li><a rel='' target='' href='#whole-egg-vs-egg-yolk-vs-egg-white-vs-flax-egg'>Whole Egg vs Egg Yolk vs Egg White vs Flax Egg</a></li>
            <li><a rel='' target='' href='#sardines-vs-mackerel-vs-tuna'>Canned Sardines vs Mackerel vs Tuna</a></li>
            <li><a rel='' target='' href='#salmon-vs-tilapia-vs-herring-vs-halibut-vs-mahi-mahi'>Salmon vs Tilapia vs Herring vs Halibut vs Mahi Mahi</a></li>
        </ul>

    <li>Other</li>
        <ul>
            <li><a rel='' target='' href='#tomato-sauce-vs-pesto-vs-alfredo'>Tomato Sauce vs Pesto vs Alfredo</a></li>
        </ul>

</ul><br>

<div class='image-row'>
    <img src='/assets/Misc/Nutrition/Compare/diet.png' alt='' class='smaller-image'>
</div><br>

<style>
    /* Main table styling */
    table {
      border-collapse: collapse;
      width: 100%;
      max-width: 100%; /* Ensure the table doesn't stretch beyond the container */
      table-layout: auto; /* Allow columns to auto adjust based on content */
      text-align: center; /* Center the content inside the table */
    }

    /* Table header styling */
    th, td {
      padding: 10px; /* Add padding for better readability */
      text-align: center; /* Center the content in cells */
      white-space: nowrap; /* Prevent wrapping in cells */
      word-wrap: break-word; /* Ensure long content can wrap to the next line */
    }

    /* Sticky first column */
    td:first-child, th:first-child {
      position: sticky;
      left: 0;
      background-color: var(--minima-table-header-bg-color);
      z-index: 5; /* Make sure the first column is above other columns */
      font-weight: bold;
    }

</style>

{% assign servingSize = 100 %}
{% assign folder = "servingSizes" %}

<hr>

<center>

<div id='bananas-vs-applesauce' class='table-of-contents'>
    <br><i><font size='+2'>Bananas vs Applesauce</font></i><br>
    {% assign files =
      "banana,"
      | append: "applesauce"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/public_ingredient_55740.html?size=100+g'>Banana</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Applesauce%2C_unsweetened_63101120_nutritional_value.html?size=100+g'>Applesauce<br>(Unsweetened)</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Vitamin C,"
      | append: "Potassium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/banana.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='sweet-potato-vs-pumpkin-vs-butternut' class='table-of-contents'>
    <br><i><font size='+2'>Sweet Potato vs Pumpkin vs Butternut Squash Purees</font></i><br>
    {% assign files =
      "sweet-potato-puree,"
      | append: "pumpkin-puree,"
      | append: "butternut-squash-puree"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/public_ingredient_55743.html?size=100+g'>Sweet<br>Potato</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Pumpkin%2C_cooked_73201020_nutritional_value.html?size=100+g'>Pumpkin</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Squash%2C_without_salt%2C_baked%2C_cooked%2C_butternut%2C_winter_nutritional_value.html?size=100+g'>Butternut<br>Squash</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Vitamin A,"
      | append: "Potassium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/pumpkin.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='honey-vs-maple-syrup-vs-sugar-free-syrup' class='table-of-contents'>
    <br><i><font size='+2'>Honey vs Maple Syrup vs Sugar Free Syrup</font></i><br>
    {% assign files =
      "honey-100g,"
      | append: "maple-syrup-100g,"
      | append: "sfs-100g"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Honey_nutritional_value.html?size=100+g'>Honey</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Syrups%2C_maple_nutritional_value.html?size=100%20g'>Maple<br>Syrup</a>,"
      | append: "<a href='/recipes/sugar-free-syrup'>Sugar<br>Free<br>Syrup</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Net Carbs,"
      | append: "Added Sugar,"
      | append: "Sugar Alcohol"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/honey.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='butter-vs-olive-oil-vs-coconut-oil' class='table-of-contents'>
    <br><i><font size='+2'>Butter vs Olive Oil vs Coconut Oil</font></i><br>
    {% assign files =
      "butter,"
      | append: "olive-oil,"
      | append: "coconut-oil"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Butter%2C_without_salt_nutritional_value.html?size=100+g'>Butter</a>,"
      | append: "<a href='https://www.nutritionvalue.org/public_ingredient_56474.html?utm_source=share-by-url'>Olive<br>Oil</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Oil%2C_coconut_nutritional_value.html?size=100+g'>Coconut<br>Oil</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Fat,"
      | append: "Saturated Fat,"
      | append: "Monounsaturated Fat,"
      | append: "Polyunsaturated Fat"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/olive-oil.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='white-vs-whole-wheat-vs-oat-vs-almond-vs-coconut-flour' class='table-of-contents'>
    <br><i><font size='+2'>White vs Whole Wheat vs Oat vs Almond vs Coconut Flour</font></i><br>
    {% assign files =
      "white-wheat,"
      | append: "whole-wheat,"
      | append: "oat-flour,"
      | append: "almond-flour,"
      | append: "coconut-flour"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Wheat_flour%2C_unenriched%2C_all-purpose%2C_white_nutritional_value.html?size=100%20g'>White<br>Flour</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Wheat_flour%2C_whole-grain_nutritional_value.html?size=100+g'>Whole<br>Wheat<br>Flour</a>,"
      | append: "<a href='https://www.nutritionvalue.org/public_ingredient_55734.html?size=100+g'>Oat<br>Flour</a>,"
      | append: "<a href='https://www.nutritionvalue.org/public_ingredient_55755.html?size=100+g'>Almond<br>Flour</a>,"
      | append: "<a href='https://www.nutritionvalue.org/public_ingredient_61774.html?size=100+g'>Coconut<br>Flour</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Iron"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/flour.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<hr>

<div id='white-vs-brown-rice-vs-quinoa-vs-couscous' class='table-of-contents'>
    <br><i><font size='+2'>White vs Brown Rice vs Quinoa vs Couscous</font></i><br>
    {% assign files =
      "white-rice,"
      | append: "brown-rice,"
      | append: "quinoa,"
      | append: "couscous"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Rice%2C_unenriched%2C_raw%2C_medium-grain%2C_white_nutritional_value.html?size=100+g'>White<br>Rice</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Rice%2C_raw%2C_long-grain%2C_brown_nutritional_value.html?size=100+g'>Brown<br>Rice</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Quinoa%2C_uncooked_nutritional_value.html?size=100+g'>Quinoa</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Couscous%2C_dry_nutritional_value.html?size=100+g'>Couscous</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Iron"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/rice.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='white-vs-whole-wheat-vs-red-lentil-pasta-vs-zoodles-vs-spaghetti-squash-vs-shirataki' class='table-of-contents'>
    <br><i><font size='+2'>White vs Whole Wheat vs Red Lentil Pasta vs Zoodles vs Spaghetti Squash vs Shirataki Noodles</font></i><br>
    {% assign files =
      "white-pasta,"
      | append: "pasta,"
      | append: "red-lentil-pasta,"
      | append: "zucchini,"
      | append: "spaghetti-squash,"
      | append: "shirataki"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Pasta%2C_unenriched%2C_dry_nutritional_value.html?size=100+g'>White<br>Pasta</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Pasta%2C_dry%2C_whole-wheat_nutritional_value.html?size=100+g'>Whole<br>Wheat<br>Pasta</a>,"
      | append: "<a href='https://www.nutritionvalue.org/public_ingredient_59673.html?size=100+g'>Red<br>Lentil<br>Pasta</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Squash%2C_raw%2C_includes_skin%2C_zucchini%2C_summer_nutritional_value.html?size=100+g'>Zoodles</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Squash%2C_raw%2C_spaghetti%2C_winter_nutritional_value.html?size=100%20g'>Spaghetti<br>Squash</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Konjac_noodles_by_SKINNY_PASTA_589635_nutritional_value.html?size=100+g'>Shirataki<br>Noodles</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Iron"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/noodles.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='black-vs-kidney-vs-pinto-vs-navy-beans-vs-chickpeas-vs-red-lentils' class='table-of-contents'>
    <br><i><font size='+2'>Black vs Kidney vs Pinto vs Navy Beans vs Chickpeas vs Red Lentils</font></i><br>
    {% assign files =
      "black-beans,"
      | append: "kidney-beans,"
      | append: "pinto-beans,"
      | append: "navy-beans,"
      | append: "chickpeas,"
      | append: "red-lentils"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Beans%2C_raw%2C_mature_seeds%2C_black_nutritional_value.html?size=100+g'>Black<br>Beans</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Beans%2C_raw%2C_mature_seeds%2C_red%2C_kidney_nutritional_value.html?size=100+g'>Kidney<br>Beans</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Beans%2C_raw%2C_mature_seeds%2C_pinto_nutritional_value.html?size=100+g'>Pinto<br>Beans</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Beans%2C_raw%2C_mature_seeds%2C_navy_nutritional_value.html?size=100+g'>Navy<br>Beans</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Chickpeas_%28garbanzo_beans%2C_bengal_gram%29%2C_raw%2C_mature_seeds_nutritional_value.html?size=100+g'>Chickpeas</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Lentils%2C_raw%2C_pink_or_red_nutritional_value.html?size=100+g'>Red<br>Lentils</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Vitamin B9,"
      | append: "Iron,"
      | append: "Magnesium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/kidney-bean.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<hr>

<div id='greek-yogurt-vs-cottage-cheese-vs-coconut-yogurt' class='table-of-contents'>
    <br><i><font size='+2'>Greek Yogurt vs Cottage Cheese vs Coconut Yogurt</font></i><br>
    {% assign files =
      "yogurt,"
      | append: "cottage-cheese,"
      | append: "coconut-yogurt"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/public_ingredient_55742.html?size=100+g'>Greek<br>Yogurt<br>(Plain<br>Nonfat)</a>,"
      | append: "<a href='https://www.nutritionvalue.org/public_ingredient_55741.html?size=100+g'>Cottage<br>Cheese<br>(Nonfat)</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Yogurt%2C_coconut_milk_42401100_nutritional_value.html?size=100+g'>Coconut<br>Yogurt<br>(Vanilla<br>Sweetened)</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Vitamin B12,"
      | append: "Calcium,"
      | append: "Sodium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/yogurt.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='mayo-vs-light-mayo-vs-sour-cream-vs-yogurt' class='table-of-contents'>
    <br><i><font size='+2'>Mayo vs Light Mayo Sour Cream vs Greek Yogurt</font></i><br>
    {% assign files =
      "mayo,"
      | append: "light-mayo,"
      | append: "sour-cream,"
      | append: "yogurt"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Salad_dressing%2C_regular%2C_mayonnaise_nutritional_value.html?size=100+g'>Mayonnaise</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Mayonnaise%2C_light_83204000_nutritional_value.html?size=100%20g'>Light<br>Mayo</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Cream%2C_cultured%2C_sour_nutritional_value.html?size=100%20g'>Sour<br>Cream</a>,"
      | append: "<a href='https://www.nutritionvalue.org/public_ingredient_55742.html?size=100+g'>Greek<br>Yogurt<br>(Plain<br>Nonfat)</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Net Carbs,"
      | append: "Sugar"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/mayonnaise.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='cream-cheese-vs-ricotta-vs-cottage-cheese' class='table-of-contents'>
    <br><i><font size='+2'>Cream Cheese vs Ricotta vs Cottage Cheese</font></i><br>
    {% assign files =
      "yogurt,"
      | append: "cottage-cheese,"
      | append: "coconut-yogurt"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/public_ingredient_55742.html?size=100+g'>Greek<br>Yogurt<br>(Plain<br>Nonfat)</a>,"
      | append: "<a href='https://www.nutritionvalue.org/public_ingredient_55741.html?size=100+g'>Cottage<br>Cheese<br>(Nonfat)</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Yogurt%2C_coconut_milk_42401100_nutritional_value.html?size=100+g'>Coconut<br>Yogurt<br>(Vanilla<br>Sweetened)</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Vitamin B12,"
      | append: "Calcium,"
      | append: "Sodium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/yogurt.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='whole-vs-skim-vs-almond-vs-coconut-milk' class='table-of-contents'>
    <br><i><font size='+2'>Whole vs Skim vs Almond vs Coconut Milk</font></i><br>
    {% assign files =
      "whole-milk,"
      | append: "skim-milk,"
      | append: "almond-milk,"
      | append: "coconut-milk"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Milk%2C_with_added_vitamin_D%2C_3.25%25_milkfat%2C_whole_nutritional_value.html?size=100%20g'>Whole<br>Milk</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Milk%2C_with_added_vitamin_A_and_vitamin_D_%28fat_free_or_skim%29%2C_fluid%2C_nonfat_nutritional_value.html?size=100%20g'>Skim<br>Milk</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Almond_milk%2C_unsweetened_11350020_nutritional_value.html?size=100+g'>Almond<br>Milk<br>(Unsweetened)</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Coconut_milk%2C_used_in_cooking_42401010_nutritional_value.html?size=100+g'>Coconut<br>Milk</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Vitamin D,"
      | append: "Calcium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/milk.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='heavy-cream-vs-evaporated-milk' class='table-of-contents'>
    <br><i><font size='+2'>Heavy Cream vs Evaporated Milk</font></i><br>
    {% assign files =
      "heavy-cream,"
      | append: "evaporated-milk,"
      | append: "evaporated-milk-skim"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Cream%2C_heavy_whipping%2C_fluid_nutritional_value.html?size=100+g'>Heavy<br>Cream</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Milk%2C_with_added_vitamin_A%2C_evaporated%2C_canned_nutritional_value.html?size=100+g'>Evaporated<br>Milk<br>(Whole<br>Milk)</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Milk%2C_fat_free_%28skim%29%2C_evaporated_11212050_nutritional_value.html?size=100+g'>Evaporated<br>Milk<br>(Fat<br>Free)</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Vitamin D,"
      | append: "Calcium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/cream.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='mozzarella-vs-cheddar-vs-parmesan-vs-feta' class='table-of-contents'>
    <br><i><font size='+2'>Mozzarella vs Cheddar vs Parmesan vs Feta Cheese</font></i><br>
    {% assign files =
      "mozzarella,"
      | append: "cheddar,"
      | append: "grated-cheese,"
      | append: "feta"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Cheese%2C_shredded%2C_part-skim%2C_low_moisture%2C_mozzarella_nutritional_value.html?size=100%20g'>Mozzarella<br>(Low<br>Moisture<br>Part<br>Skim)</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Cheese%2C_cheddar_nutritional_value.html?size=100%20g'>Cheddar</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Cheese%2C_grated%2C_parmesan_325036_nutritional_value.html?size=100+g'>Parmesan</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Cheese%2C_feta_nutritional_value.html?size=100+g'>Feta</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Calcium,"
      | append: "Sodium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/cheese.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='whey-vs-casein-vs-powdered-peanut-butter' class='table-of-contents'>
    <br><i><font size='+2'>Whey vs Casein vs Powdered Peanut Butter</font></i><br>
    {% assign files =
      "whey,"
      | append: "casein,"
      | append: "powdered-peanut-butter"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/public_ingredient_51894.html?size=100+g'>Whey<br>Protein<br>Powder</a>,"
      | append: "<a href='https://www.nutritionvalue.org/public_ingredient_51895.html?size=100+g'>Casein<br>Protein<br>Powder</a>,"
      | append: "<a href='https://www.nutritionvalue.org/public_ingredient_60905.html?size=100+g'>Powdered<br>Peanut<br>Butter</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Calcium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/whey-protein.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<hr>

<div id='apple-vs-pear-vs-orange-vs-banana-vs-peach' class='table-of-contents'>
    <br><i><font size='+2'>Apple vs Pear vs Orange vs Banana vs Peach</font></i><br>
    {% assign files =
      "apple,"
      | append: "pear,"
      | append: "orange,"
      | append: "banana,"
      | append: "peach"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Apples%2C_with_skin%2C_gala%2C_raw_nutritional_value.html?size=100+g'>Apple</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Pears%2C_bartlett%2C_raw_nutritional_value.html?size=100+g'>Pear</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Oranges%2C_navels%2C_raw_nutritional_value.html?size=100+g'>Orange</a>,"
      | append: "<a href='https://www.nutritionvalue.org/public_ingredient_55740.html?utm_source=share-by-url'>Banana</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Peach%2C_raw_63135010_nutritional_value.html?size=100%20g'>Peach</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Vitamin C,"
      | append: "Potassium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/apple.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='blueberry-vs-strawberry-vs-raspberry-vs-blackberry' class='table-of-contents'>
    <br><i><font size='+2'>Blueberries vs Strawberries vs Raspberries vs Blackberries</font></i><br>
    {% assign files =
      "blueberries,"
      | append: "strawberries,"
      | append: "raspberry,"
      | append: "blackberry"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Blueberries%2C_raw_nutritional_value.html?size=100%20g'>Blueberries</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Strawberries%2C_raw_nutritional_value.html?size=100+g'>Strawberries</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Raspberries%2C_raw_nutritional_value.html?size=100+g'>Raspberries</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Blackberries%2C_raw_nutritional_value.html?size=100+g'>Blackberries</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/berries.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='watermelon-vs-honeydew-vs-cantaloupe' class='table-of-contents'>
    <br><i><font size='+2'>Watermelon vs Honeydew vs Cantaloupe</font></i><br>
    {% assign files =
      "watermelon,"
      | append: "honeydew,"
      | append: "cantaloupe"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Watermelon%2C_raw_nutritional_value.html?size=100+g'>Watermelon</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Melons%2C_raw%2C_honeydew_nutritional_value.html?size=100%20g'>Honeydew</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Melons%2C_raw%2C_cantaloupe_nutritional_value.html?size=100+g'>Cantaloupe</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Vitamin C"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/watermelon.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='raisins-vs-dates-vs-figs' class='table-of-contents'>
    <br><i><font size='+2'>Raisins vs Dates vs Figs</font></i><br>
    {% assign files =
      "raisins,"
      | append: "dates,"
      | append: "fig-dried"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Raisins%2C_seedless%2C_dark_nutritional_value.html?size=100%20g'>Raisins</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Dates%2C_deglet_noor_nutritional_value.html?size=100+g'>Dates</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Figs%2C_uncooked%2C_dried_nutritional_value.html?size=100+g'>Figs<br>(Dried)</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Iron"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/dates.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<hr>

<div id='pepper-vs-onion-vs-carrots-vs-mushrooms' class='table-of-contents'>
    <br><i><font size='+2'>Peppers vs Onions vs Carrots vs Mushrooms</font></i><br>
    {% assign files =
      "pepper,"
      | append: "onion,"
      | append: "carrots,"
      | append: "mushrooms"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/public_ingredient_55757.html?size=100+g'>Peppers<br>(Bell)</a>,"
      | append: "<a href='https://www.nutritionvalue.org/public_ingredient_55756.html?size=100+g'>Onions</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Carrots%2C_raw_nutritional_value.html?size=100+g'>Carrots</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Mushrooms%2C_raw%2C_white_nutritional_value.html?size=100%20g'>Mushrooms<br>(White)</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Vitamin A,"
      | append: "Vitamin C"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/bell-pepper.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='yellow-squash-vs-zucchini-vs-eggplant' class='table-of-contents'>
    <br><i><font size='+2'>Yellow Squash vs Zucchini vs Eggplant</font></i><br>
    {% assign files =
      "yellow-squash,"
      | append: "zucchini,"
      | append: "eggplant"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Summer_squash%2C_raw%2C_yellow_75128000_nutritional_value.html?size=100+g'>Yellow<br>Squash</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Squash%2C_raw%2C_includes_skin%2C_zucchini%2C_summer_nutritional_value.html?size=100+g'>Zucchini</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Eggplant%2C_raw_nutritional_value.html?size=100%20g'>Eggplant</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Vitamin C"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/zucchini.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='potato-vs-sweet-potato-vs-plantains-vs-butternut-vs-acorn' class='table-of-contents'>
    <br><i><font size='+2'>Potatoes vs Sweet Potatoes vs Plantains vs Butternut Squash vs Acorn Squash</font></i><br>
    {% assign files =
      "potato,"
      | append: "sweet-potato,"
      | append: "plantain,"
      | append: "butternut-squash,"
      | append: "acorn-squash"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Potatoes%2C_raw%2C_flesh_and_skin_nutritional_value.html?size=100+g'>Potatoes</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Sweet_potato%2C_unprepared%2C_raw_nutritional_value.html?size=100+g'>Sweet<br>Potatoes</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Plantains%2C_raw%2C_yellow_nutritional_value.html?size=100+g'>Plantains</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Squash%2C_raw%2C_butternut%2C_winter_nutritional_value.html?size=100%20g'>Butternut<br>Squash</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Squash%2C_raw%2C_acorn%2C_winter_nutritional_value.html?size=100%20g'>Acorn<br>Squash</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Vitamin A,"
      | append: "Vitamin C,"
      | append: "Potassium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/potatoes.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='cauliflower-vs-broccoli-vs-brussel-sprouts' class='table-of-contents'>
    <br><i><font size='+2'>Cauliflower vs Broccoli vs Brussel Sprouts</font></i><br>
    {% assign files =
      "cauliflower,"
      | append: "broccoli,"
      | append: "brussel-sprout"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Cauliflower%2C_raw_nutritional_value.html?size=100+g'>Cauliflower</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Broccoli%2C_raw_nutritional_value.html?size=100%20g'>Broccoli</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Brussels_sprouts%2C_raw_nutritional_value.html?size=100+g'>Brussel<br>Sprouts</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Vitamin C,"
      | append: "Vitamin K,"
      | append: "Iron"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/broccoli.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='spinach-vs-kale-vs-romaine-vs-iceberg' class='table-of-contents'>
    <br><i><font size='+2'>Spinach vs Kale vs Romaine Lettuce vs Iceberg Lettuce</font></i><br>
    {% assign files =
      "spinach-fresh,"
      | append: "kale,"
      | append: "lettuce,"
      | append: "iceberg"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Spinach%2C_raw_nutritional_value.html?size=100+g'>Spinach</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Kale%2C_raw_nutritional_value.html?size=100+g'>Kale</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Lettuce%2C_raw%2C_cos_or_romaine_nutritional_value.html?size=100+g'>Romaine<br>Lettuce</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Lettuce%2C_raw%2C_iceberg_%28includes_crisphead_types%29_nutritional_value.html?size=100+g'>Iceberg<br>Lettuce</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Vitamin C,"
      | append: "Vitamin K,"
      | append: "Iron"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/spinach.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='cabbage-vs-arugula-vs-mustard-greens-vs-swiss-chard' class='table-of-contents'>
    <br><i><font size='+2'>Green Cabbage vs Arugula vs Mustard Greens vs Swiss Chard</font></i><br>
    {% assign files =
      "cabbage,"
      | append: "arugula,"
      | append: "mustard-greens,"
      | append: "swiss-chard"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Cabbage%2C_raw_nutritional_value.html?size=100%20g'>Green<br>Cabbage</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Arugula%2C_raw_nutritional_value.html?size=100%20g'>Arugula</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Mustard_greens%2C_raw_nutritional_value.html?size=100+g'>Mustard<br>Greens</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Chard%2C_raw%2C_swiss_nutritional_value.html?size=100+g'>Swiss<br>Chard</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Vitamin C,"
      | append: "Vitamin K,"
      | append: "Iron"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/cabbage.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<hr>

<div id='peanuts-vs-almonds-vs-pistachios-vs-cashews-vs-walnuts' class='table-of-contents'>
    <br><i><font size='+2'>Peanuts vs Almonds vs Pistachios vs Cashews vs Walnuts</font></i><br>
    {% assign files =
      "peanuts,"
      | append: "almonds,"
      | append: "pistachios,"
      | append: "cashews,"
      | append: "walnuts"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Peanuts%2C_raw%2C_all_types_nutritional_value.html?size=100+g'>Peanuts</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Nuts%2C_almonds_nutritional_value.html?size=100%20g'>Almonds</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Nuts%2C_raw%2C_pistachio_nuts_nutritional_value.html?size=100+g'>Pistachios</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Nuts%2C_raw%2C_cashew_nuts_nutritional_value.html?size=100%20g'>Cashews</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Nuts%2C_english%2C_walnuts_nutritional_value.html?size=100%20g'>Walnuts</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Vitamin E,"
      | append: "Iron,"
      | append: "Magnesium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/nuts.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='sunflower-vs-pumpkin-vs-sesame-seed' class='table-of-contents'>
    <br><i><font size='+2'>Sunflower vs Pumpkin vs Sesame Seeds</font></i><br>
    {% assign files =
      "sunflower-seeds,"
      | append: "pumpkin-seeds,"
      | append: "sesame-seeds"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Seeds%2C_dried%2C_sunflower_seed_kernels_nutritional_value.html?size=100+g'>Sunflower<br>Seeds</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Seeds%2C_dried%2C_pumpkin_and_squash_seed_kernels_nutritional_value.html?size=100+g'>Pumpkin<br>Seeds</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Seeds%2C_dried%2C_whole%2C_sesame_seeds_nutritional_value.html?size=100%20g'>Sesame<br>Seeds</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Vitamin E,"
      | append: "Iron,"
      | append: "Magnesium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/pumpkin-seeds.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='chia-vs-flax-vs-hemp' class='table-of-contents'>
    <br><i><font size='+2'>Chia vs Flax vs Hemp Seeds</font></i><br>
    {% assign files =
      "chia-seeds,"
      | append: "flax-seeds,"
      | append: "hemp-seeds"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/public_ingredient_55738.html?size=100+g'>Chia<br>Seeds</a>,"
      | append: "<a href='https://www.nutritionvalue.org/public_ingredient_55737.html?size=100+g'>Flax<br>Seeds</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Seeds%2C_hulled%2C_hemp_seed_nutritional_value.html?size=100%20g'>Hemp<br>Seeds</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Fiber,"
      | append: "Magnesium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/chia.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<hr>

<div id='chicken-breast-vs-chicken-thighs' class='table-of-contents'>
    <br><i><font size='+2'>Chicken Breast vs Thighs</font></i><br>
    {% assign files =
      "chicken-breast,"
      | append: "chicken-thighs"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Chicken%2C_raw%2C_meat_only%2C_boneless%2C_skinless%2C_breast%2C_broiler_or_fryers_nutritional_value.html?size=100+g'>Chicken<br>Breast<br>(Boneless<br>Skinless)</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Chicken%2C_raw%2C_meat_only%2C_thigh%2C_dark_meat%2C_broilers_or_fryers_nutritional_value.html?size=100%20g'>Chicken<br>Thighs<br>(Boneless<br>Skinless)</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Vitamin B12,"
      | append: "Iron,"
      | append: "Selenium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/chicken.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='ground-beef-vs-ground-turkey-vs-ground-chicken' class='table-of-contents'>
    <br><i><font size='+2'>Ground Beef vs Turkey vs Chicken</font></i><br>
    {% assign files =
      "ground-beef,"
      | append: "ground-turkey,"
      | append: "ground-chicken"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Beef%2C_raw%2C_93%25_lean_meat_%252F_7%25_fat%2C_ground_nutritional_value.html?size=100+g'>Ground<br>Beef<br>(93%<br>Lean)</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Turkey%2C_raw%2C_7%25_fat%2C_93%25_lean%2C_ground_nutritional_value.html?size=100+g'>Ground<br>Turkey<br>(93%<br>Lean)</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Chicken%2C_raw%2C_ground_nutritional_value.html?size=100+g'>Ground<br>Chicken<br>(92%<br>Lean)</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Vitamin B12,"
      | append: "Iron,"
      | append: "Selenium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/minced-meat.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='beef-vs-chicken-vs-pork-liver' class='table-of-contents'>
    <br><i><font size='+2'>Beef vs Chicken vs Pork Liver</font></i><br>
    {% assign files =
      "liver,"
      | append: "chicken-liver,"
      | append: "pork-liver"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Beef%2C_raw%2C_liver%2C_variety_meats_and_by-products_nutritional_value.html?size=100%20g'>Beef<br>Liver</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Chicken%2C_raw%2C_all_classes%2C_liver_nutritional_value.html?size=100+g'>Chicken<br>Liver</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Pork%2C_raw%2C_liver%2C_variety_meats_and_by-products%2C_fresh_nutritional_value.html?size=100+g'>Pork<br>Liver</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Vitamin A,"
      | append: "Vitamin B12,"
      | append: "Iron,"
      | append: "Selenium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/liver.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='whole-egg-vs-egg-yolk-vs-egg-white-vs-flax-egg' class='table-of-contents'>
    <br><i><font size='+2'>Whole Eggs vs Egg Yolks vs Egg Whites vs Flax Egg</font></i><br>
    {% assign files =
      "eggs,"
      | append: "egg-yolk,"
      | append: "egg-whites,"
      | append: "flaxegg"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Eggs%2C_egg_whole%2C_Large%2C_Grade_A_748967_nutritional_value.html?size=100+g'>Whole<br>Eggs</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Egg%2C_fresh%2C_raw%2C_yolk_nutritional_value.html?size=100+g'>Egg<br>Yolks</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Egg%2C_fresh%2C_raw%2C_white_nutritional_value.html?size=100+g'>Egg<br>Whites</a>,"
      | append: "<a href='https://www.nutritionvalue.org/public_ingredient_55737.html?utm_source=share-by-url'>Flax<br>Egg</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Vitamin D,"
      | append: "Choline"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/fried-egg.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='sardines-vs-mackerel-vs-tuna' class='table-of-contents'>
    <br><i><font size='+2'>Canned Sardines vs Mackerel vs Tuna</font></i><br>
    {% assign files =
      "sardine,"
      | append: "mackerel,"
      | append: "tuna"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Sardines%2C_cooked_26139110_nutritional_value.html?size=100+g'>Sardines</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Mackerel%2C_canned_26121180_nutritional_value.html?size=100+g'>Mackerel</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Fish%2C_drained_solids%2C_canned_in_water%2C_light%2C_tuna_nutritional_value.html?size=100+g'>Tuna</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Vitamin B12,"
      | append: "Vitamin D,"
      | append: "Selenium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/canned-sardines.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<div id='salmon-vs-tilapia-vs-herring-vs-halibut-vs-mahi-mahi' class='table-of-contents'>
    <br><i><font size='+2'>Salmon vs Tilapia vs Herring vs Halibut vs Mahi Mahi</font></i><br>
    {% assign files =
      "salmon,"
      | append: "tilapia,"
      | append: "herring,"
      | append: "halibut,"
      | append: "mahi-mahi"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Fish%2C_raw%2C_pink%2C_salmon_nutritional_value.html?size=100%20g'>Salmon</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Fish%2C_raw%2C_tilapia_nutritional_value.html?size=100+g'>Tilapia</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Fish%2C_raw%2C_Atlantic%2C_herring_nutritional_value.html?size=100%20g'>Herring</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Halibut%2C_raw_26118000_nutritional_value.html?size=100%20g'>Halibut</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Fish%2C_raw%2C_mahimahi_nutritional_value.html?size=100%20g'>Mahi<br>Mahi</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Vitamin B12,"
      | append: "Vitamin D,"
      | append: "Selenium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/fish.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

<hr>

<div id='tomato-sauce-vs-pesto-vs-alfredo' class='table-of-contents'>
    <br><i><font size='+2'>Tomato Sauce vs Pesto vs Alfredo</font></i><br>
    {% assign files =
      "tomato-sauce,"
      | append: "pesto,"
      | append: "alfredo"
      | split: ","
    %}
    {% assign titles =
      "<a href='https://www.nutritionvalue.org/Tomato_products%2C_sauce%2C_canned_nutritional_value.html?size=100+g'>Tomato<br>Sauce</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Sauce%2C_ready-to-serve%2C_basil_pesto%2C_CLASSICO%2C_pesto_nutritional_value.html?size=100+g'>Pesto</a>,"
      | append: "<a href='https://www.nutritionvalue.org/Alfredo_sauce_14650160_nutritional_value.html?size=100+g'>Alfredo</a>"
      | split: ","
    %}
    {% assign nutrients =
      "Calories,"
      | append: "Protein,"
      | append: "Fat,"
      | append: "Net Carbs,"
      | append: "Sugar,"
      | append: "Sodium"
      | split: ","
    %}
    {% assign pic = '/assets/Misc/Nutrition/Compare/marinara-sauce.png' %}
    {% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" folder=folder pic=pic %}
</div>

</center>

<hr>

<u><font size='+2'>References</font></u><br>
<ol>
    <li><a href='https://www.flaticon.com/'>Flaticon</a></li>
    <li><a href='https://www.nutritionvalue.org/'>Nutrition Value</a></li>
</ol>
