---
layout: post
title:  Being Healthy on Vacation
date:   2026-09-24 00:00:00 -0500
categories:
- Misc.
- Nutrition
showPercentage: no
permalink: /misc/vacation
image: /assets/Misc/Nutrition/Vacation/vacation.png
tags:
- vacation
- trip
- cruise
- breakfast
- lunch
- dinner
- dessert
- snacks
- drinks
- alcohol
- exercise
- balance
---
<div id='intro' class='table-of-contents'></div><br>
<u><font size='+2'>Introduction</font></u><br>
You may take a vacation, but your health never does. It's absolutely okay to relax, enjoy life, and try new and exciting foods. But it's also possible to enjoy yourself while still keeping some of your healthy habits intact. The goal is to make sure you're still working some <a href='#exercise'>exercise</a> and healthy eating into your day.<br><br>

A simple approach is to roughly follow the 90% rule. If you're eating well and <a href='#exercise'>exercising</a> most of the time, you can leave some room for treats, restaurant meals, and an occasional day off. The 90% rule isn't meant to be a literal calculation. It's just a reminder that you don't need to be perfect all the time. Vacation doesn't have to be perfect to be healthy.

<div id='contents' class='table-of-contents'></div><hr>
<u><font size='+2'>Table of Contents</font></u><br>
<ol>
    <li><a href='#intro'>Introduction</a></li>
    <li><a href='#extremes'>The Two Extremes</a></li>
    <li><a href='#breakfast'>Breakfast</a></li>
    <li><a href='#lunch'>Lunch</a></li>
    <li><a href='#dinner'>Dinner</a></li>
    <li><a href='#other'>Other (Dessert, Drinks, etc.)</a></li>
    <li><a href='#tally'>Tallying it Up</a></li>
    <li><a href='#exercise'>Exercise</a></li>
    <li><a href='#lesson'>The Lesson</a></li>
    <li><a href='#conclusion'>Conclusion</a></li>
</ol><br>

<div id='extremes' class='table-of-contents'></div><hr>
<u><font size='+2'>The Two Extremes</font></u><br>
The two extremes of someone on vacation are pretty easy to imagine. Person A is someone who eats and <a href='#other'>drinks</a> everything. They "don't <a href='#exercise'>exercise</a> on vacation", and eat indulgent food for <a href='#breakfast'>breakfast</a>, <a href='#lunch'>lunch</a>, and <a href='#dinner'>dinner</a>, plus 1-3 <a href='#other'>desserts</a> a day. They have a good time, sure, but they come back feeling sluggish and several pounds heavier.<br><br>

On the other hand, person B panics as soon as a vacation is planned. They stress excessively about what they're going to eat and where they're going to work out. They're worried the whole time about what they're eating, and they have a hard time enjoying themselves. They may avoid the sluggishness and weight gain, but they've spent the entire vacation worrying about food and <a href='#exercise'>exercise</a>.<br><br>

Don't be person A. And don't be person B. Instead, be person C. The one who <a href='#exercise'>works out</a> in the morning. The one who makes sure to get plenty of <a href='/misc/protein'>protein</a>, <a href='/misc/veggies'>vegetables</a>, and <a href='/misc/fruit'>fruit</a> throughout the day. But the one who isn't afraid to eat a slice of <a href='/recipes/chocolate-cake'>cake</a>.<br><br>

So I just got back from a cruise, which inspired this blog post. There's tons of indulgent food available at all times, but also plenty of nutritious food options and a gym on standby.<br><br>

I'm going to break down examples of <a href='#breakfast'>breakfast</a>, <a href='#lunch'>lunch</a>, <a href='#dinner'>dinner</a>, and <a href='#other'>snacks/desserts</a> for both maintaining your health goals and going completely balls-to-the-wall, "I don't care," standard vacationer. I'm also going to show you how to work in <a href='#exercise'>exercise</a>.

<div id='breakfast' class='table-of-contents'></div><hr>
<u><font size='+2'>Breakfast</font></u><br>
The cruise has your Standard American Diet (appropriately abbreviated to SAD) options. Here are just some of your classic indulgent food <a href='/recipes/breakfast'>breakfast</a> options available on a cruise.<br><br>

<ul>
  <li><a href='/misc/meat#bacon'>Bacon</a></li>
  <li><a href='/misc/fake-healthy-foods#bread'>Bagels</a></li>
  <li><a href='/misc/fake-healthy-foods#banana-bread'>Banana bread</a></li>
  <li><a href='/misc/dairy#butter'>Butter</a></li>
  <li><a href='/misc/meat#bacon'>Canadian bacon</a></li>
  <li><a href='/misc/fake-healthy-foods#cereal'>Cereal</a></li>
  <li><a href='/misc/fake-healthy-foods#milk'>Chocolate milk</a></li>
  <li><a href='/misc/dairy#cream-cheese'>Cream cheese</a></li>
  <li><a href='/misc/fake-healthy-foods#muffins'>Croissants</a></li>
  <li><a href='/misc/fake-healthy-foods#dried-fruit'>Dried fruit</a></li>
  <li><a href='/misc/fake-healthy-foods#bread'>English muffins</a></li>
  <li><a href='/misc/fake-healthy-foods#pancakes'>French toast</a></li>
  <li><a href='/misc/fake-healthy-foods#jelly'>Jam</a></li>
  <li><a href='/misc/fake-healthy-foods#jelly'>Jelly</a></li>
  <li><a href='/misc/fake-healthy-foods#muffins'>Muffins</a></li>
  <li><a href='/misc/fake-healthy-foods#nutella'>Nutella</a></li>
  <li><a href='/misc/fake-healthy-foods#pancakes'>Pancakes</a></li>
  <li><a href='/misc/meat#sausage'>Sausage</a></li>
  <li><a href='/misc/fake-healthy-foods#yogurt'>Sweetened yogurt</a></li>
  <li><a href='/misc/fake-healthy-foods#jelly'>Syrup</a></li>
  <li><a href='/misc/fake-healthy-foods#potatoes'>Tater tots</a></li>
  <li><a href='/misc/fake-healthy-foods#pancakes'>Waffles</a></li>
  <li><a href='/misc/fake-healthy-foods#bread'>White bread</a></li>
</ul><br>

Yeah that's a ton of indulgent food. It's a lot of <a href='/misc/carbs'>refined starch</a>, <a href='/misc/hidden-sugar'>added sugar</a>, and <a href='/misc/calories'>calorie-dense</a> foods, with plenty of <a href='/misc/fats'>added fats</a> mixed in. What a great way to start out your day if you're looking to feel sluggish, overly full, or crash later. It's certainly not the <a href='/recipes/breakfast'>breakfast</a> I'd choose if I wanted to feel my best for the rest of the day.<br><br>

Here's an example of what a pretty typical indulgent <a href='/recipes/breakfast'>breakfast</a> could look like:<br><br>

<ul>
  <li><a href='/misc/fake-healthy-foods#pancakes'>Pancakes</a> with <a href='/misc/fake-healthy-foods#jelly'>syrup or jelly</a></li>
  <li>Bowl of <a href='/misc/fake-healthy-foods#cereal'>cereal</a> with <a href='/misc/dairy#whole-milk'>milk</a></li>
  <li>Strips of <a href='/misc/meat#bacon'>bacon</a></li>
  <li>Slice of <a href='/misc/fake-healthy-foods#banana-bread'>banana bread</a></li>
</ul><br>

In comparison, there are also plenty of nutritious options available to you on a cruise, at a hotel, or just while out on vacation:<br><br>

<ul>
  <li><a href='/misc/nuts#almonds'>Almonds</a></li>
  <li><a href='/misc/fruit#apple'>Apples</a></li>
  <li><a href='/misc/fruit#avocado'>Avocados</a></li>
  <li><a href='/misc/fruit#banana'>Bananas</a></li>
  <li><a href='/misc/fruit#blueberries'>Blueberries</a></li>
  <li><a href='/misc/fruit#cantaloupe'>Cantaloupe</a></li>
  <li><a href='/misc/veggies#carrots'>Carrots</a></li>
  <li><a href='/misc/dairy#cottage-cheese'>Cottage cheese</a> (plain)</li>
  <li><a href='/misc/dairy#yogurt'>Greek yogurt</a> (plain)</li>
  <li><a href='/recipes/hard-boiled-egg'>Hard boiled eggs</a></li>
  <li><a href='/misc/fruit#honeydew'>Honeydew</a></li>
  <li><a href='/misc/veggies#lettuce'>Lettuce</a></li>
  <li><a href='/misc/fish#salmon'>Lox</a></li>
  <li><a href='/misc/dairy#skim-milk'>Milk</a> (plain)</li>
  <li><a href='/oatmeal'>Oatmeal</a> (plain)</li>
  <li><a href='/recipes/natural-peanut-butter'>Peanut butter</a></li>
  <li><a href='/misc/fruit#pineapple'>Pineapple</a></li>
  <li><a href='/misc/cooking-eggs#hard-scrambled'>Scrambled eggs</a></li>
  <li><a href='/misc/veggies#tomato'>Tomato</a></li>
  <li><a href='/misc/nuts#walnuts'>Walnuts</a></li>
  <li><a href='/misc/fruit#watermelon'>Watermelon</a></li>
</ul><br>

Lots of indulgent food. And lots of nutritious food. Building a nutritious <a href='/recipes/breakfast'>breakfast</a> isn't too difficult. Here's an example <a href='/recipes/breakfast'>breakfast</a> for me this last week.<br><br>

<ul>
  <li><a href='/misc/dairy#cottage-cheese'>Cottage cheese</a> with <a href='/misc/nuts#almonds'>almonds</a>, <a href='/misc/nuts#walnuts'>walnuts</a>, and <a href='/recipes/sugar-free-syrup'>sugar free syrup</a></li>
  <li><a href='/salad'>Salad</a> with <a href='/misc/veggies#lettuce'>lettuce</a>, <a href='/misc/veggies#tomato'>tomato</a>, <a href='/misc/veggies#carrots'>carrots</a>, <a href='/misc/fish#salmon'>lox</a>, <a href='/misc/meat#eggs'>egg</a>, mustard, salt, and pepper</li>
  <li>Mixed <a href='/misc/fruit'>fruit</a> bowl of <a href='/misc/fruit#watermelon'>watermelon</a>, <a href='/misc/fruit#honeydew'>honeydew</a>, <a href='/misc/fruit#cantaloupe'>cantaloupe</a>, and <a href='/misc/fruit#pineapple'>pineapple</a></li>
</ul><br>

The <a href='/misc/dairy#cottage-cheese'>cottage cheese</a> is my main <a href='/misc/protein'>protein</a> source, with the <a href='/misc/nuts#almonds'>almonds</a> and <a href='/misc/nuts#walnuts'>walnuts</a> adding <a href='/misc/fats'>healthy fats</a>. <a href='/recipes/sugar-free-syrup'>Sugar free syrup</a> is optional, but adds a touch of <a href='/misc/five-tastes#sweet'>sweetness</a>.<br><br>

The raw <a href='/salad'>veggie salad</a> adds much-needed <a href='/misc/fiber'>fiber</a>, as well as <a href='/misc/nutrient-alphabet'>vitamins</a>, <a href='/misc/nutrient-alphabet'>minerals</a>, and <a href='/misc/phytochemicals'>beneficial plant compounds</a>. And the <a href='/misc/fish#salmon'>lox</a> and <a href='/misc/meat#eggs'>egg</a> on top provide additional <a href='/misc/protein'>protein</a>.<br><br>

Finally, the mixed <a href='/misc/fruit'>fruit</a> provides <a href='/misc/carbs'>carbohydrates</a> along with plenty of <a href='/misc/nutrient-alphabet'>vitamins</a>, <a href='/misc/nutrient-alphabet'>minerals</a>, and <a href='/misc/fiber'>fiber</a>.<br><br>

And that's just for the days I was on the boat. When I'm at an airport, an Airbnb, or while traveling elsewhere, my go-to <a href='/recipes/breakfast'>breakfast</a> is normally the following:<br><br>

<ul>
  <li><a href='/recipes/protein-shake-to-go'>Protein shake</a></li>
  <li><a href='/misc/nuts'>Nuts</a></li>
  <li><a href='/misc/veggies#carrots'>Carrots</a></li>
  <li><a href='/misc/fruit#apple'>Apple</a></li>
</ul><br>

Before I go on a trip, I prepare multiple single-serving bags of my <a href='/recipes/protein-shake-to-go'>protein shake</a> mix. This is my <a href='/recipes/protein-shake-to-go'>To Go Protein Shake</a>, which is a mix of <a href='/misc/dairy#whey'>protein powder</a>, <a href='https://amzn.to/4zMyIm3'>milk powder</a>, <a href='/misc/chocolate-benefits'>cocoa powder</a>, cinnamon, and <a href='https://amzn.to/3Sg1Z7p'>pure granulated monk fruit</a> in a small airtight bag. I also added <a href='/misc/psyllium-husk'>psyllium husk</a> for <a href='/misc/fiber'>fiber</a>.<br><br>

I'll just travel with a <a href='https://amzn.to/4wFerfa'>shaker bottle</a>, dump in the bag of powder, and all I need to do is add water. It's cheap, simple, and a tasty way to get <a href='/misc/protein'>protein</a> in on the go.<br><br>

The other food I prep is <a href='/misc/nuts'>nuts</a>. I'll prepare multiple single-serving bags of <a href='/misc/nuts'>nuts</a> of 1 oz (28 g) each. This time it was <a href='/misc/nuts#pistachios'>pistachios</a>. This provides my <a href='/misc/fats'>healthy fats</a>.<br><br>

The last 2 components are <a href='/misc/veggies#carrots'>baby carrots</a> for some <a href='/misc/veggies'>vegetables</a> and <a href='/misc/fiber'>fiber</a>, and an <a href='/misc/fruit#apple'>apple</a> for some <a href='/misc/fruit'>fruit</a> and <a href='/misc/carbs'>carbs</a>.<br><br>

{% assign files =
    "unhealthybreakfast,"
    | append: "healthybreakfast1,"
    | append: "healthybreakfast2"
    | split: ","
%}
{% assign titles =
    "Indulgent,"
    | append: "Nutritious<br>(1),"
    | append: "Nutritious<br>(2)"
    | split: ","
%}
{% assign nutrients =
    "Calories,"
    | append: "Fat,"
    | append: "Total Carbs,"
    | append: "Fiber,"
    | append: "Total Sugar,"
    | append: "Protein"
    | split: ","
%}
{% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="false" %}
<br>

<div id='lunch' class='table-of-contents'></div><hr>
<u><font size='+2'>Lunch</font></u><br>
Let's move onto lunch now. Here are some of your typical lunch options that are more indulgent:<br><br>

<ul>
  <li><a href='/misc/fake-healthy-foods#condiments'>BBQ</a> pulled pork</li>
  <li>Cheeseburgers</li>
  <li><a href='/misc/meat#chicken-breast'>Chicken</a> fingers</li>
  <li><a href='/misc/fake-healthy-foods#processed-meats'>Deli meat</a></li>
  <li>Egg rolls</li>
  <li><a href='/misc/fake-healthy-foods#potatoes'>French fries</a></li>
  <li>Hamburgers</li>
  <li>Mac and cheese</li>
  <li><a href='/misc/fake-healthy-foods#dips'>Mayo</a></li>
  <li>Mozzarella sticks</li>
  <li>Pizza</li>
  <li>Quesadillas</li>
  <li>Ribs</li>
  <li><a href='/misc/fake-healthy-foods#salad-dressing'>Salad dressings</a></li>
  <li><a href='/misc/fake-healthy-foods#bread'>Sandwiches</a></li>
  <li>Spring rolls</li>
</ul><br>

The typical lunch I saw on the boat was a cheeseburger and <a href='/misc/fake-healthy-foods#potatoes'>fries</a>. But that was closely joined by pizza and a bunch of other <a href='/recipes/sides'>sides</a>. Here's what I'll assume the standard lunch would be:<br><br>

<ul>
  <li><a href='/misc/meat#bacon'>Bacon</a> cheeseburger with <a href='/misc/fake-healthy-foods#dips'>mayo</a></li>
  <li><a href='/misc/fake-healthy-foods#potatoes'>French fries</a> with <a href='/misc/fake-healthy-foods#condiments'>ketchup</a></li>
  <li>Mac and cheese</li>
</ul><br>

In comparison, let's take a look at some more nutritious ingredients and dishes you can enjoy for lunch. The <a href='/salad'>salad</a> bar will be your best friend:<br><br>

<ul>
  <li><a href='/misc/fruit#apple'>Apples</a></li>
  <li><a href='/misc/veggies#beets'>Beets</a></li>
  <li><a href='/misc/veggies#pepper'>Bell peppers</a></li>
  <li><a href='/misc/dairy#blue-cheese'>Blue cheese</a></li>
  <li><a href='/misc/veggies#broccoli'>Broccoli</a></li>
  <li><a href='/misc/fruit#cantaloupe'>Cantaloupe</a></li>
  <li><a href='/misc/veggies#cauliflower'>Cauliflower</a></li>
  <li><a href='/misc/meat#chicken-breast'>Chicken</a></li>
  <li><a href='/misc/beans#chickpeas'>Chickpeas</a></li>
  <li><a href='/misc/fruit#honeydew'>Honeydew</a></li>
  <li><a href='/misc/veggies#lettuce'>Lettuce</a></li>
  <li><a href='/misc/dairy#mozzarella'>Mozzarella cheese</a></li>
  <li><a href='/misc/fruit#olives'>Olives</a></li>
  <li><a href='/misc/fruit#pineapple'>Pineapple</a></li>
  <li><a href='/misc/fish#salmon'>Salmon</a></li>
  <li><a href='/misc/fish#shrimp'>Shrimp</a></li>
  <li><a href='/misc/veggies#sweet-potato'>Sweet potatoes</a></li>
  <li><a href='/misc/fish#tuna'>Tuna</a></li>
  <li><a href='/misc/veggies#tomato'>Tomatoes</a></li>
  <li><a href='/misc/fruit#watermelon'>Watermelon</a></li>
</ul><br>

I pretty much lived at the <a href='/salad'>salad</a> bar for lunch. Sometimes I would grab a grilled <a href='/misc/veggies'>veggie</a> dish from the other stations, or sample some other food. But I pretty much always built a big <a href='/salad'>salad</a>.<br><br>

<ul>
  <li><a href='/salad'>Salad</a> with <a href='/misc/veggies#lettuce'>lettuce</a>, <a href='/misc/veggies#tomato'>tomatoes</a>, <a href='/misc/veggies#beets'>beets</a>, <a href='/misc/veggies#cauliflower'>cauliflower</a>, <a href='/misc/fruit#olives'>olives</a>, <a href='/misc/dairy#blue-cheese'>blue cheese</a>, <a href='/misc/fish#tuna'>tuna</a>, mustard, salt, and pepper.</li>
  <li>Mixed <a href='/misc/fruit'>fruit</a> bowl of <a href='/misc/fruit#watermelon'>watermelon</a>, <a href='/misc/fruit#honeydew'>honeydew</a>, <a href='/misc/fruit#cantaloupe'>cantaloupe</a>, and <a href='/misc/fruit#pineapple'>pineapple</a>.</li>
</ul><br>

I'm making sure to get my <a href='/misc/veggies'>vegetables</a> in for <a href='/misc/fiber'>fiber</a>, <a href='/misc/nutrient-alphabet'>vitamins</a>, <a href='/misc/nutrient-alphabet'>minerals</a>, <a href='/misc/phytochemicals'>antioxidants</a>, and <a href='/misc/phytochemicals'>phytochemicals</a>. <a href='/misc/fish#tuna'>Tuna</a> adds <a href='/misc/protein'>protein</a>. <a href='/misc/dairy#blue-cheese'>Blue cheese</a> adds some <a href='/misc/fats'>fats</a>. And the <a href='/misc/fruit'>fruit</a> supplies my <a href='/misc/carbs'>carbs</a>.<br><br>

{% assign files =
    "unhealthylunch,"
    | append: "healthylunch"
    | split: ","
%}
{% assign titles =
    "Indulgent,"
    | append: "Nutritious"
    | split: ","
%}
{% assign nutrients =
    "Calories,"
    | append: "Fat,"
    | append: "Total Carbs,"
    | append: "Fiber,"
    | append: "Total Sugar,"
    | append: "Protein"
    | split: ","
%}
{% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="false" %}
<br>

<div id='dinner' class='table-of-contents'></div><hr>
<u><font size='+2'>Dinner</font></u><br>
Now onto dinner. A cruise for example would have a very similar dinner to <a href='#lunch'>lunch</a> if you go to the buffet section. This includes a wide selection of fried foods, but also a fairly extensive <a href='/salad'>salad</a> bar.<br><br>

But instead, I'll be considering the complementary dining hall for dinner, where you get a choice of an appetizer, entrée, and <a href='#other'>dessert</a>, plus a slice of <a href='/misc/fake-healthy-foods#bread'>bread</a> with <a href='/misc/dairy#butter'>butter</a>.<br><br>

Looking over the menu, here are a couple of your appetizer choices:<br><br>

<ul>
  <li><a href='/misc/fake-healthy-foods#dips'>Caesar</a> salad</li>
  <li>Ceviche</li>
  <li>Egg rolls</li>
  <li>French onion soup</li>
  <li>Fried calamari</li>
  <li>Fried frog legs</li>
  <li>Fried <a href='/misc/fish'>fish</a></li>
  <li>Fried <a href='/misc/veggies#tomato'>tomatoes</a></li>
  <li>House salad</li>
  <li><a href='/misc/grains#pasta-white'>Linguine</a> and clams</li>
  <li><a href='/misc/veggies#mushrooms'>Mushroom</a> soup</li>
  <li><a href='/misc/fish#shrimp'>Shrimp</a> cocktail</li>
  <li>Stuffed <a href='/misc/veggies#mushrooms'>mushrooms</a></li>
  <li><a href='/misc/veggies#tomato'>Tomato</a> soup</li>
</ul><br>

Next up is the entrée. Here are some possible selections:<br><br>

<ul>
  <li><a href='/misc/fake-healthy-foods#condiments'>BBQ</a> <a href='/misc/fish#salmon'>salmon</a> with <a href='/misc/veggies#onion'>onion</a> rings</li>
  <li><a href='/misc/fake-healthy-foods#condiments'>BBQ</a> ribs</li>
  <li><a href='/misc/beans#black-beans'>Black bean</a> enchiladas</li>
  <li>Broiled <a href='/misc/meat#steak'>steak</a> with roasted <a href='/misc/veggies#potato'>potato</a></li>
  <li><a href='/misc/meat#chicken-breast'>Chicken</a> cordon bleu</li>
  <li><a href='/misc/meat#chicken-breast'>Chicken</a> parmesan with <a href='/misc/grains#pasta-white'>pasta</a></li>
  <li>Cobb salad</a></li>
  <li><a href='/misc/grains#pasta-white'>Fettuccine</a> <a href='/misc/fake-healthy-foods#sauces'>alfredo</a></li>
  <li>Grilled <a href='/misc/meat#chicken-breast'>chicken</a> with mashed <a href='/misc/veggies#potato'>potatoes</a></li>
  <li>Grilled <a href='/misc/fish#salmon'>salmon</a> with <a href='/misc/veggies#green-bean'>string beans</a></li>
  <li>Herb crusted <a href='/misc/fish#salmon'>salmon</a> with <a href='/misc/veggies#asparagus'>asparagus</a></li>
  <li>Paneer curry</li>
  <li>Pepper <a href='/misc/meat#steak'>steak</a> with <a href='/misc/veggies#pepper'>bell peppers</a>, <a href='/misc/veggies#onion'>onions</a>, and <a href='/misc/grains#white-rice'>white rice</a></li>
  <li>Roasted duck with roasted <a href='/misc/veggies#potato'>potatoes</a></li>
  <li>Smoked <a href='/misc/fish#salmon'>salmon</a> <a href='/salad'>salad</a> with <a href='/misc/grains#farro'>farro</a> and <a href='/misc/dairy#goat-cheese'>goat cheese</a></li>
  <li>Vegetable lasagna</li>
  <li>Vegetable wellington</li>
</ul><br>

Finally, there's <a href='#other'>dessert</a>, which has a few different options:<br><br>

<ul>
  <li>Cheesecake</li>
  <li>Crème brûlée</li>
  <li>Dulce de leche cake</li>
  <li>Fresh <a href='/misc/fruit'>fruit</a></li>
  <li>Lava cake with vanilla <a href='/recipes/ice-cream'>ice cream</a></li>
  <li>Panna cotta</li>
  <li>Pear almond cake</li>
  <li>Tiramisu</li>
</ul><br>

Unlike <a href='#breakfast'>breakfast</a> and <a href='#lunch'>lunch</a>, there are a lot of healthier dinner options here. You can still get fried food, you can still get a <a href='/salad'>salad</a>, and there are options in between.<br><br>

For my standard American dinner option, I'll assume that they pick the following:<br><br>

<ul>
  <li><a href='/misc/dairy#butter'>Buttered</a> <a href='/misc/fake-healthy-foods#bread'>roll</a></li>
  <li>French onion soup</li>
  <li><a href='/misc/meat#chicken-breast'>Chicken</a> parm</li>
  <li>Lava cake with <a href='/recipes/ice-cream'>ice cream</a></li>
</ul><br>

This seemed to be fairly standard. Eat your <a href='/misc/fake-healthy-foods#bread'>roll</a> with some <a href='/misc/dairy#butter'>butter</a>. Get a <a href='/soups-and-stews'>soup</a> for an appetizer, and something fried for dinner. Finally, finish it with a classic dessert.<br><br>

On the other hand, here's my healthier dinner selection option:<br><br>

<ul>
  <li>House <a href='/salad'>salad</a></li>
  <li>Smoked <a href='/misc/fish#salmon'>salmon</a> <a href='/salad'>salad</a></li>
  <li>Fresh <a href='/misc/fruit'>fruit</a></li>
</ul><br>

The appetizer <a href='/salad'>salad</a> came with <a href='/misc/veggies#lettuce'>lettuce</a>, <a href='/misc/veggies#tomato'>tomatoes</a>, <a href='/misc/veggies#onion'>onions</a>, and <a href='/misc/dairy#feta'>feta</a>. I opted for no <a href='/salad-dressings'>dressing</a> to avoid all the <a href='/misc/hidden-sugar'>added sugar</a> and <a href='/misc/fats'>fat</a>, but instead added some plain balsamic vinegar onto it, along with salt and pepper.<br><br>

The entrée was a <a href='/salad'>salad</a> with a similar base: <a href='/misc/veggies#lettuce'>lettuce</a>, <a href='/misc/veggies#tomato'>tomato</a>, and <a href='/misc/veggies#onion'>onions</a>. Where this differed is it had smoked <a href='/misc/fish#salmon'>salmon</a>, <a href='/misc/grains#farro'>farro</a>, <a href='/misc/dairy#goat-cheese'>goat cheese</a>, <a href='/misc/fruit#raspberry'>raspberries</a>, <a href='/misc/fruit#grapes'>grapes</a>, and <a href='/misc/nuts#walnuts'>walnuts</a>. Again, I went with no <a href='/salad-dressings'>dressing</a>, and instead added balsamic vinegar, salt, and pepper.<br><br>

Finally, for <a href='#other'>dessert</a>, I chose the fresh <a href='/misc/fruit'>fruit</a>. This was a plate of <a href='/misc/fruit#grapes'>grapes</a>, <a href='/misc/fruit#cantaloupe'>cantaloupe</a>, <a href='/misc/fruit#honeydew'>honeydew</a>, <a href='/misc/fruit#pineapple'>pineapple</a>, and <a href='/misc/fruit#watermelon'>watermelon</a>.<br><br>

I got my <a href='/misc/protein'>protein</a> from the smoked <a href='/misc/fish#salmon'>salmon</a>, <a href='/misc/fats'>fats</a> from the <a href='/misc/dairy#goat-cheese'>goat cheese</a>, <a href='/misc/dairy#feta'>feta</a>, and <a href='/misc/nuts#walnuts'>walnuts</a>, <a href='/misc/carbs'>carbs</a> from the <a href='/misc/fruit'>fruit</a> and <a href='/misc/grains#farro'>farro</a>, and <a href='/misc/fiber'>fiber</a> from the raw <a href='/misc/veggies'>veggies</a> in the <a href='/salad'>salads</a>.<br><br>

{% assign files =
    "unhealthydinner,"
    | append: "healthydinner"
    | split: ","
%}
{% assign titles =
    "Indulgent,"
    | append: "Nutritious"
    | split: ","
%}
{% assign nutrients =
    "Calories,"
    | append: "Fat,"
    | append: "Total Carbs,"
    | append: "Fiber,"
    | append: "Total Sugar,"
    | append: "Protein"
    | split: ","
%}
{% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="false" %}
<br>

<div id='other' class='table-of-contents'></div><hr>
<u><font size='+2'>Other (Desserts, Drinks, etc.)</font></u><br>
Things tend to go haywire on a vacation. Going out to <a href='/recipes/ice-cream'>ice cream</a> after <a href='#lunch'>lunch</a>. Ordering a slice of <a href='/recipes/chocolate-cake'>cake</a> at <a href='#dinner'>dinner</a>.<br><br>

And there's the <a href='/misc/alcohol'>alcohol</a>. <a href='/misc/alcohol'>Alcohol</a> is also <a href='/misc/calories'>calorie-dense</a> at 7 <a href='/misc/calories'>calories</a> per gram, and many <a href='/misc/alcohol'>alcoholic drinks</a> contain substantial amounts of <a href='/misc/hidden-sugar'>added sugar</a>. If you <a href='/misc/alcohol'>drink</a>, enjoy it, but remember that those <a href='/misc/calories'>calories</a> can add up quickly.<br><br>

Let's assume the following vacationer has these foods and drinks outside of their usual three meals:<br><br>

<ul>
  <li>Bag of <a href='/misc/fake-healthy-foods#chips'>Doritos</a></li>
  <li>Vanilla ice cream with hot fudge</li>
  <li>2 <a href='/recipes/chocolate-chip-cookies'>chocolate chip cookies</a></li>
  <li>Large slice of <a href='/recipes/chocolate-cake'>chocolate cake</a></li>
  <li>2 <a href='/misc/alcohol'>mixed drinks</a></li>
</ul><br>

If the <a href='/misc/calories'>calories</a> weren't already off the charts with <a href='#breakfast'>breakfast</a>, <a href='#lunch'>lunch</a>, and <a href='#dinner'>dinner</a>, then well they are now. I can't stress this enough, please enjoy yourself, but treat your body as well while you're treating yourself.<br><br>

Now, onto the "healthier" vacationer. I'm putting "healthier" in quotes. Why's that? Do you remember the 90% rule? Eat healthy and <a href='#exercise'>exercise</a> 90% of the time, so you have that 10% wiggle room to "enjoy life", relax, and treat yourself? Yeah... that's gonna come in handy right about now.<br><br>

Again, I'll be assuming the cruise. As you can tell, I've been carefully building very nutritious <a href='#breakfast'>breakfasts</a>, <a href='#lunch'>lunches</a>, and <a href='#dinner'>dinners</a>. And this is why, because here's my 10%.<br><br>

Sampling different options is a great way to enjoy new or exciting flavors for foods you wouldn't necessarily want a full portion of because of one reason or another. Whether it's <a href='/misc/hidden-sugar'>full of added sugar</a>, has <a href='/misc/grains#white-wheat'>refined flour</a> or <a href='/misc/fake-healthy-foods#bread'>white bread</a>, is oily or greasy, or is just <a href='/misc/calories'>calorie dense</a>, sampling is the way to go. This works especially well at buffets because you can have a taste of something interesting without turning every option into an entire meal, and without wasting any additional money or causing food waste.<br><br>

If you thought my nutrition estimates were rough before, then they're about to get a whole lot rougher. I didn't eat outside of my 3 normal meals, though I did try some "junk food" at probably every meal. I'll attempt to sum that up here.<br><br>

I may try a bite of a couple different entrees at the buffet line, such as BBQ pulled pork, mac and cheese, or an egg roll. I would also sample a couple of desserts. There were always 3-5 different cakes out, and I may take the tiniest piece of each one to try a single bite of all 5 cakes.<br><br>

This will be impossible to properly estimate, but I'll just assume the following in the "other" category:<br><br>

<ul>
  <li>1 large slice of lasagna</li>
  <li>2 small slices <a href='/misc/fake-healthy-foods#bread'>white bread</a></li>
  <li>1 large slice of <a href='/recipes/chocolate-cake'>chocolate cake</a></li>
  <li>1 tbsp <a href='/misc/fake-healthy-foods#seed-oil'>oil</a></li>
  <li>1 tbsp <a href='/misc/hidden-sugar'>sugar</a></li>
</ul><br>

I figured the lasagna and <a href='/misc/fake-healthy-foods#bread'>bread</a> overall cover all the sampled meals, and the <a href='/recipes/chocolate-cake'>cake</a> covers the sampled dessert.<br><br>

I also threw in an extra tablespoon each of <a href='/misc/hidden-sugar'>sugar</a> and <a href='/misc/fake-healthy-foods#seed-oil'>oil</a> as a conservative estimate for ingredients I may have missed in my terrible back-of-the-napkin calculation.<br><br>

{% assign files =
    "unhealthyother,"
    | append: "healthyother"
    | split: ","
%}
{% assign titles =
    "Indulgent,"
    | append: "Nutritious"
    | split: ","
%}
{% assign nutrients =
    "Calories,"
    | append: "Fat,"
    | append: "Total Carbs,"
    | append: "Fiber,"
    | append: "Total Sugar,"
    | append: "Protein"
    | split: ","
%}
{% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="false" %}
<br>

<div id='tally' class='table-of-contents'></div><hr>
<u><font size='+2'>Tallying it Up</font></u><br>
So I outlined rough estimates for <a href='#breakfast'>breakfast</a>, <a href='#lunch'>lunch</a>, and <a href='#dinner'>dinner</a> for both a standard diner and health-conscious vacationer, as well as anything additional, such as <a href='#other'>snacks, desserts, and drinks</a>.

Let's add everything up now, shall we:<br><br>

{% assign files =
    "unhealthyday,"
    | append: "healthyday"
    | split: ","
%}
{% assign titles =
    "Indulgent,"
    | append: "Nutritious"
    | split: ","
%}
{% assign nutrients =
    "Calories,"
    | append: "Fat,"
    | append: "Total Carbs,"
    | append: "Fiber,"
    | append: "Total Sugar,"
    | append: "Protein"
    | split: ","
%}
{% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="false" %}
<br>

According to my Garmin, I burned an average of <b>2,500</b> <a href='/misc/calories'>calories</a> while I was on the trip. My average <a href='/misc/calories'>calorie</a> consumption was about <b>3,200</b> calories a day, or a surplus of <b>700</b>.<br><br>

For just a couple of days, this can be totally fine, especially when combined with a consistent <a href='#exercise'>exercise</a> routine before, during, and after the trip. That's the balance I'm looking for: enjoying your vacation without throwing yourself completely off the rails.<br><br>

And then there's Person A. Oh boy. Not only did they eat loads more <a href='/misc/calories'>calories</a>, <a href='/misc/hidden-sugar'>sugar</a>, and <a href='/misc/fats'>fat</a>, but they probably also did a lot more lounging around. You can absolutely lounge around on a vacation, and you should, but I guarantee the average person isn't hitting the gym on their vacation.<br><br>

For simplicity, let's assume the same <b>2,500</b> <a href='/misc/calories'>calories</a> burned, even though someone following this hypothetical scenario may have been less active. For a hypothetical <a href='/misc/calories'>calorie</a> intake of <b>6,400</b>, that would be a surplus of an astounding <b>3,900</b> <a href='/misc/calories'>calories</a>!

<div id='exercise' class='table-of-contents'></div><hr>
<u><font size='+2'>Exercise</font></u><br>
There's a common misconception that "I don't need to <a href='/misc/exercise'>exercise</a> on vacation". I'm here to tell you that you don't have to stop exercising just because you're on vacation. You don't necessarily need to <a href='/misc/exercise'>exercise</a> more on vacation, but there's also no reason you have to stop <a href='/misc/exercise'>exercising</a> entirely.<br><br>

On a vacation, you're not eating home cooked food. This generally means bigger portion sizes, especially with buffets, as well as more fried food and otherwise <a href='/misc/fats'>added oils</a>, increased <a href='/misc/fake-healthy-foods#bread'>bread</a> consumption, and <a href='/misc/hidden-sugar'>added sugar</a> on top of <a href='/misc/hidden-sugar'>added sugar</a>.<br><br>

You're likely eating more food at once, more often, and worse quality food. Again, please enjoy your once in a while vacation, but while you may take time off work, your health does not take time off.<br><br>

Rather than abandoning <a href='/misc/exercise'>exercise</a> entirely, try to keep some movement in your routine. A morning workout can be a great way to start the day such as cardio or weightlifting. Walking around and exploring your destination throughout the day can add plenty of activity without it feeling like <a href='/misc/exercise'>exercise</a>.<br><br>

For me, this meant getting to the gym right when I roll out of bed, and hopping on the exercise bike for an hour before showering and going to <a href='#breakfast'>breakfast</a>.<br><br>

I may also throw in a couple of sets of curls while I'm there, or get some quick stretching done. Perfect, it's not even 8 am, and I already got my main workout in.<br><br>

We did a bunch of walking around the island, as well as some treadmill walking too. Especially with a cruise, you could be lying around by the pool or in your room for a while.<br><br>

If I biked before <a href='#breakfast'>breakfast</a>, then I would squeeze in a 30 minute, 2 mile walk, after both <a href='#lunch'>lunch</a> and <a href='#dinner'>dinner</a>. Post-meal walks can help with digestion and <a href='/misc/diabetes'>blood sugar</a> levels while adding some extra activity to your day.

<div id='lesson' class='table-of-contents'></div><hr>
<u><font size='+2'>The Lesson</font></u><br>
The point I'm trying to stress is that you shouldn't let a vacation be the excuse you're looking for to fall off your health journey. The main issue isn't the 5 days you're away, it's what comes after that.<br><br>

The vacation itself isn't going to make or break your health. Five days of different food and a different routine are not what determine your long-term health. The bigger concern is whether those five days turn into five weeks of abandoning the habits you had before the vacation.<br><br>

If you haven't been to the gym in a week because you were on vacation, it can be harder to get back into your routine. You're also used to eating fried <a href='/misc/fats'>fatty foods</a> for meals, and <a href='#other'>desserts</a> every night.<br><br>

For many people, starting nutritious habits is much harder than maintaining an established routine. Skipping once is an exception, but twice is the start of a new trend. Keeping up on your health journey at all times is the best way to ensure you don't fall off it.<br><br>

When you get back, the gym is normal, since you've been going the whole time anyway. You don't have to will yourself back into <a href='#exercise'>working out</a>, because you never stopped in the first place.<br><br>

Likewise, get back and cook a healthy <a href='#dinner'>dinner</a>, and snack on some <a href='/misc/fruit'>fruit</a> for dessert. You got the <a href='/recipes/chocolate-cake'>cake</a> out of your system, but you're not overly craving it because you didn't eat it all day every day.

<div id='conclusion' class='table-of-contents'></div><hr>
<u><font size='+2'>Conclusion</font></u><br>
There you have it. You can have a vacation without going completely overboard on indulging, and you can also have a vacation without obsessively restricting yourself. The goal isn't to eat perfectly. It's to find a balance that lets you enjoy your vacation while still taking care of yourself.<br><br>

My approach might not be your approach, and that's okay. Maybe you want to hit the gym every morning like I do. Maybe you'd rather go for a long walk and call it a day. Maybe you don't care about any of this and want to eat <a href='/recipes/chocolate-cake'>cake</a> for <a href='#breakfast'>breakfast</a>, <a href='#lunch'>lunch</a>, and <a href='#dinner'>dinner</a>. More power to you.<br><br>

The important thing is to make informed decisions. Enjoy the food. Try something new. Have the <a href='#other'>dessert</a>. Get some <a href='#exercise'>exercise</a>. Eat some <a href='/misc/veggies'>vegetables</a>. Walk around and explore. And when you get home, get back to your normal routine.<br><br>

You don't have to choose between being healthy and enjoying your vacation. You can do both.
