---
layout: post
title:  Beans are Carbs
date:   2026-07-13 00:00:00 -0500
categories:
- Misc.
- Nutrition
beans: yes
showPercentage: no
permalink: /misc/beans-are-carbs
image: /assets/Misc/Nutrition/Beans are Carbs/cover.png
tags:
- beans
- black beans
- protein
- fiber
- carbs
- carbohydrates
- folate
- vitamin b9
- thiamin
- vitamin b1
- copper
- magnesium
- manganese
- potassium
- zinc
- canned
---
I love <a href='/misc/beans'>beans</a>. I eat them all the time, and you should too. They're extremely cheap and easy to prepare in addition to being nutritious.<br><br>

Outside of the obvious <a href='/misc/fiber'>fiber</a>, <a href='/misc/beans'>beans</a> are a good source of many <a href='/misc/nutrient-alphabet'>micronutrients</a>. These include <a href='/misc/nutrient-alphabet#T'>vitamin B1</a>, <a href='/misc/nutrient-alphabet#F'>folate</a>, <a href='/misc/nutrient-alphabet#C'>copper</a>, <a href='/misc/magnesium'>magnesium</a>, <a href='/misc/nutrient-alphabet#M'>manganese</a>, <a href='/misc/potassium'>potassium</a>, and <a href='/misc/nutrient-alphabet#Z'>zinc</a>.<br><br>

But beans are carbs. <a href='/misc/beans'>Beans</a> are one of the highest <a href='/misc/protein'>protein</a> <a href='/misc/carbs'>carbohydrate</a> based foods you can eat, but they're still primarily a <a href='/misc/carbs'>carb</a> source.<br><br>

There's nothing wrong with <a href='/misc/carbs'>carbs</a>; far from it. But <a href='/misc/beans'>beans</a> should not replace the <a href='/misc/meat#chicken-breast'>chicken</a>, <a href='/misc/meat#ground-turkey'>turkey</a>, <a href='/misc/meat#ground-beef'>beef</a>, <a href='/misc/fish#salmon'>fish</a>, or <a href='/misc/beans#tofu'>tofu</a> on your plate. They should replace the <a href='/misc/grains#white-rice'>rice</a>, <a href='/misc/grains#white-wheat'>bread</a>, or <a href='/misc/grains#pasta-white'>pasta</a>.<br><br>

Here is the nutritional information per 100 g of drained and rinsed <a href='/misc/beans#black-beans'>black beans</a>, or approximately 2/3 cup.<br><br>

{% assign files =
    "bac-beans-100g"
    | split: ","
%}
{% assign titles =
    "<a href='/misc/beans#black-beans'>Black Beans</a><br>Cooked<br>100 g"
    | split: ","
%}
{% assign nutrients =
    "Calories,"
    | append: "Protein,"
    | append: "Fat,"
    | append: "Net Carbs,"
    | append: "Fiber,"
    | append: "Vitamin B1,"
    | append: "Folate,"
    | append: "Copper,"
    | append: "Magnesium,"
    | append: "Manganese,"
    | append: "Potassium,"
    | append: "Zinc"
    | split: ","
%}
{% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="false" showPercentage="true" %}
<br>

As you can see, <a href='/misc/beans#black-beans'>black beans</a> have 132 <a href='/misc/calories'>calories</a>, with about 24 g of <a href='/misc/carbs'>total carbs</a>, 9 g of <a href='/misc/fiber'>fiber</a>, and 9 g of <a href='/misc/protein'>protein</a>. Approximately 60% of the <a href='/misc/calories'>calories</a> in <a href='/misc/beans#black-beans'>black beans</a> comes from <a href='/misc/carbs'>carbs</a>, while 35% comes from <a href='/misc/protein'>protein</a> and 5% from <a href='/misc/fats'>fat</a>.<br><br>

The majority of the <a href='/misc/calories'>calories</a> come from <a href='/misc/carbs'>carbs</a>; therefore <a href='/misc/beans'>beans</a> are a <a href='/misc/carbs'>carb</a>.  And that's okay!<br><br>

35% of <a href='/misc/calories'>calories</a> from <a href='/misc/protein'>protein</a> is hardly something to scoff at; eating <a href='/misc/beans'>beans</a> is one of the best ways to get additional <a href='/misc/protein'>protein</a> into your diet.  A little can go a long way, and <a href='/misc/beans'>beans</a> should be a staple of your diet if you can tolerate them.<br><br>

If you're prioritizing a <a href='/misc/high-protein'>high-protein</a> diet, use <a href='/misc/beans'>beans</a> to replace <a href='/misc/grains#white-rice'>rice</a>, <a href='/misc/grains#white-wheat'>bread</a>, and <a href='/misc/grains#pasta-white'>pasta</a>; not <a href='/misc/meat#chicken-breast'>chicken</a>, <a href='/misc/fish#salmon'>fish</a>, <a href='/misc/beans#tofu'>tofu</a>, or other <a href='/misc/protein'>protein-rich</a> foods.  <a href='/misc/beans'>Beans</a> are one of the best upgrades you can make to the <a href='/misc/carbs'>carbohydrate</a> portion of your meal.<br><br>

In comparison, here are some common foods with their <a href='/misc/nutrient-alphabet'>macro-nutrients</a> per 100 <a href='/misc/calories'>calories</a>.  Their respective <a href='/misc/high-protein'>protein ratios</a> are also given, which is defined as the grams of <a href='/misc/protein'>protein</a> divided by the number of <a href='/misc/calories'>calories</a>.  For a food to be considered "<a href='/misc/high-protein'>high protein</a>", it should have a <a href='/misc/high-protein'>protein ratio</a> of 0.1 or higher.<br><br>

{% assign files =
    "bac-beans-100cal,"
    | append: "bac-rice-100cal,"
    | append: "bac-pasta-100cal,"
    | append: "bac-bread-100cal,"
    | append: "bac-chicken-100cal,"
    | append: "bac-turkey-100cal,"
    | append: "bac-beef-100cal,"
    | append: "bac-salmon-100cal,"
    | append: "bac-tofu-100cal"
    | split: ","
%}
{% assign titles =
    "<a href='/misc/beans#black-beans'>Black Beans</a><br>Cooked<br>75.8 g,"
    | append: "<a href='/misc/grains#white-rice'>White Rice</a><br>Cooked<br>77.5 g,"
    | append: "<a href='/misc/grains#pasta-white'>White Pasta</a><br>Cooked<br>63.3 g,"
    | append: "<a href='/misc/grains#white-wheat'>White Bread</a><br>37.5 g,"
    | append: "<a href='/misc/meat#chicken-breast'>Chicken Breast</a><br>Raw<br>83.3 g,"
    | append: "<a href='/misc/meat#ground-turkey'>93% Turkey</a><br>Raw<br>66.7 g,"
    | append: "<a href='/misc/meat#ground-beef'>93% Beef</a><br>Raw<br>65.8 g,"
    | append: "<a href='/misc/fish#salmon'>Salmon</a><br>Raw<br>70.4 g,"
    | append: "<a href='/misc/beans#tofu'>Tofu</a><br>Raw<br>131.6 g,"
    | split: ","
%}
{% assign nutrients =
    "Calories,"
    | append: "Protein,"
    | append: "Fat,"
    | append: "Net Carbs,"
    | append: "Fiber,"
    | append: "Protein Ratio"
    | split: ","
%}
{% include compareFoodsTable.html files=files titles=titles nutrients=nutrients scroll="true" %}
<br>

None of this means <a href='/recipes/meatless'>vegetarians</a> can't get enough <a href='/misc/protein'>protein</a> from <a href='/misc/beans'>beans</a>.  It just means <a href='/misc/beans'>beans</a> function differently than foods like <a href='/misc/meat#chicken-breast'>chicken breast</a> or <a href='/misc/beans#tofu'>tofu</a>, and you'll generally need larger portions or multiple <a href='/misc/protein'>protein</a> sources to reach the same <a href='/misc/protein'>protein</a> intake.<br><br>

So eat your <a href='/misc/beans'>beans</a>.  Not because they're secretly <a href='/misc/meat'>meat</a>.  Not because they're a magical superfood.  Not because <a href='/misc/carbs'>carbohydrates</a> are evil and <a href='/misc/beans'>beans</a> somehow don't count.<br><br>

Eat them because they're cheap, nutritious, filling, high in <a href='/misc/fiber'>fiber</a>, and surprisingly high in <a href='/misc/protein'>protein</a>.  Just remember what they are: a <a href='/misc/carbs'>carbohydrate-rich</a> food that happens to contain a lot of <a href='/misc/protein'>protein</a>.<br><br>

Because beans are carbs. And <a href='/misc/carbs'>carbs</a> are good.<br><br>

<u><font size='+2'>Sources</font></u><br>
<ol>
    <li><a href='https://www.flaticon.com/'>FlatIcon</a></li>
    <li><a href='https://www.nutritionvalue.org/'>Nutrition Value</a></li>
</ol>
