---
layout: post
title:  "I'm Dying For Dairy"
date:   2024-10-26 00:00:00 -05000
categories: 
- Misc.
- Nutrition
permalink: /misc/dairy
image: /assets/Misc/Nutrition/Dairy/Dairy.png
tags: 
- dairy
- milk
- lactose
- cheese
- cheddar cheese
- mozzarella cheese
- nonfat
- fat free
- skim
- low fat
- whole milk
- full fat
- greek yogurt
- cottage cheese
- swiss cheese
- feta cheese
- goat cheese
- kefir
- almond milk
- cow's milk
- oat milk
- coconut milk
---
<u><font size="+2">Introduction</font></u><br>
&emsp;intro
<center><img src="/assets/Misc/Nutrition/Dairy/dairy-products.png" alt="" class="smaller-image"><img src="/assets/Misc/Nutrition/Dairy/healthy-1.png" alt="" class="smaller-image"></center><br>

<br><u><font size="+2">Other Posts in this Series</font></u><br>
<ol>
    <li><a href="/misc/meat">Let's Meet The Meats</a></li>
    <li><a href="/misc/nuts">I'm Nuts For Nuts</a></li>
    <li><a href="/misc/seeds">I See Seeds In Your Future</a></li>
    <li><a href="/misc/beans">Beans Beans The Musical Fruit</a></li>
    <li><a href="/misc/fruit">Going Bananas For Bananas</a></li>
    <li><a href="/misc/veggies">Lettuce Turnip The Beet</a></li>
    <li><a href="/misc/fish">I'm Hooked On Fish</a></li>
    <li><a href="/misc/grains">A Grain Of Truth</a></li>
    <li><a href="/misc/dairy">I'm Dying For Dairy</a></li>
</ol>
<center><img src="/assets/Misc/Nutrition/Dairy/list.png" alt="" class="smaller-image"><img src="/assets/Misc/Nutrition/Dairy/diet.png" alt="" class="smaller-image"></center><br>

<div id="contents" class="table-of-contents"></div>
<br><u><font size="+2">Contents</font></u><br>
<ol>
    <li><a rel="" target="" href="#almond-milk">Almond Milk</a></li>
    <li><a rel="" target="" href="#cheddar-cheese">Cheddar Cheese</a></li>
    <li><a rel="" target="" href="#coconut-milk">Coconut Milk</a></li>
    <li><a rel="" target="" href="#cottage-cheese">Cottage Cheese</a></li>
    <li><a rel="" target="" href="#feta-cheese">Feta Cheese</a></li>
    <li><a rel="" target="" href="#goat-cheese">Goat Cheese</a></li>
    <li><a rel="" target="" href="#greek-yogurt">Greek Yogurt</a></li>
    <li><a rel="" target="" href="#kefir">Kefir</a></li>
    <li><a rel="" target="" href="#milk">Milk</a></li>
    <li><a rel="" target="" href="#mozzarella-cheese">Mozzarella Cheese</a></li>
    <li><a rel="" target="" href="#parmesan-cheese">Parmesan Cheese</a></li>
    <li><a rel="" target="" href="#swiss-cheese">Swiss Cheese</a></li>    
    <li><a rel="" target="" href="#compare">Nutritional Comparison</a></li>
</ol>
<center><img src="/assets/Misc/Nutrition/Dairy/cow.png" alt="" class="smaller-image"><img src="/assets/Misc/Nutrition/Dairy/healthy-mind.png" alt="" class="smaller-image"></center><br>

<div id="almond-milk" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/ingredient_62195.html?size=1+cup+%3D+240+g">Almond Milk (Unsweetened)</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;desc
{% assign nF = site.data.servingSizes["almond-milk-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="240"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Dairy/almond-milk.png" alt="" class="smaller-image"></center><br>

<div id="cheddar-cheese" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Cheese%2C_cheddar_nutritional_value.html?size=1+ounce+%3D+28.3495+g">Cheddar Cheese</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;desc
{% assign nF = site.data.servingSizes["cheddar-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 oz" 
    gram1="28"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Dairy/cheddar.png" alt="" class="smaller-image"></center><br>

<div id="coconut-milk" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Coconut_milk%2C_used_in_cooking_42401010_nutritional_value.html?size=240+g">Coconut Milk (Canned, Full fat)</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;desc
{% assign nF = site.data.servingSizes["coconut-milk-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="240"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Dairy/coconut-milk.png" alt="" class="smaller-image"></center><br>

<div id="cottage-cheese" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/ingredient_55741.html?size=0.5+cup+%3D+113+g">Cottage Cheese (Nonfat)</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;desc
{% assign nF = site.data.servingSizes["cottage-cheese-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1/2 cup" 
    gram1="113"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Dairy/cottage-cheese.png" alt="" class="smaller-image"></center><br>

<div id="feta-cheese" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Cheese%2C_feta_nutritional_value.html?size=1+ounce+%3D+28.3495+g">Feta Cheese</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;desc
{% assign nF = site.data.servingSizes["feta-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 oz" 
    gram1="28"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Dairy/feta.png" alt="" class="smaller-image"></center><br>

<div id="goat-cheese" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Cheese%2C_soft_type%2C_goat_nutritional_value.html?size=1+oz+%3D+28.35+g">Goat Cheese</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;desc
{% assign nF = site.data.servingSizes["goat-cheese-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 oz" 
    gram1="28"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Dairy/goat.png" alt="" class="smaller-image"></center><br>

<div id="greek-yogurt" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/ingredient_55742.html?size=170+g">Greek Yogurt (Plain, Nonfat)</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;desc
{% assign nF = site.data.servingSizes["yogurt-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="3/4 cup" 
    gram1="170"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Dairy/greek-yogurt.png" alt="" class="smaller-image"></center><br>

<div id="kefir" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/ingredient_60084.html?size=1+cup+%3D+240+g">Kefir (Plain, 1% Fat)</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;desc
{% assign nF = site.data.servingSizes["kefir-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="240"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Dairy/kefir.png" alt="" class="smaller-image"></center><br>

<div id="milk" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/ingredient_63271.html?size=1+cup+%3D+240+g">Milk (Skim)</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;desc
{% assign nF = site.data.servingSizes["skim-milk-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 cup" 
    gram1="240"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Dairy/milk.png" alt="" class="smaller-image"></center><br>

<div id="mozzarella-cheese" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Cheese%2C_shredded%2C_part-skim%2C_low_moisture%2C_mozzarella_nutritional_value.html?size=1+ounce+%3D+28.3495+g">Mozzarella Cheese</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;desc
{% assign nF = site.data.servingSizes["mozzarella-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 oz" 
    gram1="28"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Dairy/mozzarella.png" alt="" class="smaller-image"></center><br>

<div id="parmesan-cheese" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/ingredient_62203.html?size=28+g">Parmesan Cheese</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;desc
{% assign nF = site.data.servingSizes["grated-cheese-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 oz" 
    gram1="28"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Dairy/parmesan.png" alt="" class="smaller-image"></center><br>

<div id="swiss-cheese" class="table-of-contents"></div><br>
<div class="food-header">
    <font size="+2"><i><a href="https://www.nutritionvalue.org/Cheese%2C_swiss_nutritional_value.html?size=1+oz+%3D+28.35+g">Swiss Cheese</a></i></font>
    <a href="#contents">Table of Contents</a>
</div><br>

&emsp;desc
{% assign nF = site.data.servingSizes["swiss-cheese-facts"] %}
{% 
    include servingSizeInfo.html
    vol1="1 oz" 
    gram1="28"  
    nutritionFacts=nF
%}
<center><img src="/assets/Misc/Nutrition/Dairy/swiss-cheese.png" alt="" class="smaller-image"></center><br>

<div id="compare" class="table-of-contents"></div><br>
<u><font size="+2">Nutritional Comparison</font></u><br><br>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        table-layout: auto;
        text-align: center;
        font-size: 14px;
    }
  
    th, td {
        text-align: center;
        white-space: nowrap;
        word-wrap: break-word;
    }
  
    td:first-child, th:first-child {
        position: sticky;
        left: 0;
        background-color: var(--minima-table-header-bg-color);
        z-index: 5;
        font-weight: bold;
    }

    .table-container {
        overflow-x: auto; /* Adds horizontal scrolling if needed */
        max-width: 100%;
    }
</style>
  
<div class="table-container"><table>
    <thead>
        <tr>
            <th>Nutrient</th>
            <th><a href="#almond-milk">Almond Milk</a></th>
            <th><a href="#cheddar-cheese">Cheddar Cheese</a></th>
            <th><a href="#coconut-milk">Coconut Milk</a></th>
            <th><a href="#cottage-cheese">Cottage Cheese</a></th>
            <th><a href="#feta-cheese">Feta Cheese</a></th>
            <th><a href="#goat-cheese">Goat Cheese</a></th>
            <th><a href="#greek-yogurt">Greek Yogurt</a></th>
            <th><a href="#kefir">Kefir</a></th>
            <th><a href="#milk">Milk</a></th>
            <th><a href="#mozzarella-cheese">Mozzarella Cheese</a></th>
            <th><a href="#parmesan-cheese">Parmesan Cheese</a></th>
            <th><a href="#swiss-cheese">Swiss Cheese</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Serving Size</td>
            <td>240 g</td>
            <td>28 g</td>
            <td>240 g</td>
            <td>113 g</td>
            <td>28 g</td>
            <td>28 g</td>
            <td>170 g</td>
            <td>240 g</td>
            <td>28 g</td>
            <td>28 g</td>
            <td>28 g</td>
        </tr>
        <tr>
            {% assign nutrient = "Calories" %}
            {% assign rnd = "0" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html facts="almond-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cheddar-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="coconut-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cottage-cheese-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="feta-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="goat-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="yogurt-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="kefir-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="skim-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="mozzarella-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="grated-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="swiss-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Protein" %}
            {% assign rnd = "1" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html facts="almond-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cheddar-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="coconut-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cottage-cheese-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="feta-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="goat-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="yogurt-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="kefir-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="skim-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="mozzarella-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="grated-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="swiss-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Fat" %}
            {% assign rnd = "1" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html facts="almond-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cheddar-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="coconut-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cottage-cheese-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="feta-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="goat-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="yogurt-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="kefir-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="skim-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="mozzarella-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="grated-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="swiss-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Net Carbs" %}
            {% assign rnd = "1" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html facts="almond-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cheddar-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="coconut-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cottage-cheese-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="feta-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="goat-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="yogurt-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="kefir-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="skim-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="mozzarella-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="grated-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="swiss-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Vitamin B12" %}
            {% assign rnd = "2" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html facts="almond-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cheddar-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="coconut-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cottage-cheese-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="feta-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="goat-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="yogurt-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="kefir-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="skim-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="mozzarella-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="grated-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="swiss-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
        </tr>
        <tr>
            {% assign nutrient = "Calcium" %}
            {% assign rnd = "0" %}
            <td>{{ nutrient }}</td>
            <td>{% include getNutrient.html facts="almond-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cheddar-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="coconut-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="cottage-cheese-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="feta-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="goat-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="yogurt-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="kefir-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="skim-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="mozzarella-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="grated-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td>{% include getNutrient.html facts="swiss-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
        </tr>
    </tbody>
</table></div>
<i>Scroll to the right to read information about every dairy product</i><br><br>

<center><img src="/assets/Misc/Nutrition/Dairy/nutrition-facts-label.png" alt="" class="smaller-image"></center><br>

<u><font size="+2">References</font></u><br>
<ol>
    <li><a href="https://www.flaticon.com/">Flaticon</a></li>
    <li><a href="https://www.nutritionvalue.org/">Nutrition Value</a></li>
    <li><a href="https://www.youtube.com/watch?v=cfIepqHgWQ4">Nutrition Tier Lists: Milks</a></li>
    <li><a href="https://www.youtube.com/watch?v=hLqxf6cCR6A">Nutrition Tier Lists: Dairy</a></li>
</ol>
