---
layout: post
title:  "A Pinch of Life: Why Your Body Needs Sodium"
date:   2025-03-26 00:00:00 -05000
categories: 
- Misc.
- Nutrition
permalink: /misc/sodium
image: /assets/Misc/Nutrition/Sodium/Sodium cover.png
tags: 
- nutrient
- vitamin
- micronutrient
- sodium
- electrolyte
- chloride
- salt
---
<u><font size="+2">Introduction</font></u><br>
&emsp;[TODO]<br><br>

<center><img src="/assets/Misc/Nutrition/Sodium/sodium.png" alt="" class="smaller-image"></center><br>

<u><font size="+2">Benefits of Sodium</font></u><br>
<ul>
    <li>[TODO]</li>
</ul><br>

<center><img src="/assets/Misc/Nutrition/Sodium/sodium.png" alt="" class="smaller-image"></center><br>

<u><font size="+2">Downsides of Sodium</font></u><br>
<ul>
    <li>[TODO]</li>
</ul><br>

<center><img src="/assets/Misc/Nutrition/Sodium/sodium.png" alt="" class="smaller-image"></center><br>

<u><font size="+2">Symptoms of Low Sodium Intake</font></u><br>
<ul>
    <li>[TODO]</li>
</ul><br>

<center><img src="/assets/Misc/Nutrition/Sodium/sodium.png" alt="" class="smaller-image"></center><br>

<u><font size="+2">Symptoms of High Sodium Intake</font></u><br>
<ul>
    <li>[TODO]</li>
</ul><br>

<center><img src="/assets/Misc/Nutrition/Sodium/sodium.png" alt="" class="smaller-image"></center><br>

<u><font size="+2">Daily Consumption</font></u><br>
<ul>
    <li>Men: [TODO]</li>
    <li>Women: [TODO]</li>
</ul><br>

<center><img src="/assets/Misc/Nutrition/Sodium/sodium.png" alt="" class="smaller-image"></center><br>

<u><font size="+2">High Sodium Foods</font></u><br><br>
<div class="mobile-table" style="font-size: 20px"><center>

{% assign nutrient = "Sodium" %}
{% assign rnd = "1" %}

<table>
    <colgroup>
        <col width="30%" />
        <col width="30%" />
        <col width="13.33%" />
        <col width="13.33%" />
        <col width="13.33%" />
    </colgroup>
    <thead>
        <tr class="header">
        <th>Food</th>
        <th>Serving Size</th>
        <th>Na Per<br>Serving</th>
        <th>Na Per<br>100 g</th>
        <th>Na Per<br>100 cal</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Anchovy%2C_canned_26101180_nutritional_value.html?size=100+g">Anchovies<br>(canned)</a></td>
            <td markdown="span">1.6 oz (45 g)</td>
            <td markdown="span">{% include getNutrient.html facts="anchovy-facts" servingSize="45" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="anchovy-facts" servingSize="45" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="anchovy-facts" servingSize="45" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Pork%2C_unprepared%2C_bacon%2C_cured_nutritional_value.html?size=100+g">Bacon</a></td>
            <td markdown="span">4 oz (113 g)</td>
            <td markdown="span">{% include getNutrient.html facts="bacon-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="bacon-facts" servingSize="113" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="bacon-facts" servingSize="113" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Cheese%2C_cheddar_nutritional_value.html?size=100+g">Cheddar cheese</a></td>
            <td markdown="span">1 oz (28 g)</td>
            <td markdown="span">{% include getNutrient.html facts="cheddar-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="cheddar-facts" servingSize="28" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="cheddar-facts" servingSize="28" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/ingredient_55741.html?size=100+g">Cottage cheese<br>(Nonfat)</a></td>
            <td markdown="span">1/2 cup (113 g)</td>
            <td markdown="span">{% include getNutrient.html facts="cottage-cheese-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="cottage-cheese-facts" servingSize="113" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="cottage-cheese-facts" servingSize="113" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Cheese%2C_feta_nutritional_value.html?size=100%20g">Feta cheese</a></td>
            <td markdown="span">1 oz (28 g)</td>
            <td markdown="span">{% include getNutrient.html facts="feta-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="feta-facts" servingSize="28" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="feta-facts" servingSize="28" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/ingredient_62124.html?size=100+g">Hot sauce</a></td>
            <td markdown="span">1 tsp (5 g)</td>
            <td markdown="span">{% include getNutrient.html facts="hot-sauce-facts" servingSize="5" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="hot-sauce-facts" servingSize="5" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="hot-sauce-facts" servingSize="5" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Kimchi_75502520_nutritional_value.html?size=100+g">Kimchi</a></td>
            <td markdown="span">2 tbsp (30 g)</td>
            <td markdown="span">{% include getNutrient.html facts="kimchi-facts" servingSize="30" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="kimchi-facts" servingSize="30" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="kimchi-facts" servingSize="30" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/ingredient_58864.html?size=100+g">Lemon pepper</a></td>
            <td markdown="span">1 tsp (4 g)</td>
            <td markdown="span">{% include getNutrient.html facts="lemon-pepper-facts" servingSize="4" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="lemon-pepper-facts" servingSize="4" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="lemon-pepper-facts" servingSize="4" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Miso_nutritional_value.html?size=100+g">Miso paste</a></td>
            <td markdown="span">1 tbsp (17 g)</td>
            <td markdown="span">{% include getNutrient.html facts="miso-facts" servingSize="17" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="miso-facts" servingSize="17" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="miso-facts" servingSize="17" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Cheese%2C_shredded%2C_part-skim%2C_low_moisture%2C_mozzarella_nutritional_value.html?size=100+g">Mozzarella cheese<br>(Low moisture, part skim)</a></td>
            <td markdown="span">1 oz (28 g)</td>
            <td markdown="span">{% include getNutrient.html facts="mozzarella-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="mozzarella-facts" servingSize="28" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="mozzarella-facts" servingSize="28" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Mustard_75506010_nutritional_value.html?size=100+g">Mustard</a></td>
            <td markdown="span">1 tbsp (15 g)</td>
            <td markdown="span">{% include getNutrient.html facts="mustard-facts" servingSize="15" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="mustard-facts" servingSize="15" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="mustard-facts" servingSize="15" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Cheese%2C_grated%2C_parmesan_325036_nutritional_value.html?size=100+g">Parmesan cheese</a></td>
            <td markdown="span">1 oz (28 g)</td>
            <td markdown="span">{% include getNutrient.html facts="grated-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="grated-cheese-facts" servingSize="28" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="grated-cheese-facts" servingSize="28" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/ingredient_55735.html?size=100+g">Peanut butter</a></td>
            <td markdown="span">2 tbsp (32 g)</td>
            <td markdown="span">{% include getNutrient.html facts="peanut-butter-facts" servingSize="32" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="peanut-butter-facts" servingSize="32" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="peanut-butter-facts" servingSize="32" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Salsa_552834_nutritional_value.html?size=100+g">Salsa</a></td>
            <td markdown="span">2 tbsp (30 g)</td>
            <td markdown="span">{% include getNutrient.html facts="salsa-facts" servingSize="30" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="salsa-facts" servingSize="30" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="salsa-facts" servingSize="30" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/ingredient_58888.html?size=100+g">Salt</a></td>
            <td markdown="span">1 tsp (6 g)</td>
            <td markdown="span">{% include getNutrient.html facts="salt-facts" servingSize="6" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="salt-facts" servingSize="6" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="salt-facts" servingSize="6" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Sauerkraut%2C_solids_and_liquids%2C_canned_nutritional_value.html?size=100%20g">Sauerkraut</a></td>
            <td markdown="span">2 tbsp (30 g)</td>
            <td markdown="span">{% include getNutrient.html facts="sauerkraut-facts" servingSize="30" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="sauerkraut-facts" servingSize="30" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="sauerkraut-facts" servingSize="30" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Seaweed%2C_dried%2C_spirulina_nutritional_value.html?size=100+g">Seaweed<br>(dried)</a></td>
            <td markdown="span">1 tbsp (7 g)</td>
            <td markdown="span">{% include getNutrient.html facts="seaweed-facts" servingSize="7" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="seaweed-facts" servingSize="7" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="seaweed-facts" servingSize="7" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Crustaceans%2C_raw_%28may_contain_additives_to_retain_moisture%29%2C_mixed_species%2C_shrimp_nutritional_value.html?size=100+g">Shrimp</a></td>
            <td markdown="span">4 oz (113 g)</td>
            <td markdown="span">{% include getNutrient.html facts="shrimp-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="shrimp-facts" servingSize="113" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="shrimp-facts" servingSize="113" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
    </tbody>
</table>

<center><img src="/assets/Misc/Nutrition/Sodium/sodium.png" alt="" class="smaller-image"></center><br>

</center>

<style>
    /* Center text in all table cells */
    table {
        width: 100%; /* Optional: makes table take full width */
    }

    table th, table td {
        text-align: center; /* Center text in table headers and cells */
        vertical-align: middle; /* Vertically center the text */
    }

  @media only screen and (max-width: 768px) {
    .mobile-table {
      font-size: 12px !important; /* Shrink font size on mobile */
    }
  }
</style>

</div>

<br><br><u><font size="+2">Sources</font></u><br>
<ul>
    <li><a href="https://www.flaticon.com/">FlatIcon</a></li>
    <li><a href="https://www.nutritionvalue.org/">Nutrition Value</a></li>
</ul>