---
layout: post
title:  "B-Ware the Deficiency: The Power of B12"
date:   2025-04-15 00:00:00 -05000
categories: 
- Misc.
- Nutrition
permalink: /misc/vitamin-b12
image: /assets/Misc/Nutrition/Vitamin B12/Vitamin B12.png
tags: 
- vitamin b12
- mineral
- supplement
- micronutrient
- Meat
- fish
- eggs
- dairy
- nooch
- nutritional yeast
- marmite
- vegemite
---
<u><font size="+2">Introduction</font></u><br>
&emsp;<br><br>

<center><img src="/assets/Misc/Nutrition/Vitamin B12/vitamin-b12.png" alt="" class="smaller-image"></center><br>

<u><font size="+2">Role of B12</font></u><br>
&emsp;<br><br>

<center><img src="/assets/Misc/Nutrition/Vitamin B12/vitamin-b12.png" alt="" class="smaller-image"></center><br>

<u><font size="+2">Symptoms of Low B12</font></u><br>
&emsp;:<br>
<ul>
    <li></li>
</ul><br>

<center><img src="/assets/Misc/Nutrition/Vitamin B12/vitamin-b12.png" alt="" class="smaller-image"></center><br>

<u><font size="+2">Daily Consumption</font></u><br>
<ul>
    <li></li>
</ul><br>

<center><img src="/assets/Misc/Nutrition/Vitamin B12/vitamin-b12.png" alt="" class="smaller-image"></center><br>

<u><font size="+2">Foods High in B12</font></u><br>
&emsp;<br><br>

<div class="mobile-table" style="font-size: 20px"><center>

{% assign nutrient = "Vitamin B12" %}
{% assign rnd = "2" %}

<i><font size="+2">Meat (raw)</font></i><br>
<table>
    <thead>
        <tr class="header">
        <th>Food</th>
        <th>Serving Size</th>
        <th>B12 Per<br>Serving</th>
        <th>B12 Per<br>100 g</th>
        <th>B12 Per<br>100 cal</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Beef%2C_raw%2C_liver%2C_variety_meats_and_by-products_nutritional_value.html?size=100+g">Beef liver</a></td>
            <td markdown="span">4 oz (113 g)</td>
            <td markdown="span"><b>{% include getNutrient.html facts="liver-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</b></td>
            <td markdown="span"><b>{% include getNutrient.html facts="liver-facts" servingSize="113" nutrient=nutrient fetch="per100g" rnd=rnd %}</b></td>
            <td markdown="span"><b>{% include getNutrient.html facts="liver-facts" servingSize="113" nutrient=nutrient fetch="per100cal" rnd=rnd %}</b></td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Chicken%2C_raw%2C_meat_only%2C_boneless%2C_skinless%2C_breast%2C_broiler_or_fryers_nutritional_value.html?size=100+g">Chicken breast<br>(boneless and skinless)</a></td>
            <td markdown="span">4 oz (113 g)</td>
            <td markdown="span">{% include getNutrient.html facts="chicken-breast-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="chicken-breast-facts" servingSize="113" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="chicken-breast-facts" servingSize="113" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Chicken%2C_raw%2C_all_classes%2C_liver_nutritional_value.html?size=100%20g">Chicken liver</a></td>
            <td markdown="span">4 oz (113 g)</td>
            <td markdown="span">{% include getNutrient.html facts="chicken-liver-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="chicken-liver-facts" servingSize="113" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="chicken-liver-facts" servingSize="113" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Chicken%2C_raw%2C_meat_only%2C_thigh%2C_dark_meat%2C_broilers_or_fryers_nutritional_value.html?size=100+g">Chicken thighs<br>(boneless and skinless)</a></td>
            <td markdown="span">4 oz (113 g)</td>
            <td markdown="span">{% include getNutrient.html facts="chicken-thighs-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="chicken-thighs-facts" servingSize="113" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="chicken-thighs-facts" servingSize="113" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Eggs%2C_egg_whole%2C_Large%2C_Grade_A_748967_nutritional_value.html?size=100+g">Eggs</a></td>
            <td markdown="span">1 egg (50 g)</td>
            <td markdown="span">{% include getNutrient.html facts="eggs-facts" servingSize="50" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="eggs-facts" servingSize="50" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="eggs-facts" servingSize="50" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Beef%2C_raw%2C_93%25_lean_meat_%252F_7%25_fat%2C_ground_nutritional_value.html?size=100+g">Ground beef<br>(93% lean)</a></td>
            <td markdown="span">4 oz (113 g)</td>
            <td markdown="span">{% include getNutrient.html facts="ground-beef-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="ground-beef-facts" servingSize="113" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="ground-beef-facts" servingSize="113" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Turkey%2C_raw%2C_7%25_fat%2C_93%25_lean%2C_ground_nutritional_value.html?size=100+g">Ground turkey<br>(93% lean)</a></td>
            <td markdown="span">4 oz (113 g)</td>
            <td markdown="span">{% include getNutrient.html facts="ground-turkey-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td mar kdown="span">{% include getNutrient.html facts="ground-turkey-facts" servingSize="113" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="ground-turkey-facts" servingSize="113" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Pork%2C_raw%2C_liver%2C_variety_meats_and_by-products%2C_fresh_nutritional_value.html?size=100%20g">Pork liver</a></td>
            <td markdown="span">4 oz (113 g)</td>
            <td markdown="span">{% include getNutrient.html facts="pork-liver-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="pork-liver-facts" servingSize="113" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="pork-liver-facts" servingSize="113" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Pork%2C_raw%2C_separable_lean_only%2C_tenderloin%2C_loin%2C_fresh_nutritional_value.html?size=100%20g">Pork tenderloin</a></td>
            <td markdown="span">4 oz (113 g)</td>
            <td markdown="span">{% include getNutrient.html facts="pork-tenderloin-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="pork-tenderloin-facts" servingSize="113" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="pork-tenderloin-facts" servingSize="113" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Game_meat%2C_raw%2C_deer_nutritional_value.html?size=100+g">Venison</a></td>
            <td markdown="span">4 oz (113 g)</td>
            <td markdown="span">{% include getNutrient.html facts="venison-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="venison-facts" servingSize="113" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="venison-facts" servingSize="113" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
    </tbody>
</table>

<center><img src="/assets/Misc/Nutrition/Vitamin B12/meat.jpg" alt="" class="smaller-image"></center><br>

<i><font size="+2">Fish and Seafood (raw unless specified)</font></i><br>
<table>
    <thead>
        <tr class="header">
        <th>Food</th>
        <th>Serving Size</th>
        <th>B12 Per<br>Serving</th>
        <th>B12 Per<br>100 g</th>
        <th>B12 Per<br>100 cal</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Anchovy%2C_canned_26101180_nutritional_value.html?size=100+g">Anchovies<br>(canned)</a></td>
            <td markdown="span">1.6 oz (45 g)</td>
            <td markdown="span">{% include getNutrient.html facts="anchovy-facts" servingSize="45" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="anchovy-facts" servingSize="45" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="anchovy-facts" servingSize="45" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Clams%2C_canned_26303180_nutritional_value.html?size=100+g">Clams<br>(canned)</a></td>
            <td markdown="span">3 oz (85 g)</td>
            <td markdown="span">{% include getNutrient.html facts="clam-facts" servingSize="85" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="clam-facts" servingSize="85" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="clam-facts" servingSize="85" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Crab%2C_canned_26305180_nutritional_value.html?size=100+g">Crab<br>(canned)</a></td>
            <td markdown="span">3 oz (85 g)</td>
            <td markdown="span">{% include getNutrient.html facts="crab-facts" servingSize="85" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="crab-facts" servingSize="85" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="crab-facts" servingSize="85" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Mollusks%2C_raw%2C_mixed_species%2C_cuttlefish_nutritional_value.html?size=100+g">Cuttlefish</a></td>
            <td markdown="span">3 oz (85 g)</td>
            <td markdown="span">{% include getNutrient.html facts="cuttlefish-facts" servingSize="85" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="cuttlefish-facts" servingSize="85" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="cuttlefish-facts" servingSize="85" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Fish%2C_raw%2C_haddock_nutritional_value.html?size=100+g">Haddock</a></td>
            <td markdown="span">3 oz (85 g)</td>
            <td markdown="span">{% include getNutrient.html facts="haddock-facts" servingSize="85" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="haddock-facts" servingSize="85" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="haddock-facts" servingSize="85" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Halibut%2C_raw_26118000_nutritional_value.html?size=100%20g">Halibut</a></td>
            <td markdown="span">3 oz (85 g)</td>
            <td markdown="span">{% include getNutrient.html facts="halibut-facts" servingSize="85" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="halibut-facts" servingSize="85" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="halibut-facts" servingSize="85" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Fish%2C_raw%2C_Atlantic%2C_herring_nutritional_value.html?size=100+g">Herring</a></td>
            <td markdown="span">3 oz (85 g)</td>
            <td markdown="span">{% include getNutrient.html facts="herring-facts" servingSize="85" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="herring-facts" servingSize="85" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="herring-facts" servingSize="85" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Fish%2C_drained_solids%2C_canned%2C_jack%2C_mackerel_nutritional_value.html?size=100+g">Mackerel<br>(canned)</a></td>
            <td markdown="span">3 oz (85 g)</td>
            <td markdown="span">{% include getNutrient.html facts="mackerel-facts" servingSize="85" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="mackerel-facts" servingSize="85" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="mackerel-facts" servingSize="85" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Mussels%2C_raw_26313100_nutritional_value.html?size=100+g">Mussels</a></td>
            <td markdown="span">3 oz (85 g)</td>
            <td markdown="span">{% include getNutrient.html facts="mussel-facts" servingSize="85" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="mussel-facts" servingSize="85" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="mussel-facts" servingSize="85" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Mollusks%2C_raw%2C_common%2C_octopus_nutritional_value.html?size=100+g">Octopus</a></td>
            <td markdown="span">3 oz (85 g)</td>
            <td markdown="span"><b>{% include getNutrient.html facts="octopus-facts" servingSize="85" nutrient=nutrient fetch="perServing" rnd=rnd %}</b></td>
            <td markdown="span"><b>{% include getNutrient.html facts="octopus-facts" servingSize="85" nutrient=nutrient fetch="per100g" rnd=rnd %}</b></td>
            <td markdown="span"><b>{% include getNutrient.html facts="octopus-facts" servingSize="85" nutrient=nutrient fetch="per100cal" rnd=rnd %}</b></td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Oysters%2C_raw_26315100_nutritional_value.html?size=100+g">Oysters</a></td>
            <td markdown="span">3 oz (85 g)</td>
            <td markdown="span">{% include getNutrient.html facts="oyster-facts" servingSize="85" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="oyster-facts" servingSize="85" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="oyster-facts" servingSize="85" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Fish%2C_raw%2C_wild%2C_Atlantic%2C_salmon_nutritional_value.html?size=100+g">Salmon</a></td>
            <td markdown="span">3 oz (85 g)</td>
            <td markdown="span">{% include getNutrient.html facts="salmon-facts" servingSize="85" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="salmon-facts" servingSize="85" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="salmon-facts" servingSize="85" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Sardines%2C_packed_in_water%2C_boneless%2C_skinless_26139190_nutritional_value.html?size=100+g">Sardines<br>(canned)</a></td>
            <td markdown="span">3 oz (85 g) </td>
            <td markdown="span">{% include getNutrient.html facts="sardine-facts" servingSize="85" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="sardine-facts" servingSize="85" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="sardine-facts" servingSize="85" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Mollusks%2C_raw%2C_mixed_species%2C_scallop_nutritional_value.html?size=100+g">Scallops</a></td>
            <td markdown="span">3 oz (85 g)</td>
            <td markdown="span">{% include getNutrient.html facts="scallop-facts" servingSize="85" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="scallop-facts" servingSize="85" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="scallop-facts" servingSize="85" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Crustaceans%2C_raw_%28may_contain_additives_to_retain_moisture%29%2C_mixed_species%2C_shrimp_nutritional_value.html?size=100+g">Shrimp</a></td>
            <td markdown="span">3 oz (85 g)</td>
            <td markdown="span">{% include getNutrient.html facts="shrimp-facts" servingSize="85" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="shrimp-facts" servingSize="85" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="shrimp-facts" servingSize="85" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Fish%2C_raw%2C_tilapia_nutritional_value.html?size=100+g">Tilapia</a></td>
            <td markdown="span">3 oz (85 g)</td>
            <td markdown="span">{% include getNutrient.html facts="tilapia-facts" servingSize="85" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="tilapia-facts" servingSize="85" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="tilapia-facts" servingSize="85" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Fish%2C_drained_solids%2C_canned_in_water%2C_light%2C_tuna_nutritional_value.html?size=100+g">Tuna<br>(canned)</a></td>
            <td markdown="span">4 oz (113 g)</td>
            <td markdown="span">{% include getNutrient.html facts="tuna-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="tuna-facts" servingSize="113" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="tuna-facts" servingSize="113" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
    </tbody>
</table>

<center><img src="/assets/Misc/Nutrition/Vitamin B12/fish.jpg" alt="" class="smaller-image"></center><br>

<i><font size="+2">Dairy</font></i><br>
<table>
    <thead>
        <tr class="header">
        <th>Food</th>
        <th>Serving Size</th>
        <th>B12 Per<br>Serving</th>
        <th>B12 Per<br>100 g</th>
        <th>B12 Per<br>100 cal</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Cheese%2C_cheddar_nutritional_value.html?size=100+g">Cheddar Cheese</a></td>
            <td markdown="span">1 oz (28 g)</td>
            <td markdown="span">{% include getNutrient.html facts="cheddar-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="cheddar-facts" servingSize="28" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="cheddar-facts" servingSize="28" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/ingredient_55741.html?size=100+g">Cottage Cheese<br>(Nonfat)</a></td>
            <td markdown="span">1/2 cup (113 g)</td>
            <td markdown="span">{% include getNutrient.html facts="cottage-cheese-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="cottage-cheese-facts" servingSize="113" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="cottage-cheese-facts" servingSize="113" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Cottage_cheese_1028783_nutritional_value.html?size=100+g">Cottage Cheese<br>(Whole Milk)</a></td>
            <td markdown="span">1/2 cup (113 g)</td>
            <td markdown="span">{% include getNutrient.html facts="cottage-cheese-whole-milk-facts" servingSize="113" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="cottage-cheese-whole-milk-facts" servingSize="113" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="cottage-cheese-whole-milk-facts" servingSize="113" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Cheese%2C_feta_nutritional_value.html?size=100+g">Feta Cheese</a></td>
            <td markdown="span">1 oz (28 g)</td>
            <td markdown="span">{% include getNutrient.html facts="feta-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="feta-facts" servingSize="28" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="feta-facts" servingSize="28" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/ingredient_55742.html?size=100+g">Greek Yogurt<br>(Plain, Nonfat)</a></td>
            <td markdown="span">3/4 cup (170 g)</td>
            <td markdown="span"><b>{% include getNutrient.html facts="yogurt-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</b></td>
            <td markdown="span">{% include getNutrient.html facts="yogurt-facts" servingSize="170" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="yogurt-facts" servingSize="170" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Yogurt%2C_whole_milk%2C_plain%2C_Greek_nutritional_value.html?size=100+g">Greek Yogurt<br>(Plain, Whole Milk)</a></td>
            <td markdown="span">3/4 cup (170 g)</td>
            <td markdown="span"><b>{% include getNutrient.html facts="yogurt-whole-milk-facts" servingSize="170" nutrient=nutrient fetch="perServing" rnd=rnd %}</b></td>
            <td markdown="span">{% include getNutrient.html facts="yogurt-whole-milk-facts" servingSize="170" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="yogurt-whole-milk-facts" servingSize="170" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Milk%2C_fat_free_%28skim%29_11113000_nutritional_value.html?size=100+g">Milk<br>(Skim)</a></td>
            <td markdown="span">1 cup (240 g)</td>
            <td markdown="span">{% include getNutrient.html facts="skim-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="skim-milk-facts" servingSize="240" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span"><b>{% include getNutrient.html facts="skim-milk-facts" servingSize="240" nutrient=nutrient fetch="per100cal" rnd=rnd %}</b></td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Milk%2C_with_added_vitamin_D%2C_3.25%25_milkfat%2C_whole_nutritional_value.html?size=100%20g">Milk<br>(Whole)</a></td>
            <td markdown="span">1 cup (240 g)</td>
            <td markdown="span">{% include getNutrient.html facts="whole-milk-facts" servingSize="240" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="whole-milk-facts" servingSize="240" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="whole-milk-facts" servingSize="240" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Cheese%2C_shredded%2C_part-skim%2C_low_moisture%2C_mozzarella_nutritional_value.html?size=100+g">Mozzarella Cheese<br>(Low Moisture, Part-Skim)</a></td>
            <td markdown="span">1 oz (28 g)</td>
            <td markdown="span">{% include getNutrient.html facts="mozzarella-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="mozzarella-facts" servingSize="28" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="mozzarella-facts" servingSize="28" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/ingredient_62203.html?size=100+g">Parmesan Cheese</a></td>
            <td markdown="span">1 oz (28 g)</td>
            <td markdown="span">{% include getNutrient.html facts="grated-cheese-facts" servingSize="28" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="grated-cheese-facts" servingSize="28" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="grated-cheese-facts" servingSize="28" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Cheese%2C_swiss_nutritional_value.html?size=100+g">Swiss Cheese</a></td>
            <td markdown="span">1 oz (28 g)</td>
            <td markdown="span">{% include getNutrient.html facts="swiss-cheese-facts" servingSize="5" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span"><b>{% include getNutrient.html facts="swiss-cheese-facts" servingSize="5" nutrient=nutrient fetch="per100g" rnd=rnd %}</b></td>
            <td markdown="span">{% include getNutrient.html facts="swiss-cheese-facts" servingSize="5" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
    </tbody>
</table>

<center><img src="/assets/Misc/Nutrition/Vitamin B12/yogurt.png" alt="" class="smaller-image"></center><br>

<i><font size="+2">Other</font></i><br>
<table>
    <thead>
        <tr class="header">
        <th>Food</th>
        <th>Serving Size</th>
        <th>B12 Per<br>Serving</th>
        <th>B12 Per<br>100 g</th>
        <th>B12 Per<br>100 cal</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/Yeast_extract_by_MARMITE_375556_nutritional_value.html?size=100%20g">Marmite</a></td>
            <td markdown="span">1/2 tsp (4 g)</td>
            <td markdown="span">{% include getNutrient.html facts="marmite-facts" servingSize="4" nutrient=nutrient fetch="perServing" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="marmite-facts" servingSize="4" nutrient=nutrient fetch="per100g" rnd=rnd %}</td>
            <td markdown="span">{% include getNutrient.html facts="marmite-facts" servingSize="4" nutrient=nutrient fetch="per100cal" rnd=rnd %}</td>
        </tr>
        <tr>
            <td markdown="span"><a href="https://www.nutritionvalue.org/ingredient_58867.html?size=100+g">Nutritional Yeast</a></td>
            <td markdown="span">1 tbsp (5 g)</td>
            <td markdown="span"><b>{% include getNutrient.html facts="nutritional-yeast-facts" servingSize="5" nutrient=nutrient fetch="perServing" rnd=rnd %}</b></td>
            <td markdown="span"><b>{% include getNutrient.html facts="nutritional-yeast-facts" servingSize="5" nutrient=nutrient fetch="per100g" rnd=rnd %}</b></td>
            <td markdown="span"><b>{% include getNutrient.html facts="nutritional-yeast-facts" servingSize="5" nutrient=nutrient fetch="per100cal" rnd=rnd %}</b></td>
        </tr>
    </tbody>
</table>

<center><img src="/assets/Misc/Nutrition/Vitamin B12/marmite.png" alt="" class="smaller-image"></center><br>

</center>

<style>
    /* Center text in all table cells */
    table {
        width: 100%; /* Optional: makes table take full width */
    }

    table th, table td {
        text-align: center; /* Center text in table headers and cells */
        vertical-align: middle; /* Vertically center the text */
    }

  @media only screen and (max-width: 768px) {
    .mobile-table {
      font-size: 13px !important; /* Shrink font size on mobile */
    }
  }
</style>

</div>

<u><font size="+2">Best Sources of B12 (Not Fortified)</font></u>
<br><b>Per serving</b>: Beef Liver - 67.01 mcg (4 oz, 113 g)
<br><b>Per 100 g</b>: Beef Liver - 59.3 mcg
<br><b>Per 100 cal</b>: Beef Liver - 43.94 mcg
<br><br>

<u><font size="+2">Best Sources of B12 (Fortified)</font></u>
<br><b>Per serving</b>: Nutritional Yeast - 18.76 mcg (1 tbsp, 5 g)
<br><b>Per 100 g</b>: Nutritional Yeast - 375.29 mcg
<br><b>Per 100 cal</b>: Nutritional Yeast - 99.83 mcg
<br><br>

<center><img src="/assets/Misc/Nutrition/Vitamin B12/liver.png" alt="" class="smaller-image"></center><br>

<u><font size="+2">Vitamin B12 Supplementation</font></u><br>
&emsp;<br><br>

<center><img src="/assets/Misc/Nutrition/Vitamin B12/vitamin-b12.png" alt="" class="smaller-image"></center><br>

<br><u><font size="+2">Sources</font></u><br>
<ol>
    <li><a href="https://fdc.nal.usda.gov/">FoodData Central</a></li>
    <li><a href="https://www.nutritionvalue.org/">Nutrition Value</a></li>
    <li><a href="https://my.functionhealth.com/">Function Health</a></li>
    <li><a href="https://www.flaticon.com/">FlatIcon</a></li>
</ol>