---
layout: post
title:  "Homemade Sugar Free Italian Dressing"
date:   2025-06-30 00:00:00 -05000
categories: 
- Recipes
- Savory Sauces
showPercentage: no
hummus: no
oatmeal: no
yogurt: no
nut_butter: no
pesto: no
soup_stew: no
salad: no
dressing: yes
brownie: no
cookie: no
permalink: /recipes/italian-dressing
image: /assets/Food/Savory Sauces/Italian dressing/cover-1.jpg
ing: italiandressing-ing
facts: italiandressing-facts
servingSize: 2 tbsp (30 g)
section1: 
start2: 
section2: 
start3: 
section3: 
start4: 
section4: 
start5: 
section5: 
Prep: 5
Rest: 10
Cook: 
Source1: https://www.poormanprotein.com/recipes/balsamic-vinaigrette
Source2: 
whisk: https://s.samsungfood.com/IwCLA
tags: 
- salad dressing
- red wine vinegar
- italian dressing
- dijon mustard
- horseradish mustard
- sun dried tomatoes
- cashews
- lemon juice
- olive oil
Description: As someone who eats a lot of salad, you may be surprised to hear that I don't use bottled salad dressing.  That's because these are often filled with inflammatory seed oils, tons of <a href="/misc/hidden-sugar">added sugar</a>, preservatives you can't pronounce, and artificial food dyes. Instead, you can make your own Italian dressing that contains healthy <a href="/misc/fats">fats</a> from <a href="/misc/nuts#cashews">cashews</a> and natural sweetness from sundried tomatoes.  Not only is Italian dressing great on salads, but I also use it in both my <a href="/recipes/fajitas">Chicken Fajitas with Peppers</a> and <a href="/recipes/tropical-salsa">Tropical Fruit Salsa</a>.  For a similar salad dressing recipe, make my <a href="/recipes/balsamic-vinaigrette">Oil Free Balsamic Vinaigrette</a>, or you can check out any of my other <a href="/salad-dressings">salad dressings</a>!
Instructions: 
- Soak the sun dried tomatoes and cashews in warm water for 10 minutes.  Add all ingredients to a blender or food processor, and blend until smooth.  It should be pretty thick
- <center><img src="/assets/Food/Savory Sauces/Italian dressing/processor.jpg" alt="" class="instruction-image"></center>

- Make sure to get sun dried tomatoes that are <b>not</b> packed in oil.  This is what I get from my store
- <center><img src="/assets/Food/Savory Sauces/Italian dressing/sundried.jpg" alt="" class="instruction-image"></center>
---
<br>Below is a table comparing the nutrition facts of my homemade dressing to a <a href="https://www.walmart.com/ip/Great-Value-Traditional-Italian-Salad-Dressing-Marinade-16-fl-oz/42408881?classType=VARIANT&athbdg=L1200&from=/search">standard bottle of Italian dressing</a> per serving (2 tbsp, 30 g).  As you can see, the homemade version contains less <a href="/misc/calories">calories</a> and <a href="/misc/fats">unhealthy fats</a>, more <a href="/misc/protein">protein</a> and <a href="/misc/fiber">fiber</a>, and no <a href="/misc/hidden-sugar">added sugar</a>.<br><br>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        table-layout: auto;
        text-align: center;
    }

    th, td {
        text-align: center;
        white-space: nowrap;
        word-wrap: break-word;
    }

    td:first-child, th:first-child {
        position: sticky;
        left: 0;
        background-color: var(--minima-table-header-bg-color);
        z-index: 5;
        font-weight: bold;
    }

    .table-container {
        overflow-x: auto; /* Adds horizontal scrolling if needed */
        max-width: 100%;
    }
</style>

{% assign files = 
    "italiandressing," 
    | append: "traditionalitalian" 
    | split: "," 
%}
{% assign nutrients = 
    "Calories," 
    | append: "Protein," 
    | append: "Fat," 
    | append: "Net Carbs," 
    | append: "Fiber," 
    | append: "Added Sugar" 
    | split: "," 
%}
{% assign rnds = 
    "0," 
    | append: "1," 
    | append: "1," 
    | append: "1," 
    | append: "1," 
    | append: "1" 
    | split: "," 
%}
{% assign last_index = nutrients.size | minus: 1 %}

<div class="table-container"><table>
    <thead>
        <tr>
            <th>Nutrient</th>
            <th>Homemade</th>
            <th>Bottled</th>
        </tr>
    </thead>
    <tbody>
        {% for i in (0..last_index) %}
            <tr>
                <td>{{ nutrients[i] }}</td>
                {% assign nutrient = nutrients[i] %}
                {% assign rnd = rnds[i] %}
                {% for f in files %}
                    {% assign ing_file = f | append: "-ing" %}
                    {% assign facts_file = f | append: "-facts" %}
                    <td>
                        {% include getNutrient.html 
                            ing=ing_file 
                            facts=facts_file 
                            servingSize="100" 
                            nutrient=nutrient 
                            fetch="perServing" 
                            rnd=rnd %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table></div>