---
layout: post
title:  "It's Not Expensive to Eat Healthy"
date:   2024-12-09 00:00:00 -05000
categories: 
- Misc.
- Costs
permalink: /misc/not-expensive-to-eat-healthy
image: /assets/Misc/Cost/Eat Healthy/Eat Healthy.jpg
tags: 
- breakfast
- lunch
- dinner
- snack
- money
- spend
- cheap
- expensive
---
<u><b><font size="+2">Introduction</font></b></u><br>
&emsp;There's a very common and harmful myth out there that a healthy diet is inherently more expensive than a junk one.  Most people think that in order to eat foods that are good for you, that you have to spend more money.  And for those on a tight budget, consuming a less processed diet may not be one of their top priorities.<br><br>

&emsp;This myth needs to die, however.  There's absolutely a way to eat cheap and healthy; you just have to put in the time and effort to do things yourself.  I wanted to outline a week's worth of eating from a cost and nutrition standpoint.<br><br>

&emsp;Here, we'll be able to compare a Standard American Diet (SAD) to a much less refined and processed diet, comparing the overall money spent, as well as the nutritional differences.<br><br>

<u><b><font size="+2">Minimally Processed Food Plan</font></b></u><br>

<ul>
  <li><b>Monday</b></li>
      <ul>
          <li><i>Breakfast</i></li>
              <ul>
                  <li data-cost-mon="1.66"><a href="/recipes/oats-reeses">Reese's Protein Overnight Oats</a></li>
                  <li data-cost-mon="0.50">6 oz (170 g) baby carrots</li>
              </ul>
              <li><i>Snack</i></li>
              <ul>
                  <li data-cost-mon="0.35">1 gala apple</li>
                  <li data-cost-mon="0.12"><a href="/recipes/energy-bites">No Bake Energy Bites</a></li>
              </ul>
          <li><i>Lunch</i></li>
              <ul>
                  <li data-cost-mon="1.86"><a href="/recipes/kung-pao-chicken">Nontraditional Kung Pao Chicken</a></li>
              </ul>
              <li><i>Snack</i></li>
              <ul>
                  <li data-cost-mon="0.16">1 oz (28 g) peanuts</li>
              </ul>
          <li><i>Dinner</i></li>
              <ul>
                  <li data-cost-mon="2.17"><a href="/recipes/mac-and-cheese">High Protein Mac & Cheese</a></li>
                  <li data-cost-mon="0.79"><a href="/recipes/roasted-vegetables">Simply Roasted Broccoli</a></li>
              </ul>
      </ul>

      <br><center><img src="/assets/Food/Breakfast/Oatmeal/oats-reeses.jpg" alt="" class="third-page"><img src="/assets/Food/Chicken/Kung Pao/kung-pao-cover.jpg" alt="" class="third-page"><img src="/assets/Food/Ground Meat/M&C/m&c-cover.jpg" alt="" class="third-page"></center><br>

  <li><b>Tuesday</b></li>
      <ul>
          <li><i>Breakfast</i></li>
              <ul>
                  <li data-cost-tues="1.90"><a href="/recipes/oats-pumpkin">Pumpkin Pie Protein Overnight Oats</a></li>
                  <li data-cost-tues="0.50">6 oz (170 g) baby carrots</li>
              </ul>
              <li><i>Snack</i></li>
              <ul>
                  <li data-cost-tues="0.35">1 gala apple</li>
                  <li data-cost-tues="0.17"><a href="/recipes/natural-peanut-butter">Homemade Natural Nut Butter</a></li>
              </ul>
          <li><i>Lunch</i></li>
              <ul>
                  <li data-cost-tues="1.66"><a href="/recipes/mediterranean-potato-salad">Mediterranean Sweet Potato Salad</a></li>
                  <li data-cost-tues="1.09"><a href="/recipes/protein-shake">Simple Protein Shake</a></li>
              </ul>
              <li><i>Snack</i></li>
              <ul>
                  <li data-cost-tues="0.25">1 oz (28 g) almonds</li>
                  <li data-cost-tues="0.22"><a href="/recipes/peanut-butter-banana-bake">Peanut Butter Banana Bar</a></li>
              </ul>
          <li><i>Dinner</i></li>
              <ul>
                  <li data-cost-tues="1.43"><a href="/recipes/chicken-florentine">No Cream Chicken Florentine</a></li>
                  <li data-cost-tues="0.29"><a href="/recipes/baked-sweet-potato">Baked Sweet Potato</a></li>
              </ul>
      </ul>

      <br><center><img src="/assets/Food/Breakfast/Oatmeal/oats-pumpkin.jpg" alt="" class="third-page"><img src="/assets/Food/Meatless/Potato Salad/potato-salad-cover.jpg" alt="" class="third-page"><img src="/assets/Food/Chicken/Florentine/cover.jpg" alt="" class="third-page"></center><br>

  <li><b>Wednesday</b></li>
      <ul>
          <li><i>Breakfast</i></li>
              <ul>
                  <li data-cost-wed="2.32"><a href="/recipes/oats-berry">Berry Delicious Protein Overnight Oats</a></li>
                  <li data-cost-wed="0.18"><a href="/recipes/double-chocolate-banana-bread">Double Chocolate Banana Bread</a></li>
              </ul>
              <li><i>Snack</i></li>
              <ul>
                  <li data-cost-wed="0.26"><a href="/recipes/oatmeal-fudge-bars">Peanut Butter Fudge Bar</a></li>
              </ul>
          <li><i>Lunch</i></li>
              <ul>
                  <li data-cost-wed="2.72"><a href="/recipes/peanut-chicken-chili">Peanut Chicken Chili</a></li>
              </ul>
              <li><i>Snack</i></li>
              <ul>
                  <li data-cost-wed="0.26">1 mandarine orange</li>
                  <li data-cost-wed="0.16">1 oz (28 g) peanuts</li>
              </ul>
          <li><i>Dinner</i></li>
              <ul>
                  <li data-cost-wed="1.79"><a href="/recipes/bbq-meatloaf">Classic BBQ Meatloaf & Lemon Roasted Broccoli</a></li>
                  <li data-cost-wed="0.61"><a href="/recipes/refried-beans">Refried Pinto Beans</a></li>
              </ul>
      </ul>

      <br><center><img src="/assets/Food/Breakfast/Oatmeal/oats-berry.jpg" alt="" class="third-page"><img src="/assets/Food/Chicken/Peanut Chili/peanut-chili-cover.jpg" alt="" class="third-page"><img src="/assets/Food/Ground Meat/BBQ Meatloaf/bbq-meat-cover.jpg" alt="" class="third-page"></center><br>

  <li><b>Thursday</b></li>
      <ul>
          <li><i>Breakfast</i></li>
              <ul>
                  <li data-cost-thurs="1.66"><a href="/recipes/oats-pb">Peanut Butter Punch Protein Overnight Oats</a></li>
                  <li data-cost-thurs="0.26">1 mandarine orange</li>
              </ul>
          <li><i>Snack</i></li>
              <ul>
                  <li data-cost-thurs="0.36"><a href="/recipes/flaxseed-crackers">Gluten Free Flaxseed Crackers</a></li>
                  <li data-cost-thurs="0.74">1 oz (28 g) goat cheese</li>
              </ul>
          <li><i>Lunch</i></li>
              <ul>
                  <li data-cost-thurs="1.44"><a href="/recipes/buffalo-chicken">Creamy Buffalo Chicken & Peppers</a></li>
                  <li data-cost-thurs="0.42"><a href="/recipes/rice-and-beans">Classic Rice & Beans</a></li>
              </ul>
              <li><i>Snack</i></li>
              <ul>
                  <li data-cost-thurs="0.30"><a href="/recipes/apple-cinnamon-bread">Pumpkin Spice Apple Bread</a></li>
              </ul>
          <li><i>Dinner</i></li>
              <ul>
                  <li data-cost-thurs="1.95"><a href="/recipes/chili">Slow Cooker Chili</a></li>
                  <li data-cost-thurs="0.79"><a href="/recipes/roasted-vegetables">Simply Roasted Cauliflower</a></li>
              </ul>
      </ul>

      <br><center><img src="/assets/Food/Breakfast/Oatmeal/oats-pb.jpg" alt="" class="third-page"><img src="/assets/Food/Chicken/Buffalo/buffalo-cover.jpg" alt="" class="third-page"><img src="/assets/Food/Ground Meat/Chili/chili-cover.jpg" alt="" class="third-page"></center><br>

  <li><b>Friday</b></li>
      <ul>
          <li><i>Breakfast</i></li>
              <ul>
                  <li data-cost-fri="1.67"><a href="/recipes/oats-banana">Banana Nut Bread Protein Overnight Oats</a></li>
                  <li data-cost-fri="0.50">6 oz (170 g) baby carrots</li>
              </ul>
              <li><i>Snack</i></li>
              <ul>
                  <li data-cost-fri="0.35">1 gala apple</li>
                  <li data-cost-fri="0.19">1 oz (28 g) sunflower seeds</li>
              </ul>
          <li><i>Lunch</i></li>
              <ul>
                  <li data-cost-fri="2.57"><a href="/recipes/cacciatore">Stewed Chicken Cacciatore</a></li>
                  <li data-cost-fri="0.36"><a href="/recipes/pumpkin-bread">Protein Pumpkin Loaf</a></li>
              </ul>
          <li><i>Snack</i></li>
              <ul>
                  <li data-cost-fri="0.16"><a href="/recipes/date-brownie">Almond Date Brownie</a></li>
                  <li data-cost-fri="0.61">1 oz (28 g) 100% chocolate</li>
              </ul>
          <li><i>Dinner</i></li>
              <ul>
                  <li data-cost-fri="2.02"><a href="/recipes/pork-tenderloin">Roasted Pork Tenderloin & Veggies</a></li>
              </ul>
      </ul>

      <br><center><img src="/assets/Food/Breakfast/Oatmeal/oats-banana-1.jpg" alt="" class="third-page"><img src="/assets/Food/Chicken/Cacciatore/cacciatore-cover.jpg" alt="" class="third-page"><img src="/assets/Food/Ground Meat/Pork Tenderloin/pork-tenderloin.jpg" alt="" class="third-page"></center><br>

  <li><b>Saturday</b></li>
      <ul>
          <li><i>Breakfast</i></li>
              <ul>
                  <li data-cost-sat="1.96"><a href="/recipes/shakshuka">Tomato and Egg Shakshuka</a></li>
                  <li data-cost-sat="0.52"><a href="/recipes/home-fries">Sweet Potato Home Fries</a></li>
              </ul>
          <li><i>Snack</i></li>
              <ul>
                  <li data-cost-sat="0.21"><a href="/recipes/rx-bars">Copycat Chocolate RX Bars</a></li>
              </ul>
          <li><i>Lunch</i></li>
              <ul>
                  <li data-cost-sat="0.89"><a href="/recipes/butternut-squash-risotto">Butternut Squash RisOATto</a></li>
                  <li data-cost-sat="1.04"><a href="/recipes/cottage-cheese-ice-cream">Cottage Cheese Ice Cream</a></li>
              </ul>
          <li><i>Snack</i></li>
              <ul>
                  <li data-cost-sat="0.35">1 gala apple</li>
                  <li data-cost-sat="0.25">1 oz (28 g) almonds</li>
              </ul>
          <li><i>Dinner</i></li>
              <ul>
                  <li data-cost-sat="2.85"><a href="/recipes/chicken-alfredo">Chicken Alfredo with Potatoes & Broccoli</a></li>
              </ul>
      </ul>

      <br><center><img src="/assets/Food/Breakfast/Shakshuka/shakshuka-cover.jpg" alt="" class="third-page"><img src="/assets/Food/Meme/RisOATto/cover.jpg" alt="" class="third-page"><img src="/assets/Food/Chicken/Alfredo/meals.jpg" alt="" class="third-page"></center><br>

  <li><b>Sunday</b></li>
      <ul>
          <li><i>Breakfast</i></li>
              <ul>
                  <li data-cost-sun="1.19"><a href="/recipes/banana-protein-pancakes">Banana Protein Pancakes</a></li>
                  <li data-cost-sun="0.17"><a href="/recipes/natural-peanut-butter">Homemade Natural Nut Butter</a></li>
                  <li data-cost-sun="0.59"><a href="/recipes/berry-jam">Low Sugar Berry Jam</a></li>
              </ul>
              <li><i>Snack</i></li>
              <ul>
                  <li data-cost-sun="0.16">1 oz (28 g) peanuts</li>
                  <li data-cost-sun="0.27"><a href="/recipes/chocolate-chip-cookie-skillet">Chocolate Chip Cookie Skillet</a></li>
              </ul>
          <li><i>Lunch</i></li>
              <ul>
                  <li data-cost-sun="1.18"><a href="/recipes/chickpea-wrap">Tomato Chickpea Wraps</a></li>
                  <li data-cost-sun="1.00"><a href="/recipes/hot-chocolate">High Protein Hot Chocolate</a></li>
              </ul>
              <li><i>Snack</i></li>
              <ul>
                  <li data-cost-sun="0.35">1 gala apple</li>
                  <li data-cost-sun="0.74">1 oz (28 g) goat cheese</li>
              </ul>
          <li><i>Dinner</i></li>
              <ul>
                  <li data-cost-sun="2.45"><a href="/recipes/chicken-stew">Crockpot Chicken Stew</a></li>
                  <li data-cost-sun="0.50"><a href="/recipes/baked-beans">No Sugar Added Baked Beans</a></li>
              </ul>
      </ul>

      <br><center><img src="/assets/Food/Breakfast/Banana Pancake/pancake-cover.jpg" alt="" class="third-page"><img src="/assets/Food/Meatless/Chickpea Wrap/chickpea-wrap.jpg" alt="" class="third-page"><img src="/assets/Food/Chicken/Stew/stew-cover.jpg" alt="" class="third-page"></center><br>

</ul><br>

<script>
  // Function to display the cost for each list item
  document.querySelectorAll('li[data-cost-mon], li[data-cost-tues], li[data-cost-wed], li[data-cost-thurs], li[data-cost-fri], li[data-cost-sat], li[data-cost-sun]').forEach(item => {
      // Get the cost attribute based on the day
      const cost = item.getAttribute('data-cost-mon') || 
                    item.getAttribute('data-cost-tues') || 
                    item.getAttribute('data-cost-wed') || 
                    item.getAttribute('data-cost-thurs') || 
                    item.getAttribute('data-cost-fri') || 
                    item.getAttribute('data-cost-sat') || 
                    item.getAttribute('data-cost-sun');
      
      // Create the cost display element
      const costElement = document.createElement('span');
      costElement.classList.add('cost-display');
      costElement.innerText = `: $${parseFloat(cost).toFixed(2)}`;

      // Append the cost to the list item
      item.appendChild(costElement);
  });
</script>

<u><b><font size="+2">Minimally Processed Analysis</font></b></u><br>

<style>
  /* Center the table in the page */
  .center-table {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align at the top */
    height: 100vh; /* Full viewport height */
    padding: 20px; /* Optional: to add some spacing around the table */
    overflow-x: auto; /* Allow horizontal scrolling on small screens */
    max-width: 100%; /* Prevent the table from stretching beyond screen */
  }

  /* Main table styling */
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%; /* Ensure the table doesn't stretch beyond the container */
    table-layout: auto; /* Allow columns to auto adjust based on content */
    text-align: center; /* Center the content inside the table */
  }

  /* Table header styling */
  th, td {
    padding: 10px; /* Add padding for better readability */
    text-align: center; /* Center the content in cells */
    white-space: nowrap; /* Prevent wrapping in cells */
    word-wrap: break-word; /* Ensure long content can wrap to the next line */
  }

  /* Sticky first column */
  td:first-child, th:first-child, td:last-child, th:last-child {
    position: sticky;
    left: 0;
    background-color: var(--minima-table-header-bg-color);
    z-index: 5; /* Make sure the first column is above other columns */
    font-weight: bold;
  }
</style>

<div class="center-table">
  <table>
    <thead>
      <tr>
        <th>Nutrient</th>
        {% assign days = "Mon,Tues,Wed,Thurs,Fri,Sat,Sun" | split: ',' %}
        {% for day in days %}
          <th>{{ day }}</th>
        {% endfor %}
        <th>Avg</th>
      </tr>
    </thead>
    <tbody>
      {% assign nutrients = "Calories,Fat,Protein,Carbohydrate,Fiber" | split: ',' %}
      {% for nutrient in nutrients %}
      <tr>
        <td class="bold-column">
          {% if nutrient == "Fat" or nutrient == "Protein" or nutrient == "Fiber" %}
            {{ nutrient }} (g)
          {% elsif nutrient == "Carbohydrate" %}
            Carbs (g)
          {% else %}
            {{ nutrient }}
          {% endif %}
        </td>
        {% assign total = 0 %}
        {% for i in (1..7) %}
          {% assign file = "healthyday" | append: i | append: "-facts" %}
          {% assign csv_file = site.data.eat-healthy[file] %}
          {% assign row = csv_file | where: "Nutrient", nutrient | first %}
          <td class="{% if nutrient == 'Calories' %}calorie-value{% endif %}">
            {% if row %}
              {% if nutrient == "Protein" or nutrient == "Fat" or nutrient == "Carbohydrate" or nutrient == "Fiber" %}
                {% assign amount = row.Amount | plus: 0.0 | times: 10.0 | round | divided_by: 10.0 %}
              {% else %}
                {% assign amount = row.Amount | plus: 0 %}
              {% endif %}
              {{ amount }}
              {% assign total = total | plus: amount %}
            {% else %}
              N/A
            {% endif %}
          </td>
        {% endfor %}
        <td class="bold-column {% if nutrient == 'Calories' %}calorie-avg{% endif %}">
          {% if total > 0 %}
            {% assign average = total | divided_by: 7.0 %}
            {% if nutrient == "Protein" or nutrient == "Fat" or nutrient == "Carbohydrate" or nutrient == "Fiber" %}
              {{ average | times: 10.0 | round | divided_by: 10.0 }}
            {% else %}
              {{ average | round }}
            {% endif %}
          {% else %}
            N/A
          {% endif %}
        </td>
      </tr>
      {% endfor %}

      <tr>
        <td class="bold-column"><b>Total Cost</b></td>
        {% assign total_cost = 0 %}
        {% for day in days %}
          <td><span class="total-cost-{{ day | downcase }}">0.00</span></td>
        {% endfor %}
        <td class="bold-column"><b><span class="total-cost-average">0.00</span></b></td>
      </tr>

    </tbody>
  </table>
</div>

<script>
  // Function to add comma separator to calorie values
  document.addEventListener("DOMContentLoaded", function() {
    const calorieCells = document.querySelectorAll('.calorie-value');
    calorieCells.forEach(cell => {
      const amount = parseFloat(cell.textContent);
      if (!isNaN(amount)) {
        cell.textContent = amount.toLocaleString('en-US');
      }
    });

    // Format the calorie 7-day average with commas
    const calorieAvgCells = document.querySelectorAll('.calorie-avg');
    calorieAvgCells.forEach(cell => {
      const amount = parseFloat(cell.textContent);
      if (!isNaN(amount)) {
        cell.textContent = amount.toLocaleString('en-US');
      }
    });
  });

  // Function to calculate the total cost for each day and the 7-day average
  document.addEventListener("DOMContentLoaded", function() {
    const days = ["mon", "tues", "wed", "thurs", "fri", "sat", "sun"];
    let weeklyTotalCost = 0;

    days.forEach(function(day) {
      let totalCost = 0;

      // Find all elements with data-cost attributes for this day and sum their values
      const costElements = document.querySelectorAll(`[data-cost-${day}]`);
      
      costElements.forEach(function(element) {
        const cost = parseFloat(element.getAttribute(`data-cost-${day}`));
        if (!isNaN(cost)) {
          totalCost += cost;
        }
      });

      // Display the total cost in the appropriate table cell
      const totalCostCell = document.querySelector(`.total-cost-${day}`);
      if (totalCostCell) {
        totalCostCell.textContent = `$${totalCost.toFixed(2)}`;
        weeklyTotalCost += totalCost; // Add to the weekly total
      }
    });

    // Calculate and display the 7-day average cost
    const weeklyAverageCost = weeklyTotalCost / 7;
    const totalCostAverageCell = document.querySelector('.total-cost-average');
    if (totalCostAverageCell) {
      totalCostAverageCell.textContent = `$${weeklyAverageCost.toFixed(2)}`;
    }
  });
</script>
