// Pin to top of screen
// Nav header bar
.site-header {
  border-top: 3px solid var(--minima-brand-color);
  border-bottom: 3px solid var(--minima-brand-color);
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: var(--minima-background-color);
  margin-bottom: 0;
  padding-bottom: 0;
  /* Ensure there's no padding/margin affecting positioning */
  font-weight: bold;
  font-size: 18px;
}

// Post title
.recipe-title, .page-title {
  position: sticky;
  top: $spacing-unit * 1.865; /* Set this exactly to the header's height */
  z-index: 999;
  background-color: var(--minima-background-color);
  border-bottom: 3px solid var(--minima-brand-color);
  margin: 0 0 20px; /* Add margin at the bottom */
  padding: 10px 0; /* Optional: keep padding for vertical spacing */
}

// Only set height on desktop
@media (min-width: 768px) { /* Adjust this value as needed for your design */
  .recipe-title, .page-title {
    padding-bottom: 0;
  }

  .page-title {
    height: 68px;
  }

  .recipe-title {
    height: 55px;
  }
}

// Remove sticky on mobile
@media (max-width: 768px) { /* Adjust this value as needed for your design */
  .recipe-title, .page-title {
    position: relative; /* Change from sticky to relative */
    top: auto; /* Reset top value */
  }
}



// Menu buttons
.menu-button-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the button */
  height: 100%; /* Ensures it takes the full height of the header */
}

.menu-button {
  display: inline-block;
  vertical-align: middle; /* Center within the container */
}

.wrapper {
  max-width: 1200px; /* Adjust according to your layout */
  margin: 0 auto;
}



// Website title
.site-title a {
  @include relative-font-size(1.625);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: var(--default-text-color); /* Text color */
  font-weight: bold;
  font-size: 36px;

  @include media-query($on-palm) {
    padding-right: 45px;
    font-size: 30px;
  }

}

.site-title:hover a {
  color: var(--minima-link-base-color); /* Text color */
}



// Navigation bar
.site-nav {
  position: absolute;
  top: 9px;
  right: ($spacing-unit * .5) + 2px;
  background-color: $background-color;
  border: 3px solid var(--minima-brand-color);
  border-radius: 5px;
  text-align: right;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 11px;
    text-align: center;

    > svg path {
      fill: $border-color-03;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 37px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  /* Button style */
  .page-link {
    display: inline; /* Make links behave like block elements */
    background-color: var(--minima-background-color); /* Button background color */
    color: var(--default-text-color); /* Text color */
    padding: 10px 20px; /* Top/bottom and left/right padding */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    border: 2px solid var(--minima-brand-color); /* Colored border */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    margin-right: 10px;
  }

  /* Hover effect */
  .page-link:hover {
    background-color: var(--menu-hover-color);
    border: 2px solid var(--minima-link-base-color);
    color: var(--minima-link-base-color)
  }

  @media (max-width: 768px) {
    .page-link {
      border: 0;

      color: $text-color;
      line-height: $base-line-height;
      display: block;
      padding: 5px 10px;
      margin-left: 20px;
    }

  }

  @media (min-width: 768px) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      padding: 5px;
    }
  }
}



// Footer
.site-footer {
  border-top: 1px solid $border-color-01;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * .5;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
}

.footer-col {
  margin-bottom: $spacing-unit * .5;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit * .5);

    &:first-child {
      padding-right: $spacing-unit * .5;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit * .5;
    }
  }
}



// Page content
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-count-container, .page-post-count {
  text-align: center;        /* Center content within this container */
  color: var(--gray-text-color);
  padding-bottom: 30px;     /* Space inside the element */
  font-size: 20px;
  font-style: italic
}



// Post content
.blog-roll-image {
  width: 100%; /* Full width of the parent element */
  height: auto; /* Automatically scales the height */
  aspect-ratio: 4 / 3; /* Ensures the image keeps a 4:3 ratio */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  margin-bottom: 10px; /* Space between image and title */
}

/* Post title styling */
.post-link {
  display: inline;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Optional: Meta information styling */
.post-meta {
  display: block;
  font-size: 14px;
  color: var(--gray-text-color);
  margin-bottom: 10px;
  font-weight: normal;
}

/* Post title styling */
.post-title {
  display: inline-block; /* Makes sure the title stays together */
  text-align: center; /* Center the text inside the title */
  width: 100%; /* Ensures it spans the full width of the parent container */
}

.post-count {
  margin-right: 10px; /* Space between the count and the title */
}

/* Ensure the title can wrap and remain centered */
.post-title-heading {
  margin: 0; /* Remove default margin */
  line-height: 1.2; /* Adjust line height for better spacing */
}

.post-row {
  display: flex; /* Use flexbox to lay out the items */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  margin-bottom: 30px; /* Space between rows */
}

/* Home Posts container */
#home-posts-container, #results-container {
  display: flex;
  flex-wrap: wrap; /* Allows posts to wrap to the next line */
  justify-content: flex-start; /* Align posts to the left */
  width: 100%;
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  gap: 20px; /* Adds spacing between items in the same row */
}

/* Each post item */
.post-item, .result-item {
  flex: 1 1 calc(33.33% - 20px); /* Three posts per row on desktop */
  max-width: calc(33.33% - 20px); /* Ensure posts take up 33.33% of the container width */
  display: flex;
  flex-direction: column; /* Stack image and title vertically */
  align-items: center; /* Center align the posts */
  margin-bottom: 30px; /* Space between rows of posts */
  border: 3px solid var(--minima-brand-color);
  border-radius: 5px; /* Rounded corners */
  color: var(--default-text-color);
  text-align: center;
}

.result-item {
  padding-bottom: 25px; /* Add some space between the title and the border */
}

.post-item a, .result-item a, .post-count {
  color: var(--default-text-color);
  font-size: 20px;
  font-weight: bold;
  text-align: center; /* Center the text */
  margin-bottom: 10px; /* Adds a gap between image and text */
  text-decoration: none;
}

.result-item a, .post-count {
  font-size: 22px;
}

.post-item:hover, .result-item:hover {
  background-color: var(--menu-hover-color);
  border: 3px solid var(--minima-link-base-color);
}

.post-item:hover a, .result-item:hover a {
  color: var(--minima-link-base-color)
}

/* Add spacing between images */
.post-item img, .result-item img {
  margin-bottom: 15px; /* Adds space between the image and the title/meta */
}

/* Mobile view (1 post per line) */
@media (max-width: 768px) {
  .post-item, .result-item {
      flex: 1 1 100%; /* One post per row on mobile */
      max-width: 100%; /* Post takes full width on mobile */
      margin-bottom: 40px; /* Extra spacing between posts on mobile */
  }

  .post-row {
      gap: 10px; /* Smaller gap between posts on mobile */
  }

  #home-posts-container, #results-container {
    gap: 10px; /* Smaller gap between posts on mobile */
  }
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3, h4, h5, h6 { margin-top: $spacing-unit }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}



// Social buttons
.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 10px 12px;
      border: 1px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
  }
}



// Pagination navbar
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit * .25;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}



// Grid helpters
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}


// Main post images
// Keep 4:3 aspect ratio for post images
.aspect-ratio-container {
  position: relative; /* Position relative for absolute child */
  width: 70%; /* Set to 70% of the parent container on desktop */
  max-width: 100%; /* Ensure it doesn't exceed the width of the viewport */
  margin: 0 auto; /* Center the container */
  padding-top: 56.25%; /* 4:3 aspect ratio (height = 3/4 width) */
  overflow: hidden; /* Hide overflow */
}

// Featured image styling for individual posts
.featured-image-post {
  position: absolute; /* Position absolute to fill container */
  top: 0; /* Align to top */
  left: 0; /* Align to left */
  object-fit: cover; /* Maintain aspect ratio and cover area */
  display: block;
  border-radius: 10px; /* Rounded corners */
}

// Image within the aspect ratio container
.aspect-ratio-container img {
  position: absolute; /* Position absolute to fill container */
  top: 0; /* Align to top */
  left: 0; /* Align to left */
  object-fit: cover; /* Maintain aspect ratio and cover area */
  border-radius: 10px; /* Rounded corners */
}

// Mobile adjustments
@media (max-width: 768px) {
  .aspect-ratio-container {
    width: 100%; /* Full width on mobile */
    height: 75px;
  }
}


// Images
// Images in instruction steps
.instruction-image {
  width: 400px;
  object-fit: cover;
  border-radius: 10px; /* Rounded corners */
}

// Logo at top of home and page
.logo-image {
  width: 400px;
  object-fit: cover;
  border-radius: 10px; /* Rounded corners */
}

// Larger image for instructions
.larger-image {
  width: 800px;
  object-fit: cover;
  border-radius: 10px; /* Rounded corners */
}

// Favicon for site
.favicon-image {
  width: 25px; /* Favicon width */
  object-fit: cover; /* Maintain aspect ratio */
  margin-right: 5px; /* Add some spacing between the favicon and text */
}

// Small image for clip arts
.smaller-image {
  width: 10%;
  object-fit: cover;
}

.half-page {
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 2;
  width: 45%;
  aspect-ratio: 4 / 3; /* Ensures a 4:3 ratio */
  object-fit: cover;
  border-radius: 10px; /* Rounded corners */
}

// Full page width image
.full-page {
  width: 100%;
  object-fit: cover;
  border-radius: 10px; /* Rounded corners */
}



// Theme
/* Default (light theme) */
body {
  padding-top: 60px; /* Adjust according to your header's height */
  --default-text-color: D(0,0,0);
  --green-text-color: rgb(0,128,0);
  --yellow-text-color: rgb(255,140,0);
  --red-text-color: rgb(255,0,0);
  --gray-text-color: rgb(111, 111, 111);
  --blue-text-color: rgb(0, 0, 200);
  --menu-hover-color: var(--minima-brand-color-light);
}

@media (prefers-color-scheme: dark) {
  /* Dark theme */
  body {
    --default-text-color: rgb(255,255,255);
    --green-text-color: rgb(144,238,144);
    --yellow-text-color: rgb(255,255,0);
    --red-text-color: rgb(255,69,0);
    --gray-text-color: rgb(211, 211, 211);
    --blue-text-color: rgb(0, 255, 255);
    --menu-hover-color: var(--minima-brand-color-dark);
  }
}

/* Apply the text color variable to elements */
.default-text-themed {
  color: var(--default-text-color);
}

.green-text-themed {
  color: var(--green-text-color);
}

.yellow-text-themed {
  color: var(--yellow-text-color);
}

.red-text-themed {
  color: var(--red-text-color);
}

.gray-text-themed {
  color: var(--gray-text-color);
}

.blue-text-themed {
  color: var(--blue-text-color);
}

.background-text-themed {
  color: var(--minima-background-color);
}



// Mobile vs desktop
.mobile-content {
  display: none; /* Hide by default */
}

.desktop-content {
  display: block; /* Show by default */
}

@media (max-width: 768px) {
  .desktop-content {
    display: none; /* Hide on mobile */
  }
  .mobile-content {
    display: block; /* Show on mobile */
  }
}



// Searching
/* Center the search bar */
#search-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the search bar horizontally */
  margin: 20px auto; /* Space around the search container */
  // max-width: 600px; /* Max width for the search container */
}

/* Styling for the search input */
#search-input {
  width: 100%; /* Full width inside the container */
  max-width: 600px; /* Adjust the max width for desktop */
  padding: 10px; /* Padding for the input field */
  font-size: 16px; /* Increase font size */
  border: 1px solid #ccc; /* Border around the input field */
  border-radius: 4px; /* Rounded corners */
  margin-bottom: 20px; /* Space between the search bar and the results */
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  #search-input {
      max-width: 90%; /* Make the search bar smaller on mobile */
      font-size: 14px; /* Adjust font size for mobile */
      padding: 8px; /* Reduce padding */
  }
}

/* Results container grid styling */
.results-grid {
  display: flex; /* Use flexbox to lay out the items */
  flex-wrap: wrap; /* Allow wrapping of items */
  gap: 20px; /* Gap between items */
  list-style: none; /* Remove bullet points */
  padding: 0;
}



// Buttons for recipe, nutrition, print, and comment
.button {
  display: inline-block; /* Make links behave like block elements */
  background-color: var(--minima-background-color); /* Button background color */
  padding: 10px 5px; /* Top/bottom and left/right padding */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Rounded corners */
  border: 2px solid var(--minima-brand-color); /* Colored border */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  margin: 5px;
  color: var(--default-text-color); /* Text color */
  margin-bottom: 15px;
}

/* Ensures consistent color regardless of the href */
a.button {
  color: var(--default-text-color); /* Consistent button text color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Ensure text is bold */
}

/* Hover effect */
.button:hover {
  background-color: var(--menu-hover-color);
  border: 2px solid var(--minima-link-base-color);
  color: var(--minima-link-base-color)
}



// Disqus
/* Override Disqus comment text color */
#disqus_thread {
  color: var(--default-text-color); /* Replace with your site's default text color */
}

/* Targeting other potential Disqus elements */
#disqus_thread a {
  color: var(--minima-link-base-color); /* Replace with your default link color */
}

#disqus_thread p {
  color: inherit; /* Ensure paragraph text inherits the default color */
}



// Recipe category box and links
.recipe-category-buttons {
  border: 3px solid var(--minima-brand-color);
  border-radius: 5px; /* Rounded corners */
}

.recipe-category-buttons:hover {
  background-color: var(--menu-hover-color);
  border: 3px solid var(--minima-link-base-color);
}

@media (min-width: 768px) {
  .recipe-category-buttons {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
    width: 45%;
    max-width: 50%;
    object-fit: cover;
  }
}



// Text formatting
// Text color of page title
.page-title, .post-header h1, .page-title a {
  color: var(--default-text-color);
  font-size: 46px;
  text-align: center;
  font-weight: bold;
}

// Post title
.recipe-title, .recipe-title a {
  display: block;
  color: var(--default-text-color);
  font-size: 36px; /* Ensure you include the unit for font-size */
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Center the text */
}

.recipe-title:hover a, .page-title:hover a {
  color: var(--minima-link-base-color);
  text-decoration: none;
}

// Section headers (instructions, costs, etc.)
.recipe-header {
  display: block;
  color: var(--default-text-color);
  font-size: $base-font-size + 6;
  font-weight: bold; /* Make the text bold */
  text-decoration: underline; /* Underline the text */
  margin-bottom: 10px; /* Adds extra space below the element */
  margin-top: 20px; /* Adds extra space top the element */
}

// Content of the section (actual description, written out instrustions, etc.)
.recipe-section {
  display: inline; /* Allows for width and height while keeping it inline */
  color: var(--default-text-color);
  font-size: $base-font-size + 2;
  margin-top: 20px; /* Add space above the element */
}

// Content of the section that needs to be bolded (total cost label, prep time label, etc.)
.recipe-section-bold {
  display: inline; /* Prevent line break */
  color: var(--default-text-color);
  font-size: $base-font-size + 2;
  font-weight: bold; /* Make the text bold */
}

// Volume measurements
.recipe-vol {
  display: inline; /* Prevent line break */
  color: var(--default-text-color);
  font-size: $base-font-size + 2;
}

// Mass measurements
.recipe-grams {
  display: inline; /* Prevent line break */
  color: var(--gray-text-color);
  font-size: $base-font-size + 2;
  font-style: italic;
}

// Food (ingredient) text
.recipe-food {
  display: inline; /* Prevent line break */
  color: var(--default-text-color);
  font-size: $base-font-size + 2;
}

// Text color of costs
.ingredient-cost, .total-cost, .recipe-costs {
  display: inline; /* Prevent line break */
  color: var(--green-text-color);
  font-style: italic; /* Italicize the text */
  font-size: $base-font-size + 2;
}

// Sections of recipe (beef, vegetables, etc.)
.ingredients-section {
  display: block; /* Prevent line break */
  color: var(--default-text-color);
  font-size: $base-font-size + 4;
  font-style: italic; /* Italicize the text */
  margin-top: 20px; /* Adds extra space top the element */
}

/* Hide the mobile content by default */
.mobile-content {
  display: none;
}

/* Show the mobile content on smaller screens and hide the desktop content */
@media only screen and (max-width: 768px) {
  .desktop-content {
      display: none;
  }
  .mobile-content {
      display: block;
  }
}



/* Desktop and default */
#recipe, 
#nutrition-facts, 
#disqus_thread, 
.table-of-contents, 
.table-of-contents-2, 
#top-post,
#top-home,
#top-page {
  position: relative;
}

/* Desktop and default */
#disqus_thread {
  scroll-margin-top: 80px; /* Adjust this value based on the padding or header height */
  padding-top: 60px; /* Adjust based on your design */
}

#recipe:before, 
#nutrition-facts:before, 
#disqus_thread:before, 
.table-of-contents:before, 
.table-of-contents-2:before, 
#top-post:before,
#top-home:before,
#top-page:before {
  content: "";
  display: block;
  visibility: hidden;
}

#recipe:before {
  height: 40px; /* Adjust this value to the height of your header */
  margin-top: -40px; /* Same value as height, moving the element up */
}

#nutrition-facts:before, 
.table-of-contents:before,
#top-post:before,
#top-home:before,
#top-page:before {
  height: 100px; /* Adjust this value to the height of your header */
  margin-top: -100px; /* Same value as height, moving the element up */
}

.table-of-contents-2:before {
  height: 130px; /* Adjust this value to the height of your header */
  margin-top: -130px; /* Same value as height, moving the element up */
}

#disqus_thread:before {
  height: 130px; /* Adjust this value to the height of your header */
  margin-top: -130px; /* Same value as height, moving the element up */
}

/* Adjust for mobile screens */
@media only screen and (max-width: 768px) {
  #recipe:before {
    height: 0;
    margin-top: 0;
  }

  #nutrition-facts:before {
      height: 60px; /* Adjust this value for mobile */
      margin-top: -60px; /* Adjust this value for mobile */
  }

  #disqus_thread:before {
    height: 0; /* Adjust this value for mobile */
    margin-top: 0; /* Adjust this value for mobile */
  }

  .table-of-contents:before {
    height: 40px; /* Adjust this value for mobile */
    margin-top: -40px; /* Adjust this value for mobile */
  }

  .table-of-contents-2:before {
    height: 70px; /* Adjust this value for mobile */
    margin-top: -70px; /* Adjust this value for mobile */
  }
}



// Printing
@media print {
  /* Hide elements not needed in the printed version */
  .recipe-image,
  .recipe-date,
  .recipe-buttons,
  .recipe-description,
  .recipe-time,
  .recipe-costs,
  .recipe-source,
  .recipe-whisk,
  .recipe-comments,
  .recipe-disqus-comments,
  .disqus_thread,
  header, footer, nav {
      display: none !important;
  }

  // Get rid of comments in printing
  .recipe-comments,
  .recipe-disqus-comments,
  #disqus_thread {
      page-break-before: avoid;
      page-break-after: avoid; /* Prevent breaks before and after */
      display: none !important; /* Ensure they don’t appear */
  }

  /* Ensure the important elements are visible */
  .recipe, 
  .recipe-title,
  .recipe-ingredients,
  .recipe-instruction-header,
  .recipe-instructions,
  .recipe-nutrition {
      display: block !important;
  }

  /* Additional styling for print */
  .recipe-instructions br + br,
  .recipe-instructions img {
      display: none; /* Hide double breaks */
  }

  .recipe-instructions br {
      display: block; /* Show single breaks */
      content: ''; /* Ensure it acts as a break */
      margin: 1em 0; /* Space between instructions */
  }

  /* Ensure the title, ingredients, and nutrition are styled correctly */
  .recipe-title h1 {
      font-size: 40px !important; /* Ensure size applies */
      font-weight: bold !important; /* Ensure bold weight applies */
  }

  .recipe-ingredients, 
  .recipe-instruction-header, 
  .recipe-instructions, 
  .recipe-nutrition {
      font-size: 16px;
      line-height: 1.5; /* Keep line-height */
  }

  /* Other styles to ensure print formatting */
  body,
  .page-title, 
  .post-header,
  .recipe-title,
  .recipe-header,
  .recipe-section,
  .recipe-section-bold,
  .recipe-vol,
  .recipe-grams,
  .recipe-food,
  .ingredient-cost,
  .total-cost,
  .ingredients-section,
  .green-text-themed,
  .yellow-text-themed,
  .red-text-themed,
  .gray-text-themed,
  .blue-text-themed {
      background: #fff !important;
      color: #000 !important;
      margin: 0 !important;
      padding: 0 !important;
  }

  a {
      color: #000000 !important;
      text-decoration: none; /* Remove underline from all links */
  }

  * {
      box-shadow: none !important;
      border: none !important;
  }
}