---
layout: post
title:  "No Bake Homemade Tiramisù"
date:   2025-01-18 00:00:00 -05000
categories: 
- Recipes
- Healthier Dessert
showPercentage: no
showPercentage: no
hummus: no
oatmeal: no
yogurt: no
nut_butter: no
pesto: no
soup_stew: no
salad: no
dressing: no
brownie: no
cookie: no
permalink: /recipes/tiramisu
image: /assets/Food/Healthier Dessert/Tiramisu/tiramisu-cover.jpg
ing: tiramisu-ing
facts: tiramisu-facts
servingSize: 1 slice
section1: "Ladyfingers"
start2: Natural peanut butter
section2: "Cream"
start3: Cocoa powder
section3: Topping
start4: 
section4: 
start5: 
section5: 
Prep: 20
Rest: 
Cook: 
Source1: 
Source2:
whisk: https://s.samsungfood.com/ryF1k
tags: 
- plain nonfat greek yogurt
- yogurt
- greek yogurt
- plain yogurt
- no-bake
- no bake
- dates
- honey
- banana
- crust
- tiramisu
- Tiramisù
- italian
- banana
- peanut butter
- natural peanut butter
- nut butter
- gluten free
- oats
- rolled oats
- coconut flour
Description: Tiramisù is a classic Italian dessert that consists of layers of coffee and rum dipped Ladyfingers and sweet whipped mascarpone cheese, all topped with dusted cocoa powder. Compared to the traditional, my version is healthier, as it contains no <a href="/misc/hidden-sugar">sugar</a> or gluten, and is also coffee and alcohol free. I never used to be a big Tiramisù fan until this Christmas where I was converted, and I instantly knew I had to try making a variation of it myself. This recipe is very similar to my <a href="/recipes/cheesecake-bars">No Bake Cheesecake Bars</a>, using a very similar base and filling.
Instructions: 
- Line an 9" square baking pan with parchment paper, and set aside

- Mash your bananas with the back of a fork in a large bowl. Combine with the rest of the base ingredients using a <a href="https://www.amazon.com/dp/B0C37QM1K3?ref=t_ac_view_request_product_image&campaignId=amzn1.campaign.1OO1S5W7ZMYBB&linkCode=tr1&tag=poormanprotei-20&linkId=amzn1.campaign.1OO1S5W7ZMYBB_1751469633605">silicone spatula</a> - cinnamon, liquid monk fruit, vanilla extract, coconut flour, and rolled oats. Optionally, add 1/2 tsp (2.5 g) of either rum extract or instant coffee (or both!)
- <center><img src="/assets/Food/Healthier Dessert/Tiramisu/bowl.jpg" alt="" class="instruction-image"></center>

- Firmly press half the dry mixture (196 g) into the base of your pan
- <center><img src="/assets/Food/Healthier Dessert/Tiramisu/bottom.jpg" alt="" class="instruction-image"></center>

- In a food processor, blend together nut butter and dates until fully chopped. Add in the Greek yogurt and vanilla extract, and blend to fully combine
- <center><img src="/assets/Food/Healthier Dessert/Tiramisu/processor.jpg" alt="" class="instruction-image"></center>

- Transfer half your yogurt filling (350 g) on top of the crust. Crumble the remaining oatmeal mixture on top of the first layer of filling, and top with a second layer of filling
- <center><img src="/assets/Food/Healthier Dessert/Tiramisu/middle-filling.jpg" alt="" class="half-page"><img src="/assets/Food/Healthier Dessert/Tiramisu/middle-crumble.jpg" alt="" class="half-page"></center>

- Alternatively, you can use 1/4 cup (80 g) of <a href="/recipes/sugar-free-syrup">sugar free syrup</a> in the filling in place of 4 oz (113 g) dates.  Note that half the filling weight will be 333 g, not 350 g

- Using a small fine mesh strainer, dust the top of the filling with cocoa powder. Use a damp paper tower to clean up the edges of the pan
- <center><img src="/assets/Food/Healthier Dessert/Tiramisu/cocoa.jpg" alt="" class="instruction-image"></center>

- Cover the pan with foil, and refrigerate overnight before slicing
---
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        table-layout: auto;
        text-align: center;
    }

    th, td {
        text-align: center;
        white-space: nowrap;
        word-wrap: break-word;
    }

    td:first-child, th:first-child {
        position: sticky;
        left: 0;
        background-color: var(--minima-table-header-bg-color);
        z-index: 5;
        font-weight: bold;
    }

    .table-container {
        overflow-x: auto; /* Adds horizontal scrolling if needed */
        max-width: 100%;
    }
</style>

{% assign files = "tiramisu,tiramisusfs" | split: "," %}
{% assign nutrients = "Calories,Protein,Fat,Net Carbs,Fiber,Added Sugar,Sugar Alcohol" | split: "," %}
{% assign rnds = "0,1,1,1,1,1,1" | split: "," %}
{% assign last_index = nutrients.size | minus: 1 %}

<div class="table-container"><table>
    <thead>
        <tr>
            <th>Nutrient</th>
            <th>With<br>Dates</th>
            <th>With <a href="/recipes/sugar-free-syrup">Sugar<br>Free Syrup</a></th>
        </tr>
    </thead>
    <tbody>
        {% for i in (0..last_index) %}
            <tr>
                <td>{{ nutrients[i] }}</td>
                {% assign nutrient = nutrients[i] %}
                {% assign rnd = rnds[i] %}
                {% for f in files %}
                    {% assign ing_file = f | append: "-ing" %}
                    {% assign facts_file = f | append: "-facts" %}
                    <td>
                        {% include getNutrient.html 
                            ing=ing_file 
                            facts=facts_file 
                            servingSize="100" 
                            nutrient=nutrient 
                            fetch="perServing" 
                            rnd=rnd %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table></div>