---
layout: base
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {% include top.html %}

  <div class="post-content e-content" itemprop="articleBody">

    {% include buttons.html %}
    {{ content }}    
    
    <!-- Overview -->
    {% if page.overview %}
      <b><u><font size="+2">Experimental Overview</font></u></b>
      &emsp; {{ page.overview }}<br><br>
    {% endif %}

    <!-- Box -->
    {% if page.box %}
      <b><u><font size="+2">The Brownie Box</font></u></b>
      &emsp; {{ page.box }}<br><br>
    {% endif %}

    <!-- Control and Experiments -->
    {% if page.subs %}
      <b><u><font size="+2">Control & Experiment</font></u></b>
      &emsp; {{ page.subs }}<br>
    {% endif %}

    <!-- Oil -->
    {% if page.oil %}
      <b><u><font size="+2">Ingredients</font></u></b><br>
      {{ page.oil }}<br><br>
    {% endif %}
    {% include ingredientsParam.html ing=page.oil-ing %}
    {% include servingsParam.html ing=page.oil-ing %}
    {% include nutritionParam.html facts=page.oil-facts %}

    <!-- Sweet Potato -->
    {% if page.sweet-potato %}
      {{ page.sweet-potato }}<br><br>
    {% endif %}
    {% include ingredientsParam.html ing=page.sweet-potato-ing %}
    {% include servingsParam.html ing=page.sweet-potato-ing %}
    {% include nutritionParam.html facts=page.sweet-potato-facts %}

    <!-- Mixing -->
    {% if page.mixing %}
      <b><u><font size="+2">Mixing & Baking</font></u></b>
      &emsp; {{ page.mixing }}<br><br>
    {% endif %}

    <!-- Taste -->
    {% if page.taste %}
      <b><u><font size="+2">Taste Test</font></u></b>
      &emsp; {{ page.taste }}<br><br>
    {% endif %}

    <!-- Conclusion -->
    {% if page.conclusion %}
      <b><u><font size="+2">Conclusion</font></u></b>
      &emsp; {{ page.conclusion }}<br><br>
    {% endif %}

    <!-- Sources -->
    {% if page.sources %}
      <b><u><font size="+2">Sources</font></u></b>
      &emsp; {{ page.sources }}<br><br>
    {% endif %}

    {% include comments.html %}

  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
