---
layout: base
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {% include top.html %}

  <div class="post-content e-content" itemprop="articleBody">

    {% include buttons.html %}
    {{ content }}
    
    <!-- Overview -->
    {% if page.overview %}
      <b><u>Experimental Overview</u></b>
      &emsp; {{ page.overview }}<br><br>
    {% endif %}

    <!-- Box -->
    {% if page.box %}
      <b><u>The Brownie Box</u></b>
      &emsp; {{ page.box }}<br><br>
    {% endif %}

    <!-- Control and Experiments -->
    {% if page.subs %}
      <b><u>Control and Experiments</u></b>
      &emsp; {{ page.subs }}<br><br>
    {% endif %}

    <!-- Butter -->
    {% if page.butter %}
        <b><u>Ingredients</u></b><br>
    {% endif %}
    <div id="butter"></div>
    {% if page.butter %}
      &emsp; {{ page.butter }}<br><br>
    {% endif %}
    {% include ingredientsParam.html ing=page.butter-ing %}
    {% include servingsParam.html ing=page.butter-ing %}
    {% include nutritionParam.html facts=page.butter-facts %}

    <!-- Applesauce -->
    <div id="applesauce"></div>
    {% if page.applesauce %}
      &emsp; {{ page.applesauce }}<br><br>
    {% endif %}
    {% include ingredientsParam.html ing=page.applesauce-ing %}
    {% include servingsParam.html ing=page.applesauce-ing %}
    {% include nutritionParam.html facts=page.applesauce-facts %}

    <!-- Yogurt -->
    <div id="yogurt"></div>
    {% if page.yogurt %}
      &emsp; {{ page.yogurt }}<br><br>
    {% endif %}
    {% include ingredientsParam.html ing=page.yogurt-ing %}
    {% include servingsParam.html ing=page.yogurt-ing %}
    {% include nutritionParam.html facts=page.yogurt-facts %}

    <!-- Banana -->
    <div id="banana"></div>
    {% if page.banana %}
      &emsp; {{ page.banana }}<br><br>
    {% endif %}
    {% include ingredientsParam.html ing=page.banana-ing %}
    {% include servingsParam.html ing=page.banana-ing %}
    {% include nutritionParam.html facts=page.banana-facts %}

    <!-- Sweet Potato -->
    <div id="potato"></div>
    {% if page.sweet-potato %}
      &emsp; {{ page.sweet-potato }}<br><br>
    {% endif %}
    {% include ingredientsParam.html ing=page.sweet-potato-ing %}
    {% include servingsParam.html ing=page.sweet-potato-ing %}
    {% include nutritionParam.html facts=page.sweet-potato-facts %}

    <!-- Beans -->
    <div id="beans"></div>
    {% if page.beans %}
      &emsp; {{ page.beans }}<br><br>
    {% endif %}
    {% include ingredientsParam.html ing=page.beans-ing %}
    {% include servingsParam.html ing=page.beans-ing %}
    {% include nutritionParam.html facts=page.beans-facts %}

    <!-- Mixing -->
    {% if page.mixing %}
      <b><u>Mixing & Baking</u></b>
      &emsp; {{ page.mixing }}<br><br>
    {% endif %}

    <!-- Taste -->
    {% if page.taste %}
      <b><u>Taste Test</u></b>
      &emsp; {{ page.taste }}<br><br>
    {% endif %}

    <!-- Conclusion -->
    {% if page.conclusion %}
      <b><u>Conclusion</u></b>
      &emsp; {{ page.conclusion }}<br><br>
    {% endif %}

    <!-- Ingredients -->
    {% if page.ingredients %}
      <b><u>Ingredients</u></b>
      &emsp; {{ page.ingredients }}<br><br>
    {% endif %}
    {% include ingredients.html %}

    <!-- Facts -->
    {% if page.nutrition-facts %}
      <b><u>Nutrition Facts</u></b>
      &emsp; {{ page.nutrition-facts }}<br><br>
    {% endif %}
    {% include servings.html %}
    {% include nutrition.html %}

    <!-- Other -->
    {% if page.other %}
      <b><u>Other Substitutions</u></b>
      &emsp; {{ page.other }}<br><br>
    {% endif %}

    <!-- Sources -->
    {% if page.sources %}
      <b><u>Sources</u></b>
      &emsp; {{ page.sources }}<br><br>
    {% endif %}

    {% include comments.html %}

  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
