---
layout: base
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {% include top.html %}

  <div class="post-content e-content" itemprop="articleBody">

    {% include buttons.html %}
    {{ content }}
    
    <!-- Overview -->
    {% if page.overview %}
      <b><u><font size="+2">Experimental Overview</font></u></b>
      &emsp; {{ page.overview }}<br><br>
    {% endif %}

    <!-- Box -->
    {% if page.box %}
      <b><u><font size="+2">The Brownie Box</font></u></b>
      &emsp; {{ page.box }}<br><br>
    {% endif %}

    <!-- Control and Experiments -->
    {% if page.subs %}
      <b><u><font size="+2">Control & Experiments</font></u></b>
      &emsp; {{ page.subs }}<br><br>
    {% endif %}

    <!-- Butter -->
    {% if page.butter %}
        <b><u><font size="+2">Ingredients</font></u></b>
    {% endif %}
    {% if page.butter %}
      &emsp; {{ page.butter }}<br><br>
    {% endif %}
    {% include ingredients.html ing=page.butter-ing %}
    {% include servings.html ing=page.butter-ing %}
    {% include nutrition.html facts=page.butter-facts %}

    <!-- Applesauce -->
    {% if page.applesauce %}
      &emsp; {{ page.applesauce }}<br><br>
    {% endif %}
    {% include ingredients.html ing=page.applesauce-ing %}
    {% include servings.html ing=page.applesauce-ing %}
    {% include nutrition.html facts=page.applesauce-facts %}

    <!-- Yogurt -->
    {% if page.yogurt %}
      &emsp; {{ page.yogurt }}<br><br>
    {% endif %}
    {% include ingredients.html ing=page.yogurt-ing %}
    {% include servings.html ing=page.yogurt-ing %}
    {% include nutrition.html facts=page.yogurt-facts %}

    <!-- Banana -->
    {% if page.banana %}
      &emsp; {{ page.banana }}<br><br>
    {% endif %}
    {% include ingredients.html ing=page.banana-ing %}
    {% include servings.html ing=page.banana-ing %}
    {% include nutrition.html facts=page.banana-facts %}

    <!-- Sweet Potato -->
    {% if page.sweet-potato %}
      &emsp; {{ page.sweet-potato }}<br><br>
    {% endif %}
    {% include ingredients.html ing=page.sweet-potato-ing %}
    {% include servings.html ing=page.sweet-potato-ing %}
    {% include nutrition.html facts=page.sweet-potato-facts %}

    <!-- Beans -->
    {% if page.beans %}
      &emsp; {{ page.beans }}<br><br>
    {% endif %}
    {% include ingredients.html ing=page.beans-ing %}
    {% include servings.html ing=page.beans-ing %}
    {% include nutrition.html facts=page.beans-facts %}

    <!-- Mixing -->
    {% if page.mixing %}
      <b><u><font size="+2">Mixing & Baking</font></u></b>
      &emsp; {{ page.mixing }}<br><br>
    {% endif %}

    <!-- Taste -->
    {% if page.taste %}
      <b><u><font size="+2">Taste Test</font></u></b>
      &emsp; {{ page.taste }}<br><br>
    {% endif %}

    <!-- Conclusion -->
    {% if page.conclusion %}
      <b><u><font size="+2">Conclusion</font></u></b>
      &emsp; {{ page.conclusion }}<br><br>
    {% endif %}

    <!-- Ingredients -->
    {% if page.ingredients %}
      <b><u><font size="+2">Ingredients</font></u></b>
      &emsp; {{ page.ingredients }}<br><br>
    {% endif %}
    {% include ingredients.html %}

    <!-- Facts -->
    {% if page.nutrition-facts %}
      <b><u><font size="+2">Nutrition Facts</font></u></b>
      &emsp; {{ page.nutrition-facts }}<br><br>
    {% endif %}
    {% include servings.html %}
    {% include nutrition.html %}

    <!-- Other -->
    {% if page.other %}
      <b><u><font size="+2">Other Substitutions</font></u></b>
      &emsp; {{ page.other }}<br><br>
    {% endif %}

    <!-- Sources -->
    {% if page.sources %}
      <b><u><font size="+2">Sources</font></u></b>
      &emsp; {{ page.sources }}<br><br>
    {% endif %}

    {% include comments.html %}

  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
