---
layout: base
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {%- if page.image -%}
      <img src="{{- page.image | relative_url -}}" alt="" class="featured-image-post">
    {%- endif -%}

    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">

    <!-- {{ content }} -->
    
    <!-- Overview -->
    {% if page.overview %}
      <b><u>Experimental Overview</u></b>
      &emsp; {{ page.overview }}<br><br>
    {% endif %}

    <!-- Box -->
    {% if page.box %}
      <b><u>The Brownie Box</u></b>
      &emsp; {{ page.box }}<br><br>
    {% endif %}

    <!-- Control and Experiments -->
    {% if page.subs %}
      <b><u>Control and Experiments</u></b>
      &emsp; {{ page.subs }}<br><br>
    {% endif %}

    <!-- Butter -->
    {% if page.butter %}
      <b><u>Ingredients</u></b><br>
      &emsp; {{ page.butter }}<br><br>
    {% endif %}

    <table>
      {% for row in site.data[page.butter-ing] %}
          {% if forloop.first %}
              <tr>
              {% for pair in row %}
                  <th>{{ pair[0] }}</th>
              {% endfor %}
              </tr>
          {% endif %}
      {% endfor %}
  
      {% for row in site.data[page.butter-ing] %}
          {% if forloop.last %}
  
          {% else %}
              {% tablerow pair in row %}
                  {{ pair[1] }}
              {% endtablerow %}
          {% endif %}
      {% endfor %}
  </table>

    {% if page.butter-ing %}
      {% assign ser = site.data[page.butter-ing].last %}
      <b><u>{{ ser["Ingredient"] }}</u>: {{ ser["Amount"] }}</b>
    {% endif %}

    <table>
        {% for row in site.data[page.butter-facts] %}
            {% if forloop.first %}
                <tr>
                {% for pair in row %}
                    <th>{{ pair[0] }}</th>
                {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}

        {% assign i = 0 %}
        {% for row in site.data[page.butter-facts] %}
            {% if row.Nutrient == "Calories" or row.Nutrient == "Fat" or row.Nutrient == "Saturated fatty acids" or row.Nutrient == "Sodium" or row.Nutrient == "Cholesterol" or row.Nutrient == "Carbohydrate" or row.Nutrient == "Fiber" or row.Nutrient == "Sugars" or row.Nutrient == "Protein" %}
                {% tablerow pair in row %}
                    <b style="color: lightgray">{{ pair[1] }}</b>
                {% endtablerow %}
            {% endif %}
        {% endfor %}
    </table>

    <!-- Applesauce -->
    {% if page.applesauce %}
      &emsp; {{ page.applesauce }}<br><br>
    {% endif %}

    <table>
      {% for row in site.data[page.applesauce-ing] %}
          {% if forloop.first %}
              <tr>
              {% for pair in row %}
                  <th>{{ pair[0] }}</th>
              {% endfor %}
              </tr>
          {% endif %}
      {% endfor %}
  
      {% for row in site.data[page.applesauce-ing] %}
          {% if forloop.last %}
  
          {% else %}
              {% tablerow pair in row %}
                  {{ pair[1] }}
              {% endtablerow %}
          {% endif %}
      {% endfor %}
  </table>

    {% if page.applesauce-ing %}
      {% assign ser = site.data[page.applesauce-ing].last %}
      <b><u>{{ ser["Ingredient"] }}</u>: {{ ser["Amount"] }}</b>
    {% endif %}

    <table>
        {% for row in site.data[page.applesauce-facts] %}
            {% if forloop.first %}
                <tr>
                {% for pair in row %}
                    <th>{{ pair[0] }}</th>
                {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}

        {% assign i = 0 %}
        {% for row in site.data[page.applesauce-facts] %}
            {% if row.Nutrient == "Calories" or row.Nutrient == "Fat" or row.Nutrient == "Saturated fatty acids" or row.Nutrient == "Sodium" or row.Nutrient == "Cholesterol" or row.Nutrient == "Carbohydrate" or row.Nutrient == "Fiber" or row.Nutrient == "Sugars" or row.Nutrient == "Protein" %}
                {% tablerow pair in row %}
                    <b style="color: lightgray">{{ pair[1] }}</b>
                {% endtablerow %}
            {% endif %}
        {% endfor %}
    </table>

    <!-- Yogurt -->
    {% if page.yogurt %}
      &emsp; {{ page.yogurt }}<br><br>
    {% endif %}

    <table>
      {% for row in site.data[page.yogurt-ing] %}
          {% if forloop.first %}
              <tr>
              {% for pair in row %}
                  <th>{{ pair[0] }}</th>
              {% endfor %}
              </tr>
          {% endif %}
      {% endfor %}
  
      {% for row in site.data[page.yogurt-ing] %}
          {% if forloop.last %}
  
          {% else %}
              {% tablerow pair in row %}
                  {{ pair[1] }}
              {% endtablerow %}
          {% endif %}
      {% endfor %}
  </table>

    {% if page.yogurt-ing %}
      {% assign ser = site.data[page.yogurt-ing].last %}
      <b><u>{{ ser["Ingredient"] }}</u>: {{ ser["Amount"] }}</b>
    {% endif %}

    <table>
        {% for row in site.data[page.yogurt-facts] %}
            {% if forloop.first %}
                <tr>
                {% for pair in row %}
                    <th>{{ pair[0] }}</th>
                {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}

        {% assign i = 0 %}
        {% for row in site.data[page.yogurt-facts] %}
            {% if row.Nutrient == "Calories" or row.Nutrient == "Fat" or row.Nutrient == "Saturated fatty acids" or row.Nutrient == "Sodium" or row.Nutrient == "Cholesterol" or row.Nutrient == "Carbohydrate" or row.Nutrient == "Fiber" or row.Nutrient == "Sugars" or row.Nutrient == "Protein" %}
                {% tablerow pair in row %}
                    <b style="color: lightgray">{{ pair[1] }}</b>
                {% endtablerow %}
            {% endif %}
        {% endfor %}
    </table>

    <!-- Banana -->
    {% if page.banana %}
      &emsp; {{ page.banana }}<br><br>
    {% endif %}

    <table>
      {% for row in site.data[page.banana-ing] %}
          {% if forloop.first %}
              <tr>
              {% for pair in row %}
                  <th>{{ pair[0] }}</th>
              {% endfor %}
              </tr>
          {% endif %}
      {% endfor %}
  
      {% for row in site.data[page.banana-ing] %}
          {% if forloop.last %}
  
          {% else %}
              {% tablerow pair in row %}
                  {{ pair[1] }}
              {% endtablerow %}
          {% endif %}
      {% endfor %}
  </table>

    {% if page.banana-ing %}
      {% assign ser = site.data[page.banana-ing].last %}
      <b><u>{{ ser["Ingredient"] }}</u>: {{ ser["Amount"] }}</b>
    {% endif %}

    <table>
        {% for row in site.data[page.banana-facts] %}
            {% if forloop.first %}
                <tr>
                {% for pair in row %}
                    <th>{{ pair[0] }}</th>
                {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}

        {% assign i = 0 %}
        {% for row in site.data[page.banana-facts] %}
            {% if row.Nutrient == "Calories" or row.Nutrient == "Fat" or row.Nutrient == "Saturated fatty acids" or row.Nutrient == "Sodium" or row.Nutrient == "Cholesterol" or row.Nutrient == "Carbohydrate" or row.Nutrient == "Fiber" or row.Nutrient == "Sugars" or row.Nutrient == "Protein" %}
                {% tablerow pair in row %}
                    <b style="color: lightgray">{{ pair[1] }}</b>
                {% endtablerow %}
            {% endif %}
        {% endfor %}
    </table>

    <!-- Sweet Potato -->
    {% if page.sweet-potato %}
      &emsp; {{ page.sweet-potato }}<br><br>
    {% endif %}

    <table>
      {% for row in site.data[page.sweet-potato-ing] %}
          {% if forloop.first %}
              <tr>
              {% for pair in row %}
                  <th>{{ pair[0] }}</th>
              {% endfor %}
              </tr>
          {% endif %}
      {% endfor %}
  
      {% for row in site.data[page.sweet-potato-ing] %}
          {% if forloop.last %}
  
          {% else %}
              {% tablerow pair in row %}
                  {{ pair[1] }}
              {% endtablerow %}
          {% endif %}
      {% endfor %}
  </table>

    {% if page.sweet-potato-ing %}
      {% assign ser = site.data[page.sweet-potato-ing].last %}
      <b><u>{{ ser["Ingredient"] }}</u>: {{ ser["Amount"] }}</b>
    {% endif %}

    <table>
        {% for row in site.data[page.sweet-potato-facts] %}
            {% if forloop.first %}
                <tr>
                {% for pair in row %}
                    <th>{{ pair[0] }}</th>
                {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}

        {% assign i = 0 %}
        {% for row in site.data[page.sweet-potato-facts] %}
            {% if row.Nutrient == "Calories" or row.Nutrient == "Fat" or row.Nutrient == "Saturated fatty acids" or row.Nutrient == "Sodium" or row.Nutrient == "Cholesterol" or row.Nutrient == "Carbohydrate" or row.Nutrient == "Fiber" or row.Nutrient == "Sugars" or row.Nutrient == "Protein" %}
                {% tablerow pair in row %}
                    <b style="color: lightgray">{{ pair[1] }}</b>
                {% endtablerow %}
            {% endif %}
        {% endfor %}
    </table>

    <!-- Beans -->
    {% if page.beans %}
      &emsp; {{ page.beans }}<br><br>
    {% endif %}

    <table>
      {% for row in site.data[page.beans-ing] %}
          {% if forloop.first %}
              <tr>
              {% for pair in row %}
                  <th>{{ pair[0] }}</th>
              {% endfor %}
              </tr>
          {% endif %}
      {% endfor %}
  
      {% for row in site.data[page.beans-ing] %}
          {% if forloop.last %}
  
          {% else %}
              {% tablerow pair in row %}
                  {{ pair[1] }}
              {% endtablerow %}
          {% endif %}
      {% endfor %}
  </table>

    {% if page.beans-ing %}
      {% assign ser = site.data[page.beans-ing].last %}
      <b><u>{{ ser["Ingredient"] }}</u>: {{ ser["Amount"] }}</b>
    {% endif %}

    <table>
        {% for row in site.data[page.beans-facts] %}
            {% if forloop.first %}
                <tr>
                {% for pair in row %}
                    <th>{{ pair[0] }}</th>
                {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}

        {% assign i = 0 %}
        {% for row in site.data[page.beans-facts] %}
            {% if row.Nutrient == "Calories" or row.Nutrient == "Fat" or row.Nutrient == "Saturated fatty acids" or row.Nutrient == "Sodium" or row.Nutrient == "Cholesterol" or row.Nutrient == "Carbohydrate" or row.Nutrient == "Fiber" or row.Nutrient == "Sugars" or row.Nutrient == "Protein" %}
                {% tablerow pair in row %}
                    <b style="color: lightgray">{{ pair[1] }}</b>
                {% endtablerow %}
            {% endif %}
        {% endfor %}
    </table>

    <!-- Mixing -->
    {% if page.mixing %}
      <b><u>Mixing & Baking</u></b>
      &emsp; {{ page.mixing }}<br><br>
    {% endif %}

    <!-- Taste -->
    {% if page.taste %}
      <b><u>Taste Test</u></b>
      &emsp; {{ page.taste }}<br><br>
    {% endif %}

    <!-- Conclusion -->
    {% if page.conclusion %}
      <b><u>Conclusion</u></b>
      &emsp; {{ page.conclusion }}<br><br>
    {% endif %}

    <!-- Ingredients -->
    {% if page.ingredients %}
      <b><u>Ingredients</u></b>
      &emsp; {{ page.ingredients }}<br><br>
    {% endif %}

    <table>
      {% for row in site.data[page.ing] %}
          {% if forloop.first %}
              <tr>
              {% for pair in row %}
                  <th>{{ pair[0] }}</th>
              {% endfor %}
              </tr>
          {% endif %}
      {% endfor %}
  
      {% for row in site.data[page.ing] %}
          {% if forloop.last %}
  
          {% else %}
              {% tablerow pair in row %}
                  {{ pair[1] }}
              {% endtablerow %}
          {% endif %}
      {% endfor %}
  </table>

    <!-- Facts -->
    {% if page.nutrition-facts %}
      <b><u>Nutrition Facts</u></b>
      &emsp; {{ page.nutrition-facts }}<br><br>
    {% endif %}

    {% if page.ing %}
      {% assign ser = site.data[page.ing].last %}
      <b><u>{{ ser["Ingredient"] }}</u>: {{ ser["Amount"] }}</b>
    {% endif %}

    <table>
        {% for row in site.data[page.facts] %}
            {% if forloop.first %}
                <tr>
                {% for pair in row %}
                    <th>{{ pair[0] }}</th>
                {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}

        {% assign i = 0 %}
        {% for row in site.data[page.facts] %}
            {% if row.Nutrient == "Calories" or row.Nutrient == "Fat" or row.Nutrient == "Saturated fatty acids" or row.Nutrient == "Sodium" or row.Nutrient == "Cholesterol" or row.Nutrient == "Carbohydrate" or row.Nutrient == "Fiber" or row.Nutrient == "Sugars" or row.Nutrient == "Protein" %}
                {% tablerow pair in row %}
                    <b style="color: lightgray">{{ pair[1] }}</b>
                {% endtablerow %}
            {% endif %}
        {% endfor %}
    </table>

    <!-- Other -->
    {% if page.other %}
      <b><u>Other Substitutions</u></b>
      &emsp; {{ page.other }}<br><br>
    {% endif %}

    <!-- Sources -->
    {% if page.sources %}
      <b><u>Sources</u></b>
      &emsp; {{ page.sources }}<br><br>
    {% endif %}

  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
