---
layout: base
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {% include top.html %}

  <div class="post-content e-content" itemprop="articleBody">

    {% include buttons.html %}
    {{ content }}    
    
    <!-- Overview -->
    {% if page.overview %}
      <b><u><font size="+2">Experimental Overview</font></u></b>
      &emsp;<font size="+1">{{ page.overview }}</font><br><br>
    {% endif %}

    <!-- Box -->
    {% if page.box %}
      <b><u><font size="+2">The Brownie Box</font></u></b>
      &emsp;<font size="+1">{{ page.box }}</font><br><br>
    {% endif %}

    <!-- Control and Experiments -->
    {% if page.subs %}
      <b><u><font size="+2">Control & Experiment</font></u></b>
      &emsp;<font size="+1">{{ page.subs }}</font><br>
    {% endif %}

    <!-- Oil -->
    {% if page.oil %}
      <b><u><font size="+2">Ingredients</font></u></b><br>
      <font size="+1">{{ page.oil }}</font><br><br>
    {% endif %}
    {% include ingredients.html ing=page.oil-ing %}
    {% include nutrition.html ing=page.oil-ing facts=page.oil-facts %}

    <!-- Sweet Potato -->
    {% if page.sweet-potato %}
      <font size="+1">{{ page.sweet-potato }}</font><br><br>
    {% endif %}
    {% include ingredients.html ing=page.sweet-potato-ing %}
    {% include nutrition.html ing=page.sweet-potato-ing facts=page.sweet-potato-facts %}

    <!-- Mixing -->
    {% if page.mixing %}
      <b><u><font size="+2">Mixing & Baking</font></u></b>
      &emsp;<font size="+1">{{ page.mixing }}</font><br><br>
    {% endif %}

    <!-- Taste -->
    {% if page.taste %}
      <b><u><font size="+2">Taste Test</font></u></b>
      &emsp;<font size="+1">{{ page.taste }}</font><br><br>
    {% endif %}

    <!-- Conclusion -->
    {% if page.conclusion %}
      <b><u><font size="+2">Conclusion</font></u></b>
      &emsp;<font size="+1">{{ page.conclusion }}</font><br><br>
    {% endif %}

    <!-- Sources -->
    {% if page.sources %}
      <b><u><font size="+2">Sources</font></u></b>
      &emsp;<font size="+1">{{ page.sources }}</font><br><br>
    {% endif %}

    {% include comments.html %}

  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
