--- 
layout: base
---
<div id="top-home"></div>

<style>
  /* CSS to hide the logo on mobile devices */
  @media (max-width: 768px) {
      .logo-image {
          display: none; /* Hide the logo */
      }
  }
</style>

<div class="home">
  <center><img src="/assets/Logo/logo.png" alt="" class="logo-image"></center>
  {%- if page.title and page.title != "Home" -%}
    <h1 class="page-title"><a rel="" target="" href="#top-home">{{ page.title | escape }}</a></h1>
  {% elsif page.title == "Home" %} 
    <h1 class="page-title"><a rel="" target="" href="#top-home">Recent Posts</a></h1>
  {%- endif -%}

  <!-- Shuffle Button -->
  {% if page.title and page.title != "Search" and page.title != "Python" and page.title != "Archive" %}
    <div class="shuffle-container">
      <center><a href="#" id="button" class="button">Shuffle Post</a></center>
    </div>
  {% endif %}

  {{ content }}

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {% assign postCount = 0 %}
  {% for post in posts %}
    {% if page.title == "Home" and post.categories.last != "Archive" %}
      {% assign postCount = postCount | plus: 1 %}
    {% elsif post.categories.last == page.title %}
      {% assign postCount = postCount | plus: 1 %}
    {% endif %}
  {% endfor %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}

    <!-- Display total count of posts -->
    <div class="post-count-container">
      {% if page.title != "Search" and page.title != "Python" %}
        <span class="page-post-count">{{ postCount }} result(s)</span>
      {% endif %}
    </div>    

    <ul class="post-list">

      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

      <!-- Posts Container -->
      <div id="home-posts-container">

        <!-- Initialize count -->
        {% assign count = 1 %}

        <!-- Each Post -->
        {% for post in posts %}

          <!-- Post correct ones to page, or all to home -->
          {% if page.title == "Home" or post.categories.last == page.title %}

            <!-- Skip if archived -->
            {% if post.categories.last == "Archive" and page.title != "Archive" %}
              {% continue %}
            {% endif %}

            <div class="post-item" data-url="{{ post.url | relative_url }}">
                <a href="{{ post.url | relative_url }}">
                  <img src="{{ post.image | relative_url }}" alt="" class="blog-roll-image">
                  <span class="post-meta">{{ post.date | date: date_format }}</span>
                  <h3 class="post-title">
                    <span class="post-count">{{ count }}.</span>
                    <b>{{ post.title | escape }}</b>
                  </h3>
                </a>
                
                {% if 
                  post.categories.first != "Misc." or
                  post.categories.first == "Misc." and post.categories.last == "Unhealthy Recipes"  
                %}
                  {% include allergens.html %}
                {% endif %}
            </div>

            <!-- Increment the count -->
            {% assign count = count | plus: 1 %}

          {% endif %}
        {% endfor %}
      </div>

    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>

<!-- JavaScript for shuffling posts -->
<script>
  document.getElementById('button').addEventListener('click', function(event) {
    event.preventDefault();
    var posts = document.querySelectorAll('.post-item');
    if (posts.length > 0) {
      var randomIndex = Math.floor(Math.random() * posts.length);
      var randomPost = posts[randomIndex].getAttribute('data-url');
      window.location.href = randomPost;
    }
  });
</script>
