---
layout: base
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {%- if page.image -%}
      <img src="{{- page.image | relative_url -}}" alt="" class="featured-image-post">
    {%- endif -%}

    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">

    <u><b>Nutrition Facts</b></u>
    <br>
    {%- if page.ServingSize -%}
      <b>Serving Size:</b> {{ page.ServingSize }}
      <br>
    {%- endif -%}
    
    {%- if page.NumServings -%}
      <b># of Servings:</b> {{ page.NumServings }}
      <br>
    {%- endif -%}
    
    {%- if page.Calories -%}
      <b>Calories:</b> {{ page.Calories }}
      <br>
    {%- endif -%}
    
    {%- if page.Fat -%}
      <b>Fat:</b> {{ page.Fat }}
      <br>
    {%- endif -%}
    
    {%- if page.Carbs -%}
      <b>Carbs:</b> {{ page.Carbs }}
      <br>
    {%- endif -%}
    
    {%- if page.Sugars -%}
      <b>Sugars:</b> {{ page.Sugars }}
      <br>
    {%- endif -%}
    
    {%- if page.Protein -%}
      <b>Protein:</b> {{ page.Protein }}
      <br>
    {%- endif -%}
    
    {%- if page.Sodium -%}
      <b>Sodium:</b> {{ page.Sodium }}
      <br>
    {%- endif -%}
    
    {%- if page.Fiber -%}
      <b>Fiber:</b> {{ page.Fiber }}
      <br>
    {%- endif -%}
    <br>

    <!-- TODO: figure out how to only show prep/cook if rest is blank -->
    {%- if page.Prep!="" AND page.Rest!="" AND page.Cook!="" -%}
      <b><u>Time</u></b><br>
      <b>Prep Time:</b> {{ page.Prep }}
      <br>
      <b>Rest Time:</b> {{ page.Rest }}
      <br>
      <b>Cook Time:</b> {{ page.Cook }}
      <br>
    {%- elsif page.Prep!="" AND page.Rest=="" AND page.Cook!=""-%}
      <b><u>Time</u></b><br>
      <b>Prep Time:</b> {{ page.Prep }}
      <br>
      <b>Cook Time:</b> {{ page.Cook }}
      <br>
    {%- endif -%}
    <br>

    {{ content }}

  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
