---
layout: base
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {% include top.html %}

  <div class="post-content e-content" itemprop="articleBody">

    {% include buttons.html %}
    {{ content }}
    {% include description.html %}
    {% include time.html %}
    {% include ingredients.html %}
    {% include instructions.html %}
    {% include servings.html %}
    {% include nutrition.html %}
    {% include source.html %}
    {% include whisk.html %}
    {% include comments.html %}

  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
