---
layout: base
---
<div id="top-post"></div>

<div class="recipe">
  <article class="post h-entry" itemscope itemtype="https://schema.org/BlogPosting">

    <div class="post-content e-content" itemprop="articleBody">

      {% include top.html %}

      {% include buttons.html %}
      <div class="recipe-section">{{ content }}</div>

        {% if page.categories.first != "Misc." or page.categories.last == "Unhealthy Recipes" %}
          {% include postInfo.html %}
        {% endif %}

      {% include comments.html %}

    </div>

    {%- if site.disqus.shortname -%}
      {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
</div>