---
layout: base
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {% include top.html %}

  <div class="post-content e-content" itemprop="articleBody">

    {% include buttons.html %}
    {{ content }}
   
    <!-- Overview -->
    {% if page.overview %}
      <b><u><font size="+2">Experimental Overview</font></u></b>
      &emsp; {{ page.overview }}<br><br>
    {% endif %}

    <!-- List -->
    {% if page.list %}
      <b><u><font size="+2">List of Flours Tested</font></u></b>
      &emsp; {{ page.list }}<br>
    {% endif %}

    <!-- Note -->
    {% if page.note %}
      <i><font size="+2">Note About Heat Treating</font></i>
      &emsp; {{ page.note }}<br><br>
    {% endif %}

    <!-- Testing -->
    {% if page.testing %}
      <b><u><font size="+2">Testing</font></u></b><br>
      &emsp; {{ page.testing }}
    {% endif %}

    <!-- Results1 -->
    {% if page.results1 %}
      <b><u><font size="+2">Results</font></u></b>
      &emsp; {{ page.results1 }}<br><br>
    {% endif %}

    <table>
      <colgroup>
          <col width="45%" />
          <col width="27.5%" />
          <col width="27.5%" />
      </colgroup>
      <thead>
          <tr class="header">
          <th>Flour Name</th>
          <th>Grams of Flour</th>
          <th>Grams of Water</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td markdown="span">All Purpose Flour (Not Heat Treated)</td>
              <td markdown="span">30 g</td>
              <td markdown="span">17 g</td>
          </tr>
          <tr>
              <td markdown="span">All Purpose Flour (Heat Treated)</td>
              <td markdown="span">30 g</td>
              <td markdown="span">20 g</td>
          </tr>
          <tr>
              <td markdown="span">Whole Wheat Flour (Not Heat Treated)</td>
              <td markdown="span">30 g</td>
              <td markdown="span">22 g</td>
          </tr>
          <tr>
              <td markdown="span">Whole Wheat Flour (Heat Treated)</td>
              <td markdown="span">30 g</td>
              <td markdown="span">23 g</td>
          </tr>
          <tr>
              <td markdown="span">Vital Wheat Gluten (Not Heat Treated)</td>
              <td markdown="span">30 g</td>
              <td markdown="span">25 g</td>
          </tr>
          <tr>
              <td markdown="span">Vital Wheat Gluten (Heat Treated)</td>
              <td markdown="span">30 g</td>
              <td markdown="span">31 g</td>
          </tr>
          <tr>
              <td markdown="span">Oat Flour</td>
              <td markdown="span">30 g</td>
              <td markdown="span">22 g</td>
          </tr>
          <tr>
              <td markdown="span">Quick Oats</td>
              <td markdown="span">30 g</td>
              <td markdown="span">20 g</td>
          </tr>
          <tr>
              <td markdown="span">Cornstarch</td>
              <td markdown="span">30 g</td>
              <td markdown="span">26 g</td>
          </tr>
          <tr>
              <td markdown="span">Cocoa Powder</td>
              <td markdown="span">30 g</td>
              <td markdown="span">40 g</td>
          </tr>
          <tr>
              <td markdown="span">Whey Protein Powder</td>
              <td markdown="span">30 g</td>
              <td markdown="span">14 g</td>
          </tr>
          <tr>
              <td markdown="span">Casein Protein Powder</td>
              <td markdown="span">30 g</td>
              <td markdown="span">70 g</td>
          </tr>
          <tr>
              <td markdown="span">Coconut Flour</td>
              <td markdown="span">30 g</td>
              <td markdown="span">120 g</td>
          </tr>
          <tr>
              <td markdown="span">Chia Seeds</td>
              <td markdown="span">30 g</td>
              <td markdown="span">30 g</td>
          </tr>
          <tr>
            <td markdown="span">Peanut Flour</td>
            <td markdown="span">30 g</td>
            <td markdown="span">29 g</td>
        </tr>
      </tbody>
    </table>

    <!-- Results2 -->
    {% if page.results2 %}
      {{ page.results2 }}<br><br>
    {% endif %}

    <table>
      <colgroup>
          <col width="45%" />
          <col width="27.5%" />
          <col width="27.5%" />
      </colgroup>
      <thead>
          <tr class="header">
          <th>Flour Name</th>
          <th>Grams of Flour</th>
          <th>Grams of Water</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td markdown="span">All Purpose Flour (Not Heat Treated)</td>
              <td markdown="span">53 g</td>
              <td markdown="span">30 g</td>
          </tr>
          <tr>
              <td markdown="span">All Purpose Flour (Heat Treated)</td>
              <td markdown="span">45 g</td>
              <td markdown="span">30 g</td>
          </tr>
          <tr>
              <td markdown="span">Whole Wheat Flour (Not Heat Treated)</td>
              <td markdown="span">41 g</td>
              <td markdown="span">30 g</td>
          </tr>
          <tr>
              <td markdown="span">Whole Wheat Flour (Heat Treated)</td>
              <td markdown="span">40 g</td>
              <td markdown="span">30 g</td>
          </tr>
          <tr>
              <td markdown="span">Vital Wheat Gluten (Not Heat Treated)</td>
              <td markdown="span">36 g</td>
              <td markdown="span">30 g</td>
          </tr>
          <tr>
              <td markdown="span">Vital Wheat Gluten (Heat Treated)</td>
              <td markdown="span">29 g</td>
              <td markdown="span">30 g</td>
          </tr>
          <tr>
              <td markdown="span">Oat Flour</td>
              <td markdown="span">41 g</td>
              <td markdown="span">30 g</td>
          </tr>
          <tr>
              <td markdown="span">Quick Oats</td>
              <td markdown="span">45 g</td>
              <td markdown="span">30 g</td>
          </tr>
          <tr>
              <td markdown="span">Cornstarch</td>
              <td markdown="span">35 g</td>
              <td markdown="span">30 g</td>
          </tr>
          <tr>
              <td markdown="span">Cocoa Powder</td>
              <td markdown="span">23 g</td>
              <td markdown="span">30 g</td>
          </tr>
          <tr>
              <td markdown="span">Whey Protein Powder</td>
              <td markdown="span">64 g</td>
              <td markdown="span">30 g</td>
          </tr>
          <tr>
              <td markdown="span">Casein Protein Powder</td>
              <td markdown="span">13 g</td>
              <td markdown="span">30 g</td>
          </tr>
          <tr>
              <td markdown="span">Coconut Flour</td>
              <td markdown="span">8 g</td>
              <td markdown="span">30 g</td>
          </tr>
          <tr>
              <td markdown="span">Chia Seeds</td>
              <td markdown="span">30 g</td>
              <td markdown="span">30 g</td>
          </tr>
          <tr>
            <td markdown="span">Peanut Flour</td>
            <td markdown="span">31 g</td>
            <td markdown="span">30 g</td>
        </tr>
      </tbody>
    </table>

    <!-- Conclusion -->
    {% if page.conclusion %}
      <b><u><font size="+2">Conclusion</font></u></b>
      &emsp; {{ page.conclusion }}<br><br>
    {% endif %}

    {% include ingredients.html %}

    <!-- Epilogue -->
    {% if page.epilogue %}
      <b><u><font size="+2">Epilogue</font></u></b><br>
      {{ page.epilogue }}<br>
    {% endif %}

    {% include nutrition.html %}

    <!-- Sources -->
    {% if page.sources %}
      <b><u><font size="+2">Sources</font></u></b>
      &emsp; {{ page.sources }}<br><br>
    {% endif %}

    {% include comments.html %}

  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
